{% extends '_layout_adminlte.html' %}

{% block title %}
Data Analyzer
{% endblock %}

{% block section_cq %}
{% include 'shared_module/_cq_selector_toolbar.html' %}
{% endblock %}

{% block page_name %}
<i class="fas fa-project-diagram"></i>
Data Analyzer 
{% endblock %}

{% block active_nav_link %}analyzer{% endblock %}

{% block style %}
<style>
    
{% include 'css/basic.css' %}
{% include 'css/box.css' %}
{% include 'css/util.css' %}
{% include 'css/extractor.css' %}
{% include 'css/analyzer.css' %}

html {
    overflow-x: hidden;
    overflow-y: hidden;
}

#main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 0 0 0 15px;
    overflow-y: auto;
}

</style>

<!-- jQuery UI Theme -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">

{% endblock %}

{% block content %}

<div id="main">


{% include 'analyzer/_azoc_pan_ocpapers.html' %}


<ul id="pan_ocpapers_ocs_menu" style="display: none;">

</ul>


{% include 'analyzer/_azoc_pan_maresults_pwma.html' %}


</div>
<!-- /#main -->


{% endblock %}


{% block script %}

<!-- D3.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.15.1/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.min.js"></script>
<!-- FileSavaer -->
<script src="/static/lib/file-saver/FileSaver.min.js"></script>

<script>

///////////////////////////////////////////////////////////
// Utils
///////////////////////////////////////////////////////////
{% include "js/fig_saver.js" %}

///////////////////////////////////////////////////////////
// The plots for PWMA
///////////////////////////////////////////////////////////
{% include 'js/fgmk_incd_forest.js' %}
{% include 'js/fgmk_prim_forest.js' %}
{% include 'js/fgmk_cumu_forest.js' %}

// Alias for the pwma plots
var fg_pwma_prim_forest = fgmk_prim_forest.make_fig(
    'fg_pwma_prim_forest'
);
var fg_pwma_cumu_forest = fgmk_cumu_forest.make_fig(
    'fg_pwma_cumu_forest'
);

// alias for the incidence plots
var fg_incd_incd_forest = fgmk_incd_forest.make_fig(
    'fg_incd_incd_forest'
);
var fg_incd_cumu_forest = fgmk_cumu_forest.make_fig(
    'fg_incd_cumu_forest'
);


{% include 'js/srv_shared.js' %}

///////////////////////////////////////////////////////////
// bind the project information to srv_extractor.js
///////////////////////////////////////////////////////////
{% include "js/srv_extractor.js" %}
srv_extractor.project = [[ project_json_str|safe ]];

///////////////////////////////////////////////////////////
// bind the project information to srv_analyzer.js
///////////////////////////////////////////////////////////
{% include 'js/srv_analyzer.js' %}
srv_analyzer.project = [[ project_json_str|safe ]];

///////////////////////////////////////////////////////////
// pan_ocpapers for checking the paper data for this outcome
///////////////////////////////////////////////////////////

var pan_ocpapers = {
    vpp_id: "#pan_ocpapers",
    vpp: null,
    vpp_data: {
        // flags
        only_show_selected: false,
        show_col_nct: false,
        is_btn_analyze_disabled: false,

        // for display:
        thr1s: [],
        thr2s: [],

        // working oc
        working_oc: null,

        // data
        all_attrs: null,
        papers: [],
        paper_dict: {}
    },

    vpp_methods: {
        // label converting function from srv_shared
        _lbl: function(v) {
            return srv_shared._lbl(v);
        },

        toggle_only_show_selected: function() {
            this.only_show_selected = !this.only_show_selected;
        },

        isna: function(v) {
            if (v == null) {
                return true;
            } else if (isNaN(v)) {
                return true;
            } else if (v === '') {
                return true;
            } else if ((''+v).toLocaleUpperCase() === 'NA') {
                return true;
            } else if (v == '-') {
                return true;
            } else {
                return false;
            }
        },

        get_int: function(v) {
            try {
                var intv = parseInt(v);
                return intv;
            } catch {
                return null;
            }
        },

        get_str: function(v) {
            try {
                var strv = ""+v;
                return strv;
            } catch {
                return '';
            }
        },

        get_paper_by_pid: function(pid) {
            if (this.paper_dict.hasOwnProperty(pid)) { 
                return this.paper_dict[pid];
            } else {
                return null;
            }
        },

        // get year
        get_year: function(s) {
            return jarvis.get_year(s);
        },

        get_first_author: function(s) {
            return jarvis.get_first_author(s);
        },

        on_click_paper: function(paper) {
            
        },

        toggle_select_all_papers: function(event) {
            let val = event.srcElement.checked;
            console.log('* set all papers selected: ', val);
            for (const pmid in this.working_oc.data) {
                if (Object.hasOwnProperty.call(this.working_oc.data, pmid)) {
                    this.working_oc.data[pmid].is_selected = val;
                }
            }
            // this.$forceUpdate();
        },

        on_change_only_show_selected: function(event) {
            // let val = event.srcElement.checked;                    
            // this.only_show_selected = val;
            this.$forceUpdate();
        },

        /**
         * Analyze
         * 
         */
        on_click_analyze: function() {
            // disable the UI
            this.is_btn_analyze_disabled = true;

            // get current confifgs and data rs
            var rs = this.get_rs();
            var cfg = this.get_cfg();

            // update the config here?
            if (cfg.input_format == "PRIM_CAT_RAW_G5") {
                // which means it's for IO or AE analysis
                // for the selected grade, it's just the normal PRIM CAT RAW
                cfg.input_format = 'PRIM_CAT_RAW';

                // add the last config
                cfg['_analyze_type'] = 'pwma';

                // send requests
                srv_analyzer.analyze(
                    cfg,
                    rs, 
                    function(data) {
                        pan_ocpapers.vpp.is_btn_analyze_disabled = false;
                        console.log("* PWMA result:", data);
                        pan_maresults.show_pwma_prim_plots(data);
                    }
                )
            }

            // clear the existing plots
            pan_maresults.clear();

            // which means we will do incidence analysis
            // it will be a seperate request
            if (cfg.incidence_analysis == 'yes') {
                // modify the input as INCD_CAT_RAW for incidence analysis
                cfg.input_format = 'INCD_CAT_RAW';

                // we only use PLOTIT
                cfg.measure_of_effect = cfg.incd_sm;

                // add the last config
                cfg['_analyze_type'] = 'incd';

                // copy E and N from Et and Nt
                for (let i = 0; i < rs.length; i++) {
                    rs[i]['E'] = rs[i]['Et'];
                    rs[i]['N'] = rs[i]['Nt'];
                    rs[i]['treat'] = rs[i]['treatment']
                }

                srv_analyzer.analyze(
                    cfg,
                    rs,
                    function(data) {
                        pan_ocpapers.vpp.is_btn_analyze_disabled = false;
                        console.log("* INCD result:", data);
                        pan_maresults.show_pwma_incd_plots(data);
                    }
                );
            }
        },

        on_click_show_papers: function() {
            alert('Under development');
        },

        on_click_extract: function(abbr) {
            srv_extractor.goto_extract_by_outcome(abbr);
        }
    },

    // all extracts, a list and a dictionary
    extracts: [],
    extract_dict: {},

    MIN_INPUT_AUTO_SIZE: 4,
    MAX_INPUT_AUTO_SIZE: 16,

    init: function() {
        this.vpp = new Vue({
            el: this.vpp_id,
            data: this.vpp_data,
            computed: {
                n_selected: function() {
                    var n = 0;
                    for (const pmid in this.working_oc.data) {
                        if (Object.hasOwnProperty.call(this.working_oc.data, pmid)) {
                            if (this.working_oc.data[pmid].is_selected) {
                                n += 1;
                            };
                        }
                    }
                    return n;
                }
            },
            updated: function() {
                pan_ocpapers.resize();

            },
            methods: this.vpp_methods
        });
    
        
    },

    load_all_outcomes: function() {
        var project_id = Cookies.get('project_id');
        var cq_abbr = Cookies.get('cq_abbr');

        srv_extractor.get_extracts(project_id, cq_abbr, function(data) {
            // update the outcome selection menu
            console.log(data);
            pan_ocpapers.extracts = data.extracts;

            // update the outcome dictionary
            for (let i = 0; i < data.extracts.length; i++) {
                const extract = data.extracts[i];
                var oc_type = extract.oc_type;
                var group = extract.meta.group;
                var cate = extract.meta.category;

                // add oc_type
                if (!pan_ocpapers.extract_dict.hasOwnProperty(oc_type)) {
                    pan_ocpapers.extract_dict[oc_type] = {}
                }

                // add group
                if (!pan_ocpapers.extract_dict[oc_type].hasOwnProperty(group)) {
                    pan_ocpapers.extract_dict[oc_type][group] = {}
                }

                // add cate
                if (!pan_ocpapers.extract_dict[oc_type][group].hasOwnProperty(cate)) {
                    pan_ocpapers.extract_dict[oc_type][group][cate] = [];
                }

                // put this ext into cate
                pan_ocpapers.extract_dict[oc_type][group][cate].push(
                    extract.meta
                );

            }

            // update the ocs_menu according to the extracts
            pan_ocpapers.vpp.$data.extract_tree = srv_shared.create_extract_tree(data.extracts);
            pan_ocpapers.update_ocs_menu(
                pan_ocpapers.vpp.$data.extract_tree,
                false
            );
        });
    },

    update: function(data) {
        console.log('* update analyze data', data);

        // the data is a combo of extract and papers
        this.vpp.working_oc = data.extract;
        this.vpp.papers = data.papers;

        // update paper dict
        this.update_paper_dict();

        // shortcut
        // this.update_all_and_show_attrs_for_outcome();

        // update some configs?
        this.vpp.cfgs.input_format.selected = data.extract.meta.input_format;

        // update
        this.vpp.$forceUpdate();
    },

    update_paper_dict: function() {
        for (let i = 0; i < this.vpp.papers.length; i++) {
            var paper = this.vpp.papers[i];
            this.vpp.paper_dict[paper.pid] = paper;
        }
    },

    update_all_and_show_attrs_for_outcome: function() {
        // for itable, just show attr + sub
        // for outcomes, just show cate + attr
        // init the all_attrs which for list all the nested attrs
        this.vpp.all_attrs = [];

        // init the show_attrs
        this.vpp.show_attrs = {}

        // for display
        this.vpp.thr1s = [];
        this.vpp.thr2s = [];

        // loop on the cate_attrs
        for (let i = 0; i < this.vpp.working_oc.meta.cate_attrs.length; i++) {
            const cate = this.vpp.working_oc.meta.cate_attrs[i];

            var thr1 = {
                name: cate.name,
                abbr: cate.abbr,
                cols: 0
            }
            this.vpp.show_attrs[cate.abbr] = true;
            for (let j = 0; j < cate.attrs.length; j++) {
                const attr = cate.attrs[j];
                
                thr1.cols += 1;

                var thr2 = {
                    name: attr.name,
                    abbr: attr.abbr,
                    cols: 0
                }
                if (attr.subs == null) {
                    // which means this attr doesn't have a sub
                    this.vpp.all_attrs.push(attr);
                    this.vpp.show_attrs[attr.abbr] = true;
                    
                    // update the display row count
                    thr2.cols += 1;

                } else {
                    this.vpp.show_attrs[attr.abbr] = true;

                    for (let k = 0; k < attr.subs.length; k++) {
                        const sub = attr.subs[k];
                        this.vpp.all_attrs.push(sub);
                        this.vpp.show_attrs[sub.abbr] = true;

                        // update the display count
                        thr2.cols += 1;

                        // also increase the first row
                        thr1.cols += 1;
                    }
                }
                this.vpp.thr2s.push(thr2);
            }

            this.vpp.thr1s.push(thr1);
        }

        // update
        this.vpp.$forceUpdate();
    },

    show_extract_and_papers: function(abbr) {
        this.extract_abbr = abbr;

        // update the url if not equal
        var url = srv_analyzer.url.azoc + "?abbr=" + abbr;
        window.history.pushState("", "", url);

        // get the data 
        var project_id = Cookies.get('project_id');
        var cq_abbr = Cookies.get('cq_abbr');

        srv_extractor.get_extract_and_papers(
            project_id,
            cq_abbr,
            abbr,
            function(data) {
                pan_ocpapers.update(data);
            }
        );
    },   

    show_working_paper: function() {
        var w_win_collector = $('#win_collector').width();
        $('#pan_ocpapers_working_paper').css('top', 50);
        $('#pan_ocpapers_working_paper').css('right', '65%');
        $('#pan_ocpapers_working_paper').css('left', '');
    },

    show: function() {
        $(this.vpp_id).show();
    },

    hide: function() {
        $(this.vpp_id).hide();
    },

    hide_working_paper_pan: function() {
        this.vpp.show_working_paper_pan = false;
    },

    set_size: function(size) {
        $(this.vpp_id).removeClass('panel-s panel-m panel-l')
            .addClass('panel-' + size);
    },

    resize: function() {
        var h = $(window).height() - 50;
        $(this.vpp_id).css('height', h);
    }
};


///////////////////////////////////////////////////////////
// extend the pan_ocpapers with configuration
///////////////////////////////////////////////////////////

{% include 'js/pan_ocpapers_ext_azcfg.js' %}


///////////////////////////////////////////////////////////
// extend the pan_ocpapers with ocs menu
///////////////////////////////////////////////////////////

{% include 'js/pan_ocpapers_ext_ocmenu.js' %}


///////////////////////////////////////////////////////////
// pan_maresults for the plots and others
///////////////////////////////////////////////////////////
{% include 'js/pan_maresults.js' %}


var jarvis = {

    get_url_paramter: function(name) {
        name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
        var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
        var results = regex.exec(location.search);
        return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
    },

    goto_screener: function(project_id, title) {
        Cookies.set('project_id', project_id);
        Cookies.set('project_title', title);

        location.href = '[[ url_for("screener.overview") ]]';
    },

    init: function() {
        // get the outcome abbr from url
        var oc_abbr = jarvis.get_url_paramter('abbr');

        // init the shared service
        srv_shared.update_labels_by_project_settings(
            srv_analyzer.project.settings
        );

        // init the UI
        pan_ocpapers.init();
        pan_maresults.init();

        // resize
        pan_ocpapers.resize();
        pan_maresults.resize();

        // load all outcomes for generating the selection menu
        pan_ocpapers.load_all_outcomes();

        // the load the init outcomes
        if (oc_abbr == '') {

        } else {
            pan_ocpapers.show_extract_and_papers(oc_abbr);

        }

        // bind resize event
        this.bind_resize_event();

        // remove the context menu for 
        document.addEventListener('click', function(event) {
            // close the menu when click anywhere
            $("#pan_ocpapers_ctx_menu").hide();
        });
    },

    prompt: function(text, value) {
        return window.prompt(text, value);
    },

    confirm: function(text) {
        return window.confirm(text);
    },

    toast: function(s, s_type) {
        if (typeof(s_type) == 'undefined') {
            s_type = 'info';
        }
        toast(s, s_type);
    },


    get_year: function(s) {
        const regex = /\d{4}/gm;
        let m;
        if ((m = regex.exec(s)) !== null) {
            return m[0];
        }
        return '';
    },

    get_first_author: function(s) {
        var aus = s.split(';');
        if (aus.length == 1) {
            aus = s.split(',');
        }
        return aus[0];
    },

    download_file: function(fn) {
        // fixed image download bug
        // Thanks to https://stackoverflow.com/questions/17311645/download-image-with-javascript
        var a = $('<a>').attr('href', '/f/' + fn)
            .attr('download', fn)
            .appendTo("body");
        a[0].click()
        a.remove();
    },

    bind_resize_event: function() {
        $(window).on('resize', function(){
            pan_ocpapers.resize();
            pan_maresults.resize();
        });
    }
};

{% include 'js/jarvis_ext_utils.js' %}

$(document).ready(function() {
    jarvis.init();
});
</script>
{% endblock %}