{% extends '_layout_bs.html' %}

{% block title %}
PWMA Primary + Cumulative Analysis API Demo
{% endblock %}

{% block style %}
<style>
.code {
    font-family: 'Courier New', Courier, monospace;
    background-color: #eeeeee;
    font-size: 13px;
}

.fact {
    font-style: italic;
    padding: 0 0 0 1em;
}

.result {
    font-weight: bold;
    padding: 0 0 0 1em;
}
.reason {
    font-style: italic;
    text-decoration: underline;
}

.box {
    position: relative;
}

.defs {
    width: 250px;
    border: 1px solid #DADADA;
    padding: 10px;
    margin: 5px;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 1em;
}
.ma-table {
    width: 100%;
}
.ma-table tr {
    border-bottom: 1px solid #eeeeee;
}
.ma-table td {
    padding: 2px 3px;
}
</style>
{% endblock %}

{% block main %}
<div class="container-fluid"
    style="height: 100%;">
    <div class="row" style="height: 100%;">
        <div class="col-md-5">
            <h2>RPLT PWMA + CoE API Demo</h2>
            <p>
                RPLT PWMA + CoE API Test for <span class="code">/rplt/PWMA_PRCM_COE</span>. <br>
                The return URL is the relative path to root, please add to absolute path in your own code. The server
                supports cross-domain access and HTTP header "Access-Control-Allow-Origin" has been added, so this
                service can be accessed from any server.
                The usage of this web API in JavaScript is also available in the source code of this page for reference.
                <br>
                There are 4 parameters:
            </p>
            <div>
                <div class="form-group row">
                    <label for="am" class="col-sm-3 col-form-label">am
                    </label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="am" value="FORESTDATA">
                        <small id="amHelp" class="form-text text-muted">
                            Analyzer Model: The R script token name for generating this figure. Available values
                            include: <br>
                            FORESTDATA: get the forest plot results only <br>
                            FOREST: get the forest plot image only<br>
                        </small>
                    </div>

                </div>

                <div class="form-group row">
                    <label for="sm" class="col-sm-3 col-form-label">sm</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="sm" value="OR">
                        <small id="smHelp" class="form-text text-muted">The measure of effect. Available values include:
                            <br>
                            OR, RR, or RD.</small>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="rs" class="col-sm-3 col-form-label">rs</label>
                    <div class="col-sm-9">
                        <textarea class="form-control code" id="rs" rows="10" style="font-size: 9px;"></textarea>
                        <small id="rsHelp" class="form-text text-muted">The JSON data for generating plots. Each study
                            is an object, with 6 attributes (case sensitive). The value of this parameter is a
                            stringified JSON object.</small>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="imp_t" class="col-sm-3 col-form-label">
                        imp_t (optional)
                    </label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="imp_t" value="">
                        <small id="ind_tHlep" class="form-text text-muted">
                            ImprecisionT threshold: The threshold for imprecision evaluation.
                            It's optional. Default value is 0.
                        </small>
                    </div>

                </div>

                <div class="form-group row">
                    <label for="hk" class="col-sm-3 col-form-label">hk</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="hk" value="FALSE">
                        <small id="hkHelp" class="form-text text-muted">The Hartung-Knapp adjustment setting, TRUE or
                            FALSE</small>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="apikey" class="col-sm-3 col-form-label">apikey
                    </label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="apikey"
                            value="[[ config['settings'].API_SYSTEM_APIKEYS[0] ]]">
                        <small id="apikeyHelp" class="form-text text-muted">
                            For the security of this service, API Key is required for authentication.
                        </small>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-sm-10">
                        <button onclick="get_data();" class="btn btn-primary">
                            Request figure URLs with above parameters
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-7" 
            style="padding-top: 20px; height: 100%; overflow-y: auto;">

            <h4>Server Response: </h4>
            <pre id="resp" style="width: 100%; max-height: 200px;" class="code">
            </pre>

            <div id="app_coe">
                <div v-if="pma != null">
                    <h4>Outcome Overview</h4>
                    <table class="ma-table"
                        style="margin-bottom: 3em;">
                        <tr>
                            <th>Study</th>
                            <th>Year</th>
                            <th>Et</th>
                            <th>Nt</th>
                            <th>Ec</th>
                            <th>Nc</th>
                            <th>Risk of Bias</th>
                            <th>Indirectness</th>
                            <th>{{ pma.params.measure_of_effect }}</th>
                            <th>Weight</th>
                        </tr>
                        <tr v-for="r in pma.data.primma.stus">
                            <td>{{ r.name }}</td>
                            <td>{{ r.year }}</td>
                            <td>{{ r.Et }}</td>
                            <td>{{ r.Nt }}</td>
                            <td>{{ r.Ec }}</td>
                            <td>{{ r.Nc }}</td>
                            <td>{{ coe_helper.val_to_label(r.rob, 'risk_of_bias') }}</td>
                            <td>{{ coe_helper.val_to_label(r.ind, 'indirectness') }}</td>
                            <td>
                                {{ r.bt_TE }}
                                (
                                    {{ r.bt_lower }};
                                    {{ r.bt_upper }}
                                )
                            </td>
                            <td>{{ to_percentage(r.w_random) }}</td>
                        </tr>

                        <!-- MA Result -->
                        <tr>
                            <td colspan="2">
                                Random Effect Model:
                            </td>
                            <td>{{ pma.data.primma.model.random.Et }}</td>
                            <td>{{ pma.data.primma.model.random.Nt }}</td>
                            <td>{{ pma.data.primma.model.random.Ec }}</td>
                            <td>{{ pma.data.primma.model.random.Nc }}</td>
                            <td colspan="2">
                                &nbsp;
                            </td>
                            <td>
                                {{ pma.data.primma.model.random.bt_TE }}
                                (
                                    {{ pma.data.primma.model.random.bt_lower }};
                                    {{ pma.data.primma.model.random.bt_upper }}
                                )
                            </td>
                            <td>100%</td>
                        </tr>

                        <!-- Heterogeneity -->
                        <tr>
                            <td colspan="5">
                                Heterogeneity: 
                                <i>I<sup>2</sup></i> = {{ pma.data.primma.heterogeneity.i2 }},
                                <i>τ<sup>2</sup></i> = {{ pma.data.primma.heterogeneity.tau2 }},
                                <i>p</i> = {{ pma.data.primma.heterogeneity.p }}
                            </td>
                            <td colspan="4"></td>
                        </tr>
                    </table>


                    <h4>Certainty of Evidence</h4>


                    <div class="box">

                        <h5>Risk of Bias</h5>

                        <p class="fact">
                            All evaluated = <b>{{ pma.data.coe.info.risk_of_bias.n_rob_na == 0 }}</b> 
                            (N_NA = {{ pma.data.coe.info.risk_of_bias.n_rob_na }})
                            <br>
                            All Low risk = <b>{{ pma.data.coe.info.risk_of_bias.is_all_low }}</b> <br>
                            All high risk / some concerns = <b>{{ pma.data.coe.info.risk_of_bias.is_all_high }}</b> <br>
                            Subgroup Analysis (Low vs. High/Some) P-value = <b>{{ pma.data.coe.info.risk_of_bias.subg_pval }}</b> <br>
                            Percentage of High-risk studies = <b>{{ pma.data.coe.info.risk_of_bias.per_high_stus }}</b>
                        </p>

                        <p class="result">
                            Result = {{ pma.data.coe.risk_of_bias }}
                            ({{ coe_helper.val_to_label(pma.data.coe.risk_of_bias, 'risk_of_bias') }})
                            <br>
                            <span class="reason">
                                {{ pma.data.coe.info.risk_of_bias.reason.msg }}
                            </span>
                        </p>
                        
                        <div id="mermaid_rob" 
                            class="mermaid"
                            v-html="mermaid_chart_rob">
                        </div>

                        <div>
                            <button v-on:click="copy_mermaid_code('rob')"
                                title="Copy the mermaid code">
                                Copy Mermiad Code
                            </button>
                        </div>

                        <p class="defs">
                            0: Not available <br>
                            1: No serious <br>
                            2: Serious <br>
                            3: Very serious <br>
                            4: Extremely serious <br>
                        </p>

                        <hr>
                    </div>
                    <!-- /.box Risk of Bias -->



                    <div class="box">

                        <h5>Inconsistency</h5>

                        <p class="fact">
                            I<sup>2</sup> = <b>{{ pma.data.coe.info.inconsistency.i2 }}</b>  <br>
                            Category of pooled effect size = <b>{{ pma.data.coe.info.inconsistency.pooled_sm_cate }}</b> <br>
                            Major category of studies: <b>{{ pma.data.coe.info.inconsistency.major_sm_cate }} {{ pma.data.coe.info.inconsistency.major_sm_cnt }}</b> <br>
                            RR/OR: <b>T</b>rivial (0.9-1.0), 
                                <b>S</b>mall (0.8-0.9),
                                <b>M</b>oderate (0.5-0.8)
                                <b>L</b>arge (&lt; 0.5)
                            <br>
                            Is 75% within the same category of pooled effect size?  
                                <b>{{ pma.data.coe.info.inconsistency.is_major_in_same_category }}</b>
                            <br>
                        </p>

                        <p class="result">
                            Result = {{ pma.data.coe.inconsistency }}
                            ({{ coe_helper.val_to_label(pma.data.coe.inconsistency, 'inconsistency') }})
                            <br>
                            <span class="reason">
                                {{ pma.data.coe.info.inconsistency.reason.msg }}
                            </span>
                        </p>

                        <div id="mermaid_inc" 
                            class="mermaid"
                            v-html="mermaid_chart_inc">
                        </div>

                        <div>
                            <button v-on:click="copy_mermaid_code('inc')"
                                title="Copy the mermaid code">
                                Copy Mermiad Code
                            </button>
                        </div>

                        <p class="defs">
                            0: Not applicable <br>
                            1: No serious <br>
                            2: Serious <br>
                            3: Very serious <br>
                            4: Extremely serious <br>
                        </p>
                        <hr>
                    </div>
                    <!-- /.box Inconsistency -->



                    <div class="box">

                        <h5>Publication Bias</h5>
                        <p class="fact">
                            N = <b>{{ pma.data.coe.info.publication_bias.n_studies }}</b> <br>
                            Egger's Test p = <b>{{ pma.data.coe.info.publication_bias.egger_test_p_value }}</b> <br>
                            Pooled Effect = <b>{{ pma.data.coe.info.publication_bias.pooled_sm }} </b><br>
                            Adjusted Effect = <b>{{ pma.data.coe.info.publication_bias.adjusted_sm }}</b> <br>
                            Effect Difference = <b>{{ (pma.data.coe.info.publication_bias.difference_sm).toFixed(4) }}</b><br>
                        </p>

                        <p class="result">
                            Result = {{ pma.data.coe.publication_bias }}
                            ({{ coe_helper.val_to_label(pma.data.coe.publication_bias, 'publication_bias') }})
                            <br>
                            <span class="reason">
                                {{ pma.data.coe.info.publication_bias.reason.msg }}
                            </span>
                        </p>

                        <div id="mermaid_pbb" 
                            class="mermaid"
                            v-html="mermaid_chart_pbb">
                        </div>

                        <div>
                            <button v-on:click="copy_mermaid_code('pbb')"
                                title="Copy the mermaid code">
                                Copy Mermiad Code
                            </button>
                        </div>

                        <p class="defs">
                            0: Not applicable <br>
                            1: No serious <br>
                            2: Serious <br>
                            3: Very serious <br>
                            4: Extremely serious <br>
                        </p>

                        <hr>
                    </div>
                    <!-- /.box Publication Bias -->


                    <div class="box">
                        <h5>Imprecision</h5>
                        <p class="fact">
                            T = {{ pma.data.coe.info.imprecision.t }} (
                                Is T user-provided? = <b>{{ pma.data.coe.info.imprecision.is_t_user_provided }}</b> ) <br>
                            CI of RD: <b>({{ pma.data.coe.info.imprecision.ci_of_rd[0].toFixed(4) }}; 
                                       {{ pma.data.coe.info.imprecision.ci_of_rd[1].toFixed(4) }})</b> <br>
                            Does CI of RD include T? <b>{{ pma.data.coe.info.imprecision.is_t_included_in_ci_of_rd }}</b> <br>
                            Relative Effect =  <b>{{ pma.data.coe.info.imprecision.sm }}</b> <br>
                            Is relative effect large? <b>{{ pma.data.coe.info.imprecision.is_relative_effect_large }}</b> <br>
                            MA Size = <b>{{ pma.data.coe.info.imprecision.ma_size }}</b> <br>
                            Et = <b>{{ pma.data.coe.info.imprecision.ttEt }}</b> <br>
                            Nt = <b>{{ pma.data.coe.info.imprecision.ttNt }}</b> <br>
                            Ec = <b>{{ pma.data.coe.info.imprecision.ttEc }}</b> <br>
                            Nc = <b>{{ pma.data.coe.info.imprecision.ttNc }}</b> <br>
                            OIS = <b>{{ pma.data.coe.info.imprecision.ois }}</b> 
                            (50% OIS= <b>{{ pma.data.coe.info.imprecision.ois * 0.5 }}</b> ) <br>
                        </p>


                        <p class="result">
                            Result = {{ pma.data.coe.imprecision }}
                            ({{ coe_helper.val_to_label(pma.data.coe.imprecision, 'imprecision') }})
                            <br>
                            <span class="reason">
                                {{ pma.data.coe.info.imprecision.reason.msg }}
                            </span>
                        </p>

                        <div id="mermaid_imp" 
                            class="mermaid"
                            v-html="mermaid_chart_imp">
                        </div>

                        <div>
                            <button v-on:click="copy_mermaid_code('imp')"
                                title="Copy the mermaid code">
                                Copy Mermiad Code
                            </button>
                        </div>

                        <p class="defs">
                            0: Not applicable <br>
                            1: No serious <br>
                            2: Serious <br>
                            3: Very serious <br>
                            4: Extremely serious <br>
                        </p>

                        <hr>
                    </div>
                    <!-- /.box Imprecision -->




                    <div class="box">
                        <h5>Indirectness</h5>
                        <p class="fact">
                            Number of "Very Close" = <b>{{ pma.data.coe.info.indirectness.n_very_close }}</b> <br>
                            Percentage of "Very Close" = <b>{{ to_percentage(pma.data.coe.info.indirectness.n_very_close / pma.data.coe.info.indirectness.n_studies) }}</b> <br>
                            Number of "Moderately Close" = <b>{{ pma.data.coe.info.indirectness.n_moderately_close }}</b> <br>
                            Number of "Not Close" = <b>{{ pma.data.coe.info.indirectness.n_not_close }}</b> <br>
                            Number of studies = <b>{{ pma.data.coe.info.indirectness.n_studies }}</b>
                        </p>

                        <p class="result">
                            Result = {{ pma.data.coe.indirectness }}
                            ({{ coe_helper.val_to_label(pma.data.coe.indirectness, 'indirectness') }})
                            <br>
                            <span class="reason">
                                {{ pma.data.coe.info.indirectness.reason.msg }}
                            </span>
                        </p>

                        <div id="mermaid_ind" 
                            class="mermaid"
                            v-html="mermaid_chart_ind">
                        </div>

                        <div>
                            <button v-on:click="copy_mermaid_code('ind')"
                                title="Copy the mermaid code">
                                Copy Mermiad Code
                            </button>
                        </div>

                        <p class="defs">
                            0: Not available <br>
                            1: No serious <br>
                            2: Serious <br>
                            3: Very serious <br>
                            4: Extremely serious <br>
                        </p>

                        <hr>

                    </div>
                    <!-- /.box Indirectness -->


                </div>
                <div v-else>
                    Run API to Get PMA Results
                </div>
            </div>

            <!-- <img id="img-1" style="width: 100%; border: 3px solid #cccccc; margin: 5px 0;" src="">
            <img id="img-2" style="width: 100%; border: 3px solid #cccccc; margin: 5px 0;" src=""> -->
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<!-- Vue.js -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>

<!-- Mermaid -->
<script type="module">
import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@9/dist/mermaid.esm.min.mjs';
// mermaid.initialize({ startOnLoad: true });
window.mermaid = mermaid;
</script>

<script>
{% include 'js/coe_helper.js' %}

var rs_sample = [
    { study: 'Raskob et al', year: 2017, Et: 41, Nt: 522, Ec: 59, Nc: 524, pid: '1234', rob: 'L', ind: 'V' },
    { study: 'Young et al', year: 2018, Et: 8, Nt: 203, Ec: 18, Nc: 203, pid: '2345', rob: 'L', ind: 'V' },
    { study: 'McBane et al', year: 2019, Et: 1, Nt: 145, Ec: 9, Nc: 142, pid: '3456', rob: 'L', ind: 'V' },
    { study: 'Don et al', year: 2020, Et: 32, Nt: 576, Ec: 46, Nc: 579, pid: '4567', rob: 'M', ind: 'V' },
    { study: 'Kim et al', year: 2021, Et: 18, Nt: 276, Ec: 26, Nc: 279, pid: '5678', rob: 'L', ind: 'V' },
    { study: 'Aaskob et al', year: 2017, Et: 45, Nt: 512, Ec: 55, Nc: 524, pid: '6789', rob: 'L', ind: 'M' },
    { study: 'Boung et al', year: 2018, Et: 18, Nt: 213, Ec: 18, Nc: 202, pid: '7890', rob: 'L', ind: 'N' },
    { study: 'DcBane et al', year: 2019, Et: 2, Nt: 125, Ec: 9, Nc: 141, pid: '8901', rob: 'L', ind: 'V' },
    { study: 'Eon et al', year: 2020, Et: 30, Nt: 546, Ec: 43, Nc: 573, pid: '9012', rob: 'L', ind: 'M' },
    { study: 'Fim et al', year: 2021, Et: 15, Nt: 306, Ec: 25, Nc: 272, pid: '9123', rob: 'L', ind: 'V' },
];


var app_coe = {
    vpp: null,

    init: function () {
        this.vpp = new Vue({
            el: '#app_coe',
            data: {
                rs: null,
                pma: null,
                coe_helper: coe_helper,

                // for mermaid vis
                mermaid_chart_rob: '',
                mermaid_chart_pbb: '',
                mermaid_chart_inc: '',
                mermaid_chart_imp: '',
                mermaid_chart_ind: '',
            },

            methods: {
                clear_figs: function() {
                    // update innerHTML
                    this.mermaid_chart_rob = '';
                    this.mermaid_chart_pbb = '';
                    this.mermaid_chart_inc = '';
                    this.mermaid_chart_imp = '';
                    this.mermaid_chart_ind = '';

                    $('.mermaid').removeAttr('data-processed');
                },
                update_data: function(data_pma) {
                    this.pma = data_pma;
                    this.clear_figs();

                    //////////////////////////////////// 
                    // update charts
                    //////////////////////////////////// 
                    let chart_names = [
                        'rob', 'inc', 'pbb', 'imp', 'ind'
                    ]
                    for (let i = 0; i < chart_names.length; i++) {
                        const cn = chart_names[i];
                        this.update_chart(cn);
                    }
                },

                copy_mermaid_code: function(chart_name) {
                    var chart_desc = '';
                    switch (chart_name) {
                        case 'rob':
                            chart_desc = coe_helper.get_rob_mermaid(
                                this.pma.data.coe.info.risk_of_bias
                            );
                            break;

                        case 'inc':
                            chart_desc = coe_helper.get_inc_mermaid(
                                this.pma.data.coe.info.inconsistency
                            );
                            break;

                        case 'pbb':
                            chart_desc = coe_helper.get_pbb_mermaid(
                                this.pma.data.coe.info.publication_bias
                            );
                            break;

                        case 'imp':
                            chart_desc = coe_helper.get_imp_mermaid(
                                this.pma.data.coe.info.imprecision
                            );
                            break;

                        case 'ind':
                            chart_desc = coe_helper.get_ind_mermaid(
                                this.pma.data.coe.info.indirectness
                            );
                            break;
                    
                        default:
                            break;
                    }
                    navigator.clipboard.writeText(chart_desc).then(() => {
                        /* clipboard successfully set */
                        console.log('* copied ' + chart_desc)
                    }, () => {
                        /* clipboard write failed */
                        console.log('* failed copy?')
                    });
                },

                update_chart: function(chart_name) {
                    var chart_desc = '';
                    switch (chart_name) {
                        case 'rob':
                            chart_desc = coe_helper.get_rob_mermaid(
                                this.pma.data.coe.info.risk_of_bias
                            );
                            this.render_mermaid(
                                'mermaid_chart_rob',
                                chart_desc
                            )
                            break;

                        case 'inc':
                            chart_desc = coe_helper.get_inc_mermaid(
                                this.pma.data.coe.info.inconsistency
                            );
                            this.render_mermaid(
                                'mermaid_chart_inc',
                                chart_desc
                            )
                            break;

                        case 'pbb':
                            chart_desc = coe_helper.get_pbb_mermaid(
                                this.pma.data.coe.info.publication_bias
                            );
                            this.render_mermaid(
                                'mermaid_chart_pbb',
                                chart_desc
                            )
                            break;

                        case 'imp':
                            chart_desc = coe_helper.get_imp_mermaid(
                                this.pma.data.coe.info.imprecision
                            );
                            this.render_mermaid(
                                'mermaid_chart_imp',
                                chart_desc
                            )
                            break;

                        case 'ind':
                            chart_desc = coe_helper.get_ind_mermaid(
                                this.pma.data.coe.info.indirectness
                            );
                            this.render_mermaid(
                                'mermaid_chart_ind',
                                chart_desc
                            )
                            break;
                    
                        default:
                            break;
                    }
                },

                render_mermaid: function(chart_name, chart_desc) {
                    let _this = this;
                    mermaid.render(
                        chart_name + '_flowchart',
                        chart_desc,
                        (svg_code) => {
                            // console.log('* render mermaid', chart_name, svg_code);
                            _this[chart_name] = svg_code;
                        }
                    );
                },

                get_sample_size: function () {
                    var n = 0;
                    for (let i = 0; i < this.rs.length; i++) {
                        const r = this.rs[i];
                        n += r.Nt;
                        n += r.Nc;
                    }
                    return n;
                },

                to_percentage: function(v) {
                    if (isNaN(v)) {
                        return 'NA';
                    }

                    return (v*100).toFixed(2) + '%';
                }

            },

            updated: function() {
                // mermaid.init({ noteMargin: 10 }, '.mermaid');
            }
        });
    }
}

app_coe.init();

function get_data() {
    var params = {
        am: $('#am').val(),
        sm: $('#sm').val(),
        rs: $('#rs').val(),
        hk: $('#hk').val(),
        imp_t: $('#imp_t').val(),
        apikey: $('#apikey').val()
    };
    console.log(params);

    app_coe.vpp.$data.rs = JSON.parse(params.rs);

    // clear the response area
    $('#resp').html('Waiting for response ....');
    $('#img-1').attr('src', '');
    $('#img-2').attr('src', '');

    var base = '';
    // var base = 'https://workspace.network-meta-analysis.com/';
    $.post(
        base + '/rplt/PWMA_PRCM_COE',
        params,
        function (data) {
            console.log('* get return', data);

            app_coe.vpp.update_data(data);

            $('#resp').html(JSON.stringify(data, null, 2));
            // $('#img-1').attr('src', base + data.img['outplt1'].url);
            // $('#img-2').attr('src', base + data.img['cumuplt'].url);
        }, 'json'
    )
}
// show the JSON content of rs in textarea
$('#rs').val(JSON.stringify(rs_sample, null, 2));
</script>
{% endblock %}