{% extends '_layout_adminlte.html' %}

{% block title %}
Create New Project
{% endblock %}

{% block style %}
{% endblock %}

{% block page_name %}
<i class="far fa-folder"></i>
Create New Project
{% endblock %}

{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <p class="lead">Please provide the following information to create a new project:</p>
                <form method="POST" class="needs-validation" novalidate action="[[ url_for('project.create') ]]">
                    <div class="form-group">
                        <label for="input_title">Project Title</label>
                        <input type="text" class="form-control" id="input_title" name="title"
                            required>
                        <small id="input_title_help" class="form-text text-muted">
                            The project title must be at least 8 characters long, contain letters and numbers, no special characters.
                        </small>
                    </div>

                    <div class="form-group">
                        <label for="input_keystr">Short Identifier</label>
                        <input type="text" class="form-control" id="input_keystr" name="keystr"
                            placeholder="">
                        <small id="input_keystr_help" class="form-text text-muted">
                            The project short identifier is used for checking updates in email or other data sources. It must be at least 3 characters long, contain upper case letters and numbers
                        </small>
                    </div>
                
                    <div class="form-group">
                        <label for="input_query">Query</label>
                        <textarea class="form-control" id="input_query" name="query" rows="2"></textarea>
                        <small id="input_query_help" class="form-text text-muted">
                            The query for automatic search in PubMed
                        </small>
                    </div>
                
                    <div class="form-group">
                        <label for="input_abstract">Project Abstract (Optional)</label>
                        <textarea class="form-control" id="input_abstract" name="abstract" rows="3"></textarea>
                        <small id="input_abstract_help" class="form-text text-muted">
                            Describe this project briefly.
                        </small>
                    </div>
                
                    <button type="submit" class="btn btn-primary">
                        <i class="far fa-save"></i>
                        Save Project
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block active_nav_link %}project-create{% endblock %}

{% block script %}
<script>

</script>
{% endblock %}