{% extends '_layout_adminlte.html' %}

{% block title %}
My Projects
{% endblock %}

{% block stylelink %}
{% endblock %}

{% block style %}
<style>
/* fix vuetify row */
.row {
    margin-right: -7.5px;
    margin-left: -7.5px;
}
</style>
{% endblock %}

{% block page_name %}
<i class="fa fa-list"></i>
My Projects
{% endblock %}

{% block content %}
<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col">
                <a id="nav-link-project-create" 
                    href="[[ url_for('project.create') ]]" 
                    class="btn btn-primary">
                    <i class="nav-icon far fa-folder"></i>
                    <p>Create New Project</p>
                </a>
            </div>
        </div>

        <div class="row">
            <div id="tb_project_list" class="col">
                <div class="row">
                    
                    <div class="col-4"
                        v-for="item in projects">
                        <div class="card">
                            <div class="card-body">
                                <h5>{{ item.title }}</h5>
                                <p>Project Identifier: <b>{{ item.keystr }}</b></p>
                                <p>
                                    Members: 
                                    <span class="badge badge-primary mr-2" v-for="user in item.related_users">
                                        <i class="fa fa-user"></i> {{ user.first_name }} {{ user.last_name }}
                                    </span>
                                </p>
                                <p>Studies: </p>
                                
                                <div>
                                    <button type="submit" class="btn btn-primary btn-sm"
                                        v-on:click="set_as_working_project(item.project_id, item.title);">
                                        <i class="far fa-edit"></i>
                                        Set as Working Project
                                    </button>

                                    <!-- <button class="btn btn-sm">
                                        <i class="fa fa-trash"></i>
                                        Delete This Project
                                    </button> -->
                                </div>
                            </div>
                                
                        </div>
                    </div>

                </div>

            </div>
        </div><!-- /.row -->

    </div><!-- /.container-fluid -->
</div>


{% endblock %}

{% block active_nav_link %}project-list{% endblock %}

{% block script %}

<!-- my script -->
<script>
var tb_project_list = {
    vpp: null,
    vpp_id: '#tb_project_list',
    vpp_data: {},

    data_url: "[[ url_for('project.api_list') ]]",

    load: function() {
        $.get(
            this.data_url,
            {},
            function(data) {
                tb_project_list.init(data);
            }, 'json'
        )
    },

    init: function(data) {
        this.data = data;
        this.vpp_data = {
            projects: data.projects
        }
        this.vpp = new Vue({
            el: this.vpp_id,
            data: this.vpp_data,
            methods: {
                show_project_info: function(project) {
                    tb_project_info.update(project);
                },

                set_as_working_project: function(project_id, title) {
                    Cookies.set('project_id', project_id);
                    Cookies.set('project_title', title);
                    location.reload();
                },

                delete_project: function() {
                    
                }
            }
        })
    }
}


var jarvis = {
    init: function() {
        $.get(
            tb_project_list.data_url,
            {},
            function(data) {
                tb_project_list.init(data);
            }, 'json'
        )
    }
}

$(document).ready(function() {
    jarvis.init();
})
</script>
{% endblock %}