{% extends '_layout_adminlte.html' %}

{% block title %}
Public Website
{% endblock %}

{% block style %}
{% endblock %}


{% block section_cq %}
{% include 'shared_module/_cq_selector_toolbar.html' %}
{% endblock %}

{% block page_name %}
<i class="far fa-folder"></i>
Public Website
{% endblock %}

{% block content %}

<div id="app_public" class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <p>
                    Due to performance concerns, some of the contents on the public website are not updated directly with database. 
                    On this page, there are some functions to update the contens on the public site.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-project-diagram"></i>
                            PRISMA Diagram
                        </h3>
            
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body" style="display: block;">
                        <div>
                            <button class="btn btn-default"
                                v-on:click="get_prisma_json('db')">
                                Reload Data
                            </button>
                        </div>
                        
                        <div v-if="json.prisma == null">
                            <p>
                                Data not found.
                            </p>
                        </div>
                        <div v-else>
                            <p>
                                Last update: {{ json.prisma.latest.last_queried }}
                            </p>
                            <div>
                                <a target="_blank" 
                                    href="[[ url_for('pub.prisma', prj=project.keystr, cq=cq_abbr) ]]">
                                    <i class="fa fa-project-diagram"></i>
                                    Check PRISMA Diagram
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col-md-3 -->

            
            <div class="col-md-3">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-table"></i>
                            Interactive Table
                        </h3>
            
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body" style="display: block;">
                        <div>
                            <button class="btn btn-default"
                                v-on:click="get_itable_json('db')">
                                Reload Data
                            </button>
                        </div>
                        
                        <div v-if="json.itable == null">
                            <p>
                                Data not found.
                            </p>
                        </div>
                        <div v-else>
                            <p>
                                Last update: {{ json.itable.latest.last_queried }}
                            </p>
                            <div>
                                <a target="_blank" 
                                    href="[[ url_for('pub.itable', prj=project.keystr, cq=cq_abbr) ]]">
                                    <i class="fa fa-table"></i>
                                    Check Interactive Table
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col-md-3 -->


            <div class="col-md-3">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-table"></i>
                            SoF Table Pairwise MA
                        </h3>
            
                        <div class="card-tools">
                            <button type="button" 
                                class="btn btn-tool" 
                                data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body" style="display: block;">
                        <div>
                            <button class="btn btn-default"
                                v-on:click="get_sofpma_json('db')">
                                Reload Data
                            </button>
                        </div>
                        
                        <div v-if="json.softable_pma == null">
                            <p>
                                Data not found.
                            </p>
                        </div>
                        <div v-else>
                            <p>
                                Last update: {{ json.softable_pma.latest.last_queried }}
                            </p>
                            <div>
                                <a target="_blank" 
                                    href="[[ url_for('pub.graphdata_softable_pma_json', keystr=project.keystr, cq=cq_abbr, src='cache') ]]">
                                    <i class="fa fa-table"></i>
                                    Check SoF Table Data JSON
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col-md-3 -->

        </div>
    </div>
</div>


{% endblock %}

{% block active_nav_link %}project-public-website{% endblock %}

{% block script %}
<script>
var app_public = {
    // the project keystr
    prj: '[[ project.keystr ]]',

    // the cq for current project
    cq: '[[ cq_abbr ]]',

    // vpp
    vpp: null,

    vpp_id: '#app_public',

    vpp_data: {
        prj: '[[ project.keystr ]]',
        cq: '[[ cq_abbr ]]',

        json: {
            // the prisma content
            prisma: null,

            // the itable
            itable: null,

            // the sof table PMA
            softable_pma: null,

            // the sof table NMA
            softable_nma: null,

            // the evmap
            evmap: null,
        },

        ui_disabled: false,
    },

    vpp_methods: {

        get_sofpma_json: function(src, gp) {
            if (typeof(src)=='undefined') {
                src = 'cache';
            }
            if (typeof(gp)=='undefined') {
                gp = 'primary';
            }

            $.ajax({
                url: '/pub/graphdata/'+this.prj+'/SOFTABLE_PMA.json',
                type: 'get',
                data: {
                    src: src, 
                    cq: this.cq, 
                    gp: gp,
                    ver: Math.random()
                },
                dataType: 'json',
                success: function(data) {
                    toast('Updated SoF PMA JSON data');
                    console.log(data);

                    // update the prisma
                    app_public.vpp.$data.json.softable_pma = data;
                }, 
                error: function(jqXHR, textStatus, errorThrown) {
                    toast('Something wrong when creating the extraction.', 'alert');
                    console.error(textStatus, errorThrown);
                }
            });
        },


        get_prisma_json: function(src) {
            if (typeof(src)=='undefined') {
                src = 'cache';
            }

            $.get(
                '/pub/graphdata/' + this.prj + '/PRISMA.json',
                {
                    src: src,
                    cq: this.cq,
                    ver: Math.random()
                },
                function(data) {
                    toast('Updated PRISMA JSON data');
                    console.log(data);

                    // update the prisma
                    app_public.vpp.$data.json.prisma = data;

                }, 'json'
            );
        },

        get_itable_json: function(src) {
            if (typeof(src)=='undefined') {
                src = 'cache';
            }
            $.get(
                '/pub/graphdata/'+this.prj+'/ITABLE.json',
                {
                    ver: Math.random(), 
                    src: src, 
                    cq: this.cq
                },
                function(data) {
                    toast('Updated interactive table JSON data!');
                    console.log(data);

                    // update the itable
                    app_public.vpp.$data.json.itable = data;

                }, 'json'
            );
        }
    },

    init: function() {
        this.vpp = new Vue({
            el: this.vpp_id,

            data: this.vpp_data,

            methods: this.vpp_methods
        });
    },
    
}


var jarvis = {

    init: function() {
        app_public.init();

        app_public.vpp.get_sofpma_json();
    }
};


$(document).ready(function() {
    jarvis.init();
});
</script>
{% endblock %}