<table class="legend-table">
    <tr>
        <td class="cie-bene-4">High certainty benefit</td>
        <td class="cie-harm-4">High certainty harm</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="cie-bene-3">Moderate certainty benefit</td>
        <td class="cie-harm-3">Moderate certainty harm</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="cie-bene-2">Low certainty benefit</td>
        <td class="cie-harm-2">Low certainty harm</td>
        <td class="cie-nner-2">Low certainty neither harm nor benefit</td>
    </tr>
    <tr>
        <td class="cie-bene-1">Very low certainty benefit</td>
        <td class="cie-harm-1">Very low certainty harm</td>
        <td class="cie-nner-1">Very low certainty neither harm nor benefit</td>
    </tr>
</table>