<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />

<title>Decision Aid</title>

<link rel="icon" href="/static/img/favicon.png" type="image/png">
<script src="https://kit.fontawesome.com/cb45cc91b0.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

<style>

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
body {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    color: #333333;
    text-decoration: none;
}

.da-image {
    width: 100%;
    margin: 0 0 10px 0;
}
</style>
</head>

<body>

<div id="start-screen" style="width: 100%; height: 100%; z-index: 9999; background: white; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h1>
        <i class="fa fa-map-signs"></i>
        Decision Aid
    </h1>
    <div id="ss-msg" style="width: 100%; padding: 10px 0; text-align: center;">Initializing Plots...</div>
</div>

<div id="vw_idgpanel" 
    style="height: 100%; padding: 5px; display: flex; flex-direction: row; margin: 0 auto; min-width: 1000px; max-width: 1300px;">
    <div id="left_panel" style="width: 270px; margin-right: 5px;">
        <v-app>
            <v-container class="px-0" fluid>

                <v-select label="Type of Evidence"
                    v-model="type_of_evidence"
                    :items="evidence_types"
                    v-on:change="change_type"
                    item-text="label">
                </v-select>

                <v-select label="Choose Comparison"
                    v-model="comparison"
                    :items="comparisons_by_type[type_of_evidence]"
                    item-text="label">
                </v-select>

                <v-row>
                    <v-col cols="12" md="12">

                        <p>Compare Efficacy Outcomes</p>

                        <v-switch v-model="is_shown_os" label="Overall Survival" hide-details>
                        </v-switch>
        
                        <v-switch v-model="is_shown_dfs" label="Disease Free Survival">
                        </v-switch>
                    </v-col>
                </v-row>

                <p>Compare Toxicity Outcomes</p>
                <v-switch v-model="is_shown_strae" label="Serious Treatment-related AEs" hide-details>
                </v-switch>

                <!-- <v-switch v-model="is_shown_ftrae" label="Fatal Treatment-related AEs">
                </v-switch>

                <p>Compare Quality of Life</p>
                <v-switch v-model="is_shown_qol" label="Quality of Life">
                </v-switch>

                <p>Compare Practical Implications</p>
                <v-switch v-model="is_shown_pc" label="Practical Implications">
                </v-switch> -->

                <img v-bind:src="legend_img_src[type_of_evidence]" 
                    style="margin-top: 20px; width: 240px" alt="">
            </v-container>
        </v-app>
    </div>

    <div id="right_panel" style="width: (100%-270px); min-width: 800px; max-width: 1002px; padding: 5px 0 0 0; display: flex; flex-direction: column;">

        <div style="width: 100%; margin-bottom: 10px; display: flex; justify-content: space-between; align-items: center;">
            <span style="font-size: 16px; padding: 5px; margin: 0 10px 0 0; border: 2px solid #333333; font-weight: bold;">{{ treatments[comparison.split('_')[0]] }}</span>
            <span>
                versus
            </span>
            <span style="font-size: 16px; padding: 5px; margin: 0 0 0 10px; border: 2px solid #333333; font-weight: bold;">{{ treatments[comparison.split('_')[1]] }}</span>
        </div>

        <div style="width: 100%; height: 100%; overflow-y: auto;">
            <div v-show="is_shown_os" v-html='"<embed class=\"da-image\" src=\""+get_url(comparison, "OS")+"\">"'>
            </div>

            <div v-show="is_shown_dfs" v-html='"<embed class=\"da-image\" src=\""+get_url(comparison, "DFS")+"\">"'>
            </div>

            <div v-show="is_shown_strae" v-html='"<embed class=\"da-image\" src=\""+get_url(comparison, "TRAE_3+")+"\">"'>
            </div>

            <div v-show="is_shown_ftrae" v-html='"<embed class=\"da-image\" src=\""+get_url(comparison, "F_TRAE")+"\">"'>
            </div>

            <div v-show="is_shown_qol" v-html='"<embed class=\"da-image\" src=\""+get_url(comparison, "HRQOL")+"\">"'>
            </div>

            <div v-show="is_shown_pc" v-html='"<embed class=\"da-image\" src=\""+get_url(comparison, "PC")+"\">"'>
            </div>
            
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script>

var vw_idgpanel = {
    vpp: null,
    vpp_id: '#vw_idgpanel',

    init: function() {
        this.vpp = new Vue({
            el: this.vpp_id,
            vuetify: new Vuetify(),
            data: {
                legend_img_src: {
                    direct: '/static/img/K_COE.svg?rnd=' + Math.random(),
                    mixed: '/static/img/K_COE.svg?rnd=' + Math.random()
                },
                evidence_types: [
                    {label: 'Direct treatment evidence', value: 'direct'},
                    {label: 'Mixed treatment evidence', value: 'mixed'}
                ],
                comparisons_by_type: {
                    direct: [
                        {label: 'Pembrolizumab vs Placebo', value: 'Pembrolizumab_Placebo'},
                        {label: 'Sunitinib vs Placebo', value: 'Sunitinib_Placebo'},
                    ],
                    mixed: [
                        {label: 'Pembrolizumab vs Sunitinib', value: 'Pembrolizumab_Sunitinib'},
                    ]
                },

                treatments: {
                    'Ate': 'Atezolizumab',
                    'Bev': 'Bevacizumab',
                    'Ave': 'Avelumab',
                    'Axi': 'Axitinib',
                    'Cabo': 'Cabozantinib',
                    'Nivo': 'Nivolumab',
                    'Ipi': 'Ipilimumab',
                    'Pem': 'Pembrolizumab',
                    'Pazo': 'Pazopanib',
                    'Len': 'Lenvatinib',
                    'Tivo': 'Tivozanib',
                    'Suni': 'Sunitinib',

                    'Sunitinib': 'Sunitinib',
                    'Placebo': 'Placebo',
                    'Pembrolizumab': 'Pembrolizumab',

                    'AteBev': 'Atezolizumab-Bevacizumab',
                    'AveAxi': 'Avelumab-Axitinib',
                    'CaboNivo': 'Cabozantinib-Nivolumab',
                    'NivoIpi': 'Nivolumab-Ipilimumab',
                    'PemAxi': 'Pembrolizumab-Axitinib',
                    'LenPem': 'Lenvatinib-Pembrolizumab',
                },

                // the values for choosing plots
                type_of_evidence: 'direct',
                comparison: 'Pembrolizumab_Placebo',
                is_shown_os: false,
                is_shown_dfs: false,

                // serious treatment AEs
                is_shown_strae: false,

                is_shown_ftrae: false,
                is_shown_qol: false,
                is_shown_pc: false
            },

            methods: {
                get_url: function(folder, fn) {
                    return '/pub/graphdata/' + jarvis.prj + '/file/decision_aid/' + folder + '/' + fn + '.svg?cq='+jarvis.cq+'&rnd=' + Math.random();
                },

                change_type: function() {
                    console.log('* type_of_evidence:', this.type_of_evidence);
                    // set the default comparison
                    this.comparison = this.comparisons_by_type[
                        this.type_of_evidence
                    ][0].value;
                }
            }
        });
    }
};

var jarvis = {
    prj: '[[ keystr ]]',
    cq: '[[ cq_abbr ]]',

    init: function() {
        var isIE = /*@cc_on!@*/false || !!document.documentMode;

        console.log('* User is using IE:', isIE);
        if (isIE) {
            jarvis.ssmsg('The functions used in this website require advanced web technologies, which are <b>NOT</b> supported by Internet Explorer<br>Try using Google Chrome, Apple Safari, Mozilla Firefox or other modern browsers.')
            return;
        }

        var prj = jarvis.get_url_paramter('prj');

        // init the vue app
        vw_idgpanel.init();

        // clsoe the start-screen
        jarvis.ssmsg('Almost initialized.');
        setTimeout('jarvis.ssclose();', 400);
    },

    get_url_paramter: function(name) {
        name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
        var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
        var results = regex.exec(location.search);
        return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
    },

    ssmsg: function(msg) {
        $('#ss-msg').html(msg);
    },

    ssclose: function() {
        $('#start-screen').hide();
    },
};

$(document).ready(function() {
    jarvis.init();
    
});
</script>
    
</body>
</html>