<style>
.coe-legend-table {
    width: 100%;
}
.coe-legend-table td {
    text-align: center;
    padding: 2px 0;
}
</style>
<table class="coe-legend-table">
    <tr>
        <td class="coe-bene-4">High certainty benefit</td>
        <td class="coe-harm-4">High certainty harm</td>
        <td class="coe-nner-4">High certainty neither benefit nor harm</td>
    </tr>
    <tr>
        <td class="coe-bene-3">Moderate certainty benefit</td>
        <td class="coe-harm-3">Moderate certainty harm</td>
        <td class="coe-nner-3">Moderate certainty neither benefit nor harm</td>
    </tr>
    <tr>
        <td class="coe-bene-2">Low certainty benefit</td>
        <td class="coe-harm-2">Low certainty harm</td>
        <td class="coe-nner-2">Low certainty neither benefit nor harm</td>
    </tr>
    <tr>
        <td class="coe-nner-1" colspan="3">Very low certainty</td>
    </tr>
    <tr>
        <td class="coe-nner-0" colspan="3">Not applicable</td>
    </tr>
</table>