{% extends '_layout_adminlte.html' %}

{% block title %}
Screener Overview
{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">

<style>
#tbjs_paperlist {
    width: 100%;
}
td.details-control {
    cursor: pointer;
}
tr.shown td.details-control {
    cursor: pointer;
}
</style>
{% endblock %}

{% block page_name %}
<i class="fas fa-map-signs"></i>
Screener Overview
{% endblock %}

{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div id="ui_category_stat" style="width: 220px;">
                <h5>
                    <i class="far fa-file-alt"></i>
                    All Papers
                </h5>
                <div class="list-group">
                    <button class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" v-on:click="show_stage('all_of_them')">
                        All papers
                        <span class="badge badge-primary badge-pill">{{ stat.all_of_them }}</span>
                    </button>
                    <button class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" v-on:click="show_stage('unscreened')">
                        Unscreened papers
                        <span class="badge badge-primary badge-pill">{{ stat.unscreened }}</span>
                    </button>
                    <button class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" v-on:click="show_stage('decided')">
                        Decided papers
                        <span class="badge badge-primary badge-pill">{{ stat.decided }}</span>
                    </button>
                </div>

                <h5 class="mt-3">
                    <i class="far fa-file-alt"></i>
                    Further Check
                </h5>
                <div class="list-group">
                    <button class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" v-on:click="show_stage('unscreened')">
                        Full Text Review
                        <span class="badge badge-secondary badge-pill">&nbsp;</span>
                    </button>
                </div>

                <h5 class="mt-3">
                    <i class="far fa-file-alt"></i>
                    Included Papers
                </h5>
                <div class="list-group">
                    <button class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" v-on:click="show_stage('included_sr')">
                        Included in SR
                        <span class="badge badge-secondary badge-pill">{{ stat.included_sr }}</span>
                    </button>
                    <button class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" v-on:click="show_stage('included_srma')">
                        Included in MA
                        <span class="badge badge-secondary badge-pill">{{ stat.included_srma }}</span>
                    </button>
                </div>

                <h5 class="mt-3">
                    <i class="far fa-file-alt"></i>
                    Excluded Papers
                </h5>
                <div class="list-group">
                    <button class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" v-on:click="show_stage('excluded_by_rct_classifier')">
                        By RCT Classifier
                        <span class="badge badge-secondary badge-pill">{{ stat.excluded_by_rct_classifier }}</span>
                    </button>
                    <button class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" v-on:click="show_stage('excluded_by_title_abstract')">
                        By Title / Abstract
                        <span class="badge badge-secondary badge-pill">{{ stat.excluded_by_title_abstract }}</span>
                    </button>
                    <button class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" v-on:click="show_stage('excluded_by_fulltext')">
                        By Full Text
                        <span class="badge badge-secondary badge-pill">{{ stat.excluded_by_fulltext }}</span>
                    </button>
                </div>
            </div>
            <!-- / left pane -->

            <div style="width: calc(100% - 230px); margin-left: 10px;">

                <h5>
                    <i class="far fa-file-alt"></i>
                    Paper List | 
                    <span id="tbjs_paperlist_title"></span>
                </h5>

                <table id="tbjs_paperlist" class="display compact hover" style="width: 100%;">

                </table>
            </div>
            <!-- / right pane -->
        </div>
    </div>
</div>
<!-- /.timeline -->

</div>
</div>
</div>


{% endblock %}

{% block active_nav_link %}screener-overview{% endblock %}

{% block script %}
<script src="/static/lib/d3/d3.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>

<script>

var srv_screener = {

    api_url: {
        get_stat: '[[ url_for("screener.get_stat") ]]',
        get_papers_by_stage: '[[ url_for("screener.get_papers_by_stage") ]]',
        exclude_ta: '[[ url_for("screener.sspr_exclude_papers_ta") ]]',
        exclude_ft: '[[ url_for("screener.sspr_exclude_papers_ft") ]]',
        set_needchkft: '[[ url_for("screener.sspr_set_papers_needchkft") ]]',
        include_sr: '[[ url_for("screener.sspr_include_papers_sr") ]]',
        include_srma: '[[ url_for("screener.sspr_include_papers_srma") ]]',
    },

    stage: {
        all_of_them: { title: 'All papers' },
        unscreened: { title: 'Unscreened papers' },
        excluded_by_title_abstract: { title: 'Excluded after checking title and abstract' },
        excluded_by_rct_classifier: { title: 'Excluded by RCT classifier' },
        excluded_by_fulltext: { title: 'Excluded after checking fulltext' },
        included_only_sr: { title: 'Included only in SR' },
        included_sr: { title: 'Included in SR' },
        included_srma: { title: 'Included in Both SR and MA' },
        decided: { title: 'Decided papers' },
    },

    STAGE_ALL_OF_THEM: 'all_of_them',
    STAGE_UNSCREENED: 'unscreened',
    STAGE_EXCLUDED_BY_TITLE_ABSTRACT: 'excluded_by_title_abstract',
    STAGE_EXCLUDED_BY_RCT_CLASSIFIER: 'excluded_by_rct_classifier',
    STAGE_EXCLUDED_BY_FULLTEXT: 'excluded_by_fulltext',
    STAGE_INCLUDED_ONLY_SR: 'included_only_sr',
    STAGE_INCLUDED_SR: 'included_sr',
    STAGE_INCLUDED_SRMA: 'included_srma',
    STAGE_DECIDED: 'decided',

    get_stat: function(callback) {
        var url = this.api_url.get_stat;
        var project_id = Cookies.get('project_id');

        $.get(
            url,
            {project_id: project_id, ver: Math.random()},
            callback, 
            'json'
        )
    },

    get_papers: function(stage, callback) {
        var project_id = Cookies.get('project_id');
        var url = this.api_url.get_papers_by_stage;

        $.get(
            url,
            {project_id: project_id, stage: stage},
            callback, 
            'json'
        )
    },

    exclude_by_ta: function(paper_id, callback) {
        // send request to backend
        var project_id = Cookies.get('project_id');
        var paper_ids = [paper_id].join(',');
        
        var url = this.api_url.exclude_ta;
        $.post(
            url,
            {paper_ids: paper_ids, project_id: project_id},
            callback,
            'json'
        )
    }
};

var ui_category_stat = {
    vpp_id: '#ui_category_stat',
    vpp: null,

    load: function() {
        // load data from backend by srv_screener
        srv_screener.get_stat(function(data){
            ui_category_stat.init(data.stat);
        });
    },

    init: function(data) {
        this.data = data;
        console.log('* initing ui_category_stat', data);
        this.vpp = new Vue({
            el: this.vpp_id,
            data: {
                stat: data
            },
            methods: {
                show_stage: function(stage) {
                    console.log('* show ' + stage);

                    // update paper list
                    tbjs_paperlist.load_by_stage(stage);
                }
            }
        });        
    }
};


var tbjs_paperlist = {
    table_id: '#tbjs_paperlist',
    table: null,

    cfg: {
        number_of_rows: 25
    },

    columns: [
        {
            "title": '',
            "width": 25,
            "className": 'details-control dt-center',
            "orderable": false,
            "data": null,
            "defaultContent": '<i class="fa fa-plus"></i>'
        },
        { 
            title: 'Date', 
            width: 90,
            data: 'date_created_norm' 
        },
        { 
            title: 'Title', 
            data: 'title' 
        },
        {
            title: '',
            className: 'operate-control',
            width: 120,
            orderable: false,
            data: null,
            defaultContent: '<button class="btn btn-danger btn-sm">Exclude</button> ' + 
                '<button class="btn btn-primary btn-sm">Include</button> '
        }
    ],
    sample: [
        { pid: '123456', authors: 'B, X, C and E', date: '2020-10-01', title: 'A title here', journal: 'JAMA', abstract: 'This is the abstract content' },
        { pid: '123457', authors: 'A, B, U and E', date: '2020-10-01', title: 'A title here', journal: 'NEJM', abstract: 'This is the abstract content' },
        { pid: '123458', authors: 'D, B, N and E', date: '2020-10-01', title: 'A title here', journal: 'Lancet', abstract: 'This is the abstract content' }
    ],

    init: function() {
        // init the datatable obj
        this.table = $(this.table_id).DataTable({
            responsive: true,
            pageLength: this.cfg.number_of_rows,
            data: [],
            columns: this.columns,
            order: [
                [1, 'desc']
            ]
        });

        // update the open/close details event
        $(this.table_id + ' tbody').on('click', 'td.details-control', function() {
            var tr = $(this).closest('tr');
            var row = tbjs_paperlist.table.row( tr );
    
            if ( row.child.isShown() ) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
                $(this).html('<i class="fa fa-plus"></i>')
            }
            else {
                // Open this row
                row.child( tbjs_paperlist._get_expand_html(row.data()) ).show();
                tr.addClass('shown');
                $(this).html('<i class="fa fa-minus"></i>')
            }
        });
    },

    load: function() {
        srv_screener.get_papers(
            srv_screener.stage.STAGE_UNSCREENED,
            function(data) {
                tbjs_paperlist.update(data.papers);
            }
        );
    },

    load_by_stage: function(stage) {
        // update header title
        $('#tbjs_paperlist_title').html(
            srv_screener.stage[stage].title
        );

        // get data
        srv_screener.get_papers(
            stage,
            function(data) {
                tbjs_paperlist.update(data.papers);
            }
        );
    },

    _create_columns: function(stage) {

    },

    _preprocessing: function(data) {
        for (var i = 0; i < data.length; i++) {
            var d = data[i];
            d['date_created_norm'] = dayjs(d.date_created).format('YYYY-MM-DD') + ' ' +
                '<span class="badge badge-pill badge-info"><i class="fa fa-bong"></i> RCT</span>';
        }

        this.data = data;
    },

    update: function(data) {
        this._preprocessing(data);
        
        // remove the old data
        this.table.clear();

        // put new data
        this.table.rows.add(data);

        // render
        this.table.draw();
    },

    _get_expand_html: function(d) {
        return '<table id="tb-rowext-'+d.paper_id+'" cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
            '<tr>'+
                '<td>Actions:</td>'+
                '<td>'+
                '<button class="btn btn-danger btn-sm">Exclude</button> '+
                '<button class="btn btn-primary btn-sm">Proceed to Full Text</button> '+
                ' | ' +
                '<button class="btn btn-default btn-sm">Check Later</button>'+
                '</td>'+
            '</tr>'+
            '<tr>'+
                '<td>Detail:</td>'+
                '<td>'+d.authors+'</td>'+
            '</tr>'+
            '<tr>'+
                '<td>Abstract:</td>'+
                '<td>'+d.abstract+'</td>'+
            '</tr>'+
        '</table>';
    },

    /**
     * the functions related to screening
     */
    exclude_by_ta: function(paper_id) {

    }
};

var jarvis = {
    init: function () {
        tbjs_paperlist.init();

        // load stats
        ui_category_stat.load();

        // load unscreened papers by default
        tbjs_paperlist.load_by_stage(srv_screener.STAGE_UNSCREENED);
    },
};

$(document).ready(function () {
    jarvis.init();
})
</script>
{% endblock %}