{% extends '_layout_adminlte.html' %}

{% block title %}
Study Importer
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Study Importer</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="[[ url_for('portal.index') ]]">Home</a></li>
                    <li class="breadcrumb-item active">Study Importer</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a
                    validation state that can be triggered by attempting to submit the form without completing it.</p>
                
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block active_nav_link %}importer{% endblock %}

{% block script %}
<script>

</script>
{% endblock %}