{% extends '_layout_adminlte.html' %}

{% block title %}
Study Importer
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Study Importer</h1>
                <p class="lead">Import papers to current project.</p>
                
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="[[ url_for('portal.index') ]]">Home</a></li>
                    <li class="breadcrumb-item active">Study Importer</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5>Import studies by PMID List</h5>
                        <p class="card-text">Input the PMID in the following area, one PMID per line.</p>
                        <form action="[[ url_for('importer.upload_pmids') ]]" method="POST">
                            <div class="form-group">
                                <textarea class="form-control" id="input_pmids" name="pmids" rows="10"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary" placeholder="123456789\n234567891">
                                <i class="fa fa-upload"></i>
                                Upload These PMIDs
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block active_nav_link %}importer{% endblock %}

{% block script %}
<script>

</script>
{% endblock %}