{% extends '_layout_adminlte.html' %}

{% block title %}
Study Importer
{% endblock %}

{% block style %}
{% endblock %}

{% block page_name %}
<i class="nav-icon fas fa-file-upload"></i> 
Study Importer
{% endblock %}

{% block content %}

<div class="content">
    <div class="container-fluid">
        <div id="vw_uploader" class="row">
            <div class="col-md-5">
                <h5>Import Studies</h5>
                <p class="card-text">Input the PMID in the following area, one PMID per line.</p>
                <div>
                    <div class="form-group">
                        <textarea class="form-control" id="input_pmids" 
                        name="pmids" rows="10"
                        v-model="pmids"></textarea>
                    </div>
                    <button class="btn btn-primary"
                        v-on:click="import_studies">
                        <i class="fa fa-upload"></i>
                        Import these PMIDs
                    </button>
                    
                </div>
            </div>

            <div class="col-md-7">

            </div>
        </div>


    </div>
</div>


{% endblock %}

{% block active_nav_link %}importer{% endblock %}

{% block script %}
<script>

var vw_uploader = {
    vpp: null,
    vpp_id: '#vw_uploader',
    api_url: '{{ url_for("importer.upload_pmids") }}',

    init: function() {
        this.vpp = new Vue({
            el: this.vpp_id,
            data: {
                pmids: ''
            },
            methods: {
                import_studies: function() {
                    vw_uploader.import_studies(this.pmids);
                }
            }
        });
    },

    import_studies: function(pmids) {
        $.post(
            this.api_url,
            {project_id:project_id, pmids:pmids}
        )
    }
};

var jarvis = {
    init: function() {
        vw_uploader.init();
    }
};
$(document).ready(function() {
    jarvis.init();
})
</script>
{% endblock %}