{% extends '_layout_adminlte.html' %}

{% block title %}
Project Editor
{% endblock %}

{% block style %}
{% endblock %}

{% block page_name %}
<i class="far fa-clipboard"></i>
Project Editor
{% endblock %}

{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <p class="lead">Please provide the following information to create a new project:</p>
                
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block active_nav_link %}project-editor{% endblock %}

{% block script %}
<script>

</script>
{% endblock %}