{% extends '_layout_adminlte.html' %}

{% block title %}
Create Project
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Create Project</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="[[ url_for('portal.index') ]]">Home</a></li>
                    <li class="breadcrumb-item active">Create Project</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a
                    validation state that can be triggered by attempting to submit the form without completing it.</p>
                <form method="POST" action="[[ url_for('project.create') ]]">
                    <div class="form-group">
                        <label for="input_title">Project Title</label>
                        <input type="text" class="form-control" id="input_title" name="title"
                            placeholder="The lung cancer meta-analysis">
                        <small id="input_title_help" class="form-text text-muted">
                            The project title must be at least 8 characters long, contain letters and numbers, no special characters.
                        </small>
                    </div>
                
                    <div class="form-group">
                        <label for="input_abstract">Project Abstract (Optional)</label>
                        <textarea class="form-control" id="input_abstract" name="abstract" rows="3"></textarea>
                        <small id="input_abstract_help" class="form-text text-muted">
                            Describe this project.
                        </small>
                    </div>
                
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block active_nav_link %}project-create{% endblock %}

{% block script %}
<script>

</script>
{% endblock %}