<h3 style="margin-bottom: 2rem;">
    CONCEPT
</h3>
<div class="row">
    <div class="col-md-6">
        <p>Systematic reviews (SR) and meta-analyses (MA) are tools to synthesize evidence and provide decision makers with estimates of effect that are more precise than those provided by individual studies.  SRMAs inform decision makers about the certainty in these estimates to allow tradeoffs and inform shared decision making. SRMAs also support clinical practice guidelines (CPGs) and Institute of Medicine (IOM) and Guideline International Network (G-I-N) require an updated systematic review as one of the criteria for trustworthy clinical practice guidelines (CPGs).</p>

        <p>The process of creating and updating SRs is cumbersome and time-consuming, especially when the evidence is rapidly evolving. Patients may receive suboptimal treatment or even be harmed if there is a delay in synthesizing evidence and updated guidelines.  The analyses are often not updated by the primary team and subsequently a new team updates the analyses starting from the scratch which leads to delay in evidence synthesis as well as redundant, wasteful efforts.  Sometimes, there are just too many of redundant, overlapping systematic reviews.</p>
    </div>

    <div class="col-md-6">
        <p>Some examples are atrocious, such as patent formen ovale (PFO) closure management example; where there are dozens meta-analyses synthesizing the information from four published randomized clinical trials.  Finally, SRMAs often have multiple tables, figures and analyses hidden in the supplemental materials with no user friendly access. This alarming increase in wasteful efforts for SRMAs of minimal value warrants reconsideration of methods, production, and reporting of SRMAs.</p>
        <p>Thus, we propose living, interactive systematic reviews (LISRs) to maintain living evidence in rapidly moving fields. LISR is defined as a next generation systematic review which is continually updated, incorporating relevant new evidence as it becomes available and users can interact with the information in clinically and methodologically meaningful ways. May be accompanied by a pair-wise living meta analysis ( LMA)or a living network meta-analysis( LNMA). The concept of “living” entails that information is always up-to-date and users can interact with this information in clinically meaningful ways.</p>
    </div>
    <p style="text-align: center;">
        <img src="/static/img/lisr-flowchart.png" style="width: 90%;" alt="">
    </p>
</div>