<div class="row">
    <div class="col">
        <p>A Summary of Findings (SoF) table is designed to summarize the key results of a pairwise meta-analysis and to evaluate your confidence in the estimates of effect. The table summarizes the results for patient important outcomes for patients receiving direct acting anti-coagulant (DOACs) as compared to low molecular weight heparin (LMWH).</p>
    </div>
</div>

<table class="sof-table">
    <tr>
        <th class="dk fw-b">Outcome</th>
        <th class="dk fw-b"></th>
    </tr>
</table>