<h4>Evidence map comparing all individual drugs</h4>
<p>Evidence map illustrating benefits and harms of individual direct oral anticoagulants and dalteparin as compared to each other.</p>
<table class="evmap-table">
    <tr>
        <th width="13%">Outcomes</th>
        <th width="11%">Recurrent venous thromboembolism</th>
        <th width="11%">Major bleeding</th>
        <th width="11%">Clinically relevant non-major bleeding</th>
        <th width="11%">Net clinical benefit</th>
        <th width="11%">Mortality</th>
        <th width="5%" rowspan="12">&nbsp;</th>
        <th width="12%">Certainty of Evidence</th>
    </tr>
    
    <tr>
        <td>Apixaban vs Dalteparin</td>
        <td class="evmap-sig-b"><span class="evmap-sym evmap-sym-h">4</span></td>
        <td class="evmap-sig-n"><span class="evmap-sym evmap-sym-low">4</span></td>
        <td class="evmap-sig-n"><span class="evmap-sym evmap-sym-low">4</span></td>
        <td class="evmap-sig-b"><span class="evmap-sym evmap-sym-h">4</span></td>
        <td class="evmap-sig-n"><span class="evmap-sym evmap-sym-low">4</span></td>

        <td style="text-align: left; text-indent: 2em;"><span class="evmap-sym evmap-sym-h">n</span> High</td>
    </tr>
    <tr>
        <td>Apixaban vs Edoxaban</td>
        <td class="evmap-sig-n"><span class="evmap-sym evmap-sym-low">4</span></td>
        <td class="evmap-sig-n"><span class="evmap-sym evmap-sym-low">4</span></td>
        <td class="evmap-sig-n"><span class="evmap-sym evmap-sym-low">4</span></td>
        <td class="evmap-sig-n"><span class="evmap-sym evmap-sym-low">4</span></td>
        <td class="evmap-sig-n"><span class="evmap-sym evmap-sym-low">4</span></td>

        <td style="text-align: left; text-indent: 2em;"><span class="evmap-sym evmap-sym-m">n</span> Moderate</td>
    </tr>
    <tr>
        <td>Apixaban vs Rivaroxaban</td>
        <td class="evmap-sig-n"><span class="evmap-sym evmap-sym-low">4</span></td>
        <td class="evmap-sig-n"><span class="evmap-sym evmap-sym-low">4</span></td>
        <td class="evmap-sig-b"><span class="evmap-sym evmap-sym-m">4</span></td>
        <td class="evmap-sig-n"><span class="evmap-sym evmap-sym-low">4</span></td>
        <td class="evmap-sig-n"><span class="evmap-sym evmap-sym-low">4</span></td>

        <td style="text-align: left; text-indent: 2em;"><span class="evmap-sym evmap-sym evmap-sym-low">n</span> Low</td>
    </tr>
    <tr>
        <td colspan="6"></td>
        <td style="text-align: left; text-indent: 2em;"><span class="evmap-sym evmap-sym-vlow">n</span> Very Low</td>
    </tr>
    <tr>
        <td>Edoxaban vs Dalteparin</td>
        <td class="evmap-sig-n"><span class="evmap-sym evmap-sym-low">4</span></td>
        <td class="evmap-sig-h"><span class="evmap-sym evmap-sym-m">4</span></td>
        <td class="evmap-sig-n"><span class="evmap-sym evmap-sym-low">4</span></td>
        <td class="evmap-sig-n"><span class="evmap-sym evmap-sym-low">4</span></td>
        <td class="evmap-sig-n"><span class="evmap-sym evmap-sym-low">4</span></td>

        <td rowspan="2">n=number of studies included in the analysis</td>
    </tr>
    <tr>
        <td>Edoxaban vs Apixaban</td>
        <td class="evmap-sig-n"><span class="evmap-sym evmap-sym-low">4</span></td>
        <td class="evmap-sig-n"><span class="evmap-sym evmap-sym-vlow">4</span></td>
        <td class="evmap-sig-n"><span class="evmap-sym evmap-sym-low">4</span></td>
        <td class="evmap-sig-n"><span class="evmap-sym evmap-sym-low">4</span></td>
        <td class="evmap-sig-n"><span class="evmap-sym evmap-sym-low">4</span></td>

    </tr>
    <tr>
        <td>Edoxaban vs Rivaroxaban</td>
        <td class="evmap-sig-n"><span class="evmap-sym evmap-sym-vlow">4</span></td>
        <td class="evmap-sig-n"><span class="evmap-sym evmap-sym-low">4</span></td>
        <td class="evmap-sig-b"><span class="evmap-sym evmap-sym-m">4</span></td>
        <td class="evmap-sig-n"><span class="evmap-sym evmap-sym-low">4</span></td>
        <td class="evmap-sig-n"><span class="evmap-sym evmap-sym-low">4</span></td>

        <td rowspan="2"></td>
    </tr>
    <tr>
        <td colspan="6">&nbsp;</td>

    </tr>
    <tr>
        <td>Rivaroxaban vs Dalteparin</td>
        <td class="evmap-sig-b"><span class="evmap-sym evmap-sym-m">4</span></td>
        <td class="evmap-sig-n"><span class="evmap-sym evmap-sym-vlow">4</span></td>
        <td class="evmap-sig-h"><span class="evmap-sym evmap-sym-low">4</span></td>
        <td class="evmap-sig-n"><span class="evmap-sym evmap-sym-low">4</span></td>
        <td class="evmap-sig-n"><span class="evmap-sym evmap-sym-low">4</span></td>

        <td class="evmap-sig-h">Significant Harm</td>
    </tr>
    <tr>
        <td>Rivaroxaban vs Apixaban</td>
        <td class="evmap-sig-n"><span class="evmap-sym evmap-sym-low">4</span></td>
        <td class="evmap-sig-n"><span class="evmap-sym evmap-sym-vlow">4</span></td>
        <td class="evmap-sig-h"><span class="evmap-sym evmap-sym-low">4</span></td>
        <td class="evmap-sig-n"><span class="evmap-sym evmap-sym-low">4</span></td>
        <td class="evmap-sig-n"><span class="evmap-sym evmap-sym-low">4</span></td>

        <td class="evmap-sig-n">No Significant Effect</td>
    </tr>
    <tr>
        <td>Rivaroxaban vs Edoxaban</td>
        <td class="evmap-sig-n"><span class="evmap-sym evmap-sym-low">4</span></td>
        <td class="evmap-sig-n"><span class="evmap-sym evmap-sym-vlow">4</span></td>
        <td class="evmap-sig-h"><span class="evmap-sym evmap-sym-low">4</span></td>
        <td class="evmap-sig-n"><span class="evmap-sym evmap-sym-low">4</span></td>
        <td class="evmap-sig-n"><span class="evmap-sym evmap-sym-low">4</span></td>

        <td class="evmap-sig-b">Significant Benefit</td>
    </tr>
</table>