<h3 style="margin-bottom: 2rem;">
    CONCEPT
</h3>
<div class="row">
    <div class="col-md-6">
        <p>Systematic reviews (SR) and meta-analyses (MA) are tools to synthesize evidence and provide decision makers with estimates of effect that are more precise than those provided by individual studies.  SRMAs inform decision makers about the certainty in these estimates to allow tradeoffs and inform shared decision making. SRMAs also support clinical practice guidelines (CPGs) and Institute of Medicine (IOM) and Guideline International Network (G-I-N) require an updated systematic review as one of the criteria for trustworthy clinical practice guidelines (CPGs). </p>
    </div>

    <div class="col-md-6">
        <p>There is no efficient platform to synthesize information rapidly. Hence, we have proposed a next generation of systematic reviews “living, interactive systematic reviews”.</p>
        <p>Living Interactive Systematic Reviews (LISR) build on the concept of Living Systematic reviews and we define it as a systematic review which is continually updated, incorporating relevant new evidence as it becomes available and users can interact with the information in clinically and methodologically meaningful ways. </p>
    </div>
    <p style="text-align: center;">
        <img src="/static/img/lisr-flowchart.png" style="width: 90%;" alt="">
    </p>
</div>