<div id="vw_oclist">
    <div class="box" style="height: 100%;">
        <div class="box-header">
            <h4>
                <i class="fa fa-search"></i>
                Outcome List | 
            </h4>
            <!-- <div>
                <input type="text" class="box-input" style="background-color: transparent;">
            </div> -->
            <div>
                <button v-on:click="toggle_all_cates(false)">
                    <i class="fa fa-expand-alt"></i>
                    Expand / All
                </button>
                <button v-on:click="toggle_all_cates(true)">
                    <i class="fa fa-compress-alt"></i>
                    Collapse All
                </button>
            </div>
        </div>
        <div class="box-body" style="height: calc(100% - 70px);">
            
            <div class="d-flex fx-col">
                <div class="d-flex fx-row ">
                    <div class="oc-name" style="font-weight: bold;">
                        <i class="fa fa-filter"></i>
                        Filters |

                        <button v-on:click="clear">
                            <i class="fa fa-sync"></i>
                            Reset
                        </button>
                    </div>
                    <div style="width: 90px; text-align: center; border-bottom: 1px solid #555555;">
                        Grade
                    </div>
                </div>
            </div>

            <div class="oc-cate d-flex fx-col">
                <div class="oc-cate-info d-flex fx-row">
                    <div class="oc-name" style="font-weight: bold;">
                        Outcomes |
                        {{ rs_stat.cnt_cates }}, {{ rs_stat.cnt_aes }}
                    </div>
                    <div class="oc-type" title="All Grades">
                        ALL
                    </div>
                    <div class="oc-type" title="Grade 3 or Higher">
                        3+
                    </div>
                    <div class="oc-type" title="Grade 5 Only">
                        5
                    </div>
                </div>
            </div>

            <div id="vw_oclist_aespanel">
                <div class="oc-cate d-flex fx-col"
                    v-for="r in rs">
                    <div class="oc-cate-info d-flex fx-row"
                        v-on:click="toggle_cate(r.ae_cate)">
                        <div class="oc-name">
                            <i class="far fa-folder" v-if="r.is_close"></i>
                            <i class="far fa-folder-open" v-else></i>
                            {{ r.ae_cate }}
                        </div>
                    </div>
                    <div class="oc-items d-flex fx-col"
                        v-bind:class="{'oc-items-hide': r.is_close}">
                        <div class="oc-item"
                            v-for="ae in r.aes">
                            <div class="oc-item-info d-flex fx-row">
                                <div class="oc-name">
                                    <i class="far fa-clipboard"></i>
                                    {{ ae.ae_name }}
                                </div>
                                <div class="oc-type"
                                    v-bind:title="ae.cnt_ga + ' studies'"
                                    v-bind:ae_cate="r.ae_cate"
                                    v-bind:ae_name="ae.ae_name"
                                    v-bind:ae_grade="'GA'"
                                    v-on:click="toggle_ae">
                                    {{ ae.cnt_ga }}
                                </div>
                                <div class="oc-type"
                                    v-if="ae.cnt_g3h<2">
                                    -
                                </div>
                                <div class="oc-type"
                                    v-else
                                    v-bind:title="ae.cnt_g3h + ' studies'"
                                    v-bind:ae_cate="r.ae_cate"
                                    v-bind:ae_name="ae.ae_name"
                                    v-bind:ae_grade="'G3H'"
                                    v-on:click="toggle_ae">
                                    {{ ae.cnt_g3h }}
                                </div>
                                <div class="oc-type"
                                    v-if="ae.cnt_g5n<2">
                                    -
                                </div>
                                <div class="oc-type"
                                    v-else
                                    v-bind:title="ae.cnt_g5n + ' studies'"
                                    v-bind:ae_cate="r.ae_cate"
                                    v-bind:ae_name="ae.ae_name"
                                    v-bind:ae_grade="'G5N'"
                                    v-on:click="toggle_ae">
                                    {{ ae.cnt_g5n }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            
        </div>

        <div class="box-footer">

        </div>
    </div>
</div>