<h3 style="margin-bottom: 2rem;">
    CONCEPT
</h3>
<div class="row">
    <div class="col-md-6">
        <p>Systematic reviews (SR) and meta-analyses (MA) are tools to synthesize evidence and provide decision makers with estimates of effect that are more precise than those provided by individual studies.  In situations where head to head trials are not available and yet clinicians make decisions using informal direct comparisons network meta-analysis (NMA) allows for comparing all treatments with each other, even if randomized controlled trials are not available for some treatment comparisons. The current practice of creating systematic reviews is inadequate to keep pace with the rapid influx of evidence. </p>
    </div>

    <div class="col-md-6">
        <p>There is no efficient platform to synthesize information rapidly. Hence, we have proposed a next generation of systematic reviews “living, interactive systematic reviews”.</p>
        <p>Living Interactive Systematic Reviews (LISR) build on the concept of Living Systematic reviews and we define it as a systematic review which is continually updated, incorporating relevant new evidence as it becomes available and users can interact with the information in clinically and methodologically meaningful ways. </p>
    </div>
    <p style="text-align: center;">
        <img src="/static/img/lisr-flowchart.png" style="width: 90%;" alt="">
    </p>
</div>