<h4>Evidence Map comparing DOACs vs LMWH using different random effects methods</h4>
<p>Evidence map illustrating the influence of choice of Random effects model on significance of results.</p>

<table class="evmap-table">
<tr>
    <th>Arms</th>
    <th>Method</th>
    <th width="9%">Recurrent venous thromboembolism</th>
    <th width="9%">Major bleeding</th>
    <th width="9%">Clinically relevant non-major bleeding</th>
    <th width="9%">Net clinical benefit</th>
    <th width="9%">Mortality</th>
    <th width="9%">Major gastrointestinal bleeding</th>
    <th width="9%">Major genitourinary bleeding</th>
    <th width="9%">Intracranial bleeding</th>
    <th width="9%">Fatal bleeding</th>
</tr>
<tr>
    <td rowspan="5">DOACs vs Dalteparin</td>
    <td height="35px">DL</td>
    <td class="evmap-sig-b"><span class="evmap-sym evmap-sym-h">4</span></td>
    <td class="evmap-sig-n"><span class="evmap-sym evmap-sym-low">4</span></td>
    <td class="evmap-sig-h"><span class="evmap-sym evmap-sym-m">4</span></td>
    <td class="evmap-sig-n"><span class="evmap-sym evmap-sym-low">4</span></td>
    <td class="evmap-sig-n"><span class="evmap-sym evmap-sym-low">4</span></td>
    <td class="evmap-sig-n"><span class="evmap-sym evmap-sym-vlow">3</span></td>
    <td class="evmap-sig-h"><span class="evmap-sym evmap-sym-low">3</span></td>
    <td class="evmap-sig-n"><span class="evmap-sym evmap-sym-vlow">2</span></td>
    <td class="evmap-sig-n"><span class="evmap-sym evmap-sym-vlow">2</span></td>
</tr>
<tr>
    <td height="35px" style="padding-top: 0; padding-bottom: 0;">DL with HK adjustment</td>
    <td class="evmap-sig-n"><span class="evmap-sqr evmap-sym-low">4</span></td>
    <td class="evmap-sig-n"><span class="evmap-sqr evmap-sym-low">4</span></td>
    <td class="evmap-sig-n"><span class="evmap-sqr evmap-sym-low">4</span></td>
    <td class="evmap-sig-n"><span class="evmap-sqr evmap-sym-low">4</span></td>
    <td class="evmap-sig-n"><span class="evmap-sqr evmap-sym-low">4</span></td>
    <td class="evmap-sig-n"><span class="evmap-sqr evmap-sym-vlow">3</span></td>
    <td class="evmap-sig-h"><span class="evmap-sqr evmap-sym-low">3</span></td>
    <td class="evmap-sig-n"><span class="evmap-sqr evmap-sym-vlow">2</span></td>
    <td class="evmap-sig-n"><span class="evmap-sqr evmap-sym-low">2</span></td>
</tr>
<tr>
    <td height="35px">SJ</td>
    <td class="evmap-sig-n">
      <svg height="25" width="25">
        <polygon points="12,0 24,24 0,24" class="evmap-plg-low" />
        <text x="8" y="20" class="evmap-plg-txt-low">4</text>
      </svg>
    </td>
    <td class="evmap-sig-n">
        <svg height="25" width="25">
        <polygon points="12,0 24,24 0,24" class="evmap-plg-low" />
        <text x="8" y="20" class="evmap-plg-txt-low">4</text>
      </svg>
    </td>
    <td class="evmap-sig-h">
        <svg height="25" width="25">
        <polygon points="12,0 24,24 0,24" class="evmap-plg-m" />
        <text x="8" y="20" class="evmap-plg-txt-m">4</text>
      </svg>
    </td>
    <td class="evmap-sig-n">
        <svg height="25" width="25">
        <polygon points="12,0 24,24 0,24" class="evmap-plg-low" />
        <text x="8" y="20" class="evmap-plg-txt-low">4</text>
      </svg>
    </td>
    <td class="evmap-sig-n">
        <svg height="25" width="25">
        <polygon points="12,0 24,24 0,24" class="evmap-plg-low" />
        <text x="8" y="20" class="evmap-plg-txt-low">4</text>
      </svg>
    </td>
    <td class="evmap-sig-n">
        <svg height="25" width="25">
        <polygon points="12,0 24,24 0,24" class="evmap-plg-vlow" />
        <text x="8" y="20" class="evmap-plg-txt-vlow">3</text>
      </svg>
    </td>
    <td class="evmap-sig-h">
        <svg height="25" width="25">
        <polygon points="12,0 24,24 0,24" class="evmap-plg-low" />
        <text x="8" y="20" class="evmap-plg-txt-low">3</text>
      </svg>
    </td>
    <td class="evmap-sig-n">
        <svg height="25" width="25">
        <polygon points="12,0 24,24 0,24" class="evmap-plg-vlow" />
        <text x="8" y="20" class="evmap-plg-txt-vlow">2</text>
      </svg>
    </td>
    <td class="evmap-sig-n">
        <svg height="25" width="25">
        <polygon points="12,0 24,24 0,24" class="evmap-plg-vlow" />
        <text x="8" y="20" class="evmap-plg-txt-vlow">2</text>
      </svg>
    </td>
</tr>
<tr>
    <td height="35px" style="padding-top: 0; padding-bottom: 0;">SJ with HK adjustment</td>
    <td class="evmap-sig-n">
        <svg height="25" width="25">
            <polygon points="12,0 24,12 12,24 0,12" class="evmap-plg-low" />
            <text x="8" y="16">4</text>
        </svg>
    </td>
    <td class="evmap-sig-n">
        <svg height="25" width="25">
            <polygon points="12,0 24,12 12,24 0,12" class="evmap-plg-low" />
            <text x="8" y="16">4</text>
        </svg>
    </td>
    <td class="evmap-sig-n">
        <svg height="25" width="25">
            <polygon points="12,0 24,12 12,24 0,12" class="evmap-plg-low" />
            <text x="8" y="16">4</text>
        </svg>
    </td>
    <td class="evmap-sig-n">
        <svg height="25" width="25">
            <polygon points="12,0 24,12 12,24 0,12" class="evmap-plg-low" />
            <text x="8" y="16">4</text>
        </svg>
    </td>
    <td class="evmap-sig-n">
        <svg height="25" width="25">
            <polygon points="12,0 24,12 12,24 0,12" class="evmap-plg-low" />
            <text x="8" y="16">4</text>
        </svg>
    </td>
    <td class="evmap-sig-n">
        <svg height="25" width="25">
            <polygon points="12,0 24,12 12,24 0,12" class="evmap-plg-vlow" />
            <text x="8" y="16">3</text>
        </svg>
    </td>
    <td class="evmap-sig-h">
        <svg height="25" width="25">
            <polygon points="12,0 24,12 12,24 0,12" class="evmap-plg-low" />
            <text x="8" y="16">3</text>
        </svg>
    </td>
    <td class="evmap-sig-n">
        <svg height="25" width="25">
            <polygon points="12,0 24,12 12,24 0,12" class="evmap-plg-vlow" />
            <text x="8" y="16">2</text>
        </svg>
    </td>
    <td class="evmap-sig-n">
        <svg height="25" width="25">
            <polygon points="12,0 24,12 12,24 0,12" class="evmap-plg-low" />
            <text x="8" y="16">2</text>
        </svg>
    </td>
</tr>
<tr>
    <td height="35px" style="padding-top: 0; padding-bottom: 0;">REML with HK adjustment</td>
    <td class="evmap-sig-n">
        <!-- 6,0 18,0 24,6 24,18 18,24 6,24 0,18 0,6 -->
        <!-- 5,0 15,0 20,5 20,15 15,20 5,20 0,15 0,5 -->
        <svg height="21" width="21">
            <polygon points="5,0 15,0 20,5 20,15 15,20 5,20 0,15 0,5" class="evmap-plg-low" />
            <text x="6" y="15">4</text>
        </svg>
    </td>
    <td class="evmap-sig-n">
        <svg height="21" width="21">
            <polygon points="5,0 15,0 20,5 20,15 15,20 5,20 0,15 0,5" class="evmap-plg-low" />
            <text x="6" y="15">4</text>
        </svg>
    </td>
    <td class="evmap-sig-n">
        <svg height="21" width="21">
            <polygon points="5,0 15,0 20,5 20,15 15,20 5,20 0,15 0,5" class="evmap-plg-low" />
            <text x="6" y="15">4</text>
        </svg>
    </td>
    <td class="evmap-sig-n">
        <svg height="21" width="21">
            <polygon points="5,0 15,0 20,5 20,15 15,20 5,20 0,15 0,5" class="evmap-plg-low" />
            <text x="6" y="15">4</text>
        </svg>
    </td>
    <td class="evmap-sig-n">
        <svg height="21" width="21">
            <polygon points="5,0 15,0 20,5 20,15 15,20 5,20 0,15 0,5" class="evmap-plg-low" />
            <text x="6" y="15">4</text>
        </svg>
    </td>
    <td class="evmap-sig-n">
        <svg height="21" width="21">
            <polygon points="5,0 15,0 20,5 20,15 15,20 5,20 0,15 0,5" class="evmap-plg-vlow" />
            <text x="6" y="15">3</text>
        </svg>
    </td>
    <td class="evmap-sig-h">
        <svg height="21" width="21">
            <polygon points="5,0 15,0 20,5 20,15 15,20 5,20 0,15 0,5" class="evmap-plg-low" />
            <text x="6" y="15">3</text>
        </svg>
    </td>
    <td class="evmap-sig-n">
        <svg height="21" width="21">
            <polygon points="5,0 15,0 20,5 20,15 15,20 5,20 0,15 0,5" class="evmap-plg-vlow" />
            <text x="6" y="15">2</text>
        </svg>
    </td>
    <td class="evmap-sig-n">
        <svg height="21" width="21">
            <polygon points="5,0 15,0 20,5 20,15 15,20 5,20 0,15 0,5" class="evmap-plg-low" />
            <text x="6" y="15">2</text>
        </svg>
    </td>
</tr>
<tr>
    <td colspan="11"></td>
</tr>
<tr>
    <td colspan="3">&nbsp;</td>
    <td colspan="2" class="evmap-sig-h">Significant Harm</td>
    <td colspan="2" class="evmap-sig-n">No Significant Effect</td>
    <td colspan="2" class="evmap-sig-b">Significant Benefit</td>
    <td colspan="2">&nbsp;</td>
</tr>
<tr>
    <td colspan="11"></td>
</tr>
<tr>
    <td rowspan="5">&nbsp;</td>
    <td colspan="2" style="text-align: left; font-size: 9px;">
        Certainty of Evidence<br>
        Method: Random effects model<br>
        Tau<sup>2</sup> estimator: <span style="color:red;">DerSimonian and Laird (DL)</span><br>
        Adjustment: <span style="color:red;">None</span><br>
        (n=number of studies included in analysis)
    </td>
    <td colspan="2" style="text-align: left; font-size: 9px;">
        Certainty of Evidence <br>
        Method: Random effects model<br>
        Tau<sup>2</sup> estimator: <span style="color:red;">DerSimonian and Laird (DL)</span><br>
        Adjustment: Hartung-Knapp (HK)<br>
        (n=number of studies included in analysis)
    </td>
    <td colspan="2" style="text-align: left; font-size: 9px;">
        Certainty of Evidence <br>
        Method: Random effects model<br>
        Tau<sup>2</sup> estimator: <span style="color:red;">Sidik-Jonkman (SJ)</span><br>
        Adjustment: <span style="color:red;">None</span><br>
        (n=number of studies included in analysis)	
    </td>
    <td colspan="2" style="text-align: left; font-size: 9px;">
        Certainty of Evidence <br>
        Method: Random effects model<br>
        Tau<sup>2</sup> estimator: <span style="color:red;">Sidik-Jonkman (SJ)</span><br>
        Adjustment: Hartung-Knapp (HK)<br>
        (n=number of studies included in analysis)
    </td>
    <td colspan="2" style="text-align: left; font-size: 9px;">
        Certainty of Evidence <br>
        Method: Random effects model<br>
        Tau<sup>2</sup> estimator: <span style="color:red;">Restricted Maximum Likelihood (REML)</span><br>
        Adjustment: Hartung-Knap (HK)<br>
        (n=number of studies included in analysis)
    </td>
</tr>

<tr>
    <td colspan="2" style="text-align: left; text-indent: 2em;"><span class="evmap-sym evmap-sym-h">n</span> High</td>
    <td colspan="2" style="text-align: left; text-indent: 2em;"><span class="evmap-sqr evmap-sym-h">n</span> High</td>
    <td colspan="2" style="text-align: left; text-indent: 2em;">
      <svg height="25" width="25">
        <polygon points="12,0 24,24 0,24" class="evmap-plg-h" />
        <text x="8" y="20" class="evmap-plg-txt-h">n</text>
      </svg> High</td>
    <td colspan="2" style="text-align: left; text-indent: 2em;">
        <svg height="25" width="25">
            <polygon points="12,0 24,12 12,24 0,12" class="evmap-plg-h" />
            <text x="8" y="16" class="evmap-plg-txt-h">n</text>
        </svg> High</td>
    <td colspan="2" style="text-align: left; text-indent: 2em;">
        <svg height="21" width="21">
            <polygon points="5,0 15,0 20,5 20,15 15,20 5,20 0,15 0,5" class="evmap-plg-h" />
            <text x="6" y="15" class="evmap-plg-txt-h">n</text>
        </svg> High</td>
</tr>
<tr>
    <td colspan="2" style="text-align: left; text-indent: 2em;"><span class="evmap-sym evmap-sym-m">n</span> Moderate</td>
    <td colspan="2" style="text-align: left; text-indent: 2em;"><span class="evmap-sqr evmap-sym-m">n</span> Moderate</td>
    <td colspan="2" style="text-align: left; text-indent: 2em;">
        <svg height="25" width="25">
          <polygon points="12,0 24,24 0,24" class="evmap-plg-m" />
          <text x="8" y="20" class="evmap-plg-txt-m">n</text>
        </svg> Moderate</td>
    <td colspan="2" style="text-align: left; text-indent: 2em;">
        <svg height="25" width="25">
            <polygon points="12,0 24,12 12,24 0,12" class="evmap-plg-m" />
            <text x="8" y="16" class="evmap-plg-txt-m">n</text>
        </svg> Moderate</td>
    <td colspan="2" style="text-align: left; text-indent: 2em;">
        <svg height="21" width="21">
            <polygon points="5,0 15,0 20,5 20,15 15,20 5,20 0,15 0,5" class="evmap-plg-m" />
            <text x="6" y="15" class="evmap-plg-txt-m">n</text>
        </svg> Moderate</td>
</tr>
<tr>
    <td colspan="2" style="text-align: left; text-indent: 2em;"><span class="evmap-sym evmap-sym-low">n</span> Low</td>
    <td colspan="2" style="text-align: left; text-indent: 2em;"><span class="evmap-sqr evmap-sym-low">n</span> Low</td>
    <td colspan="2" style="text-align: left; text-indent: 2em;">
        <svg height="25" width="25">
          <polygon points="12,0 24,24 0,24" class="evmap-plg-low" />
          <text x="8" y="20" class="evmap-plg-txt-low">n</text>
        </svg> Low</td>
    <td colspan="2" style="text-align: left; text-indent: 2em;">
        <svg height="25" width="25">
            <polygon points="12,0 24,12 12,24 0,12" class="evmap-plg-low" />
            <text x="8" y="16">n</text>
        </svg> Low</td>
    <td colspan="2" style="text-align: left; text-indent: 2em;">
        <svg height="21" width="21">
            <polygon points="5,0 15,0 20,5 20,15 15,20 5,20 0,15 0,5" class="evmap-plg-low" />
            <text x="6" y="15" class="evmap-plg-txt-low">n</text>
        </svg> Low</td>
</tr>
<tr>
    <td colspan="2" style="text-align: left; text-indent: 2em;"><span class="evmap-sym evmap-sym-vlow">n</span> Very Low</td>
    <td colspan="2" style="text-align: left; text-indent: 2em;"><span class="evmap-sqr evmap-sym-vlow">n</span> Very Low</td>
    <td colspan="2" style="text-align: left; text-indent: 2em;">
        <svg height="25" width="25">
          <polygon points="12,0 24,24 0,24" class="evmap-plg-vlow" />
          <text x="8" y="20" class="evmap-plg-txt-vlow">n</text>
        </svg> Very Low</td>
    <td colspan="2" style="text-align: left; text-indent: 2em;">
        <svg height="25" width="25">
            <polygon points="12,0 24,12 12,24 0,12" class="evmap-plg-vlow" />
            <text x="8" y="16">n</text>
        </svg> Very Low</td>
    <td colspan="2" style="text-align: left; text-indent: 2em;">
        <svg height="21" width="21">
            <polygon points="5,0 15,0 20,5 20,15 15,20 5,20 0,15 0,5" class="evmap-plg-vlow" />
            <text x="6" y="15" class="evmap-plg-txt-vlow">n</text>
        </svg> Very Low</td>
</tr>
</table>