<h4>Evidence Map comparing DOACs vs LMWH using standard method</h4>
<p>Evidence map summarizing benefits of direct oral anticoagulants compared to dalteparin.</p>
<table class="evmap-table">
<tr>
    <th>Outcomes</th>
    <th width="10%">Recurrent venous thromboembolism</th>
    <th width="10%">Major bleeding</th>
    <th width="10%">Clinically relevant non-major bleeding</th>
    <th width="10%">Net clinical benefit</th>
    <th width="10%">Mortality</th>
    <th width="10%">Major gastrointestinal bleeding</th>
    <th width="10%">Major genitourinary bleeding</th>
    <th width="10%">Intracranial bleeding</th>
    <th width="10%">Fatal bleeding</th>
</tr>
<tr>
    <td>DOACs vs Dalteparin</td>
    <td class="evmap-sig-b"><span class="evmap-sym evmap-sym-h">4</span></td>
    <td class="evmap-sig-n"><span class="evmap-sym evmap-sym-low">4</span></td>
    <td class="evmap-sig-h"><span class="evmap-sym evmap-sym-m">4</span></td>
    <td class="evmap-sig-n"><span class="evmap-sym evmap-sym-low">4</span></td>
    <td class="evmap-sig-n"><span class="evmap-sym evmap-sym-low">4</span></td>
    <td class="evmap-sig-n"><span class="evmap-sym evmap-sym-vlow">3</span></td>
    <td class="evmap-sig-h"><span class="evmap-sym evmap-sym-low">3</span></td>
    <td class="evmap-sig-n"><span class="evmap-sym evmap-sym-vlow">2</span></td>
    <td class="evmap-sig-n"><span class="evmap-sym evmap-sym-vlow">2</span></td>
</tr>
<tr>
    <!-- <td colspan="7" rowspan="5"></td> -->
    <td colspan="5" rowspan="5"></td>
    <td colspan="2" rowspan="2"></td>
    <td colspan="3">Certainty of Evidence<br>
        Method: REM using DerSimonian and Laird (DS)<br>
        (n=number of studies included in analysis)</td>
</tr>
<tr>
    <td colspan="3" style="text-align: left; text-indent: 2em;"><span class="evmap-sym evmap-sym-h">n</span> High</td>
</tr>
<tr>
    <td colspan="2" class="evmap-sig-h">Significant Harm</td>
    <td colspan="3" style="text-align: left; text-indent: 2em;"><span class="evmap-sym evmap-sym-m">n</span> Moderate</td>
</tr>
<tr>
    <td colspan="2" class="evmap-sig-n">No Significant Effect</td>
    <td colspan="3" style="text-align: left; text-indent: 2em;"><span class="evmap-sym evmap-sym-low">n</span> Low</td>
</tr>
<tr>
    <td colspan="2" class="evmap-sig-b">Significant Benefit</td>
    <td colspan="3" style="text-align: left; text-indent: 2em;"><span class="evmap-sym evmap-sym-vlow">n</span> Very Low</td>
</tr>
</table>