{% extends '_layout_adminlte.html' %}

{% block title %}
Study Screener
{% endblock %}

{% block style %}
{% endblock %}

{% block page_name %}
<i class="fas fa-filter"></i>
Study Screener
{% endblock %}

{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a
                    validation state that can be triggered by attempting to submit the form without completing it.</p>
                
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block active_nav_link %}screener{% endblock %}

{% block script %}
<script>

</script>
{% endblock %}