<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->

<title>Cancer Associated Thrombosis | Living Interactive Systematic Reviews</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />

<link rel="icon" href="/static/img/favicon.ico">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

{% include 'pub/_shared/_pubstyle.html' %}
</head>
<body>
<br id="sec-concept">
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="height: 70px;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="#">
        <img src="/static/img/logo-lisr.png" alt="" width="180px">
    </a>

    <div class="navbar" style="padding: 0;">
        <ul class="navbar-nav">
            <li class="nav-item" style="color: white;">
                Cancer Associated Thrombosis <br>
                <i class="far fa-calendar-alt"></i>
                <span id="latest_update_time">&nbsp;</span>
            </li>
        </ul>
    </div>
    
    <div class="collapse navbar-collapse" id="navbarsExampleDefault" style="justify-content: flex-end;">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="./">HOME <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#sec-intro">INTRODUCTION</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#sec-studysel">PRISMA</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">TABLES</a>
                <div class="dropdown-menu" aria-labelledby="dropdown02">
                    <a class="dropdown-item" href="#sec-intertable">Interactive Table</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PAIRWISE MA</a>
                
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">NMA</a>
                
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">SOF TABLE</a>
                <div class="dropdown-menu" aria-labelledby="dropdown02">
                    <a class="dropdown-item" href="#sec-sof-pma">Summary of Findings: Pairwise MA</a>
                    <a class="dropdown-item" href="#sec-sof-nma">Summary of Findings: Network MA</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown0xx" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">EVIDENCE MAPS</a>
                <div class="dropdown-menu" aria-labelledby="dropdown0xx">
                    <a class="dropdown-item" href="#sec-evmap-de">Direct Estimates</a>
                    <a class="dropdown-item" href="#sec-evmap-crem">Comparison of Different Random Effects Methods</a>
                    <a class="dropdown-item" href="#sec-evmap-ne">Network Estimates</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#sec-pubs">PUBLICATIONS</a>
            </li>
        </ul>
    </div>
</nav>


<div id="sec-intro" style="position: absolute; top: 0;"></div>

<div class="container">
    <h3>
        Direct Oral Anti-Coagulants compared to Dalteparin for treatment of Cancer Associated Thrombosis: A Living, Interactive Systematic Review and Network Meta-Analysis
    </h3>

    <div class="row">
        <div class="col">
            <img src="[[ url_for('pub.graphdata', keystr='CAT', cq='default', fn='CONCEPT_IMAGE.svg') ]]" />
        </div>
        <div class="col">
            <p>
                We have maintained a living systematic review and network meta-analysis for treatment of cancer associated thrombosis (CAT) since our original publication in 2019. The results are now updated after the publication of Caravaggio trial. The results of ongoing trials CANVAS (NCT02744092), CASTA-DIVA (NCT02746185), PRIORITY (NCT03139487) and CONKO-011(NCT02583191) are pending and will be considered for addition to living analysis as they become available.
            </p>
        </div>
    </div>
</div>


<br id="sec-studysel">
<div class="container">
    <h3>
        INTERACTIVE, MODIFIED PRISMA
    </h3>
    <div class="row">
        <div class="col">
            <p>Search strategy is developed in consultation with an information specialist. Search strategy is implemented through PubMed and OVID (Medline, Embase, Cochrane Central Register of Controlled trials) search engines to constantly strategy to maintain a “living search” The numbers in the flowsheet are dynamically updated as new studies are considered for inclusion. Red limb on the right side of the flowsheet represent the living updates. Users can click the colored boxes for additional details.</p>

            <p>How to use this flowsheet? <a href="javascript:;" data-toggle="modal" data-target="#exampleModalCenter">Video demonstration</a></p>
        </div>
    </div>
    <div class="row">
        <iframe src="[[ url_for('pub.prisma', prj='CAT', cq='default') ]]" frameborder="0" style="width: 100%; min-height: 850px;"></iframe>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 995px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">How to use this flowsheet?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe width="960" height="550" frameborder="0" allowtransparency="true" allowfullscreen="allowfullscreen" style="border: none;" src="https://share.getcloudapp.com/lluDolxp?embed=true"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<br id="sec-intertable">
<div class="container">
    <h3>
        INTERACTIVE TABLE
    </h3>
    <p>
        Interactive table summarizes study characteristics, population characteristics and results from the clinical trials included in systematic review and meta-analysis. This table will be dynamically updated as new studies are included in this living review. Users can choose to visualize the studies with certain characteristics (using filters) or interactively construct the results table from the available menu.
    </p>
    <p>How to use this table? <a href="javascript:;" data-toggle="modal" data-target="#exampleModalCenter2">Video demonstration</a></p>

    <div class="row">
        <div class="col">
            <iframe src="[[ url_for('pub.itable', prj='CAT', cq='default', src='db') ]]" frameborder="0" style="width: 100%; min-height: 700px;"></iframe>
    </div>
    </div>
</div>


<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter2Title"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 995px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">How to use this table?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe width="960" height="550" frameborder="0" allowtransparency="true" allowfullscreen="allowfullscreen" style="border: none;" src="https://share.getcloudapp.com/p9u7Zmy7?embed=true"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<br id="sec-nma-outcome">
<!-- to reduce the spacing between this section and next, adding -3.5rem bottom -->
<div class="container" style="margin-bottom: -3.5rem;">
    <h3>
        PAIRWISE META-ANALYSIS
    </h3>
    <p>
        Results are summarized as forest plots for primary analysis, sensitivity analysis and subgroup analysis.<br>
        Users can use dropdown (select outcome) to select the outcome of interest.
    </p>
</div>



<br id="sec-nma-outcome" style="margin-top: 4rem;">
<div class="container" style="margin-top: 4rem;">
    <h3>
        NETWORK META-ANALYSIS
    </h3>

    <p>
        Results are summarized in league tables, interactive forest plots, SUCRA curves and Ranking for each clinically important outcome. Forest Plots are interactive, choose the reference treatment (select reference treatment) for relevant clinical decision making. 
    </p>
</div>


<div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter3Title"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 995px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">How to use this figure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe width="960" height="550" frameborder="0" allowtransparency="true" allowfullscreen="allowfullscreen" style="border: none;" src="https://share.getcloudapp.com/KouqEo4G?embed=true"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<br id="sec-sof-pma">
<div class="container">

    <h3>
        SUMMARY OF FINDINGS: PAIRWISE META-ANALYSIS
    </h3>
    <p>
        A Summary of Findings (SoF) table is designed to summarize the key results of a pairwise meta-analysis and to evaluate your confidence in the estimates of effect. The table summarizes the results for patient important outcomes for patients receiving direct acting anti-coagulant (DOACs) as compared to low molecular weight heparin (LMWH).  User can interactively select or deselect SoF for a given clinical outcome by clicking the options in the outcome list (panel on left). The first click selects the clinical outcome and second select deselects the clinical outcome. 
    </p>
    <p>
        <b>Choose measure of effect and denominator for absolute effect.</b>
    </p>
    <div class="row">
        <div class="col">
            <iframe id="ifm-ocplots" src="[[ url_for('pub.softable_pma', prj='CAT') ]]" frameborder="0" style="width: 100%; min-height: 670px;"></iframe>
        </div>
    </div>

</div>


<br id="sec-sof-nma">
<div class="container">

    <h3>
        SUMMARY OF FINDINGS: NETWORK META-ANALYSIS
    </h3>
    <p>
        A Summary of Findings (SoF) table is designed to display multiple comparisons in an interactive manner.  All possible combinations in network meta-analysis can be compared using this framework. User can interactively select or deselect SoF for a given clinical outcome by clicking the options in the outcome list (panel on left). The first click selects the clinical outcome and second select deselects the clinical outcome. <br>
    </p>
    <p>
        <b>Choose comparator (reference treatment), measure of effect, and denominator for absolute effect</b>
    </p>
    <div class="row">
        <div class="col">
            <iframe id="ifm-ocplots" src="[[ url_for('pub.softable_nma', prj='CAT', dc='LMWH') ]]" frameborder="0" style="width: 100%; min-height: 550px;"></iframe>
        </div>
    </div>
</div>


<br id="sec-evmap">
<style>
.evmap-table {
    font-size: 11px;
}
.evmap-table th {
    border: 1px solid black;
    padding: 7px 3px;
    text-align: center;
}
.evmap-table td {
    border: 1px solid black;
    padding: 7px 3px;
    text-align: center;
    font-weight: bold;
}
.evmap-sig-h {
    background-color: red;
}
.evmap-sig-n {
    background-color: gold;
}
.evmap-sig-b {
    background-color: limegreen;
}
.evmap-sym {
    padding: 3px 6px;
    border-radius: 12px;
    border: 1px solid black;
}
.evmap-sqr {
    padding: 3px 6px;
    border: 1px solid black;
}
.evmap-sym-h { background-color: black; color: white; }
.evmap-sym-m { background-color: #666666; color: white; }
.evmap-sym-low { background-color: #afafaf; color: black; }
.evmap-sym-vlow { background-color: white; color: black; }
.evmap-plg-h { fill: black; stroke: black; }
.evmap-plg-m { fill: #4c4c4c; stroke: black; }
.evmap-plg-low { fill: #a9a9a9; stroke: black; }
.evmap-plg-vlow { fill: white; stroke: black; }
.evmap-plg-txt-h { fill: white; }
.evmap-plg-txt-m { fill: white; }
.evmap-plg-txt-low { fill: black; }
.evmap-plg-txt-vlow { fill: black; }
</style>
<div class="container">
    <h3>
        EVIDENCE MAPS
    </h3>

    <p>
        Evidence map is a visual depiction of evidence which presents synthesized data in user friendly illustration (figures or graphs) facilitating evidence based clinical guidelines, policies and decisions, and identifying evidence gaps that warrant future research.
    </p>
    
    <br id="sec-evmap-de" style="margin-top: 1rem;">
    <div class="row" style="margin-bottom:2rem;">
        <div class="col">
            {% include 'pub/CAT/default/_EVMAP_DE.html' %}
        </div>
    </div>

    <br id="sec-evmap-crem" style="margin-top: 3rem;">
    <div class="row" style="margin-top: 2rem; margin-bottom:2rem;">
        <div class="col">
            {% include 'pub/CAT/default/_EVMAP_CREM.html' %}
        </div>
    </div>

    <br id="sec-evmap-ne" style="margin-top: 3rem;">
    <div class="row" style="margin-top: 2rem; margin-bottom:2rem;">
        <div class="col">
            {% include 'pub/CAT/default/_EVMAP_NE.html' %}
        </div>
    </div>
</div>


<br id="sec-pubs">
<div class="container" style="margin-top: 4rem; margin-bottom:2rem;">
    <h3>
        PUBLICATIONS
    </h3>
    <div class="row">
        <div class="col">
            <p>
                <b><i>Direct Oral Factor Xa Inhibitors for the Treatment of Acute Cancer-Associated Venous Thromboembolism: A Systematic Review and Network Meta-analysis.</i></b>
                Mayo Clinic Proceedings. 2019 Dec; 94(12): 2444-2454. <br>
                Fuentes HE, McBane RD 2nd, Wysokinski WE, Tafur AJ, Loprinzi CL, Murad MH, Riaz IB. <br>
     
                PMID: <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=31685262">31685262</a> &nbsp;
                DOI: <a href="https://doi.org/10.1016/j.mayocp.2019.05.035">10.1016/j.mayocp.2019.05.035</a>
            
            </p>
            
        </div>
    </div>
</div>


</div>

<hr class="featurette-divider">

<!-- FOOTER -->
<footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; 2020 &middot; <a href="#">Terms</a></p>
</footer>

<!-- Estimated HR(OR) reflect outcomes for treatment in columns compared to treatment in rows 
The HR for 1,2 , The OR for the last one!
-->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script>

var prj = 'CAT';

function resizeIFrameToFitContent( id ) {
    var iFrame = document.getElementById(id);
    iFrame.height = iFrame.contentWindow.document.body.scrollHeight;
    // console.log('* ' + id + ': ' + iFrame.height);
}

function switch_dma_data(tag, slides, display_name) {
    if (typeof(display_name) == 'undefined') {
        display_name = '';
    }
    var url = '[[ url_for("pub.slide") ]]';
    url += '?prj=' + prj;
    url += '&slides=' + slides;
    $('#iframe-dma-' + tag).attr('src', url);
    $('#optext-dma-' + tag).html(display_name);
}

function switch_nma_data(tag, trt, display_name) {
    if (typeof(display_name) == 'undefined') {
        display_name = trt;
    }
    var fn = 'GRAPH-' + tag + '-' + trt + '.json';
    var url = '[[ url_for("pub.graph_v2_1") ]]?prj=' + prj + '&fn=' + fn;
    $('#iframe-nma-' + tag).attr('src', url);
    $('#refname-nma-' + tag).html(display_name);
}

$(document).ready(function() {
    
});
</script>
</body>
</html>