<div id="pan_analyzer" class="panel-m panel-container">
    <div class="panel-info">
        <div class="oc-attr">
            <span style="font-size: 1.2em;">
                <i class="fa fa-balance-scale"></i>
                Analyzer
            </span>
        </div>
        <div class="oc-attr">
            <button onclick="pan_analyzer.analyze();">
                <i class="fa fa-calculator"></i>
                Run analyzer
            </button>
        </div>
    </div>
    <!-- /.panel-info -->

    {% include 'analyzer/_fg_pwma_imglist.html' %}
</div>
<!-- /#pan_analyzer -->