{% extends '_layout_adminlte.html' %}

{% block title %}
Evaluate Certainty of Evidence
{% endblock %}

{% block section_cq %}
{% include 'shared_module/_cq_selector_toolbar.html' %}
{% endblock %}

{% block page_name %}
<i class="fas fa-balance-scale nav-icon"></i>
Evaluate Certainty of Evidence
<!-- of 
<a href="javascript:void(0);" onclick="alert('test')">
    []
</a> -->
{% endblock %}

{% block active_nav_link %}extractor-extract-coe{% endblock %}

{% block style %}
<!-- jQuery UI Theme -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">

<style>
    
{% include 'css/basic.css' %}
{% include 'css/extractor.css' %}
{% include 'css/util.css' %}

html {
    overflow-x: hidden;
    overflow-y: hidden;
}

#main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 0 0 0 10px;
    overflow: hidden;
}
.coe-cate-box {
    padding: 2em 5px;
    border-bottom: 1px dashed #bebebe;
    border-left: 2px solid transparent;
}
.coe-cate-box:hover {
    /* border-left-color: #3a72eb; */
}
.coe-table {
    margin: 1em 0;
    border-top: 1px solid #cccccc;
    width: auto;
}
.coe-table th {
    padding: 0 1em;
    background-color: aliceblue;
    text-align: center;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}
.coe-table tr {
    border-bottom: 1px solid #bebebe;
}
.coe-table tr:hover {
    background-color: rgb(238, 238, 238);
}
.coe-working-oc-tr {
    background-color: aqua;
}
.coe-table td {
    padding: 3px 0 1px 0;
}

.coe-val-text {
    font-weight: normal !important;
}
.coe-val-changed {
    color: red;
    font-style: italic;
}

.coe-val-0, 
.coe-val-NA {
    background-color: #bebebe;
}

.coe-val-l, 
.coe-val-L, 
.coe-val-1 {
    background-color: #68f168;
}

.coe-val-m, 
.coe-val-M, 
.coe-val-2 {
    background-color: orange;
}

.coe-val-3 {
    color: white;
    background-color: rgb(252, 94, 94);
}

.coe-val-h, 
.coe-val-H, 
.coe-val-4 {
    color: white;
    background-color: red;
}

#coe_panel {
    width: calc(100% - 500px);
    min-width: 800px;
    height: calc(100% - 20px);
    padding: 5px;

    position: absolute;
    right: 0;
    top: 10px;

    background-color: white;
    border: 1px solid #eaeaea;
    box-shadow: 5p 5px #cccccc;
}

#coe_panel_close {
    position: absolute;
    top: 5px;
    left: -40px;
    line-height: 40px;
    width: 40px;
    background: white;
    height: 40px;
    text-align: center;
    border: 1px solid #eaeaea;
    border-right: 0;
}
#coe_panel_close:hover {
    color: red;
    background-color: pink;
}
.coe-item-column {
    width: 150px;
}
.coe-item-select {
    width: 130px;
}

.rob-item-label {
    position: relative;
    top: -5px;
    font-size: 0.9em;
}
.rob-item-cell {
    width: 25px;
    margin-right: 2px;
    text-align: center;
}
#pwma_datatable_box {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
#pwma_datatable_header {
    position: sticky;
    top: 0;
}

.active {
    font-weight: bold;
}
.nav-link {
    cursor: pointer;
}
</style>


{% endblock %}

{% block content %}

<div id="main">


<div id="app_coemgr">
    <div class="d-flex">
        <div class="mr-4">
            <h4>
                PWMA Outcomes
            </h4>
        </div>
        <div class="d-flex flex-row mr-3">
            <div class="mr-2">
                Sort by:
            </div>
            <div class="">
               <select name="" id="">
                    <option value="name">Outcome Name</option>
               </select>
            </div>
        </div>
        <div class="d-flex flex-row">
            <div class="mr-2">
                Filters:
            </div>
            <div class="mr-4 pr-4">
                <input type="text" 
                    placeholder="Outcome Name"
                    v-model="filter_keyword"
                    style="height: 1.5em; font-size: 1em;">
                <button class="btn btn-xs"
                    v-on:click="filter_keyword = ''">
                    <i class="fa fa-times"></i>
                </button>
                |
            </div>
            <div class="mr-2">
                <input type="checkbox" id="ckb_inc_sof">
                <label for="ckb_inc_sof">
                    Only Those Included in SoF Table
                </label>
            </div>
        </div>
    </div>

    <div id="pwma_datatable_box">
        
    <table v-if="Object.keys(oc_dict).length > 0"
        id="pwma_datatable"
        class="coe-table display compact hover">


        <thead id="pwma_datatable_header">
            <tr >
                <th colspan="5">
                    Outcome Information
                </th>
                <th colspan="7">
                    Certainty of Evidence
                </th>
            </tr>
            <tr>
                <th>
                    Group
                </th>
                <th>
                    Category
                </th>
                <th>
                    Name
                </th>
                <th>
                    Studies
                </th>
                <th>
                    Last Updated
                </th>

                <!-- CoE -->
                <th>
                    Overall CoE
                </th>
                <th>
                    Risk of Bias
                </th>
                <th>
                    Inconsistency
                </th>
                <th>
                    Indirectness
                </th>
                <th>
                    Imprecision
                </th>
                <th>
                    Publication Bias
                </th>
                <th>
                    Importance
                </th>
            </tr>
        </thead>

        <tr v-for="ext in oc_dict"
            v-if="ext.oc_type == 'pwma'"
            v-bind:class="{'coe-working-oc-tr': working_oc_abbr == ext.abbr}">
            <td v-on:click="show_coe_panel(ext.abbr)"
                class="cursor-pointer">
                {{ ext.meta.group }}
            </td>
            <td v-on:click="show_coe_panel(ext.abbr)"
                class="cursor-pointer">
                {{ ext.meta.category }}
            </td>
            <td v-on:click="show_coe_panel(ext.abbr)"
                class="cursor-pointer">
                {{ ext.meta.full_name }}
            </td>
            <td class="text-center">
                {{ ext.n_selected }}
            </td>
            <td class="text-center">
                {{ ext.meta.coe.main.date_updated }}
            </td>

            <!-- coe -->
            <td class="text-center">
                <span v-bind:class="'coe-val-' + get_val_from_coe(ext.meta.coe.main, 'rj', 'overall')"
                    class="pl-2 pr-2">
                    {{ val_to_label(get_val_from_coe(ext.meta.coe.main, 'rj', 'overall'), 'overall') }}
                </span>
            </td>
            <td class="text-center">
                <span v-bind:class="'coe-val-' + get_val_from_coe(ext.meta.coe.main, 'rj', 'risk_of_bias')"
                    class="pl-2 pr-2">
                    {{ val_to_label(get_val_from_coe(ext.meta.coe.main, 'rj', 'risk_of_bias'), 'risk_of_bias') }}
                </span>
            </td>
            <td class="text-center">
                <span v-bind:class="'coe-val-' + get_val_from_coe(ext.meta.coe.main, 'rj', 'inconsistency')"
                    class="pl-2 pr-2">
                    {{ val_to_label(get_val_from_coe(ext.meta.coe.main, 'rj', 'inconsistency'), 'inconsistency') }}
                </span>
            </td>
            <td class="text-center">
                <span v-bind:class="'coe-val-' + get_val_from_coe(ext.meta.coe.main, 'rj', 'indirectness')"
                    class="pl-2 pr-2">
                    {{ val_to_label(get_val_from_coe(ext.meta.coe.main, 'rj', 'indirectness'), 'indirectness') }}
                </span>
            </td>
            <td class="text-center">
                <span v-bind:class="'coe-val-' + get_val_from_coe(ext.meta.coe.main, 'rj', 'imprecision')"
                    class="pl-2 pr-2">
                    {{ val_to_label(get_val_from_coe(ext.meta.coe.main, 'rj', 'imprecision'), 'imprecision') }}
                </span>
            </td>
            <td class="text-center">
                <span v-bind:class="'coe-val-' + get_val_from_coe(ext.meta.coe.main, 'rj', 'publication_bias')"
                    class="pl-2 pr-2">
                    {{ val_to_label(get_val_from_coe(ext.meta.coe.main, 'rj', 'publication_bias'), 'publication_bias') }}
                </span>
            </td>
            <td class="text-center">
                <span v-bind:class="'coe-val-' + get_val_from_coe(ext.meta.coe.main, 'rj', 'importance')"
                    class="pl-2 pr-2">
                    {{ val_to_label(get_val_from_coe(ext.meta.coe.main, 'rj', 'importance'), 'importance') }}
                </span>
            </td>
        </tr>
        </tr>
    </table>

    </div>



    <div id="coe_panel"
        v-if="display_coe_panel">
        <div id="coe_panel_close"
            class="cursor-pointer"
            v-on:click="hide_coe_panel">
            <i class="fa fa-times"></i>
        </div>

        <div class="d-flex flex-row">
            <div class="pl-3 pr-3 border-right">
                {{ oc_dict[working_oc_abbr].meta.group }}
            </div>
            <div class="pl-3 pr-3 border-right">
                {{ oc_dict[working_oc_abbr].meta.category }}
            </div>
            <h4 class="pl-2 pr-2">
                {{ oc_dict[working_oc_abbr].meta.full_name }}
            </h4>
        </div>

        <div class="mt-1 mb-1">

            <button class="btn btn-sm btn-default mr-3"
                v-bind:disabled="is_saving_working_oc_coe"
                v-on:click="save_working_oc_coe">
                <span v-if="is_saving_working_oc_coe">
                    <i class="fas fa-spinner fa-spin"></i>
                    Saving ...
                </span>
                <span v-else
                    v-bind:class="{'coe-val-changed': has_working_oc_coe_changed}">
                    <i class="fa fa-save"></i>
                    Save the Current Assessment
                </span>
            </button>


            <!-- <button class="btn btn-sm btn-default mr-1">
                Use Algorithm Results as Judgement
            </button> -->

        </div>


    <div style="width: 100%; height: calc(100% - 80px); overflow-y: auto; overflow-x: hidden;">

    <!-- loop on different cates of CoE -->
    <!-- <div v-if="working_oc_extract == null">
        Loading outcome details or no details found.
    </div> -->

    <div v-for="coe_cate in get_coe_cates(working_oc_extract.meta.input_format)"
        class="coe-cate-box">
        <h4>{{ coe_cate.title }} Certainty of Evidence</h4>

        <!-- first, the summary of all measurements -->
        <table class="coe-table">
            <tr>
                <th>
                    &nbsp;
                </th>
                <th class="coe-item-column">
                    Overall CoE
                </th>
                <th class="coe-item-column">
                    Risk of Bias
                </th>
                <th class="coe-item-column">
                    Inconsistency
                </th>
                <th class="coe-item-column">
                    Indirectness
                </th>
                <th class="coe-item-column">
                    Imprecision
                </th>
                <th class="coe-item-column">
                    Publication Bias
                </th>
                <th class="coe-item-column">
                    Importance
                </th>
            </tr>
            

            <tr>
                <td class="">
                    <i class="far fa-user"></i>
                    Reviwer
                </td>
                <td class="text-center">
                    <!-- the overall is automatically calced -->
                    <span v-bind:class="'coe-val-' + get_val_from_coe(oc_dict[working_oc_abbr].meta.coe[coe_cate.key], 'rj', 'overall')"
                        class="pl-2 pr-2">
                        {{ val_to_label(get_val_from_coe(oc_dict[working_oc_abbr].meta.coe[coe_cate.key], 'rj', 'overall'), 'overall') }}
                    </span>
                </td>
                <td class="text-center">
                    <select v-bind:class="'coe-val-' + get_val_from_coe(oc_dict[working_oc_abbr].meta.coe[coe_cate.key], 'rj', 'risk_of_bias')"
                        v-model="oc_dict[working_oc_abbr].meta.coe[coe_cate.key].rj.decision.risk_of_bias"
                        v-on:change="on_change_coe"
                        class="coe-item-select pl-2 pr-2">
                        <option value="4">Extremely serious</option>
                        <option value="3">Very serious</option>
                        <option value="2">Serious</option>
                        <option value="1">No serious</option>
                        <option value="0">Not specified</option>
                    </span>
                </td>
                <td class="text-center">
                    <select v-bind:class="'coe-val-' + get_val_from_coe(oc_dict[working_oc_abbr].meta.coe[coe_cate.key], 'rj', 'inconsistency')"
                        v-model="oc_dict[working_oc_abbr].meta.coe[coe_cate.key].rj.decision.inconsistency"
                        v-on:change="on_change_coe"
                        class="coe-item-select pl-2 pr-2">
                        <option value="4">Extremely serious</option>
                        <option value="3">Very serious</option>
                        <option value="2">Serious</option>
                        <option value="1">No serious</option>
                        <option value="0">Not specified</option>
                    </select>
                </td>
                <td class="text-center">
                    <select v-bind:class="'coe-val-' + get_val_from_coe(oc_dict[working_oc_abbr].meta.coe[coe_cate.key], 'rj', 'indirectness')"
                        v-model="oc_dict[working_oc_abbr].meta.coe[coe_cate.key].rj.decision.indirectness"
                        v-on:change="on_change_coe"
                        class="coe-item-select pl-2 pr-2">
                        <option value="4">Extremely serious</option>
                        <option value="3">Very serious</option>
                        <option value="2">Serious</option>
                        <option value="1">No serious</option>
                        <option value="0">Not specified</option>
                    </select>
                </td>
                <td class="text-center">
                    <select v-bind:class="'coe-val-' + get_val_from_coe(oc_dict[working_oc_abbr].meta.coe[coe_cate.key], 'rj', 'imprecision')"
                        v-model="oc_dict[working_oc_abbr].meta.coe[coe_cate.key].rj.decision.imprecision"
                        v-on:change="on_change_coe"
                        class="coe-item-select pl-2 pr-2">
                        <option value="4">Extremely serious</option>
                        <option value="3">Very serious</option>
                        <option value="2">Serious</option>
                        <option value="1">No serious</option>
                        <option value="0">Not specified</option>
                    </select>
                </td>
                <td class="text-center">
                    <select v-bind:class="'coe-val-' + get_val_from_coe(oc_dict[working_oc_abbr].meta.coe[coe_cate.key], 'rj', 'publication_bias')"
                        v-model="oc_dict[working_oc_abbr].meta.coe[coe_cate.key].rj.decision.publication_bias"
                        v-on:change="on_change_coe"
                        class="coe-item-select pl-2 pr-2">
                        <option value="2">Strongly suspected</option>
                        <option value="1">Undetected</option>
                        <option value="0">Not applicable</option>
                    </select>
                </td>
                <td class="text-center">
                    <select v-bind:class="'coe-val-' + get_val_from_coe(oc_dict[working_oc_abbr].meta.coe[coe_cate.key], 'rj', 'importance')"
                        v-model="oc_dict[working_oc_abbr].meta.coe[coe_cate.key].rj.decision.importance"
                        v-on:change="on_change_coe"
                        class="coe-item-select pl-2 pr-2">
                        <option value="2">Critical</option>
                        <option value="1">Important</option>
                        <option value="0">Not applicable</option>
                    </select>
                </td>
            </tr>


            <tr>
                <td>
                    <i class="fas fa-code-branch"></i>
                    Algorithm
                </td>
                <td class="text-center">
                    <!-- the overall is automatically calced -->
                    <span v-bind:class="'coe-val-' + get_val_from_coe(oc_dict[working_oc_abbr].meta.coe[coe_cate.key], 'ar', 'overall')"
                        class="pl-2 pr-2">
                        {{ val_to_label(get_val_from_coe(oc_dict[working_oc_abbr].meta.coe[coe_cate.key], 'ar', 'overall'), 'overall') }}
                    </span>
                </td>
                <td class="text-center">
                    <!-- this is automatically calculated by algorithm -->
                    <span v-bind:class="'coe-val-' + get_val_from_coe(oc_dict[working_oc_abbr].meta.coe[coe_cate.key], 'ar', 'risk_of_bias')"
                        class="pl-2 pr-2">
                        {{ val_to_label(get_val_from_coe(oc_dict[working_oc_abbr].meta.coe[coe_cate.key], 'ar', 'risk_of_bias'), 'risk_of_bias') }}
                    </span>
                </td>
                <td class="text-center">
                    <!-- this is automatically calculated by algorithm -->
                    <span v-bind:class="'coe-val-' + get_val_from_coe(oc_dict[working_oc_abbr].meta.coe[coe_cate.key], 'ar', 'inconsistency')"
                        class="pl-2 pr-2">
                        {{ val_to_label(get_val_from_coe(oc_dict[working_oc_abbr].meta.coe[coe_cate.key], 'ar', 'inconsistency'), 'inconsistency') }}
                    </span>
                </td>
                <td class="text-center">
                    <!-- this is automatically calculated by algorithm -->
                    <span v-bind:class="'coe-val-' + get_val_from_coe(oc_dict[working_oc_abbr].meta.coe[coe_cate.key], 'ar', 'indirectness')"
                        class="pl-2 pr-2">
                        {{ val_to_label(get_val_from_coe(oc_dict[working_oc_abbr].meta.coe[coe_cate.key], 'ar', 'indirectness'), 'indirectness') }}
                    </span>
                </td>
                <td class="text-center">
                    <!-- this is automatically calculated by algorithm -->
                    <span v-bind:class="'coe-val-' + get_val_from_coe(oc_dict[working_oc_abbr].meta.coe[coe_cate.key], 'ar', 'imprecision')"
                        class="pl-2 pr-2">
                        {{ val_to_label(get_val_from_coe(oc_dict[working_oc_abbr].meta.coe[coe_cate.key], 'ar', 'imprecision'), 'imprecision') }}
                    </span>
                </td>
                <td class="text-center">
                    <!-- this is automatically calculated by algorithm -->
                    <span v-bind:class="'coe-val-' + get_val_from_coe(oc_dict[working_oc_abbr].meta.coe[coe_cate.key], 'ar', 'publication_bias')"
                        class="pl-2 pr-2">
                        {{ val_to_label(get_val_from_coe(oc_dict[working_oc_abbr].meta.coe[coe_cate.key], 'ar', 'publication_bias'), 'publication_bias') }}
                    </span>
                </td>
                <td class="text-center">
                    <!-- this is automatically calculated by algorithm -->
                    <span v-bind:class="'coe-val-' + get_val_from_coe(oc_dict[working_oc_abbr].meta.coe[coe_cate.key], 'ar', 'importance')"
                        class="pl-2 pr-2">
                        {{ val_to_label(get_val_from_coe(oc_dict[working_oc_abbr].meta.coe[coe_cate.key], 'ar', 'importance'), 'importance') }}
                    </span>
                </td>
            </tr>
        </table>

        <!-- second, tabs for each indicator -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <button class="btn btn-sm btn-default mr-3"
                    @click="assess_coe_by_algorithm('rob')">
                    <i class="fas fa-sync"></i>
                    Assess CoE by Algorithm
                </button>
            </li>
            <li class="nav-item">
                <a class="nav-link" 
                    :class="{'active': active_coe_tab[coe_cate.key]=='outcome_info'}"
                    @click="show_coe_tab(coe_cate.key, 'outcome_info')">
                    Outcome Overview
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" 
                    :class="{'active': active_coe_tab[coe_cate.key]=='risk_of_bias'}"
                    @click="show_coe_tab(coe_cate.key, 'risk_of_bias')">
                    Risk of Bias
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" 
                    :class="{'active': active_coe_tab[coe_cate.key]=='inconsistency'}"
                    @click="show_coe_tab(coe_cate.key, 'inconsistency')">
                    Inconsistency
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" 
                    :class="{'active': active_coe_tab[coe_cate.key]=='indirectness'}"
                    @click="show_coe_tab(coe_cate.key, 'indirectness')">
                    Indirectness
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" 
                    :class="{'active': active_coe_tab[coe_cate.key]=='imprecision'}"
                    @click="show_coe_tab(coe_cate.key, 'imprecision')">
                    Imprecision
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" 
                    :class="{'active': active_coe_tab[coe_cate.key]=='publication_bias'}"
                    @click="show_coe_tab(coe_cate.key, 'publication_bias')">
                    Publication Bias
                </a>
            </li>
        </ul>


        <!-- Outcome information -->
        <div v-show="active_coe_tab[coe_cate.key]=='outcome_info'">
        </div>


        <!-- risk of bias -->
        <!-- first, show the basic summary -->
        <div v-show="active_coe_tab[coe_cate.key]=='risk_of_bias'">
            <!-- <div v-for="exts, paper_rob in get_working_oc_rob_dist()"
                class="d-flex flex-column border mr-3 pl-3 pr-3 pt-2 pb-2">
                <div class="rob-item-label">
                    {{ val_to_label(paper_rob, 'risk_of_bias') }} |
                    N=<b>{{ exts.length }}</b>
                </div>
                <div class="d-flex flex-row">
                    <div v-for="ext in exts"
                        :title="ext.pid"
                        :class="'coe-val-' + get_rob_decision(ext)"
                        class="rob-item-cell">
                        <span class="text-sm"
                            >
                            {{ get_rob_decision(ext) }}
                        </span>
                    </div>
                </div>
            </div> -->

        </div>


        <!-- Inconsistency -->
        <div v-show="active_coe_tab[coe_cate.key]=='inconsistency'">

            inconsistency
        </div>


        <!-- Indirectness -->
        <div v-show="active_coe_tab[coe_cate.key]=='indirectness'">

            indirectness
        </div>


        <!-- Imprecision -->
        <div v-show="active_coe_tab[coe_cate.key]=='imprecision'">

            imprecision
        </div>


        <!-- Publication Bias -->
        <div v-show="active_coe_tab[coe_cate.key]=='publication_bias'">

            publication_bias
        </div>

    
    
    </div>

            



                


    </div>


    </div>

</div>
<!-- /#app_coemgr -->


</div>
<!-- /#main -->


{% endblock %}


{% block script %}
<!-- mark.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>

<script>

{% include 'js/coe_helper.js' %}
{% include 'js/srv_shared.js' %}
{% include 'js/srv_analyzer.js' %}
{% include "js/srv_extractor.js" %}

///////////////////////////////////////////////////////////
// bind the project information to srv_extractor.js
///////////////////////////////////////////////////////////

srv_extractor.project = [[ project_json_str|safe ]];


var app_coemgr = {
    vpp: null,
    vpp_id: '#app_coemgr',
    vpp_data: {
        pwma_table: null,

        pwma_table_columns: [
            // column 0
            {
                title: 'Group',
                className: 'col-group',
                orderable: true
            }
        ],

        /**
          usually, there should be only one meta-analysis for each outcome
          but it's also possible that there are multiple MAs for a single outcome
          so, need to enable a data structure to support this kind of MAs:
        
          OC x 1 -> MA x N

          for most case, N = 1.

          Then, need to define a 
        */
        
        filter_keyword: '',
        
        oc_dict: {},
        itable: {},

        active_coe_tab: {
            main: 'outcome_info',
            g34: 'outcome_info',
            g3h: 'outcome_info',
            g5n: 'outcome_info',
        },
        
        // related to working on
        display_coe_panel: false,
        working_oc_abbr: null,
        working_oc_extract: null,
        working_coe_domain: null,
        has_working_oc_coe_changed: false,
        is_saving_working_oc_coe: false,
        use_itable_rob_data: false,
    },
    vpp_methods: {
        get_coe_cates: function(input_format) {
            if (input_format == 'PRIM_CAT_RAW_G5') {
                return [
                    {key: 'main', title: 'All Grade'},
                    {key: 'g34',  title: 'Grade 3/4'},
                    {key: 'g3h',  title: 'Grade 3 or Higher'},
                    {key: 'g5n',  title: 'Grade 5 Only'},
                ]
            } else {
                return [
                    {key: 'main', title: ''}
                ]
            }
        },

        show_coe_tab: function(coe_cate_key, coe_domain) {
            this.active_coe_tab[coe_cate_key] = coe_domain;
        },

        set_extracts: function(extracts) {
            // update the oc_dict
            this.oc_dict = {};
            for (let i = 0; i < extracts.length; i++) {
                this.oc_dict[extracts[i].abbr] = extracts[i];
            }
            console.log('* set extracts', extracts);
        },

        set_itable: function(itable) {
            this.itable = itable;
            console.log('* set itable', itable);
        },

        get_val_from_coe: function(coe, type, domain) {
            return coe_helper.get_val_from_coe(coe, type, domain);
        },

        get_rob_decision: function(ext) {
            return coe_helper.get_rob_decision(ext);
        },

        val_to_label: function(val, domain) {
            return coe_helper.val_to_label(val, domain);
        },

        show_coe_panel: function(oc_abbr) {
            // load data for this oc
            srv_extractor.get_extract_by_id(
                this.oc_dict[oc_abbr].extract_id,
                this._callback_show_coe_panel
            );
        },

        _callback_show_coe_panel: function(data) {
            // update the working info
            this.working_oc_extract = data.extract;
            this.working_oc_abbr = this.working_oc_extract.abbr;

            // show the panel
            this.display_coe_panel = true;
            console.log('* set working oc', data.extract);
            jarvis.toast(
                'Loaded outcome [' + 
                data.extract.meta.full_name + '] ' + 
                'full dataset.'
            );
        },

        hide_coe_panel: function() {
            if (this.is_saving_working_oc_coe ||
                this.has_working_oc_coe_changed) {
                if (jarvis.confirm('Assessments are not saved, are you sure to leave it unsaved?')) {
                    this.has_working_oc_coe_changed = false;
                } else {
                    return;
                }
            }

            // clear status
            this.display_coe_panel = false;
            this.working_oc_abbr = null;
            this.working_oc_extract = null;
            this.working_coe_domain = null;
        },

        on_change_coe: function(event) {
            this.has_working_oc_coe_changed = true;
            this.$forceUpdate();
        },

        update_oc_dict_by_extract: function(extract) {
            this.oc_dict[extract.abbr] = extract;
            this.$forceUpdate();

            // update status?
            this.has_working_oc_coe_changed = false;

            // show something?
            jarvis.toast(
                'Updated CoE for ' + 
                extract.meta.group + ' | ' + 
                extract.meta.category + ' | [' + 
                extract.meta.full_name + ']'
            );
        },

        save_working_oc_coe: function() {
            // ok, save the current working coe
            var extract_id = this.oc_dict[this.working_oc_abbr].extract_id;
            var coe = this.oc_dict[this.working_oc_abbr].meta.coe;

            // update saving
            this.is_saving_working_oc_coe = true;

            // save it
            srv_extractor.update_extract_coe_meta(
                extract_id,
                coe,
                function(data) {
                    app_coemgr.vpp.$data.is_saving_working_oc_coe = false;
                    // update extract
                    app_coemgr.vpp.update_oc_dict_by_extract(
                        data.extract
                    );
                }
            );
        },

        get_exts: function(oc, itable, use_itable_rob_data) {
            if (typeof(use_itable_rob_data) == 'undefined') {
                use_itable_rob_data = false;
            }

            var exts = [];
            for (const pid in oc.data) {
                if (!oc.data[pid].is_selected) {
                    continue;
                }
                // copy this extract
                var ext = JSON.parse(JSON.stringify(oc.data[pid].attrs.main.g0));

                // extend the pid
                ext.pid = pid;

                // extend the information from italbe if needed
                if (use_itable_rob_data) {
                    if (itable.data.hasOwnProperty(pid)) {
                        // extend! on
                        Object.assign(
                            ext,
                            itable.data[pid].attrs.main.g0
                        )
                    }
                }

                exts.push(ext);
            }

            console.log('* got ' + exts.length + ' exts', exts);
            return exts;
        },

        get_working_oc_rob_dist: function() {
            // first, get exts
            var exts = this.get_exts(
                this.working_oc_extract,
                this.itable,
                this.use_itable_rob_data
            );

            // second, get dist
            var dist = coe_helper.get_oc_rob_dist(exts);
            console.log("* got the distribution of rob", dist);

            return dist;
        },

        assess_coe_by_algorithm: function(domain) {

        }

        

    },

    init: function() {
        this.vpp = new Vue({
            el: this.vpp_id,
            data: this.vpp_data,
            methods: this.vpp_methods,
            updated: function() {

            },
            mounted: function() {
            }
        });

        console.log('* inited app_coemgr');
    },

    load: function() {
        var project_id = Cookies.get('project_id');
        var cq_abbr = Cookies.get('cq_abbr');

        srv_extractor.get_extracts(
            project_id, 
            cq_abbr,
            function(data) {
                console.log(data);
                app_coemgr.vpp.set_extracts(data.extracts);
            }
        );

        srv_extractor.get_itable(
            project_id, 
            cq_abbr,
            function(data) {
                console.log(data);
                app_coemgr.vpp.set_itable(data.extract);
            }
        );
    }
};

var jarvis = {

    init: function() {
        // set cq_abbr if not 
        this.set_default_cq();
        
        // get the outcome abbr from url
        var oc_abbr = jarvis.get_url_paramter('abbr');

        // init the shared service
        srv_shared.update_labels_by_project_settings(
            srv_extractor.project.settings
        );

        // init the UI
        app_coemgr.init();

        // load data
        app_coemgr.load();

        // bind resize event
        this.bind_resize_event();

        this.resize();
    },

    prompt: function(text, value) {
        return window.prompt(text, value);
    },

    confirm: function(text) {
        return window.confirm(text);
    },

    toast: function(s, s_type) {
        if (typeof(s_type) == 'undefined') {
            s_type = 'info';
        }
        toast(s, s_type);
    },

    get_year: function(s) {
        const regex = /\d{4}/gm;
        let m;
        if ((m = regex.exec(s)) !== null) {
            return m[0];
        }
        return '';
    },

    get_first_author: function(s) {
        var aus = s.split(';');
        if (aus.length == 1) {
            aus = s.split(',');
        }
        return aus[0];
    },

    download_file: function(fn) {
        // fixed image download bug
        // Thanks to https://stackoverflow.com/questions/17311645/download-image-with-javascript
        var a = $('<a>').attr('href', '/f/' + fn)
            .attr('download', fn)
            .appendTo("body");
        a[0].click()
        a.remove();
    },

    bind_resize_event: function() {
        $(window).on('resize', function(){
            jarvis.resize();
        });
    },

    resize: function() {
        var win_height = $(document).height();
        $('#pwma_datatable_box').height(win_height - 100);
    }
};

{% include 'js/jarvis_ext_utils.js' %}

$(document).ready(function() {
    jarvis.init();
});
</script>
{% endblock %}