{% extends '_layout_adminlte.html' %}

{% block title %}
Extract Data
{% endblock %}

{% block page_name %}
<i class="fa fa-edit"></i>
Extract Data 
<!-- of 
<a href="javascript:void(0);" onclick="alert('test')">
    []
</a> -->
{% endblock %}

{% block active_nav_link %}extractor-extract-data{% endblock %}

{% block style %}
<style>
    
{% include 'css/basic.css' %}
{% include 'css/extractor.css' %}
{% include 'css/util.css' %}

html {
    overflow-x: hidden;
    overflow-y: hidden;
}

#main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 0 0 0 10px;
    overflow: hidden;
}

</style>

<!-- jQuery UI Theme -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">


{% endblock %}

{% block content %}

<div id="main">


{% include 'extractor/extract_data_ocpapers.html' %}


<ul id="pan_ocpapers_ctx_menu" style="display: none;">
    
</ul>


<ul id="pan_ocpapers_ocs_menu" style="display: none;">

</ul>


<div id="win_collector">
    <div style="position: absolute; top: 0; left: -40px; width: 40px; height: 40px; background-color: white;">
        <div style="font-size: large; width: 40px; height: 40px; line-height: 40px; text-align: center; cursor: pointer;"
            onclick="pan_collector.hide(); pan_ocpapers.hide_working_paper_pan();">
            <i class="fa fa-close"></i>
        </div>
    </div>
    {% include 'extractor/_pan_collector.html' %}
</div>


</div>
<!-- /#main -->


{% endblock %}


{% block script %}
<!-- mark.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>

<script>

{% include 'js/srv_analyzer.js' %}
{% include "js/srv_extractor.js" %}

{% include "js/srv_pdfworker.js" %}

///////////////////////////////////////////////////////////
// bind the project information to srv_extractor.js
///////////////////////////////////////////////////////////

srv_extractor.project = [[ project_json_str|safe ]];

///////////////////////////////////////////////////////////
// pan_collector for viewing basic information and PDF
///////////////////////////////////////////////////////////

{% include "js/pan_collector.js" %}

var pan_ocpapers = {
    vpp_id: "#pan_ocpapers",
    vpp: null,
    vpp_data: {
        // flags
        show_settings: true,
        only_show_selected: false,
        show_col_nct: false,

        // for display:
        thr1s: [],
        thr2s: [],

        // working pmid when clicking on paper
        show_working_paper_pan: false,
        show_working_paper_collector: false,

        // the working paper
        working_paper: null,

        // working arm
        // null means main arm
        // numbers mean other arm
        working_paper_arm: null,

        // working oc
        working_oc: null,

        // mode
        mode: 'extract_data',

        // data
        all_attrs: null,
        show_attrs: null,
        extract: null,
        papers: []
    },

    vpp_methods: {
        toggle_only_show_selected: function() {
            this.only_show_selected = !this.only_show_selected;
        },

        toggle_on_all_attributes: function() {
            for (const key in this.show_attrs) {
                if (Object.hasOwnProperty.call(this.show_attrs, key)) {
                    this.show_attrs[key] = true;
                }
            }
            this.$forceUpdate();
        },

        toggle_off_all_attributes: function() {
            for (const key in this.show_attrs) {
                if (Object.hasOwnProperty.call(this.show_attrs, key)) {
                    this.show_attrs[key] = false;
                }
            }
            this.$forceUpdate();
        },

        // save all!
        update_extract: function() {
            pan_ocpapers.update_extract();
        },

        goto_analysis: function() {
            location.href = srv_analyzer.url.azoc + 
                '?abbr=' + this.working_oc.abbr;
        },
        
        get_input_size: function(str) {
            // convert null to empty
            if (typeof(str) == 'undefined' || str == null) {
                str = '';
            }
            // convert number to string
            str = '' + str;
            var s = str.length;
            if (s<pan_ocpapers.MIN_INPUT_AUTO_SIZE) {
                return pan_ocpapers.MIN_INPUT_AUTO_SIZE;
            } else if (s > pan_ocpapers.MAX_INPUT_AUTO_SIZE) {
                return pan_ocpapers.MAX_INPUT_AUTO_SIZE;
            } else {
                return s;
            }
        },

        // update the value
        on_change_input_value: function(event) {
            let val = event.target.value;
            console.log('Changed input_format: ' + val);
        },

        // get year
        get_year: function(s) {
            return jarvis.get_year(s);
        },

        get_first_author: function(s) {
            return jarvis.get_first_author(s);
        },

        on_change_input_format: function(event) {
            let val = event.target.value;
            console.log('Changed input_format: ' + val);

            // update the attrs
            this.working_oc.meta.cate_attrs = srv_extractor.tpl.input_format[
                this.working_oc.oc_type
            ][val];
            
            // update the papers setting
            pan_ocpapers.update_all_and_show_attrs();
        },

        on_toggle_attr_selection: function(attr_abbr, event) {
            this.$forceUpdate();
        },

        on_click_paper: function(paper) {
            // set the working pmid ?
            this.working_paper = paper;
            this.show_working_paper_pan = true;
            this.show_working_paper_collector = true;

            // get the pid / pmid
            var pmid = paper.pid;

            // highlight this line
            $('.paper-table-row').removeClass('paper-table-row-clicked');
            $('#paper-table-row-' + pmid).addClass('paper-table-row-clicked');

            // call collector to do something
            pan_collector.show_paper(
                pmid, 
                pan_ocpapers.vpp.$data.working_oc.data[pmid]
            );

            // the draggable 
            // $( "#pan_ocpapers_working_paper" ).draggable({ 
            //     handle: "div#pan_ocpapers_working_paper_title",
            //     containment: "#pan_ocpapers", 
            //     scroll: false
            // });
        },

        toggle_select_all_papers: function(event) {
            let val = event.srcElement.checked;
            console.log('* set all papers selected: ', val);
            for (const pmid in this.working_oc.data) {
                if (Object.hasOwnProperty.call(this.working_oc.data, pmid)) {
                    this.working_oc.data[pmid].is_selected = val;
                }
            }
            // this.$forceUpdate();
        },

        on_toggle_itable_select_category: function(cate_idx, event) {
            let val = event.srcElement.checked;

            for (let i = 0; i < this.working_oc.meta.cate_attrs[cate_idx].attrs.length; i++) {
                const attr = this.working_oc.meta.cate_attrs[cate_idx].attrs[i];

                if (attr.subs == null) {
                    this.show_attrs[attr.abbr] = val;

                } else {
                    this.show_attrs[attr.abbr] = val;
                    for (let j = 0; j < attr.subs.length; j++) {
                        const sub = attr.subs[j];
                        this.show_attrs[sub.abbr] = val;
                    }
                }
            }
            // force update the UI because change a lot
            this.$forceUpdate();
        },

        on_change_itable_n_arms: function(pmid, event) {
            let n_arms = event.target.value;
            console.log('* change ' + pmid + ' n_arms to ' + n_arms);
            
            this.working_oc.data[pmid] = srv_extractor.set_n_arms(
                this.working_oc.data[pmid], n_arms
            );
            this.$forceUpdate();
        },

        on_change_only_show_selected: function(event) {
            // let val = event.srcElement.checked;                    
            // this.only_show_selected = val;
            this.$forceUpdate();
        },

        /////////////////////////////////////////////////////
        // For the working paper extraction
        /////////////////////////////////////////////////////
        is_show_attr: function(abbr) {
            return this.show_attrs[abbr];
        },

        save_working_paper_extraction: function() {
            var pid = this.working_paper.pid;
            var oc = this.working_oc;

            pan_ocpapers.save_working_paper_extraction(
                pid, oc
            );
        },

        set_n_arms: function() {
            var n_arms = this.working_oc.data[this.working_paper.pid].n_arms;
            console.log('* set n_arms to', n_arms);

            // update the other to match the number
            this.working_oc.data[this.working_paper.pid] = srv_extractor.set_n_arms(
                this.working_oc.data[this.working_paper.pid], n_arms
            );

            // update current working arm to main
            this.switch_working_arm(null);
            
            this.$forceUpdate();
        },

        switch_working_arm: function(arm_idx) {
            console.log('* switch_working_arm', arm_idx);
            this.working_paper_arm = arm_idx;

            // update the working arm
            $('.w-arm-tab').removeClass('btn-primary');
            $('#working_paper_arm_tab_' + arm_idx).addClass('btn-primary');
        },

        get_working_arm_attrs: function() {
            if (this.working_paper_arm == null) {
                return this.working_oc.data[this.working_paper.pid].attrs.main;
            } else {
                return this.working_oc.data[this.working_paper.pid].attrs.other[
                    this.working_paper_arm
                ];
            }
        },
    },

    // the working abbr
    extract_abbr: null,

    // all extracts, a list and a dictionary
    extracts: [],
    extract_dict: {},

    MIN_INPUT_AUTO_SIZE: 4,
    MAX_INPUT_AUTO_SIZE: 16,

    init: function() {
        this.vpp = new Vue({
            el: this.vpp_id,
            data: this.vpp_data,
            computed: {
                n_selected: function() {
                    var n = 0;
                    for (const pmid in this.working_oc.data) {
                        if (Object.hasOwnProperty.call(this.working_oc.data, pmid)) {
                            if (this.working_oc.data[pmid].is_selected) {
                                n += 1;
                            };
                        }
                    }
                    return n;
                }
            },
            updated: function() {
                pan_ocpapers.resize();

                // update the autocomplete
                pan_ocpapers.update_autocomplete();
            },
            methods: this.vpp_methods
        });
    
        
    },

    set_mode: function(mode) {
        this.vpp.$data.mode = mode;
    },

    load_all_outcomes: function() {
        var project_id = Cookies.get('project_id');

        srv_extractor.get_extracts(project_id, function(data) {
            // update the outcome selection menu
            console.log(data);
            pan_ocpapers.extracts = data.extracts;

            // update the outcome dictionary
            for (let i = 0; i < data.extracts.length; i++) {
                const extract = data.extracts[i];
                var oc_type = extract.oc_type;
                var group = extract.meta.group;
                var cate = extract.meta.category;

                // add oc_type
                if (!pan_ocpapers.extract_dict.hasOwnProperty(oc_type)) {
                    pan_ocpapers.extract_dict[oc_type] = {}
                }

                // add group
                if (!pan_ocpapers.extract_dict[oc_type].hasOwnProperty(group)) {
                    pan_ocpapers.extract_dict[oc_type][group] = {}
                }

                // add cate
                if (!pan_ocpapers.extract_dict[oc_type][group].hasOwnProperty(cate)) {
                    pan_ocpapers.extract_dict[oc_type][group][cate] = [];
                }

                // put this ext into cate
                pan_ocpapers.extract_dict[oc_type][group][cate].push(
                    extract.meta
                );

            }

            // update the ocs_menu according to the extracts
            pan_ocpapers.update_ocs_menu(data.extracts);
        });
    },

    update: function(data) {
        // the data is a combo of extract and papers
        this.vpp.working_oc = data.extract;
        this.vpp.papers = data.papers;

        // update the all_attrs and show_attrs variables for display
        this.hide_working_paper_pan();
        pan_collector.hide();

        // shortcut
        if (this.vpp.working_oc.oc_type == 'itable') {
            this.update_all_and_show_attrs_for_itable();
        } else {
            this.update_all_and_show_attrs_for_outcome();
        }

        // update
        this.vpp.$forceUpdate();
    },

    update_all_and_show_attrs_for_itable: function() {
        // for itable, just show attr + sub
        // for outcomes, just show cate + attr
        // init the all_attrs which for list all the nested attrs
        this.vpp.all_attrs = [];

        // init the show_attrs
        this.vpp.show_attrs = {}

        // for display
        this.vpp.thr1s = [];
        this.vpp.thr2s = [];

        // loop on the cate_attrs
        for (let i = 0; i < this.vpp.working_oc.meta.cate_attrs.length; i++) {
            const cate = this.vpp.working_oc.meta.cate_attrs[i];

            for (let j = 0; j < cate.attrs.length; j++) {
                const attr = cate.attrs[j];
                
                var thr1 = {
                    name: '',
                    abbr: attr.abbr,
                    cols: 0
                }

                var thr2 = null;
                if (attr.subs == null) {
                    // which means this attr doesn't have a sub
                    this.vpp.all_attrs.push(attr);
                    this.vpp.show_attrs[attr.abbr] = false;
                    
                    // also increase the first row
                    thr1.cols += 1;

                    // just this attr
                    thr2 = {
                        name: attr.name,
                        abbr: attr.abbr,
                        cols: 1
                    };
                    this.vpp.thr2s.push(thr2);

                } else {
                    this.vpp.show_attrs[attr.abbr] = false;

                    for (let k = 0; k < attr.subs.length; k++) {
                        const sub = attr.subs[k];
                        this.vpp.all_attrs.push(sub);
                        this.vpp.show_attrs[sub.abbr] = false;

                        // update the display count
                        thr1.cols += 1;

                        thr2 = {
                            name: sub.name,
                            abbr: sub.abbr,
                            cols: 1
                        };
                        this.vpp.thr2s.push(thr2);
                    }
                }

                this.vpp.thr1s.push(thr1);

            }

        }

        // update
        this.vpp.$forceUpdate();
    },


    update_all_and_show_attrs_for_outcome: function() {
        // for itable, just show attr + sub
        // for outcomes, just show cate + attr
        // init the all_attrs which for list all the nested attrs
        this.vpp.all_attrs = [];

        // init the show_attrs
        this.vpp.show_attrs = {}

        // for display
        this.vpp.thr1s = [];
        this.vpp.thr2s = [];

        // loop on the cate_attrs
        for (let i = 0; i < this.vpp.working_oc.meta.cate_attrs.length; i++) {
            const cate = this.vpp.working_oc.meta.cate_attrs[i];

            var thr1 = {
                name: cate.name,
                abbr: cate.abbr,
                cols: 0
            }
            this.vpp.show_attrs[cate.abbr] = true;
            for (let j = 0; j < cate.attrs.length; j++) {
                const attr = cate.attrs[j];
                
                thr1.cols += 1;

                var thr2 = {
                    name: attr.name,
                    abbr: attr.abbr,
                    cols: 0
                }
                if (attr.subs == null) {
                    // which means this attr doesn't have a sub
                    this.vpp.all_attrs.push(attr);
                    this.vpp.show_attrs[attr.abbr] = true;
                    
                    // update the display row count
                    thr2.cols += 1;

                } else {
                    this.vpp.show_attrs[attr.abbr] = true;

                    for (let k = 0; k < attr.subs.length; k++) {
                        const sub = attr.subs[k];
                        this.vpp.all_attrs.push(sub);
                        this.vpp.show_attrs[sub.abbr] = true;

                        // update the display count
                        thr2.cols += 1;

                        // also increase the first row
                        thr1.cols += 1;
                    }
                }
                this.vpp.thr2s.push(thr2);
            }

            this.vpp.thr1s.push(thr1);
        }

        // update
        this.vpp.$forceUpdate();
    },


    show_extract_and_papers: function(abbr) {
        this.extract_abbr = abbr;

        // update the url if not equal
        var url = srv_extractor.url.extract_data + "?abbr=" + abbr;
        window.history.pushState("", "", url);

        // get the data 
        var project_id = Cookies.get('project_id');
        srv_extractor.get_extract_and_papers(
            project_id,
            abbr,
            function(data) {
                pan_ocpapers.update(data);
            }
        );
    },

    save_working_paper_extraction: function(pid, oc) {
        var project_id = Cookies.get('project_id');
        var oc_type = oc.oc_type;
        var abbr = oc.abbr;

        // prepare the incremental data for update
        var data = {};
        data[pid] = oc.data[pid];

        // and since we add this extraction
        // this paper is also selected?
        // no, the selected is for public site

        srv_extractor.update_extract_incr_data(
            project_id,
            oc_type,
            abbr,
            data,
            function(data) {
                // the data contain a paer
                console.log(data);

                jarvis.toast('Update [' + data.extract.meta.full_name + '] with current extraction');

                // update
                pan_ocpapers.show_extract_and_papers(
                    pan_ocpapers.extract_abbr
                );
            }
        );
    },

    update_extract: function() {
        // there are 
        var project_id = Cookies.get('project_id');
        var oc_type = this.vpp.$data.working_oc.oc_type;
        var abbr = this.vpp.$data.working_oc.abbr;
        var meta = this.vpp.$data.working_oc.meta;
        var data = this.vpp.$data.working_oc.data;

        // send request!
        srv_extractor.update_extract_incr_data(
            project_id,
            oc_type,
            abbr,
            data,
            function(data) {
                // show result
                jarvis.toast('Saved the outcome [' + data.extract.meta.full_name + ']');

                // reload the outcomes
                pan_ocpapers.show_extract_and_papers(
                    pan_ocpapers.extract_abbr
                );
            }
        )
    },

    show_ocs_menu: function() {
        var top = 40;
        var left = 90;
        $("#pan_ocpapers_ocs_menu").css({
            position: 'absolute',
            display: "block",
            top: top,
            left: left
        }).addClass("show").menu();

        $("#pan_ocpapers_ocs_menu").menu('refresh');

        $('#pan_ocpapers_ocs_menu .ui-menu-item').on('click', function() {
            $("#pan_ocpapers_ocs_menu").hide();
        });
    },

    update_ocs_menu: function(extracts) {
        // loop on the cate_attrs
        var html = [];

        // first item is the itable
        html.push('<li class="oc-menu-item"><div onclick="pan_ocpapers.show_extract_and_papers(\'itable\');">Interactive Table</div></li>')

        // then, add the pwma
        html.push('<li class="oc-menu-item"><div>PWMA Outcomes</div><ul>');
        
        // then the primary analysis
        html.push('<li class="oc-menu-item"><div>Primary Analysis</div><ul>');
        if (pan_ocpapers.extract_dict.hasOwnProperty('pwma') &&
            pan_ocpapers.extract_dict.pwma.hasOwnProperty('primary')) {
            
            // loop on cates
            for (const cate in pan_ocpapers.extract_dict['pwma']['primary']) {
                const exts = pan_ocpapers.extract_dict['pwma']['primary'][cate];
                html.push(
                    '<li class="oc-menu-item"><div>'+cate+'</div><ul>'
                );
                // loop on each one
                for (let i = 0; i < exts.length; i++) {
                    const ext = exts[i];
                    html.push(
                        '<li class="oc-menu-item"><div onclick="pan_ocpapers.show_extract_and_papers(\''+ext.abbr+'\');">'+ext.full_name+'</div></li>'
                    );
                }
                html.push(
                    '</ul></li>'
                );
            }
        }
        html.push('</ul></li>'); // end of the primary analysis

        // then the sensitivity analysis
        html.push('<li class="oc-menu-item"><div>Sensitivity Analysis</div>');
        if (pan_ocpapers.extract_dict.hasOwnProperty('pwma') &&
            pan_ocpapers.extract_dict.pwma.hasOwnProperty('sensitivity')) {
            
            html.push('<ul>');

            // loop on cates
            for (const cate in pan_ocpapers.extract_dict['pwma']['sensitivity']) {
                const exts = pan_ocpapers.extract_dict['pwma']['sensitivity'][cate];
                html.push(
                    '<li class="oc-menu-item"><div>'+cate+'</div><ul>'
                );
                // loop on each one
                for (let i = 0; i < exts.length; i++) {
                    const ext = exts[i];
                    html.push(
                        '<li class="oc-menu-item"><div onclick="pan_ocpapers.show_extract_and_papers(\''+ext.abbr+'\');">'+ext.full_name+'</div></li>'
                    );
                }
                html.push(
                    '</ul></li>'
                );
            }

            html.push('</ul>'); // end of the list

        }
        html.push('</li>'); // end of the sensitivity analysis


        // then the subgroup
        html.push('<li class="oc-menu-item"><div>Subgroup Analysis</div>');
        if (pan_ocpapers.extract_dict.hasOwnProperty('subg') &&
            pan_ocpapers.extract_dict.subg.hasOwnProperty('default')) {

            html.push('<ul>');

            html.push('</ul>'); // end of the list
        }
        html.push('</li>'); // end of the subgroup analysis


        html.push('</ul></li>'); // end of the pwma


        // last is the NMA
        html.push('<li class="oc-menu-item"><div>NMA Outcomes</div>');
        if (pan_ocpapers.extract_dict.hasOwnProperty('nma')) {
            html.push('<ul>')
            html.push('</ul>'); // end of the list
        }
        html.push('</li>'); // end of the subgroup analysis


        // put the new html into box
        $('#pan_ocpapers_ocs_menu').html(
            html.join('')
        );
    },

    __update_ocs_menu_html: function(html, name, abbr) {
        // add a new oc
        html.push(
            '<li class="oc-menu-item">'+
            '<div onclick="pan_ocpapers.show_extract_and_papers(\''+abbr+'\');">'+ 
                name +
            '</div></li>'
        );

        return html;
    },
    

    show_working_paper: function() {
        var w_win_collector = $('#win_collector').width();
        $('#pan_ocpapers_working_paper').css('top', 50);
        $('#pan_ocpapers_working_paper').css('right', '65%');
        $('#pan_ocpapers_working_paper').css('left', '');
    },

    show: function() {
        $(this.vpp_id).show();
    },

    hide: function() {
        $(this.vpp_id).hide();
    },

    hide_working_paper_pan: function() {
        this.vpp.show_working_paper_pan = false;
    },

    set_size: function(size) {
        $(this.vpp_id).removeClass('panel-s panel-m panel-l')
            .addClass('panel-' + size);
    },

    resize: function() {
        var w = $(window).width() - 90;
        var h = $(window).height() - 50;
        $(this.vpp_id)
            .css('width', w)
            .css('height', h);

        var h_attrs = $('#pan_ocpapers_attrs').height();
        $('#pan_ocpapers_paperlist').css('height', h - h_attrs - 40);

        // resize the working paper panel
        $('#pan_ocpapers_working_paper_collector_attr_list').css('max-height', h - 150);
    }
};


{% include 'js/pan_ocpapers_ext_wpc.js' %}


var jarvis = {

    getUrlParameter: function(name) {
        name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
        var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
        var results = regex.exec(location.search);
        return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
    },

    goto_screener: function(project_id, title) {
        Cookies.set('project_id', project_id);
        Cookies.set('project_title', title);

        location.href = '[[ url_for("screener.overview") ]]';
    },

    init: function() {
        // get the outcome abbr from url
        var oc_abbr = jarvis.getUrlParameter('abbr');

        // init the UI
        pan_ocpapers.init();
        pan_collector.init();

        // resize
        pan_ocpapers.resize();

        // load all outcomes for generating the selection menu
        pan_ocpapers.load_all_outcomes();

        // the load the init outcomes
        if (oc_abbr == '') {

        } else {
            pan_ocpapers.show_extract_and_papers(oc_abbr);

        }

        // bind resize event
        this.bind_resize_event();

        // remove the context menu for 
        document.addEventListener('click', function(event) {
            // close the menu when click anywhere
            $("#pan_ocpapers_ctx_menu").hide();
        });
    },

    prompt: function(text, value) {
        return window.prompt(text, value);
    },

    confirm: function(text) {
        return window.confirm(text);
    },

    toast: function(s, s_type) {
        if (typeof(s_type) == 'undefined') {
            s_type = 'info';
        }
        toast(s, s_type);
    },


    get_year: function(s) {
        const regex = /\d{4}/gm;
        let m;
        if ((m = regex.exec(s)) !== null) {
            return m[0];
        }
        return '';
    },

    get_first_author: function(s) {
        var aus = s.split(';');
        if (aus.length == 1) {
            aus = s.split(',');
        }
        return aus[0];
    },

    download_file: function(fn) {
        // fixed image download bug
        // Thanks to https://stackoverflow.com/questions/17311645/download-image-with-javascript
        var a = $('<a>').attr('href', '/f/' + fn)
            .attr('download', fn)
            .appendTo("body");
        a[0].click()
        a.remove();
    },

    bind_resize_event: function() {
        $(window).on('resize', function(){
            pan_ocpapers.resize();
            pan_collector.resize();
        });
    }
};

$(document).ready(function() {
    jarvis.init();
});
</script>
{% endblock %}