{% extends '_layout_adminlte.html' %}

{% block title %}
Extract Data
{% endblock %}

{% block page_name %}
<i class="fa fa-edit"></i>
Extract Data 
<!-- of 
<a href="javascript:void(0);" onclick="alert('test')">
    []
</a> -->
{% endblock %}

{% block active_nav_link %}extractor-extract-data{% endblock %}

{% block style %}
<style>
html {
    overflow-x: hidden;
    overflow-y: hidden;
}
/* badge */
.badge-ckl {
    color: #fff;
    background-color: #b88d17;
}

#main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 0 0 0 10px;
    overflow: hidden;
}
#pan_outcomes {
    height: 100%;
    overflow-y: auto;
}
.cate-line {
    cursor: pointer;
}
.cate-extract-line {
    border-left: 1px solid black;
    padding: 0 0 0 10px;
    margin: 0 0 0 10px;
}
.cate-extract-line:hover {
    background-color: aquamarine;
}
.cate-extract-line-clicked {
    background-color: aquamarine;
}
.cate-extract-name {
    width: 250px;
    min-width: 250px;
    max-width: 250px;
}
.cate-extract-name:hover {
    cursor: pointer;
}
.cate-extract-col {
    min-width: 60px;
    width: 100px;
    max-width: 200px;
    font-size: .9em;
    padding: 0 .5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-xs {
    padding: .15rem .5rem;
    font-size: .8rem;
    line-height: 1.2;
    border-radius: .2rem;
}
.paper-table-body-td-author {
    width: 190px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.paper-table-body-cell {
    display: block;
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.paper-table-header-th {
    
    border-left: 1px solid rgb(211, 211, 211);
    border-right: 1px solid rgb(211, 211, 211);    
}

.paper-list tr:nth-child(even) {background: rgb(232, 232, 232)}
.paper-list tr:nth-child(odd) {background: whitesmoke}

.paper-table-row {
    min-height: 24px;
}
.paper-table-row:hover {
    background: #cccccc;
}
.paper-table-row-clicked {
    background-color: rgb(189, 228, 238) !important;
}
.paper-table-row-clicked .paper-name {
    font-weight: bold;
}


.paper-extract-input-auto {
    font-family: 'Courier New', Courier, monospace;
    font-size: .9em;
    padding: 0 3px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #cccccc;
}

.n-arms-hr {
    margin: 1px 0 !important;
}
.cell-input {
    margin: 0 0 2px 0 !important;
}
.extract-attr-label {
    font-weight: normal !important;
}
.extract-attr-sub-label {
    font-weight: normal !important;
}

.extract-table {
    font-size: 0.88em;
}

.extract-table th, 
.extract-table td{
    border-bottom: 1px dotted #dfdfdf;
}


#pan_ocpapers_ctx_menu {
    border: 2px solid #EFEFEF;
    box-shadow: 0px 0px 15px #cccccc;
    z-index: 99;
}
#pan_ocpapers_ctx_menu_txt {
    color: black;
}
#pan_ocpapers_ctx_menu .menu-header {
    font-size: .8em;
    background-color: #ececec;
}
#pan_ocpapers_ctx_menu .menu-info {
    font-size: .8em;
}
#pan_ocpapers_ctx_menu .menu-item {
    font-size: .9em;
}
#pan_ocpapers_ctx_menu .ui-menu { 
    width: 280px; 
    max-width: 320px;
}


#pan_ocpapers_ocs_menu {
    border: 1px solid #dddddd;
    box-shadow: 5px 5px 10px #cccccc;
    z-index: 99;
}
#pan_ocpapers_ocs_menu .ui-menu { 
    width: 280px; 
    max-width: 320px;
}


#pan_collector {

}
#ifr_pdfviewer {
    width: 100%;
    height: 400px;
    min-height: 400px;
}

#win_collector {
    min-width: 1100px;
    width: 65%;
    height: 100%;
    position: absolute;
    right: 5000px;
    background-color: #ffffff;
    padding: 5px 10px;
}

#pan_ocpapers_working_paper {
    width: 180px;
    padding: 5px;
    height: auto;
    position: absolute;
    z-index: 95;
    top: 50px;
    right: 65%;
    background: white;
    font-size: .9em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#pan_ocpapers_working_paper_title {
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    text-align: center;
    font-weight: bold;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    background-color: #dedede;

    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
#pan_ocpapers_working_paper_title:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
#pan_ocpapers_working_paper_attr_list {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

#pan_ocpapers_working_paper_attr_list div.w-attr-item:nth-child(even) {background: white; }
#pan_ocpapers_working_paper_attr_list div.w-attr-item:nth-child(odd) {background: whitesmoke; }

.w-remove-content {
    padding: 5px 5px;
    color: grey;
    font-size: 9px;
    cursor: pointer;
}
.w-remove-content:hover {
    background-color: lightcoral;
    color: white;
}
.w-attr-item {
    border-bottom: 1px dotted #dedede;
    padding: 3px 0;
}
.w-attr-item-name {
    font-size: .9em;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ui-autocomplete {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.ui-menu-item-wrapper {
    font-size: .9em;
}

.txt-red {
    color: rgb(250, 89, 89);
    background: rgb(255, 205, 205);
    padding: 0;
    margin: 0;
}

.txt-yellow {
    background: rgb(238, 219, 171);
    color: darkgoldenrod;
    padding: 0;
    margin: 0;
}

.txt-orange {
    background: rgb(247, 226, 188);
    color: orange;
    padding: 0;
    margin: 0;
}

.txt-green {
    color: rgb(1, 56, 1);
    background: rgb(223, 245, 223);
    padding: 0;
    margin: 0;
}

.txt-blue {
    background: rgb(214, 214, 255);
    color: darkblue;
    padding: 0;
    margin: 0;
}

.txt-purple {
    background: rgb(250, 183, 250);
    color: purple;
    padding: 0;
    margin: 0;
}
</style>

<!-- jQuery UI Theme -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">


{% endblock %}

{% block content %}

<div id="main">


{% include 'extractor/extract_data_ocpapers.html' %}


<ul id="pan_ocpapers_ctx_menu" style="display: none;">
    
</ul>


<ul id="pan_ocpapers_ocs_menu" style="display: none;">

</ul>


<div id="win_collector">
    <div style="position: absolute; top: 0; left: -40px; width: 40px; height: 40px; background-color: white;">
        <div style="font-size: large; width: 40px; height: 40px; line-height: 40px; text-align: center; cursor: pointer;"
            onclick="pan_collector.hide(); pan_ocpapers.hide_working_paper_pan();">
            <i class="fa fa-close"></i>
        </div>
    </div>
    {% include 'extractor/extract_data_collector.html' %}
</div>


</div>
<!-- /#main -->


{% endblock %}


{% block script %}
<!-- mark.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>

<script>

{% include "js/srv_extractor.js" %}

{% include "js/srv_pdfworker.js" %}

///////////////////////////////////////////////////////////
// bind the project information to srv_extractor.js
///////////////////////////////////////////////////////////

srv_extractor.project = [[ project_json_str|safe ]];


var pan_ocpapers = {
    vpp_id: "#pan_ocpapers",
    vpp: null,

    // the working abbr
    extract_abbr: null,

    // all extracts, a list and a dictionary
    extracts: [],
    extract_dict: {},

    MIN_INPUT_AUTO_SIZE: 4,
    MAX_INPUT_AUTO_SIZE: 16,

    init: function() {
        this.vpp = new Vue({
            el: this.vpp_id,
            data: {
                // flags
                show_settings: true,
                only_show_selected: true,
                show_col_nct: false,

                // for display:
                thr1s: [],
                thr2s: [],

                // working pmid when clicking on paper
                working_paper: null,
                show_working_paper_pan: false,

                // mode
                mode: 'extract_data',

                // data
                all_attrs: null,
                show_attrs: null,
                extract: null,
                papers: []
            },
            computed: {
                n_selected: function() {
                    var n = 0;
                    for (const pmid in this.extract.data) {
                        if (Object.hasOwnProperty.call(this.extract.data, pmid)) {
                            if (this.extract.data[pmid].is_selected) {
                                n += 1;
                            };
                        }
                    }
                    return n;
                }
            },
            updated: function() {
                pan_ocpapers.resize();

                // update the autocomplete
                pan_ocpapers.update_autocomplete();
            },
            methods: {
                toggle_show_settings: function() {
                    this.show_settings = !this.show_settings;
                },

                toggle_on_all_attributes: function() {
                    for (const key in this.show_attrs) {
                        if (Object.hasOwnProperty.call(this.show_attrs, key)) {
                            this.show_attrs[key] = true;
                        }
                    }
                    this.$forceUpdate();
                },

                toggle_off_all_attributes: function() {
                    for (const key in this.show_attrs) {
                        if (Object.hasOwnProperty.call(this.show_attrs, key)) {
                            this.show_attrs[key] = false;
                        }
                    }
                    this.$forceUpdate();
                },

                // save all!
                update_extract: function() {
                    pan_ocpapers.update_extract();
                },
                
                get_input_size: function(str) {
                    // convert null to empty
                    if (typeof(str) == 'undefined' || str == null) {
                        str = '';
                    }
                    // convert number to string
                    str = '' + str;
                    var s = str.length;
                    if (s<pan_ocpapers.MIN_INPUT_AUTO_SIZE) {
                        return pan_ocpapers.MIN_INPUT_AUTO_SIZE;
                    } else if (s > pan_ocpapers.MAX_INPUT_AUTO_SIZE) {
                        return pan_ocpapers.MAX_INPUT_AUTO_SIZE;
                    } else {
                        return s;
                    }
                },

                // update the value
                on_change_input_value: function(event) {
                    let val = event.target.value;
                    console.log('Changed input_format: ' + val);
                },

                // get year
                get_year: function(s) {
                    return jarvis.get_year(s);
                },

                get_first_author: function(s) {
                    return jarvis.get_first_author(s);
                },

                on_change_input_format: function(event) {
                    let val = event.target.value;
                    console.log('Changed input_format: ' + val);

                    // update the attrs
                    this.extract.meta.cate_attrs = srv_extractor.tpl.input_format[
                        this.extract.oc_type
                    ][val];
                    
                    // update the papers setting
                    pan_ocpapers.update_all_and_show_attrs();
                },

                on_toggle_attr_selection: function(attr_abbr, event) {
                    this.$forceUpdate();
                },

                on_click_paper: function(paper) {
                    // set the working pmid ?
                    this.working_paper = paper;
                    this.show_working_paper_pan = true;

                    // get the pid / pmid
                    var pmid = paper.pid;

                    // highlight this line
                    $('.paper-table-row').removeClass('paper-table-row-clicked');
                    $('#paper-table-row-' + pmid).addClass('paper-table-row-clicked');

                    // call collector to do something
                    pan_collector.show_paper(
                        pmid, 
                        pan_ocpapers.vpp.$data.extract.data[pmid]
                    );

                    // the draggable 
                    $( "#pan_ocpapers_working_paper" ).draggable({ 
                        handle: "div#pan_ocpapers_working_paper_title",
                        containment: "#pan_ocpapers", 
                        scroll: false
                    });
                },

                toggle_select_all_papers: function(event) {
                    let val = event.srcElement.checked;
                    console.log('* set all papers selected: ', val);
                    for (const pmid in this.extract.data) {
                        if (Object.hasOwnProperty.call(this.extract.data, pmid)) {
                            this.extract.data[pmid].is_selected = val;
                        }
                    }
                    // this.$forceUpdate();
                },

                on_toggle_itable_select_category: function(cate_idx, event) {
                    let val = event.srcElement.checked;

                    for (let i = 0; i < this.extract.meta.cate_attrs[cate_idx].attrs.length; i++) {
                        const attr = this.extract.meta.cate_attrs[cate_idx].attrs[i];

                        if (attr.subs == null) {
                            this.show_attrs[attr.abbr] = val;
                        } else {
                            for (let j = 0; j < attr.subs.length; j++) {
                                const sub = attr.subs[j];
                                this.show_attrs[sub.abbr] = val;
                            }
                        }
                    }
                    // force update the UI because change a lot
                    this.$forceUpdate();
                },

                on_change_itable_n_arms: function(pmid, event) {
                    let val = event.target.value;
                    console.log('* change ' + pmid + ' n_arms to ' + val);

                    var new_n_others = val - 2;
                    if (new_n_others == this.extract.data[pmid].attrs.other.length) {
                        // which means the number of arms doesn't change

                    } else if (new_n_others > this.extract.data[pmid].attrs.other.length) {
                        // the number of arms increases, need to put more elements
                        var delta = new_n_others - this.extract.data[pmid].attrs.other.length;
                        for (let i = 0; i < delta; i++) {
                            // just copy the keys from main track
                            var obj = JSON.parse(JSON.stringify(this.extract.data[pmid].attrs.main));
                            // and clear the exising data
                            for (const key in obj) {
                                if (Object.hasOwnProperty.call(obj, key)) {
                                    obj[key] = '';
                                }
                            }
                            this.extract.data[pmid].attrs.other.push(obj);
                        }
                    } else {
                        // the number of arms decreases, need to remove
                        var delta = this.extract.data[pmid].attrs.other.length - new_n_others;
                        for (let i = 0; i < delta; i++) {
                            this.extract.data[pmid].attrs.other.pop();
                        }
                    }
                    this.$forceUpdate();
                },

                on_change_only_show_selected: function(event) {
                    // let val = event.srcElement.checked;                    
                    // this.only_show_selected = val;
                    this.$forceUpdate();
                }
            }
        });
    
        
    },

    set_mode: function(mode) {
        this.vpp.$data.mode = mode;
    },

    load_all_outcomes: function() {
        var project_id = Cookies.get('project_id');

        srv_extractor.get_extracts(project_id, function(data) {
            // update the outcome selection menu
            console.log(data);
            pan_ocpapers.extracts = data.extracts;

            // update the outcome dictionary
            for (let i = 0; i < data.extracts.length; i++) {
                const extract = data.extracts[i];
                var oc_type = extract.oc_type;
                var group = extract.meta.group;
                var cate = extract.meta.category;

                // add oc_type
                if (!pan_ocpapers.extract_dict.hasOwnProperty(oc_type)) {
                    pan_ocpapers.extract_dict[oc_type] = {}
                }

                // add group
                if (!pan_ocpapers.extract_dict[oc_type].hasOwnProperty(group)) {
                    pan_ocpapers.extract_dict[oc_type][group] = {}
                }

                // add cate
                if (!pan_ocpapers.extract_dict[oc_type][group].hasOwnProperty(cate)) {
                    pan_ocpapers.extract_dict[oc_type][group][cate] = [];
                }

                // put this ext into cate
                pan_ocpapers.extract_dict[oc_type][group][cate].push(
                    extract.meta
                );

            }

            // update the ocs_menu according to the extracts
            pan_ocpapers.update_ocs_menu(data.extracts);
        });
    },

    update: function(data) {
        // the data is a combo of extract and papers
        this.vpp.extract = data.extract;
        this.vpp.papers = data.papers;

        // update the all_attrs and show_attrs variables for display
        this.hide_working_paper_pan();
        pan_collector.hide();

        // shortcut
        if (this.vpp.extract.oc_type == 'itable') {
            this.update_all_and_show_attrs_for_itable();
        } else {
            this.update_all_and_show_attrs_for_outcome();
        }

        // update
        this.vpp.$forceUpdate();
    },

    update_autocomplete: function() {
        $('.input-auto-complete').each(function(idx, elem) {
            var abbr = $(elem).attr('abbr');
            var values = pan_ocpapers.get_values_by_abbr(abbr);

            // console.log('* found abbr '+ abbr+' values ' + values);

            if (values.length == 0) {
                // no value for this abbr yet
                return;
            }

            $(elem).autocomplete({
                source: values,
                minLength: 0,

                select: function (e, ui) {
                    // console.log("selected!", e, ui);
                    var abbr = $(e.target).attr('abbr');
                    var pid = pan_ocpapers.vpp.$data.working_paper.pid;
                    var val = ui.item.value;

                    console.log('* selected', val, 'for', abbr, 'of', pid);

                    // set the value
                    pan_ocpapers.vpp.$data.extract.data[pid].attrs.main[abbr] = val;
                },

                change: function (e, ui) {
                    // console.log("changed!", e, ui);
                }

            }).on('focus', function(event) {
                $(this).autocomplete('search');
            });
        });
        console.log('* updated autocomplete');
    },

    get_values_by_abbr: function(abbr) {
        var v = {};

        for (const pid in this.vpp.$data.extract.data) {
            const paper = this.vpp.$data.extract.data[pid];                
            if (paper.is_selected) {
                // get the main values
                var val = paper.attrs.main[abbr];
                v[val] = 1;

                // get the values from 
                for (let i = 0; i < paper.attrs.other.length; i++) {
                    const arm = paper.attrs.other[i];
                    if (arm.hasOwnProperty(abbr)) {
                        var arm_val = arm[abbr];
                        v[arm_val] = 1;
                    }
                }
            }
        }

        var distinct_vals = Object.keys(v);

        distinct_vals = distinct_vals.filter(function(item) {
            return item !== '' && item !== 'null' && item !== 'undefined'
        });

        // console.log('* got distinct_vals', distinct_vals)

        return distinct_vals;
    },

    update_all_and_show_attrs_for_itable: function() {
        // for itable, just show attr + sub
        // for outcomes, just show cate + attr
        // init the all_attrs which for list all the nested attrs
        this.vpp.all_attrs = [];

        // init the show_attrs
        this.vpp.show_attrs = {}

        // for display
        this.vpp.thr1s = [];
        this.vpp.thr2s = [];

        // loop on the cate_attrs
        for (let i = 0; i < this.vpp.extract.meta.cate_attrs.length; i++) {
            const cate = this.vpp.extract.meta.cate_attrs[i];

            for (let j = 0; j < cate.attrs.length; j++) {
                const attr = cate.attrs[j];
                
                var thr1 = {
                    name: '',
                    abbr: attr.abbr,
                    cols: 0
                }

                var thr2 = null;
                if (attr.subs == null) {
                    // which means this attr doesn't have a sub
                    this.vpp.all_attrs.push(attr);
                    this.vpp.show_attrs[attr.abbr] = false;
                    
                    // also increase the first row
                    thr1.cols += 1;

                    // just this attr
                    thr2 = {
                        name: attr.name,
                        abbr: attr.abbr,
                        cols: 1
                    };
                    this.vpp.thr2s.push(thr2);

                } else {
                    for (let k = 0; k < attr.subs.length; k++) {
                        const sub = attr.subs[k];
                        this.vpp.all_attrs.push(sub);
                        this.vpp.show_attrs[sub.abbr] = false;

                        // update the display count
                        thr1.cols += 1;

                        thr2 = {
                            name: sub.name,
                            abbr: sub.abbr,
                            cols: 1
                        };
                        this.vpp.thr2s.push(thr2);
                    }
                }

                this.vpp.thr1s.push(thr1);

            }

        }

        // update
        this.vpp.$forceUpdate();
    },


    update_all_and_show_attrs_for_outcome: function() {
        // for itable, just show attr + sub
        // for outcomes, just show cate + attr
        // init the all_attrs which for list all the nested attrs
        this.vpp.all_attrs = [];

        // init the show_attrs
        this.vpp.show_attrs = {}

        // for display
        this.vpp.thr1s = [];
        this.vpp.thr2s = [];

        // loop on the cate_attrs
        for (let i = 0; i < this.vpp.extract.meta.cate_attrs.length; i++) {
            const cate = this.vpp.extract.meta.cate_attrs[i];

            var thr1 = {
                name: cate.name,
                abbr: cate.abbr,
                cols: 0
            }
            this.vpp.show_attrs[cate.abbr] = true;
            for (let j = 0; j < cate.attrs.length; j++) {
                const attr = cate.attrs[j];
                
                thr1.cols += 1;

                var thr2 = {
                    name: attr.name,
                    abbr: attr.abbr,
                    cols: 0
                }
                if (attr.subs == null) {
                    // which means this attr doesn't have a sub
                    this.vpp.all_attrs.push(attr);
                    this.vpp.show_attrs[attr.abbr] = true;
                    
                    // update the display row count
                    thr2.cols += 1;

                } else {
                    for (let k = 0; k < attr.subs.length; k++) {
                        const sub = attr.subs[k];
                        this.vpp.all_attrs.push(sub);
                        this.vpp.show_attrs[sub.abbr] = true;

                        // update the display count
                        thr2.cols += 1;

                        // also increase the first row
                        thr1.cols += 1;
                    }
                }
                this.vpp.thr2s.push(thr2);
            }

            this.vpp.thr1s.push(thr1);
        }

        // update
        this.vpp.$forceUpdate();
    },


    get_current_extract_and_papers: function() {
        if (this.vpp.$data.extract == null) {
            return null;
        }
        
        // build a object
        var ret = {
            extract: this.vpp.$data.extract,
            papers: this.vpp.$data.papers
        };

        return ret;
    },

    show_extract_and_papers: function(abbr) {
        this.extract_abbr = abbr;

        // update the url if not equal
        var url = srv_extractor.url.extract_data + "?abbr=" + abbr;
        window.history.pushState("", "", url);

        // get the data 
        var project_id = Cookies.get('project_id');
        $.get(
            srv_extractor.url.get_extract_and_papers,
            {project_id:project_id, abbr:abbr, rnd:Math.random()},
            function(data) {
                pan_ocpapers.update(data);

            }, 'json'
        );
    },

    update_extract: function() {
        // there are 
        var project_id = Cookies.get('project_id');
        var oc_type = this.vpp.$data.extract.oc_type;
        var abbr = this.vpp.$data.extract.abbr;
        var meta = this.vpp.$data.extract.meta;
        var data = this.vpp.$data.extract.data;

        // send request!
        $.post(
            srv_extractor.url.update_extract,
            {project_id:project_id, oc_type:oc_type, abbr:abbr,
             meta:JSON.stringify(meta), data:JSON.stringify(data)},
            function(data) {
                // show
                toast('Saved the outcome [' + data.extract.meta.full_name + ']');
                // reload the outcomes
                pan_ocpapers.show_extract_and_papers(
                    pan_ocpapers.extract_abbr
                );
            }
        );
    },

    show_ocs_menu: function() {
        var top = 40;
        var left = 90;
        $("#pan_ocpapers_ocs_menu").css({
            position: 'absolute',
            display: "block",
            top: top,
            left: left
        }).addClass("show").menu();

        $("#pan_ocpapers_ocs_menu").menu('refresh');

        $('#pan_ocpapers_ocs_menu .ui-menu-item').on('click', function() {
            $("#pan_ocpapers_ocs_menu").hide();
        });
    },

    update_ocs_menu: function(extracts) {
        // loop on the cate_attrs
        var html = [];

        // first item is the itable
        html.push('<li class="oc-menu-item"><div onclick="pan_ocpapers.show_extract_and_papers(\'itable\');">Interactive Table</div></li>')

        // then, add the pwma
        html.push('<li class="oc-menu-item"><div>PWMA Outcomes</div><ul>');
        
        // then the primary analysis
        html.push('<li class="oc-menu-item"><div>Primary Analysis</div><ul>');
        if (pan_ocpapers.extract_dict.hasOwnProperty('pwma') &&
            pan_ocpapers.extract_dict.pwma.hasOwnProperty('primary')) {
            
            // loop on cates
            for (const cate in pan_ocpapers.extract_dict['pwma']['primary']) {
                const exts = pan_ocpapers.extract_dict['pwma']['primary'][cate];
                html.push(
                    '<li class="oc-menu-item"><div>'+cate+'</div><ul>'
                );
                // loop on each one
                for (let i = 0; i < exts.length; i++) {
                    const ext = exts[i];
                    html.push(
                        '<li class="oc-menu-item"><div onclick="pan_ocpapers.show_extract_and_papers(\''+ext.abbr+'\');">'+ext.full_name+'</div></li>'
                    );
                }
                html.push(
                    '</ul></li>'
                );
            }
        }
        html.push('</ul></li>'); // end of the primary analysis

        // then the sensitivity analysis
        if (pan_ocpapers.extract_dict.hasOwnProperty('pwma') &&
            pan_ocpapers.extract_dict.pwma.hasOwnProperty('sensitivity')) {
            
            html.push('<li class="oc-menu-item"><div>Sensitivity Analysis</div><ul>');

            html.push('</ul></li>'); // end of the primary analysis

        }

        // then the subgroup
        if (pan_ocpapers.extract_dict.hasOwnProperty('subg') &&
            pan_ocpapers.extract_dict.subg.hasOwnProperty('default')) {

            html.push('<li class="oc-menu-item"><div>Subgroup Analysis</div><ul>');

            html.push('</ul></li>'); // end of the nma
        }

        html.push('</ul></li>'); // end of the pwma


        // last is the NMA
        if (pan_ocpapers.extract_dict.hasOwnProperty('nma')) {
            html.push('<li class="oc-menu-item"><div>NMA Outcomes</div><ul>');
            html.push('</ul></li>'); // end of the nma
        }

        // put the new html into box
        $('#pan_ocpapers_ocs_menu').html(
            html.join('')
        );
    },

    __update_ocs_menu_html: function(html, name, abbr) {
        // add a new oc
        html.push(
            '<li class="oc-menu-item">'+
            '<div onclick="pan_ocpapers.show_extract_and_papers(\''+abbr+'\');">'+ 
                name +
            '</div></li>'
        );

        return html;
    },
    
    ///////////////////////////////////////////////////////////////////////////
    // Functions related to collector
    ///////////////////////////////////////////////////////////////////////////
    /**
     * Set the highlight text to pid in the box
     * 
     * seq: null means `main`, 0 to x means item index in `other`
     */
     set_highlight_text_to_attr: function(highlight_text, pid, attr_abbr, seq) {
        console.log('* set_highlight_text_to_attr: ' + highlight_text + ', ' + pid + ', ' + attr_abbr + ', ' + seq);

        // update the value for the specific paper
        if (seq == null) {
            // it means this is the main track
            this.vpp.$data.extract.data[pid].attrs.main[attr_abbr] = highlight_text;
        } else {
            // this means the value is for other arms
            this.vpp.$data.extract.data[pid].attrs.other[seq][attr_abbr] = highlight_text;
        }
        // update UI
        this.vpp.$forceUpdate();
    },

    update_ctx_menu: function(highlight_text, pid, n_arms) {
        // loop on the cate_attrs
        var html = [
            '<li class="ui-state-disabled menu-info"><div>',
                '<i class="fa fa-close"></i> ',
                'Highlighted <b id="pan_ocpapers_ctx_menu_txt">'+highlight_text+'</b> is:',
            '</div></li>'
        ];

        // this is for the main extracting
        // the last argument is null, means it's the main track
        html = this.__update_ctx_menu_html(html, highlight_text, pid, null);

        // this is for the other extracting (i.e., multiple arms)
        if (n_arms > 2) {
            html.push('<li class="ui-state-disabled menu-header"><div>Other Arms</div></li>');
            
            for (let a = 0; a < n_arms - 2; a++) {
                html.push('<li class="menu-item"><div>Arm '+(a+1)+'</div><ul>');
                html = this.__update_ctx_menu_html(html, highlight_text, pid, a);
                html.push('</ul></li>')
            }
        }

        // put the new html into box
        $('#pan_ocpapers_ctx_menu').html(
            html.join('')
        );
    },

    __update_ctx_menu_html: function(html, highlight_text, pid, seq) {

        for (let i = 0; i < this.vpp.extract.meta.cate_attrs.length; i++) {

            const cate = this.vpp.extract.meta.cate_attrs[i];

            // put a new cate
            html.push('<li class="ui-state-disabled menu-header"><div>'+cate.name+'</div></li>');

            var flag_has_shown_attr = false;
            for (let j = 0; j < cate.attrs.length; j++) {
                const attr = cate.attrs[j];
                
                if (attr.subs == null) {
                    var is_show = this.vpp.show_attrs[attr.abbr];
                    if (is_show) {
                        html.push(
                        '<li class="menu-item">' +
                            '<div onclick="pan_ocpapers.set_highlight_text_to_attr(\''+highlight_text+'\', \''+pid+'\', \''+attr.abbr+'\', '+seq+')">' +
                            attr.name +
                            '</div>' +
                        '</li>'
                        );
                        flag_has_shown_attr = true;
                    }
                } else {
                    for (let k = 0; k < attr.subs.length; k++) {
                        const sub = attr.subs[k];
                        if (this.vpp.show_attrs[sub.abbr]) {
                            html.push(
                            '<li class="menu-item">' +
                                '<div onclick="pan_ocpapers.set_highlight_text_to_attr(\''+highlight_text+'\', \''+pid+'\', \''+sub.abbr+'\', '+seq+')">' +
                                attr.name + ' - ' + sub.name +
                                '</div>' +
                            '</li>'
                            );
                            flag_has_shown_attr = true;
                        }
                    }
                }
            }

            if (flag_has_shown_attr) {
                //
            } else {
                html.pop();
            }
            
        }

        return html;
    },

    show_working_paper: function() {
        var w_win_collector = $('#win_collector').width();
        $('#pan_ocpapers_working_paper').css('top', 50);
        $('#pan_ocpapers_working_paper').css('right', '65%');
        $('#pan_ocpapers_working_paper').css('left', '');
    },

    show: function() {
        $(this.vpp_id).show();
    },

    hide: function() {
        $(this.vpp_id).hide();
    },

    hide_working_paper_pan: function() {
        this.vpp.show_working_paper_pan = false;
    },

    set_size: function(size) {
        $(this.vpp_id).removeClass('panel-s panel-m panel-l')
            .addClass('panel-' + size);
    },

    resize: function() {
        var w = $(window).width() - 90;
        var h = $(window).height() - 50;
        $(this.vpp_id)
            .css('width', w)
            .css('height', h);

        // resize the working paper panel
        // $('#pan_ocpapers_working_paper').css('height', h-10);
    }
};


var pan_collector = {
    vpp_id: "#pan_collector",
    vpp: null,
    pdfviewer_id: '#ifr_pdfviewer',
    current: {
        paper: null,
        extract_paper: null
    },

    mark_keywords_as_color: function(keywords, color) {
        $('#pan_collector_basic_info').mark(
            keywords,
            { className: 'txt-' + color, separateWordSearch: false }
        );
    },

    init: function() {
        this.vpp = new Vue({
            el: this.vpp_id,
            data: {
                paper: null,
                show_tab: null
            },
            updated: function() {
            },
            methods: {
                switch_tab: function(tab_name) {
                    this.show_tab = tab_name;
                },

                view_pdf: function(paper_id, file_id, folder) {
                    pan_collector.view_pdf(paper_id, file_id, folder);
                },

                upload_pdfs: function() {
                    pan_collector.upload_pdfs();
                },

                download_pdf: function(file_id, folder) {
                    srv_pdfworker.download_pdf(null, file_id, folder);
                },

                remove_pdf: function(paper_id, file_id, folder, display_name) {
                    srv_pdfworker.remove_pdf(
                        paper_id, file_id, folder, display_name,
                        function(data) {
                            console.log('* removed', data)
                            jarvis.toast('Removed PDF file successfully');
                            // update display
                            pan_collector.update(data.paper);
                        }
                    );
                },

                get_year: function(s) {
                    return jarvis.get_year(s);
                },

                get_first_author: function(s) {
                    return jarvis.get_first_author(s);
                },
            },
            updated: function() {
                // pan_collector.bind_txt_ctx_menu();
            }
        });

        this.resize();

        // bind the context menu
        this.bind_txt_ctx_menu();
    },

    bind_txt_ctx_menu: function() {
        // $(this.vpp_id + '_basic_info').on('contextmenu', function(event) {
        $(this.vpp_id).on('contextmenu', function(event) {
            // get the highlighted text
            var text = "";
            if (window.getSelection) {
                text = window.getSelection().toString();
            } else if (document.selection && document.selection.type != "Control") {
                text = document.selection.createRange().text;
            }
            // remove the white paddings
            text = text.trim();
            console.log('* found highlighted text', text);

            // no need to show the menu when no text is selected
            if (text.length == 0) {
                return false;
            }

            // update the context menu content based on the selected attributes.
            // all of the details about this paper is need to generate the menu.
            // but since the attrs are only available in pan_ocpapers,
            // we have to use pan_oc
            pan_ocpapers.update_ctx_menu(
                text, 
                pan_collector.current.paper.pid,
                pan_collector.current.extract_paper.n_arms
            );

            // show the context menu at where clicked
            var top = event.pageY - 20;
            var left = event.pageX;
            
            $("#pan_ocpapers_ctx_menu").css({
                position: 'absolute',
                display: "block",
                top: top,
                left: left
            }).addClass("show").menu();

            $("#pan_ocpapers_ctx_menu").menu('refresh');

            $('#pan_ocpapers_ctx_menu .ui-menu-item').on('click', function() {
                $("#pan_ocpapers_ctx_menu").hide();
            });

            //blocks default Webbrowser right click menu
            return false; 
        });
        console.log('* binded ctx menu')
    },

    on_contextmenu_pdfviewer: function(event) {
        // get text
        var text = this.get_pdf_selection_text();
        
        // update the menu
        pan_ocpapers.update_ctx_menu(
            text, 
            pan_collector.current.paper.pid,
            pan_collector.current.extract_paper.n_arms
        );

        // show the context menu at where clicked
        // need to calculate the offset for the iframe
        var offset = $('#ifr_pdfviewer').offset();
        var top = offset.top + event.pageY - 20;
        var left = offset.left + event.pageX;
        
        $("#pan_ocpapers_ctx_menu").css({
            position: 'absolute',
            display: "block",
            top: top,
            left: left
        }).addClass("show").menu();

        $("#pan_ocpapers_ctx_menu").menu('refresh');

        $('#pan_ocpapers_ctx_menu .ui-menu-item').on('click', function() {
            $("#pan_ocpapers_ctx_menu").hide();
        });
    },

    get_pdf_selection_text: function() {
        var txt = '';
        txt = document.getElementById('ifr_pdfviewer').contentWindow.getSelection().toString();

        return txt;
    },

    update: function(paper) {
        // update data
        this.vpp.paper = paper;
        this.current.paper = paper;

        // update the normal UI
        this.vpp.show_tab = 'basic_info';
        this.vpp.$forceUpdate();

        // update the keywords highlight
        this.vpp.$nextTick(function () {
            console.log('* pan_collector UI updated');
            pan_collector.mark_keywords_as_color(
                srv_extractor.project.settings.highlight_keywords.inclusion,
                'green'
            );
        });

        // update the PDF viewer
        // this.load_pdf();

        // notifiy the ocpaper to show the working paper
        pan_ocpapers.show_working_paper();
    },

    show_paper: function(pid, extract_paper) {
        // set loc to show
        $('#win_collector').css("right", 0);

        // resize
        pan_collector.resize();

        // set the extract info
        this.current.extract_paper = extract_paper;

        // get the paper
        $.get(
            srv_extractor.url.get_paper,
            {pid: pid, rnd:Math.random()},
            function(data) {
                pan_collector.update(data.paper);
            }, 'json'
        );
    },

    show: function() {
        $(this.vpp_id).show();
        // bind the context menu
        // this.bind_txt_ctx_menu();
    },

    hide: function() {
        $('#win_collector').css('right', 5000); 
    },

    view_pdf: function(paper_id, file_id, folder) {
        // update the pdf viewer size
        this.resize();

        // load the pdf
        this.load_pdf(folder, file_id);
    },

    load_pdf: function(folder, file_id) {
        var pdf_url = "/pdfworker/pdf/" + folder + "/" + file_id + '.pdf';

        // just load the blank page
        if (typeof(folder) == 'undefined') {
            pdf_url = '/pdfworker/view_pdf';
        }

        // get the highlight_keywords
        var highlight_keywords = pan_collector.get_pdf_highlight_keywords();

        // show the pdf by the 
        document.getElementById("ifr_pdfviewer").contentWindow.LNMA.open_pdf(pdf_url, highlight_keywords);
    },

    /**
     * Get the keywords and color for highlighting in PDF
     */
    get_pdf_highlight_keywords: function() {
        var tmp = [];

        // first, the keywords from the project
        tmp.push({
            keywords: srv_extractor.project.settings.highlight_keywords.inclusion,
            color: 'green'
        });

        // second, push the outcome name if current is not working on itable

        // third, push the pdf highlight keywords in project settings
        tmp.push({
            keywords: srv_extractor.project.settings.pdf_keywords.main,
            color: 'yellow'
        });

        return tmp;
    },

    upload_pdfs: function() {
        var paper_id = this.vpp.paper.paper_id;
        // call pdfworker service to upload
        srv_pdfworker.update_form_data(
            '#form_pdf_files',
            function(data) {
                console.log(data);
                if (data.success) {

                    jarvis.toast('Uploaded PDF for paper!');
                    
                    // update display
                    pan_collector.update(data.paper);
                } else {
                    toast('Error when uploading PDF, try later.', 'error')
                }
            }
        );
    },

    resize: function() {
        // set the height for the window
        var h = $(window).height() - 50;
        $('#win_collector').css("height", h);

        // set the height for the pdf viewer
        var h = $(window).height() - 150;
        $(this.pdfviewer_id).css('height', h + 'px');
    },
};


var jarvis = {

    getUrlParameter: function(name) {
        name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
        var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
        var results = regex.exec(location.search);
        return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
    },

    goto_screener: function(project_id, title) {
        Cookies.set('project_id', project_id);
        Cookies.set('project_title', title);

        location.href = '[[ url_for("screener.overview") ]]';
    },

    init: function() {
        // get the outcome abbr from url
        var oc_abbr = jarvis.getUrlParameter('abbr');

        // init the UI
        pan_ocpapers.init();
        pan_collector.init();

        // resize
        pan_ocpapers.resize();

        // load all outcomes for generating the selection menu
        pan_ocpapers.load_all_outcomes();

        // the load the init outcomes
        if (oc_abbr == '') {

        } else {
            pan_ocpapers.show_extract_and_papers(oc_abbr);

        }

        this.bind_resize();

        // remove the context menu for 
        document.addEventListener('click', function(event) {

            // close the menu when click anywhere
            $("#pan_ocpapers_ctx_menu").hide();
        });
    },

    prompt: function(text, value) {
        return window.prompt(text, value);
    },

    confirm: function(text) {
        return window.confirm(text);
    },

    toast: function(s) {
        toast(s);
    },


    get_year: function(s) {
        const regex = /\d{4}/gm;
        let m;
        if ((m = regex.exec(s)) !== null) {
            return m[0];
        }
        return '';
    },

    get_first_author: function(s) {
        var aus = s.split(';');
        if (aus.length == 1) {
            aus = s.split(',');
        }
        return aus[0];
    },

    download_file: function(fn) {
        // fixed image download bug
        // Thanks to https://stackoverflow.com/questions/17311645/download-image-with-javascript
        var a = $('<a>').attr('href', '/f/' + fn)
            .attr('download', fn)
            .appendTo("body");
        a[0].click()
        a.remove();
    },

    bind_resize: function() {
        $(window).on('resize', function(){
            pan_ocpapers.resize();
            pan_collector.resize();
        });
    }
};

$(document).ready(function() {
    jarvis.init();
});
</script>
{% endblock %}