<div id="pan_ocpapers" class="d-flex flex-column" 
    style="height: 500px;">
    

    <div class="d-flex flex-column" style="height: 100%;"
        v-if="working_oc != null">

        <div id="pan_ocpapers_toolbar" class="panel-info">
            <div class="oc-attr d-flex flex-row">
                
                <span style="font-size: 1.2em;" class="mr-2">
                    <a href="javascript:void(0);" onclick="pan_ocpapers.show_ocs_menu();">
                        <b v-if='working_oc.abbr != "itable"'>
                        [
                            {{ _lbl(working_oc.oc_type) }} | 
                            {{ _lbl(working_oc.meta.group) }} | 
                            {{ working_oc.meta.category }} | 
                            {{ working_oc.meta.full_name }}
                        ]
                        </b>
                        <b v-else>
                        [
                            {{ _lbl(working_oc.meta.full_name) }}
                        ]
                        </b>
                    </a>
                </span>

                <div class="input-group input-group-sm mr-2"
                    style="width: 200px">
                    <input type="text" class="form-control" placeholder="PMID, short #, first author name"
                        v-model="keywords">
                    <button class="btn btn-sm btn-outline-secondary" type="button"
                        title="Reset search"
                        v-on:click="reset_keywords()">
                        <i class="fa fa-close"></i>
                    </button>
                    
                </div>

                <div class="btn-group mr-2">
                    <button v-on:click="toggle_only_show_selected();"
                        type="button" class="btn btn-default btn-sm">
                        <i class="fa" v-bind:class="{'fa-toggle-on': only_show_selected, 'fa-toggle-off': !only_show_selected}"></i>
                        Toggle all studies
                    </button>
                </div>

                <div class="btn-group mr-2">
                    <button v-on:click="save_extract();"
                        type="button" class="btn btn-primary btn-sm">
                        <i class="fa fa-save"></i>
                        Save
                    </button>
                </div>

                <div class="btn-group mr-2">
                    <button v-on:click="edit_extract_meta();"
                        type="button" class="btn btn-default btn-sm">
                        <i class="fa fa-edit"></i>
                        Edit this outcome
                    </button>
                </div>

                <div class="btn-group mr-2"
                    v-if="working_oc.oc_type!='itable'">
                    <button v-on:click="goto_analysis();"
                        type="button" class="btn btn-default btn-sm">
                        <i class="fa fa-chart-bar"></i>
                        Analyze this outcome
                    </button>
                </div>

            </div>
        </div>
        
        <div id="pan_ocpapers_attrs" 
            class="panel-info d-flex flex-column" 
            v-if="working_oc != null">
            <div v-for="cate, cate_idx in working_oc.meta.cate_attrs"
                style="border-bottom: 1px dotted #dddddd; margin: 5px 0 5px 0;"
                class="d-flex flex-column">

                <div :id="'cate-' + cate.abbr"
                    class="d-flex flex-row flex-wrap">

                    <div style="background: #dddddd;"
                        class="mr-2 pr-2">
                        <input type="checkbox" v-bind:id="'toggle-cate-' + cate.abbr"
                            v-model="show_attrs[cate.abbr]"
                            v-on:change="on_toggle_itable_select_category(cate_idx, $event)">
                        <label :for="'toggle-cate-' + cate.abbr" class="extract-attr-label">
                            <b>{{ cate.name }}</b>
                        </label>
                    </div>

                    <div v-for="attr, attr_idx in cate.attrs"
                        class="mr-2 border-end">
                        
                        <span v-if="attr.subs == null" v-bind:abbr="attr.abbr">
                            <input type="checkbox" 
                                v-model="show_attrs[attr.abbr]"
                                v-on:change="on_toggle_attr_selection(attr.abbr, $event)"
                                :id="'attr-' + attr.abbr">
                            <label class="extract-attr-label" :for="'attr-' + attr.abbr">{{ attr.name }}</label>
                        </span>

                        <span v-else v-bind:abbr="attr.abbr">
                            <input type="checkbox" 
                                v-model="show_attrs[attr.abbr]"
                                v-on:change="on_toggle_attr_selection(attr.abbr, $event)"
                                :id="'attr-' + attr.abbr">

                            {{ attr.name }}
                            [
                            <span class="mr-2" v-for="sub, sub_idx in attr.subs">
                                <input type="checkbox" v-model="show_attrs[sub.abbr]"
                                    v-on:change="on_toggle_attr_selection(attr.abbr, $event)"
                                    :id="'sub-' + sub.abbr">
                                <label class="extract-attr-sub-label" :for="'sub-' + sub.abbr">
                                    {{ sub.name }}
                                </label>
                            </span>
                            ]
                        </span>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.panel-info -->

        <div id="pan_cielist"
            v-if="is_editing_cie"
            class="panel-info d-flex flex-column"
            style="margin: 5px; width: 700px;">
            <div v-if="working_oc.meta.oc_type == 'pwma'"
                class="row">
                <div class="col">
                    <div>
                        <label style="width: 150px;">Risk of Bias:</label>
                        <input type="radio" id="oc_cie_rob_3" value="3" class="ml-2" v-model="working_oc.meta.certainty.risk_of_bias"> <label class="cie-val-text" for="oc_cie_rob_3"> Very serious </label>
                        <input type="radio" id="oc_cie_rob_2" value="2" class="ml-2" v-model="working_oc.meta.certainty.risk_of_bias"> <label class="cie-val-text" for="oc_cie_rob_2"> Serious </label>
                        <input type="radio" id="oc_cie_rob_1" value="1" class="ml-2" v-model="working_oc.meta.certainty.risk_of_bias"> <label class="cie-val-text" for="oc_cie_rob_1"> No serious </label>
                        <input type="radio" id="oc_cie_rob_0" value="0" class="ml-2" v-model="working_oc.meta.certainty.risk_of_bias"> <label class="cie-val-text" for="oc_cie_rob_0"> Not specified </label>
                    </div>

                    <div>
                        <label style="width: 150px;">Inconsistency:</label>
                        <input type="radio" id="oc_cie_inc_3" value="3" class="ml-2" v-model="working_oc.meta.certainty.inconsistency"> <label class="cie-val-text" for="oc_cie_inc_3"> Very serious </label>
                        <input type="radio" id="oc_cie_inc_2" value="2" class="ml-2" v-model="working_oc.meta.certainty.inconsistency"> <label class="cie-val-text" for="oc_cie_inc_2"> Serious </label>
                        <input type="radio" id="oc_cie_inc_1" value="1" class="ml-2" v-model="working_oc.meta.certainty.inconsistency"> <label class="cie-val-text" for="oc_cie_inc_1"> No serious </label>
                        <input type="radio" id="oc_cie_inc_0" value="0" class="ml-2" v-model="working_oc.meta.certainty.inconsistency"> <label class="cie-val-text" for="oc_cie_inc_0"> Not specified </label>

                    </div>

                    <div>
                        <label style="width: 150px;">Indirectness:</label>
                        <input type="radio" id="oc_cie_ind_3" value="3" class="ml-2" v-model="working_oc.meta.certainty.indirectness"> <label class="cie-val-text" for="oc_cie_ind_3"> Very serious </label>
                        <input type="radio" id="oc_cie_ind_2" value="2" class="ml-2" v-model="working_oc.meta.certainty.indirectness"> <label class="cie-val-text" for="oc_cie_ind_2"> Serious </label>
                        <input type="radio" id="oc_cie_ind_1" value="1" class="ml-2" v-model="working_oc.meta.certainty.indirectness"> <label class="cie-val-text" for="oc_cie_ind_1"> No serious </label>
                        <input type="radio" id="oc_cie_ind_0" value="0" class="ml-2" v-model="working_oc.meta.certainty.indirectness"> <label class="cie-val-text" for="oc_cie_ind_0"> Not specified </label>

                    </div>

                    <div>
                        <label style="width: 150px;">Imprecision:</label>
                        <input type="radio" id="oc_cie_imp_4" value="4" class="ml-2" v-model="working_oc.meta.certainty.imprecision"> <label class="cie-val-text" for="oc_cie_imp_4"> Extreme serious </label>
                        <input type="radio" id="oc_cie_imp_3" value="3" class="ml-2" v-model="working_oc.meta.certainty.imprecision"> <label class="cie-val-text" for="oc_cie_imp_3"> Very serious </label>
                        <input type="radio" id="oc_cie_imp_2" value="2" class="ml-2" v-model="working_oc.meta.certainty.imprecision"> <label class="cie-val-text" for="oc_cie_imp_2"> Serious </label>
                        <input type="radio" id="oc_cie_imp_1" value="1" class="ml-2" v-model="working_oc.meta.certainty.imprecision"> <label class="cie-val-text" for="oc_cie_imp_1"> No serious </label>
                        <input type="radio" id="oc_cie_imp_0" value="0" class="ml-2" v-model="working_oc.meta.certainty.imprecision"> <label class="cie-val-text" for="oc_cie_imp_0"> Not specified </label>

                    </div>

                    <div>
                        <label style="width: 150px;">Publication Bias</label>
                        <input type="radio" id="oc_cie_pub_2" value="2" class="ml-2" v-model="working_oc.meta.certainty.publication_bias"> <label class="cie-val-text" for="oc_cie_pub_2"> Strongly suspected </label>
                        <input type="radio" id="oc_cie_pub_1" value="1" class="ml-2" v-model="working_oc.meta.certainty.publication_bias"> <label class="cie-val-text" for="oc_cie_pub_1"> Undetected </label>
                        <input type="radio" id="oc_cie_pub_0" value="0" class="ml-2" v-model="working_oc.meta.certainty.publication_bias"> <label class="cie-val-text" for="oc_cie_pub_0"> Not applicable </label>

                    </div>

                    <div>
                        <label style="width: 150px;">Importance</label>
                        <input type="radio" id="oc_cie_ipt_2" value="2" class="ml-2" v-model="working_oc.meta.certainty.importance"> <label class="cie-val-text" for="oc_cie_ipt_2"> Critical </label>
                        <input type="radio" id="oc_cie_ipt_1" value="1" class="ml-2" v-model="working_oc.meta.certainty.importance"> <label class="cie-val-text" for="oc_cie_ipt_1"> Important </label>
                        <input type="radio" id="oc_cie_ipt_0" value="0" class="ml-2" v-model="working_oc.meta.certainty.importance"> <label class="cie-val-text" for="oc_cie_ipt_0"> Not applicable </label>

                    </div>
                </div>
                
                
            </div>
        </div>


        <div id="pan_ocpapers_paperlist" style="overflow: auto;">

            <!-- table for itable -->
            <table class="paper-table">
                <thead class="paper-table-header">
                    <tr>
                        <th v-if="working_oc.meta.is_subg_analysis" class="paper-table-header-th" colspan="7"></th>
                        <th v-else class="paper-table-header-th" colspan="6"></th>

                        <th v-for="thr1 in thr1s"
                            v-bind:colspan="thr1.cols"
                            v-show="show_attrs[thr1.abbr]"
                            class="paper-table-header-th"
                            style="text-align: center;">
                            {{ thr1.name }}
                        </th>

                        <th v-if="is_editing_cie"
                            colspan="5"
                            style="text-align: center;"
                            class="paper-table-header-th">
                            Risk of Bias
                        </th>
                    </tr>

                    <tr>
                        <th class="paper-table-header-th" style="width: 20px;">
                            &nbsp;
                        </th>
                        <th class="paper-table-header-th" style="width: 40px;">
                            #
                        </th>
                        <th class="paper-table-header-th" style="width: 90px;">
                            PID
                        </th>
                        <th class="paper-table-header-th" style="width: 130px;">
                            ({{ n_selected }} selected)
                        </th>
                        <th class="paper-table-header-th" style="width: 90px;">
                            Checked
                        </th>
                        <th class="paper-table-header-th" style="width: 50px;">
                            Arms
                        </th>

                        <!-- for subg analysis -->
                        <th v-if="working_oc.meta.is_subg_analysis == 'yes'">
                           Sub Group 
                        </th>
                        
                        <!-- the attributes need to collect -->
                        <th class="paper-table-header-th" 
                            style="text-align: center;"
                            v-for="thr2 in thr2s"
                            v-bind:colspan="thr2.cols"
                            v-show="show_attrs[thr2.abbr]">
                            <span>
                                {{ thr2.name }}
                            </span>
                        </th>

                        <!-- for editing the study level cie -->
                        <th v-if="is_editing_cie"
                            style="text-align: center;"
                            v-for="rob_idx in [1,2,3,4,5]">
                            R{{ rob_idx }}
                        </th>
                    </tr>
                </thead>

                <tbody class="paper-list">
                    <tr class="paper-table-row" 
                        v-for="paper in papers"
                        v-bind:id="'paper-table-row-' + paper.paper_id"
                        v-show="(is_search_match(paper)) && (!only_show_selected || working_oc.data[paper.pid].is_selected)">
                        <td class="paper-table-body-td">
                            <input type="checkbox" 
                                v-model="working_oc.data[paper.pid].is_selected"
                                disabled="disabled">
                        </td>

                        <td class="paper-table-body-td cursor-pointer"
                            v-on:click="on_click_paper(paper)">
                            {{ paper.seq_num }}
                        </td>

                        <td class="paper-table-body-td cursor-pointer"
                            v-on:click="on_click_paper(paper)">
                            {{ paper.pid }}
                        </td>

                        <td class="paper-table-body-td"
                            v-on:click="on_click_paper(paper)">
                            <div class="paper-table-body-td-author"
                                v-bind:title="get_first_author(paper.authors)">
                                {{ paper.short_name }}
                            </div>
                        </td>

                        <td class="paper-table-body-td">
                            <input type="checkbox" 
                                v-bind:id="'paper-row-checked'+paper.paper_id"
                                v-model="working_oc.data[paper.pid].is_checked">
                        </td>
                        <td class="paper-table-body-td">
                            <select name="" id="" v-model="working_oc.data[paper.pid].n_arms"
                                v-on:change="on_change_itable_n_arms(paper.pid, $event)">
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </td>

                        <!-- for subg analysis -->
                        <td v-if="working_oc.meta.is_subg_analysis == 'yes'">
                            <div v-for="g, g_idx in working_oc.meta.sub_groups">
                                {{ g }}
                            </div>
                        </td>
                        
                        <!-- the attributes of pwma -->
                        <td v-for="attr_sub in all_attrs" 
                            v-show="show_attrs[attr_sub.abbr]"
                            class="paper-table-body-td paper-value">
                            
                            <!-- the main track -->
                            <div v-for="g, g_idx in working_oc.meta.sub_groups">

                                <span class="cell-input">
                                    <input class="paper-extract-input-auto-100" type="text" 
                                        v-bind:abbr="attr_sub.abbr"
                                        v-model="working_oc.data[paper.pid].attrs.main['g'+g_idx][attr_sub.abbr]">    
                                </span>
                            </div>

                            <!-- the other tracks if n_arms > 2 -->
                            <hr class="n-arms-hr" v-if="working_oc.data[paper.pid].n_arms > 2">

                            <div v-for="g, g_idx in working_oc.meta.sub_groups">

                                <span v-for="other, other_idx in working_oc.data[paper.pid].attrs.other"
                                    class="cell-input">
                                    <br v-if="other_idx > 0">
                                    <input class="paper-extract-input-auto-100" type="text" 
                                        v-model="working_oc.data[paper.pid].attrs.other[other_idx]['g'+g_idx][attr_sub.abbr]">  
                                </span>
                            </div>

                        </td>

                        <!-- for cie -->
                        <td v-if="is_editing_cie"
                            v-for="rob_idx in [0,1,2,3,4]">
                            <select v-model="oc_paper_rob[paper.pid][rob_idx]"
                                v-on:change="on_change_cie"
                                v-bind:class="'cie-rob-val-' + oc_paper_rob[paper.pid][rob_idx]">
                                <option value="1">L</option>
                                <option value="2">M</option>
                                <option value="3">H</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <!-- /.panel-paperlist -->

        <div id="pan_ocpapers_working_paper"
            class="d-flex flex-row"
            v-if="show_working_paper_pan">

        {% include 'extractor/__pan_ocpapers_working_paper_collector.html' %}
        </div>
        <!-- /#pan_ocpapers_working_paper -->

    </div>

    <div v-else>
        <div id="pan_ocpapers_toolbar" class="panel-info">
            <div class="oc-attr d-flex flex-row">
                <span style="font-size: 1.2em;" class="mr-2">
                    <a href="javascript:void(0);" onclick="pan_ocpapers.show_ocs_menu();">
                        <b>Select an outcome</b>
                    </a>
                </span>

            </div>
        </div>
    </div>

    
</div>
<!-- /#pan_ocpapers -->