{% extends '_layout_adminlte.html' %}

{% block title %}
Manage Outcomes
{% endblock %}

{% block section_cq %}
{% include 'shared_module/_cq_selector_toolbar.html' %}
{% endblock %}

{% block page_name %}
<i class="fa fa-list"></i>
Manage Outcomes
{% endblock %}

{% block active_nav_link %}extractor-manage-outcomes{% endblock %}

{% block style %}
<style>
html {
    overflow-x: hidden;
}
/* badge */
.badge-ckl {
    color: #fff;
    background-color: #b88d17;
}

#main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 0 0 0 10px;
    overflow: hidden;
}
#pan_outcomes {
    height: 100%;
    width: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}
.cate-line {
    cursor: pointer;
}
.cate-extract-line {
    border-left: 1px solid black;
    padding: 0 0 0 10px;
    margin: 0 0 0 10px;
}
.cate-extract-line:hover {
    background-color: aquamarine;
}
.cate-extract-line-clicked {
    background-color: aquamarine;
}
.cate-extract-name {
    width: 250px;
    min-width: 250px;
    max-width: 250px;
}
.cate-extract-name:hover {
    cursor: pointer;
}
.cate-extract-col {
    min-width: 60px;
    /* width: 100px; */
    max-width: 200px;
    font-size: .9em;
    padding: 0 .5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-xs {
    padding: .05rem .5rem;
    font-size: .8rem;
    line-height: 1.2;
    border-radius: .2rem;
}

#config_outcome {
    min-width: 1100px;
    width: calc(100% - 500px);
    height: 100%;
    position: absolute;
    right: 5000px;
    background-color: #ffffff;
    padding: 5px;
}
.paper-table-row:hover {
    background-color: #d6d6d6;
}
.paper-table-body-td {
    padding-left: 3px !important;
    border-left: 1px solid #a7a7a7;
}
.paper-table-body-td-author {
    width: 190px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.paper-table-body-cell {
    display: block;
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.paper-table-header-th {
    background-color: whitesmoke;
    border-left: 1px solid rgb(211, 211, 211);
    border-right: 1px solid rgb(211, 211, 211);    
}

.n-arms-hr {
    margin: 1px 0 !important;
}
.txt-col-stype-o {
    background: goldenrod;
}
.txt-col-stype-f {
    background: greenyellow;
}
.txt-col-stype-n {
    background: grey;
}

.paper-table-row-fade {
    opacity: 0.25;
}
.paper-table-row-emph {
    opacity: 1 !important;
    background-color: beige;
}

.badge-w-2em {
    width: 2em;
}
</style>
{% endblock %}

{% block content %}

<div id="main">

<div id="pan_outcomes" class="panel-container">
    <div v-for="oc_type in project.settings.outcomes_enabled">
        
    <h5>
        {{ oc_type.toLocaleUpperCase() }} Outcomes

        <button class="btn btn-default btn-xs"
            v-on:click="close_all_cates(oc_type, event)">
            <i class="fa fa-close"></i>
            Fold
        </button>
    </h5>

    <div v-for="group in project.settings.outcome[oc_type].analysis_groups"
        class="panel-box">
        <div class="d-flex flex-row">
            <div class="mr-1">
                {{ group.name }}
            </div>

            <div>
                <button class="btn btn-default btn-xs text-primary"
                    v-on:click="create_extract(oc_type, 'default', group.abbr, 'default')">
                    <i class="fa fa-plus"></i>
                    Add outcome to default category
                </button>
            </div>

        </div>

        <outcome-list 
            v-if="extract_tree!=null && extract_tree.hasOwnProperty(oc_type) && extract_tree[oc_type].groups.hasOwnProperty(group.abbr)"
            v-bind:force_update="force_update"
            v-bind:oc_type="oc_type"
            v-bind:working_abbr="working_abbr"
            v-bind:cate_ocs="extract_tree[oc_type].groups[group.abbr].cates"
            v-bind:group="group.abbr">
        </outcome-list>

        <hr>
    </div>
    </div>


</div>
<!-- /#pan_outcomes -->

<div id="config_outcome">
    <div style="position: absolute; top: 0; left: -40px; width: 40px; height: 40px; background-color: white;">
        <div style="font-size: large; width: 40px; height: 40px; line-height: 40px; text-align: center; cursor: pointer;"
            onclick="$('#config_outcome').css('right', 5000)">
            <i class="fa fa-close"></i>
        </div>
    </div>
    {% include "extractor/manage_outcomes_ocpapers.html" %}
</div>

    
</div>
<!-- /#main -->


{% endblock %}

{% block script %}
<script>

{% include 'js/srv_shared.js' %}

///////////////////////////////////////////////////////////
// bind the project information to srv_analyzer.js
///////////////////////////////////////////////////////////
{% include 'js/srv_analyzer.js' %}
srv_analyzer.project = [[ project_json_str|safe ]];


///////////////////////////////////////////////////////////
// bind the project information to srv_extractor.js
///////////////////////////////////////////////////////////
{% include "js/srv_extractor.js" %}
srv_extractor.project = [[ project_json_str|safe ]];


var pan_outcomes = {

    vpp_id: '#pan_outcomes',
    vpp: null,
    vpp_data: {

        // the data structure for showing extracts
        extracts: [],
        extract_tree: null,

        // others
        stat: {
            pwma: { total: 0 },
            subg: { total: 0 },
            nam: { total: 0 },
            itable: { total: 0 },
        },

        working_abbr: null,

        // bind the project information to the outcome panel
        project: [[ project_json_str|safe ]],

        // for update sub-comp
        force_update: false
    },

    load: function() {
        var project_id = Cookies.get('project_id');
        var cq_abbr = Cookies.get('cq_abbr');

        srv_extractor.get_extracts(
            project_id, 
            cq_abbr,
            function(data) {
                console.log(data);
                pan_outcomes.show_all_extracts(data.extracts);
            }
        );
    },

    resize: function() {
        var h = $(window).height() - 50;
        $(this.vpp_id).css('height', h);
    },

    init: function() {
        this.vpp = new Vue({
            el: this.vpp_id,
            data: this.vpp_data,

            methods: {
                create_extract: function(oc_type, tpl, group, category) {
                    pan_outcomes.create_extract(oc_type, tpl, group, category);
                },

                show_extract_data: function(oc_type, abbr) {
                    this.working_abbr = abbr;
                    pan_outcomes.show_extract_data(abbr);
                },

                delete_extract: function(oc_type, abbr, full_name) {
                    pan_outcomes.delete_extract(
                        oc_type, abbr, full_name
                    );
                },

                close_all_cates: function(oc_type, event) {
                    $('.cate-extracts-' + oc_type).toggle();
                },

                
            }
        });
    },

    delete_extract: function(oc_type, abbr, full_name) {
        var ret = jarvis.confirm('The deleted outcome and related extractions can NOT be restored. Are you sure to delete [' + full_name + ']?');
    
        if (ret) {
            // close the panel
            pan_ocpapers.hide();

            var project_id = Cookies.get('project_id');
            $.post(
                srv_extractor.url.delete_extract,
                {project_id:project_id, oc_type:oc_type, abbr:abbr},
                function(data) {
                    jarvis.toast('Deleted!');
                    pan_outcomes.load();
                }, 'json'
            );
        }
    },

    show_extract_data: function(abbr) {
        console.log('* show extract [' + abbr + ']');

        // set loc
        $('#config_outcome').css("right", 0);

        // set working_abbr
        this.vpp.$data.working_abbr = abbr;

        pan_ocpapers.show_extract_and_papers(abbr);
    },
    
    create_extract: function(oc_type, tpl, group, category) {
        // get the full name
        var text = jarvis.prompt('The outcome full name:');
        if (text == null) { return; }
        text = text.trim();
        if (text == '') { return; }

        // create an abbr
        var abbr = srv_extractor.mk_oc_abbr();

        // create an meta
        var meta = JSON.parse(
            JSON.stringify(
                srv_extractor.tpl.oc_type[oc_type][tpl]
            )
        );
        meta.full_name = text;
        meta.abbr = abbr;

        // Primary, default or others
        meta.group = group;
        meta.category = category;

        // for sub group
        if (meta.group == 'subgroup') {
            meta.is_subg_analysis = 'yes';
        }

        // set the default input format
        if (srv_extractor.project.settings.outcome[oc_type].default_setting.hasOwnProperty('input_format')) {
            meta.input_format = srv_extractor.project.settings.outcome[oc_type].default_setting.input_format;
        }

        // copy the meta.cate_attr according to the input_format
        meta.cate_attrs = JSON.parse(
            JSON.stringify(
                srv_extractor.tpl.input_format[oc_type][meta.input_format]
            )
        );

        // send this extract to backend
        var data = {};
        var project_id = Cookies.get('project_id');
        var cq_abbr = Cookies.get('cq_abbr');
        meta.cq_abbr = cq_abbr;

        srv_extractor.create_extract(
            project_id,
            oc_type,
            abbr,
            meta,
            data,
            function(data) {
                console.log(data);

                // update UI
                // pan_outcomes.add_vpp_extracts([data.extract]);
                pan_outcomes.load();

                // and open this outcome directly
                pan_outcomes.show_extract_data(
                    data.extract.abbr
                )

                // update the vpp
                pan_outcomes.vpp.$forceUpdate();
            }
        );
    },

    show_all_extracts: function(extracts) {
        // just re-build the tree with new extracts
        this.vpp.$data.extract_tree = this.update_extract_tree(extracts);

        // update the vpp
        this.vpp.$forceUpdate();
    },

    add_vpp_extracts: function(extracts) {
        var new_exts = this.vpp.$data.extracts.concat(extracts);
        this.vpp.$data.extract_tree = this.update_extract_tree(new_exts);

        this.vpp.$data.force_update = Math.random();
    },

    update_extract_tree: function(extracts) {
        return srv_shared.create_extract_tree(extracts);
    },

    show: function() {
        $(this.vpp_id).show();
    },

    hide: function() {
        $(this.vpp_id).hide();
    },

    set_size: function(size) {
        $(this.vpp_id).removeClass('panel-s panel-m panel-l')
            .addClass('panel-' + size);
    }
};


var pan_ocpapers = {
    vpp_id: "#pan_ocpapers",
    vpp: null,
    vpp_data: {
        // flags
        show_settings: true,
        only_show_selected: true,
        show_col_nct: false,
        show_col_stype: true,

        // for display:
        thr1s: [],
        thr2s: [],

        // mode
        mode: 'manage_outcomes',
        
        // bind the project information to the outcome panel
        project: [[ project_json_str|safe ]],

        // data
        all_attrs: null,
        show_attrs: null,
        extract: null,
        papers: []
    },

    init: function() {
        this.vpp = new Vue({
            el: this.vpp_id,
            data: this.vpp_data,
            computed: {
                n_selected: function() {
                    var n = 0;
                    for (const pmid in this.extract.data) {
                        if (Object.hasOwnProperty.call(this.extract.data, pmid)) {
                            if (this.extract.data[pmid].is_selected) {
                                n += 1;
                            };
                        }
                    }
                    return n;
                }
            },
            methods: {
                // label converting function from srv_shared
                _lbl: function(v) {
                    return srv_shared._lbl(v);
                },

                toggle_show_settings: function() {
                    this.show_settings = !this.show_settings;
                },

                toggle_on_all_attributes: function() {
                    for (const key in this.show_attrs) {
                        if (Object.hasOwnProperty.call(this.show_attrs, key)) {
                            this.show_attrs[key] = true;
                        }
                    }
                    this.$forceUpdate();
                },

                toggle_off_all_attributes: function() {
                    for (const key in this.show_attrs) {
                        if (Object.hasOwnProperty.call(this.show_attrs, key)) {
                            this.show_attrs[key] = false;
                        }
                    }
                    this.$forceUpdate();
                },

                toggle_trial_studies: function(paper) {
                    pan_ocpapers.toggle_trial_studies(paper);
                },

                goto_extract_data: function(extract) {
                    location.href = srv_extractor.url.extract_data + 
                        '?abbr=' + extract.abbr;
                },

                goto_analysis: function(extract) {
                    location.href = srv_analyzer.url.azoc + 
                        '?abbr=' + extract.abbr;
                },

                delete_extract: function(extract) {
                    pan_outcomes.delete_extract(
                        extract.oc_type,
                        extract.abbr,
                        extract.meta.full_name,
                    );
                },

                // save all!
                update_extract: function() {
                    pan_ocpapers.update_extract();
                },
                
                // copy 
                copy_extract: function() {
                    pan_ocpapers.copy_extract();
                },

                get_input_size: function(str) {
                    // // convert null to empty
                    // if (str == null) {
                    //     str = '';
                    // }
                    // // convert number to string
                    // str = '' + str;
                    // var s = str.length;
                    // if (s<5) {
                    //     return 5;
                    // } else if (s > 14) {
                    //     return 14;
                    // } else {
                    //     return s;
                    // }
                    return srv_extractor.get_input_size(str);
                },

                // get year
                get_year: function(s) {
                    return jarvis.get_year(s);
                },

                get_first_author: function(s) {
                    var aus = s.split(';');
                    if (aus.length == 1) {
                        aus = s.split(',');
                    }
                    return aus[0];
                },

                get_stype_badge: function(paper) {
                    if (paper.meta.hasOwnProperty('study_type')) {
                        if (paper.meta.study_type == 'followup') {
                            return { 
                                label: 'F' + paper.meta.rct_seq,
                                cls: 'f'
                            };
                        } else {
                            return { 
                                label: 'O',
                                cls: 'o'
                            };
                        }
                    } else {
                        return { 
                            label: 'N',
                            cls: 'n'
                        };
                    }
                },

                on_change_input_format: function(event) {
                    let val = event.target.value;
                    console.log('Changed input_format: ' + val);

                    // update the attrs
                    this.extract.meta.cate_attrs = srv_extractor.tpl.input_format[
                        this.extract.oc_type
                    ][val];
                    
                    // update the papers setting
                    pan_ocpapers.update_all_and_show_attrs();
                },

                on_toggle_attr_selection: function(event) {
                    this.$forceUpdate();
                },

                on_click_paper: function(pmid) {
                    // set the working pmid ?
                    // no need to set

                    // highlight this line
                    $('.paper-table-row').removeClass('paper-table-row-clicked');
                    $('#paper-table-row-' + pmid).addClass('paper-table-row-clicked');

                    // call collector to do something
                    pan_collector.show_paper(
                        pmid, 
                        pan_ocpapers.vpp.$data.extract.data[pmid]
                    );
                },

                toggle_select_all_papers: function(event) {
                    let val = event.srcElement.checked;
                    console.log('* set all papers selected: ', val);
                    for (const pmid in this.extract.data) {
                        if (Object.hasOwnProperty.call(this.extract.data, pmid)) {
                            this.extract.data[pmid].is_selected = val;
                        }
                    }
                    // this.$forceUpdate();
                },

                on_toggle_itable_select_category: function(cate_idx, event) {
                    let val = event.srcElement.checked;

                    for (let i = 0; i < this.extract.meta.cate_attrs[cate_idx].attrs.length; i++) {
                        const attr = this.extract.meta.cate_attrs[cate_idx].attrs[i];

                        if (attr.subs == null) {
                            this.show_attrs[attr.abbr] = val;
                        } else {
                            for (let j = 0; j < attr.subs.length; j++) {
                                const sub = attr.subs[j];
                                this.show_attrs[sub.abbr] = val;
                            }
                        }
                    }
                    // force update the UI because change a lot
                    this.$forceUpdate();
                },

                on_change_itable_n_arms: function(pmid, event) {
                    let val = event.target.value;
                    console.log('* change ' + pmid + ' n_arms to ' + val);

                    var new_n_others = val - 2;
                    if (new_n_others == this.extract.data[pmid].attrs.other.length) {
                        // which means the number of arms doesn't change

                    } else if (new_n_others > this.extract.data[pmid].attrs.other.length) {
                        // the number of arms increases, need to put more elements
                        var delta = new_n_others - this.extract.data[pmid].attrs.other.length;
                        for (let i = 0; i < delta; i++) {
                            // just copy the keys from main track
                            var obj = JSON.parse(JSON.stringify(this.extract.data[pmid].attrs.main));
                            // and clear the exising data
                            for (const key in obj) {
                                if (Object.hasOwnProperty.call(obj, key)) {
                                    obj[key] = '';
                                }
                            }
                            this.extract.data[pmid].attrs.other.push(obj);
                        }
                    } else {
                        // the number of arms decreases, need to remove
                        var delta = this.extract.data[pmid].attrs.other.length - new_n_others;
                        for (let i = 0; i < delta; i++) {
                            this.extract.data[pmid].attrs.other.pop();
                        }
                    }
                    this.$forceUpdate();
                },

                on_change_only_show_selected: function(event) {
                    // let val = event.srcElement.checked;                    
                    // this.only_show_selected = val;
                    this.$forceUpdate();
                },

                on_click_add_sub_group: function() {
                    this.extract.meta.sub_groups.push('');
                },

                on_click_remove_sub_group: function(subg_idx) {
                    this.extract.meta.sub_groups.splice(subg_idx, 1);
                },

                on_click_add_treatment_arm: function() {
                    this.extract.meta.treatments.push('');
                },

                on_click_remove_treatment_arm: function(treat_idx) {
                    this.extract.meta.treatments.splice(treat_idx, 1);
                },

                /**
                 * Get the extracted data by the given info
                 * 
                 * which paper?
                 * main arm or other arm?, null is main, number is other seq
                 * which sub group?
                 * which attr or attr_sub?
                 */
                get_extracted_data: function(pid, main_or_other, group_idx, attr_sub_abbr) {
                    if (!this.extract.data.hasOwnProperty(pid)) {
                        // no such paper???
                        return '';
                    }
                    if (main_or_other == null) {
                        // check the main arm
                        if (!this.extract.data[pid].attrs.main.hasOwnProperty('g' + group_idx)) {
                            // no such group in the main arm?
                            return '';

                        } else {
                            if (!this.extract.data[pid].attrs.main['g'+group_idx].hasOwnProperty(attr_sub_abbr)) {
                                // no such attr in this main arm?
                                return ''
                            } else {
                                return this.extract.data[pid].attrs.main['g'+group_idx][attr_sub_abbr];
                            }
                        }
                    } else {
                        // check the other arm
                        if (!this.extract.data[pid].attrs.other[main_or_other].hasOwnProperty('g' + group_idx)) {
                            // no such group in the other arm?
                            return '';

                        } else {
                            if (!this.extract.data[pid].attrs.other[main_or_other]['g'+group_idx].hasOwnProperty(attr_sub_abbr)) {
                                // no such attr in this other arm?
                                return ''
                            } else {
                                return this.extract.data[pid].attrs.other[main_or_other]['g'+group_idx][attr_sub_abbr];
                            }
                        }
                    }

                }
            }
        });
    },

    set_mode: function(mode) {
        this.vpp.$data.mode = mode;
    },

    update: function(data) {
        // the data is a combo of extract and papers
        this.vpp.extract = data.extract;
        this.vpp.papers = data.papers;

        // update the all_attrs and show_attrs variables for display
        this.update_all_and_show_attrs();

        // update
        this.vpp.$forceUpdate();
    },

    update_all_and_show_attrs: function() {
        // init the all_attrs which for list all the nested attrs
        this.vpp.all_attrs = [];

        // init the show_attrs
        this.vpp.show_attrs = {}

        // for display
        this.vpp.thr1s = [];
        this.vpp.thr2s = [];

        // loop on the cate_attrs
        for (let i = 0; i < this.vpp.extract.meta.cate_attrs.length; i++) {
            const cate = this.vpp.extract.meta.cate_attrs[i];

            var thr1 = {
                name: cate.name,
                cols: 0
            }
            for (let j = 0; j < cate.attrs.length; j++) {
                var attr = cate.attrs[j];
                
                thr1.cols += 1;

                // update the attr cate name
                attr.cate_name = cate.name;

                var thr2 = {
                    name: attr.name,
                    cols: 0
                }
                if (attr.subs == null) {
                    // which means this attr doesn't have a sub
                    this.vpp.all_attrs.push(attr);
                    this.vpp.show_attrs[attr.abbr] = true;
                    
                    // update the display row count
                    thr2.cols += 1;

                } else {
                    for (let k = 0; k < attr.subs.length; k++) {
                        const sub = attr.subs[k];
                        this.vpp.all_attrs.push(sub);
                        this.vpp.show_attrs[sub.abbr] = true;

                        // update the display count
                        thr2.cols += 1;

                        // also increase the first row
                        thr1.cols += 1;
                    }
                }
                this.vpp.thr2s.push(thr2);
            }

            this.vpp.thr1s.push(thr1);
        }

        // update
        this.vpp.$forceUpdate();
    },


    get_current_extract_and_papers: function() {
        if (this.vpp.$data.extract == null) {
            return null;
        }
        
        // build a object
        var ret = {
            extract: this.vpp.$data.extract,
            papers: this.vpp.$data.papers
        };

        return ret;
    },

    show_extract_and_papers: function(abbr) {
        var project_id = Cookies.get('project_id');
        srv_extractor.get_extract_and_papers(
            project_id,
            abbr,
            function(data) {
                pan_ocpapers.update(data);
            }
        );
    },

    copy_extract: function() {
        var project_id = Cookies.get('project_id');
        var oc_type = this.vpp.$data.extract.oc_type;
        var full_name = this.vpp.$data.extract.meta.full_name;
        var abbr = this.vpp.$data.extract.abbr;
        var meta = this.vpp.$data.extract.meta;
        var data = this.vpp.$data.extract.data;

        var new_full_name = jarvis.prompt('Copy current outcome [' + full_name + '] and make a new outcome. The new outcome full name is: ', full_name);
        if (new_full_name == null) { return; }
        new_full_name = new_full_name.trim();
        if (new_full_name == '') { return; }

        // save this new 
        var new_abbr = srv_extractor.mk_oc_abbr();

        // send request!
        $.post(
            srv_extractor.url.copy_extract,
            {project_id:project_id, oc_type:oc_type, abbr:abbr,
             new_abbr:new_abbr, new_full_name: new_full_name,
             meta:JSON.stringify(meta), data:JSON.stringify(data)},
            function(data) {
                // show
                toast('Copied the new outcome [' + data.extract.meta.full_name + ']');
                // reload the outcomes
                pan_outcomes.load();
            }
        );
    },

    update_extract: function() {
        // there are 
        var project_id = Cookies.get('project_id');
        var oc_type = this.vpp.$data.extract.oc_type;
        var abbr = this.vpp.$data.extract.abbr;
        var meta = this.vpp.$data.extract.meta;
        var data = this.vpp.$data.extract.data;

        // send request!
        $.post(
            srv_extractor.url.update_extract,
            {project_id:project_id, oc_type:oc_type, abbr:abbr,
             meta:JSON.stringify(meta), data:JSON.stringify(data)},
            function(data) {
                // show
                toast('Saved the outcome [' + data.extract.meta.full_name + ']');
                // reload the outcomes
                pan_outcomes.load();
            }
        );
    },

    toggle_trial_studies: function(paper) {
        if (!paper.meta.hasOwnProperty('rct_id')) {
            return;
        }

        var rct_id = paper.meta.rct_id;

        // the check current rows
        var flag_has = $('tr.paper-table-row[rct_id='+rct_id+']').hasClass('paper-table-row-emph');

        // first, just remove all
        $('tr.paper-table-row').removeClass('paper-table-row-fade');
        $('tr.paper-table-row').removeClass('paper-table-row-emph');

        // console.log('* found trial ' + rct_id + ': ' + flag_has);
        if (flag_has) {

        } else {
            $('tr.paper-table-row').addClass('paper-table-row-fade');
            $('tr.paper-table-row[rct_id='+rct_id+']').addClass('paper-table-row-emph');
        }
    },

    show: function() {
        $(this.vpp_id).show();
    },

    hide: function() {
        $('#config_outcome').css('right', 5000);
        // $(this.vpp_id).hide();
    },

    set_size: function(size) {
        $(this.vpp_id).removeClass('panel-s panel-m panel-l')
            .addClass('panel-' + size);
    }
};


Vue.component('outcome-list', {
    data: function () {
        return {
            update: 0,
        }
    },
    methods: {
        create_extract: function(oc_type, tpl, group, category) {
            pan_outcomes.create_extract(oc_type, tpl, group, category);
        },

        show_extract_data: function(oc_type, abbr) {
            // highlight this line
            // $('.cate-extract-line').removeClass('cate-extract-line-clicked');
            // $('#cate-extract-line-' + abbr).addClass('cate-extract-line-clicked');

            // show it
            pan_outcomes.show_extract_data(abbr);
        },

        delete_extract: function(oc_type, abbr, full_name) {
            pan_outcomes.delete_extract(oc_type, abbr, full_name);
        },


        toggle_cate: function(event) {
            var elem = $(event.target);
            elem.next().toggle();
        },
        n_selected: function(extract) {
            var n = 0;
            for (const pmid in extract.data) {
                if (Object.hasOwnProperty.call(extract.data, pmid)) {
                    if (extract.data[pmid].is_selected) {
                        n += 1;
                    };
                }
            }
            return n;
            
        }
    },

    computed: {
        sorted_cate_ocs: function() {
            var sorted = [];
            var cates = Object.keys(this.cate_ocs).sort();

            for (let i = 0; i < cates.length; i++) {
                const cate = cates[i];
                
                // sort the ocs by name
                var ocs = this.cate_ocs[cate].ocs;
                var ocs_list = Object.keys(ocs).map(function(abbr) {
                    return ocs[abbr];
                });
                ocs_list.sort(function(a, b) {
                    return a.meta.full_name > b.meta.full_name ? 1 : -1;
                });

                // add this to sorted
                sorted.push({
                    name: cate,
                    ocs: ocs_list
                });
            }

            return sorted;
        }
    },

    props: [
        'oc_type',
        'cate_ocs',
        'group',
        'force_update',
        'working_abbr'
    ],

    template: `
<div v-if="Object.keys(cate_ocs).length != 0" :force_update="force_update">
<div v-for="cate, cate_idx in sorted_cate_ocs" v-show="cate.ocs.length>0">
    <div class="cate-line"
        v-on:click="toggle_cate(event)">
            <i class="far fa-folder-open"></i>
            {{ cate.name }} 
        <button class="btn btn-default btn-xs text-primary"
            v-on:click="create_extract(oc_type, 'default', group, cate.name)">
            <i class="fa fa-plus"></i>
            Add outcome
        </button>
    </div>

    <div v-bind:class="'cate-extracts cate-extracts-' + oc_type">
        <div v-for="oc in cate.ocs" 
            v-bind:id="'cate-extract-line-' + oc.abbr"
            class="cate-extract-line d-flex flex-row"
            v-bind:class="{'cate-extract-line-clicked':working_abbr==oc.abbr}">
                
            <div class="cate-extract-name"
                v-on:click="show_extract_data(oc_type, oc.abbr)">
                <span class="badge badge-light badge-w-2em">{{ oc.n_selected }}</span>
                {{ oc.meta.full_name }}
            </div>

            <div class="cate-extract-col">
                <span v-if="oc.meta.included_in_plots=='yes'" class="badge badge-success">In Plot</span>
                <span v-else class="badge badge-light">Plot</span>
            </div>

            <div class="cate-extract-col">
                <span v-if="oc.meta.included_in_sof=='yes'" class="badge badge-success">In SoF</span>
                <span v-else class="badge badge-light">SoF</span>
            </div>

        </div>
    </div>

</div>
`
});

// <div class="cate-extract-delete">
//     <button class="btn btn-default btn-xs"
//         v-on:click="delete_extract(oc.oc_type, oc.abbr, oc.full_name)">
//         <i class="far fa-trash-alt"></i>
//     </a>
// </div>


var jarvis = {
    goto_screener: function(project_id, title) {
        Cookies.set('project_id', project_id);
        Cookies.set('project_title', title);

        location.href = '[[ url_for("screener.overview") ]]';
    },

    init: function() {

        // init the shared service
        srv_shared.update_labels_by_project_settings(
            srv_extractor.project.settings
        );

        pan_outcomes.init();
        pan_ocpapers.init();

        // resize
        pan_outcomes.resize();

        // the load the init outcomes
        pan_outcomes.load();

        // get the abbr if has
        var oc_abbr = jarvis.get_url_paramter('abbr');

        if (oc_abbr == '') {

        } else {
            pan_outcomes.show_extract_data(oc_abbr);
        }

        // bind resize event
        this.bind_resize_event();
    },

    prompt: function(text, value) {
        return window.prompt(text, value);
    },

    confirm: function(text) {
        return window.confirm(text);
    },

    toast: function(s) {
        toast(s);
    },


    get_year: function(s) {
        const regex = /\d{4}/gm;
        let m;
        if ((m = regex.exec(s)) !== null) {
            return m[0];
        }
        return '';
    },

    download_file: function(fn) {
        // fixed image download bug
        // Thanks to https://stackoverflow.com/questions/17311645/download-image-with-javascript
        var a = $('<a>').attr('href', '/f/' + fn)
            .attr('download', fn)
            .appendTo("body");
        a[0].click()
        a.remove();
    },

    bind_resize_event: function() {
        $(window).on('resize', function(){
            pan_outcomes.resize();
        });
    }
};

{% include 'js/jarvis_ext_utils.js' %}

$(document).ready(function() {
    jarvis.init();
});
</script>
{% endblock %}