<div id="pan_ocpapers" 
    class="panel-container" 
    style="height: 100%; overflow-y: auto;"
    v-if="extract != null">
    <div class="panel-info">
        <div class="oc-attr d-flex flex-row">
            <span style="font-size: 1.2em;" class="mr-2">
                <b>
                    [
                        {{ _lbl(extract.oc_type) }} |
                        {{ extract.meta.full_name }}
                    ]
                </b> 
                Settings
            </span>

            <div class="btn-group mr-2" role="group" aria-label="Extract information">
                <button v-on:click="update_extract();"
                    class="btn btn-default btn-sm">
                    <i class="fa fa-save"></i>
                    Save all settings
                </button>
            </div>

            <div class="btn-group mr-2" role="group" aria-label="Extract information">
                <button v-on:click="goto_extract_data(extract)"
                    type="button" class="btn btn-default btn-sm">
                    <i class="fa fa-edit"></i>
                    Extract data
                </button>
            </div>

            <div class="btn-group mr-2" role="group" aria-label="Analyze outcome">
                <button v-on:click="goto_analysis(extract)"
                    type="button" class="btn btn-default btn-sm">
                    <i class="fa fa-chart-bar"></i>
                    Analyze this outcome
                </button>
            </div>

            <div class="btn-group mr-2" role="group" aria-label="Delete outcome">
                <button v-on:click="delete_extract(extract)"
                    type="button" class="btn btn-danger btn-sm">
                    Delete this outcome
                </button>
            </div>

            <div style="color: white;">
                {{ extract.abbr }}
            </div>

        </div>

    </div>

    <div v-bind:class="{hide: !show_settings}">

        <div class="card border-dark mt-2 mb-2 ml-2 mr-2" >
            
            <div class="card-body text-dark">
                <h5 class="card-title">Basic Settings</h5>

                <p class="card-text">The basic settings for this outcome.</p>


                <div class="row">

                    <div v-if="extract.meta.group != 'subgroup'" 
                        class="form-group col-md-4">
                        <label for="input_analysis_group">Analysis Group</label>

                        <select v-model="extract.meta.group"
                            class="form-control" id="input_analysis_group">
                            <option v-for="group in project.settings.outcome[extract.oc_type].analysis_groups"
                                v-bind:value="group.abbr">
                                {{ group.name }}
                            </option>
                        </select>

                        <small id="input_analysis_group_help" class="form-text text-muted">
                            The group for this outcome, <i>Primary Analysis</i>, <i>Sensitivity Analysis,</i> or other?
                        </small>
                    </div>

                    <div v-else
                        class="form-group col-md-4">
                        <label for="input_analysis_group">Analysis Group</label>

                        <select v-model="extract.meta.group" disabled
                            class="form-control" id="input_analysis_group">
                            
                            <option v-for="group in project.settings.outcome[extract.oc_type].analysis_groups"
                                v-bind:value="group.abbr">
                                {{ group.name }}
                            </option>
                        </select>

                        <small id="input_analysis_group_help" class="form-text text-muted">
                            The group for this outcome, <i>Primary Analysis</i>, <i>Sensitivity Analysis,</i> or other?
                        </small>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="input_category">Outcome Category</label>
                        <input v-model="extract.meta.category"
                            class="form-control" 
                            id="input_category" aria-describedby="input_category_help">
                        <small id="input_category_help" class="form-text text-muted">
                            The category of this outcome.
                        </small>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="input_full_name">Outcome Full Name</label>
                        <input v-model="extract.meta.full_name"
                            class="form-control" 
                            id="input_full_name" aria-describedby="input_full_name_help">
                        <small id="input_full_name_help" class="form-text text-muted">
                            The full name of this outcome, such as <i>Overall Survival</i>, <i>Cough</i>.
                        </small>
                    </div>

                    <div v-if="extract.meta.group == 'subgroup'"
                        class="form-group col-md-12">
                        <label for="input_subgroups">
                            Subgroups
                            <button class="btn btn-sm btn-primary"
                                title="Add a new sub group"
                                v-on:click="on_click_add_sub_group">
                                <i class="fa fa-plus"></i>
                            </button>
                        </label>
                        <small id="input_subgroups_help" class="form-text text-muted">
                            The category of this outcome.
                        </small>
                        <div class="row">

                            <div v-for="subg, subg_idx in extract.meta.sub_groups"
                                class="col-md-3">
                                <input type="text" 
                                    class="form-control" 
                                    v-model="extract.meta.sub_groups[subg_idx]">
                                <button v-if="subg_idx != 0" 
                                    v-on:click="on_click_remove_sub_group(subg_idx)"
                                    class="btn btn-sm">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="form-group col-md-4">
                        <label for="input_input_format">Data Type / Input Format</label>

                        <select v-if="extract.meta.oc_type == 'pwma'"
                            v-model="extract.meta.input_format"
                            v-on:change="on_change_input_format($event)"
                            class="form-control" id="input_input_format" 
                            aria-describedby="input_input_format_help">
                            <option value="PRIM_CAT_PRE">Categorical Precalculated Data</option>
                            <option value="PRIM_CAT_RAW">Categorical Raw Data</option>
                            <option value="PRIM_CATIRR_RAW">Categorical Raw (Incidence Rate Ratios) Data</option>
                            <option value="PRIM_CONTD_PRE">Continuous Precalculated Data</option>
                            <option value="PRIM_CONTD_RAW">Continuous Raw Data</option>
                            <option value="PRIM_CAT_RAW_G5">Categorical Raw Data of Grades (for IO project use only)</option>
                        </select>
                        <select v-if="extract.meta.oc_type == 'nma'"
                            v-model="extract.meta.input_format"
                            v-on:change="on_change_input_format($event)"
                            class="form-control" id="input_input_format" 
                            aria-describedby="input_input_format_help">
                            <option value="NMA_RAW_ET">Raw Data (event, total)</option>
                            <option value="NMA_PRE_SMLU">Precalculated Data (SM, lower, upper)</option>
                        </select>

                        <small id="input_input_format_help" class="form-text text-muted">
                            The format of the input data to the analyzer.
                        </small>
                    </div>

                    <div v-if="extract.meta.oc_type == 'pwma'"
                        class="form-group col-md-4">
                        <label for="input_treatment_arm">Treatment Arm</label>
                        <input v-model="extract.meta.treatments[0]"
                            class="form-control" 
                            id="input_treatment_arm" aria-describedby="input_treatment_arm_help">
                        <small id="input_treatment_arm_help" class="form-text text-muted">
                            The treatment arm name.
                        </small>
                    </div>
                    
                    <div v-if="extract.meta.oc_type == 'pwma'"
                        class="form-group col-md-4">
                        <label for="input_treatment_arm">Control Arm</label>
                        <input v-model="extract.meta.treatments[1]"
                            class="form-control" 
                            id="input_treatment_arm" aria-describedby="input_treatment_arm_help">
                        <small id="input_treatment_arm_help" class="form-text text-muted">
                            The control arm name.
                        </small>
                    </div>

                </div>

                <div class="row">
                    <div v-if="extract.meta.oc_type == 'nma'"
                        class="form-group col-md-12">
                        <label for="input_treatments">
                            Treatments
                            <button class="btn btn-xs btn-primary"
                                title="Add a new treatment arm"
                                v-on:click="on_click_add_treatment_arm">
                                <i class="fa fa-plus"></i>
                            </button>
                        </label>

                        <div class="row">

                            <div v-for="treatment, treat_idx in extract.meta.treatments"
                                class="col-sm-2">
                                <input type="text" 
                                    class="form-control" 
                                    v-model="extract.meta.treatments[treat_idx]">
                                <button v-if="treat_idx > 1" 
                                    v-on:click="on_click_remove_treatment_arm(treat_idx)"
                                    class="btn btn-sm">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>

                        </div>

                        <small id="input_treatments_help" class="form-text text-muted">
                            The treatments in this outcome.
                        </small>
                    </div>

                </div>

            </div>

        </div>

        <div class="card border-dark mt-2 mb-2 ml-2 mr-2" >
            <div class="card-body text-dark">
                <h5 class="card-title">Default Meta-Analysis Settings</h5>

                <p class="card-text">The following settings will be used as the default parameters for running the analyzer for SoF and plots.</p>

                <div class="row">

                    <div class="form-group col-md-4">
                        <label for="input_measure_of_effect">Measure of Effects</label>

                        <select v-model="extract.meta.measure_of_effect"
                            class="form-control" id="input_measure_of_effect" 
                            aria-describedby="input_measure_of_effect_help">
                            <option value="HR">Hazard Ratio (HR)</option>
                            <option value="RR">Relative Risk (RR)</option>
                            <option value="OR">Odds Ratio (OR)</option>
                            <option value="RD">Risk Difference (RD)</option>
                        </select>

                        <small id="input_measure_of_effect_help" class="form-text text-muted">
                            The measure of effects
                        </small>
                    </div>


                    <div class="form-group col-md-4">
                        <label for="input_fixed_or_random">Fixed or Random</label>

                        <select v-model="extract.meta.fixed_or_random"
                            class="form-control" id="input_fixed_or_random" 
                            aria-describedby="input_fixed_or_random_help">
                            <option value="fixed">Fixed</option>
                            <option value="random">Random</option>
                        </select>

                        <small id="input_fixed_or_random_help" class="form-text text-muted">
                            Fixed effect or random.
                        </small>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="input_which_is_better">Which is better</label>

                        <select v-model="extract.meta.which_is_better"
                            class="form-control" id="input_which_is_better" 
                            aria-describedby="input_which_is_better_help">
                            <option value="lower">Lower is better</option>
                            <option value="higher">Higher is better</option>
                        </select>

                        <small id="input_which_is_better_help" class="form-text text-muted">
                            Which is better when comparing the measure of effects.
                        </small>
                    </div>


                    <!-- for NMA -->
                    <div v-if="extract.meta.oc_type == 'nma'"
                        class="form-group col-md-4">
                        <label for="input_analysis_method">NMA Analysis Method</label>

                        <select v-model="extract.meta.analysis_method"
                            class="form-control" id="input_analysis_method" 
                            aria-describedby="input_analysis_method_help">
                            <option value="freq">Frequentist Network Meta-Analysis</option>
                            <option value="bayes">Bayesian Network Meta-Analysis</option>
                        </select>

                        <small id="input_analysis_method_help" class="form-text text-muted">
                            How to perform the network meta-analysis
                        </small>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- /card for the basic information -->

        <div class="card border-dark mt-2 mb-2 ml-2 mr-2">
            
            <div class="card-body text-dark">
                <h5 class="card-title">Public Website Appearance Settings</h5>

                <p class="card-text">The following settings will be used to decide what and how to display the information of this outcome in the public website.</p>


                <div class="row">
                    
                    <div class="form-group col-md-4">
                        <label for="input_included_in_plots">Include in Plots</label>

                        <select v-model="extract.meta.included_in_plots"
                            class="form-control" id="input_included_in_plots" 
                            aria-describedby="input_included_in_plots_help">
                            <option value="yes">Yes, include this outcome</option>
                            <option value="no">No, exclude this outcome</option>
                        </select>

                        <small id="input_included_in_plots_help" class="form-text text-muted">
                            Include this outcome in the result plots or not?
                        </small>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="input_included_in_sof">Include in SoF Table</label>

                        <select v-model="extract.meta.included_in_sof"
                            class="form-control" id="input_included_in_sof" 
                            aria-describedby="input_included_in_sof_help">
                            <option value="yes">Yes, include this outcome</option>
                            <option value="no">No, exclude this outcome</option>
                        </select>

                        <small id="input_included_in_sof_help" class="form-text text-muted">
                            Include this outcome in the SoF table or not?
                        </small>
                    </div>

                </div>
                <!-- /.row -->

                


            </div>

        </div>

        <!-- /card for the inclusion or not -->


    </div>
    <!-- /div of settings -->


    <div class="card border-dark mt-2 mb-2 ml-2 mr-2">
            
        <div class="card-body text-dark">
            <h5 class="card-title">
                References Settings
            
               <span class="text-sm ml-3">
                    <input type="checkbox"
                        v-model="only_show_selected"
                        v-on:change="on_change_only_show_selected($event);">
                    <span>Only show selected studies</span>
               </span>
            </h5>

            <p class="card-text mb-2">Select the papers included in this outcome for the public website.</p>

            <div class="panel-paperlist" v-if="extract != null">

                <!-- table for pwma -->
                <table class="table" style="table-layout:auto;">
                    <thead class="paper-table-header">
                        <tr>
                            <th class="paper-table-header-th" colspan="6">
                                &nbsp;
                            </th>
                            <th v-for="thr1 in thr1s"
                                v-bind:colspan="thr1.cols"
                                class="paper-table-header-th"
                                style="text-align: center;">
                                {{ thr1.name }}
                            </th>
                        </tr>
                        <tr>
                            <th class="paper-table-header-th" style="width: 20px;">
                                In
                            </th>
                            <th class="paper-table-header-th" style="width: 40px;">
                                #
                            </th>
                            <th class="paper-table-header-th" style="width: 90px">
                                PMID
                            </th>
                            <th class="paper-table-header-th" style="width: 40px;">
                                O/F
                            </th>
                            <th class="paper-table-header-th" style="width: 90px;" v-show="show_col_nct">
                                NCT
                            </th>
                            <th class="paper-table-header-th" style="width: 190px;">
                                ({{ n_selected }} selected)
                            </th>
                            <th class="paper-table-header-th" style="width: 50px;">
                                Arms
                            </th>

                            <!-- the attributes of pwma -->
                            <th class="paper-table-header-th" 
                                v-for="thr2 in thr2s"
                                v-bind:colspan="thr2.cols"
                                style="text-align: center;">
                                <span>
                                    {{ thr2.name }}
                                </span>
                            </th>
                        </tr>
                    </thead>
        
                    <tbody>
                        <tr class="paper-table-row" 
                            v-for="paper in papers"
                            v-bind:id="'paper-table-row-' + paper.pid"
                            v-bind:rct_id="paper.meta.rct_id"
                            v-show="!only_show_selected || extract.data[paper.pid].is_selected">
                            <td class="paper-table-body-td">
                                <input type="checkbox" id="" v-model="extract.data[paper.pid].is_selected" >
                            </td>
                            <td class="paper-table-body-td">
                                <span class="badge badge-pill badge-light">{{ paper.seq_num }}</span> 
                            </td>
                            <td class="paper-table-body-td">
                                <span class="text-sm">{{ paper.pid }}</span> 
                            </td>
                            <td class="paper-table-body-td"
                                v-show="show_col_nct">
                                <span class="text-sm">{{ paper.meta.rct_id }}</span>
                            </td>

                            <td class="paper-table-body-td"
                                style="cursor: pointer;"
                                v-on:click="toggle_trial_studies(paper)"
                                v-show="show_col_stype">
                                <span class="badge badge-pill "
                                    v-bind:class="'txt-col-stype-' + get_stype_badge(paper).cls">
                                    {{ get_stype_badge(paper).label }}
                                </span>
                            </td>

                            <td class="paper-table-body-td ">
                                <div class="paper-table-body-td-author"
                                    v-bind:title="get_first_author(paper.authors)">
                                    {{ get_first_author(paper.authors) }} {{ get_year(paper.pub_date) }}
                                </div>
                            </td>
                            
                            <td class="paper-table-body-td">
                                {{ extract.data[paper.pid].n_arms }}
                            </td>
                            
                            <!-- the attributes of pwma -->
                            <td v-for="attr_sub in all_attrs" 
                                class="paper-table-body-td paper-value">
                                
                                <!-- the main arm -->
                                <div v-for="g, g_idx in extract.meta.sub_groups">
                                    
                                    <span class="paper-table-body-cell"
                                        v-bind:title="attr_sub.cate_name + '|' + attr_sub.name + ': ' + get_extracted_data(paper.pid, null, g_idx, attr_sub.abbr)">
                                        {{ get_extracted_data(paper.pid, null, g_idx, attr_sub.abbr) }}&nbsp;
                                    </span>
                                </div>
        
                                <!-- the other tracks if n_arms > 2 -->
                                <hr class="n-arms-hr" v-if="extract.data[paper.pid].n_arms > 2">
                                
                                <div v-if="extract.data[paper.pid].n_arms > 2 && extract.data[paper.pid].attrs.other.length > 0">
                                    <div v-for="g, g_idx in extract.meta.sub_groups">
                                        <span v-for="other, other_idx in extract.data[paper.pid].attrs.other"
                                        class="paper-table-body-cell"
                                        v-bind:title="attr_sub.cate_name + '|' + attr_sub.name + ': ' + get_extracted_data(paper.pid, other_idx, g_idx, attr_sub.abbr)">
                                        {{ get_extracted_data(paper.pid, other_idx, g_idx, attr_sub.abbr) }}&nbsp;
                                    </span>
        
                                    </div>
                                </div>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
        
        
            </div>
            <!-- /.panel-paperlist -->

        </div>
    </div>

</div>
<!-- /#pan_ocpapers -->