{% extends '_layout_adminlte.html' %}

{% block title %}
Extract by paper
{% endblock %}

{% block page_name %}
<i class="fa fa-tasks"></i>
Extract by paper
{% endblock %}

{% block active_nav_link %}extractor-manage-selections{% endblock %}

{% block style %}
<style>

{% include 'css/basic.css' %}
{% include 'css/extractor.css' %}
{% include 'css/util.css' %}

/* local styles */
html {
    overflow-x: hidden;
    overflow-y: hidden;
}

#main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 0 0 0 10px;
    overflow: hidden;
}

#pan_ocpapers_working_paper_oc_tree {
    overflow-y: auto;
}
.chk-oc {
    border-bottom: 1px dotted #cfcfcf;
}
.chk-oc:hover {
    background-color: #bedce0;
}
.chk-oc-input {
    margin: 3px;
}
.chk-oc-label {
    width: 100%;
    font-weight: normal !important;
}
.chk-oc-h1 {
    background-color: #777777;
}
.chk-oc-h2 {
    background-color: #acacac;
}
.chk-oc-h3 {
    background-color: #c9c5c5;
}
.chk-oc-extracting {
    background-color: rgb(204, 224, 228) !important;
}
</style>

<!-- jQuery UI Theme -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">


{% endblock %}

{% block content %}

<div id="main">


<div id="pan_ocpapers">
<div v-if="papers != null && papers.length != 0 && extract_dict != null"
    class="d-flex flex-column">

    <div class="mb-1 d-flex flex-row">
        <div class="mr-2">
            <span style="font-size: 1.2em;">
                {{ papers.length }} studies (included in SR)
            </span>
        </div>

        <div class="input-group input-group-sm mr-2"
            style="width: 250px">
            <input type="text" class="form-control" placeholder="PMID, short #, first author name"
                v-model="keywords">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button"
                    title="Reset search"
                    v-on:click="reset_keywords()">
                    <i class="fa fa-close"></i>
                </button>
            </div>
        </div>
    </div>

    <div id="pan_ocpapers_paperlist" class="mt-1">
        <table style="max-width: 100%;">
            <thead id="pan_ocpapers_paperlist_thead">
                <tr>
                    <th>#</th>
                    <th>PID</th>
                    <th>{{ papers.length }} studies</th>
                    <th>Outcomes</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>

            <tbody id="pan_ocpapers_paperlist_tbody">
                <tr v-for="paper in papers"
                    v-if="is_search_match(paper)"
                    v-bind:id="'paper-table-row-' + paper.pid"
                    class="paper-table-row">
                    <td>{{ paper.seq_num }}</td>
                    <td>{{ paper.pid }}</td>
                    <td class="paper-table-body-td-author"
                        v-on:click="on_click_paper(paper)">
                        <div class="paper-table-body-td-author">
                            {{ paper.short_name }}
                        </div>
                    </td>
                    <td>
                        {{ paper.meta.outcome_selections.length }}
                    </td>
                    <td>
                        <b v-html="paper.title"></b><br>
                        <!-- <span v-for="abbr in paper.meta.outcome_selections"
                            class="paper-meta-selected-oc">
                            {{ extract_dict[abbr].meta.full_name }}
                        </span> -->
                    </td>
                </tr>
            </tbody>
        </table>
    
    </div>

    <div id="pan_ocpapers_working_paper"
        class="d-flex flex-row"
        v-if="show_working_paper_pan">
        <div id="pan_ocpapers_working_paper_selector" 
            class="mr-1"
            v-if="working_paper != null">
            <div class="working_title">
                {{ working_paper.short_name }}<br>
                is selected in <b>{{ n_selected_ocs() }}</b> outcomes
            </div>

            <div class="mt-1 mb-1">
                <button class="btn btn-sm btn-default mr-1"
                    v-on:click="save_working_paper_selections">
                    <i class="fa fa-save"></i>
                    Save Selections
                </button>
                <button class="btn btn-sm btn-default"
                    title="Toggle display selected only"
                    v-on:click="toggle_only_show_selected">
                    <i class="fa" v-bind:class="{'fa-toggle-on': only_show_selected, 'fa-toggle-off': !only_show_selected}"></i>
                    Toggle
                </button>
            </div>

            <div id="pan_ocpapers_working_paper_oc_tree">

                <div class="d-flex flex-row chk-oc">
                    <div>
                        <input type="checkbox" 
                            id="chk_oc_itable" class="chk-oc-input"
                            v-on:change="on_change_selection('itable')"
                            v-model="working_paper_oc_selections['itable']">
                    </div>
                    <div class="d-flex flex-row justify-content-between flex-fill">
                        <div>
                            <label class="chk-oc-label" for="chk-oc-itable">Interactive Table</label>
                        </div>
                        <div>
                            <button 
                                v-on:click="on_click_oc(extract_dict['itable'])"
                                class="btn btn-default btn-xs">
                                <i class="fa fa-edit"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="d-flex flex-column"
                    v-for="(oc_type, oc_type_idx) in extract_tree_sorted"
                    v-if="oc_type.oc_type != 'itable'">

                    <div class="chk-oc-h1 d-flex flex-row justify-content-between cursor-pointer"
                        v-on:click="on_click_toggle(extract_tree[oc_type.oc_type])">
                        <div class="ml-1">
                            <i v-if="extract_tree[oc_type.oc_type]._is_shown" class="far fa-folder-open"></i>
                            <i v-else class="far fa-folder"></i>
                            &nbsp;
                            {{ _lbl(oc_type.oc_type) }}
                        </div>
                    </div>

                    <div v-for="(group, group_idx) in oc_type.groups"
                        class="mt-1 mb-1"
                        v-show="extract_tree[oc_type.oc_type]._is_shown">

                        <div class="chk-oc-h2 d-flex flex-row justify-content-between cursor-pointer"
                            v-on:click="on_click_toggle(extract_tree[oc_type.oc_type].groups[group.abbr])">
                            <div class="ml-1 font-weight-bold">
                                <i v-if="extract_tree[oc_type.oc_type].groups[group.abbr]._is_shown" class="far fa-folder-open"></i>
                                <i v-else class="far fa-folder"></i>
                                &nbsp; 
                                {{ _lbl(group.abbr) }}
                            </div>
                        </div>

                        <div v-for="(cate, cate_idx) in group.cates"
                            v-show="extract_tree[oc_type.oc_type].groups[group.abbr]._is_shown">

                            <div class="chk-oc-h3 d-flex flex-row justify-content-between cursor-pointer"
                                v-on:click="on_click_toggle(extract_tree[oc_type.oc_type].groups[group.abbr].cates[cate.name])">
                                <div class="ml-1">
                                    <i v-if="cate._is_shown" class="far fa-folder-open"></i>
                                    <i v-else class="far fa-folder"></i>
                                    &nbsp;
                                    - {{ cate.name }}
                                </div>
                            </div>

                            <div v-for="(oc, oc_idx) in cate.ocs"
                                v-if="extract_tree[oc_type.oc_type].groups[group.abbr].cates[cate.name]._is_shown && (!only_show_selected || working_paper_oc_selections[oc.abbr])"
                                v-bind:id="'chk_oc_line_' + oc.abbr"
                                class="chk-oc d-flex flex-row">
                                <div>
                                    <input type="checkbox" 
                                        class="chk-oc-input"
                                        v-model="working_paper_oc_selections[oc.abbr]"
                                        v-bind:id="'chk_oc_input_' + oc.abbr"
                                        v-on:change="on_change_selection(oc.abbr)">
                                </div>
                                <div class="d-flex flex-row justify-content-between flex-fill">
                                    <div>
                                        <label class="chk-oc-label" 
                                            v-bind:for="'chk-oc-' + oc.abbr">
                                            {{ oc.meta.full_name }}
                                        </label>
                                    </div>
                                    <div>
                                        <button 
                                            v-on:click="on_click_oc(oc)"
                                            class="btn btn-default btn-xs">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        {% include 'extractor/__pan_ocpapers_working_paper_collector.html' %}
        
    </div>

</div>
<div v-else-if="papers == null">
    Loading ...
</div>
<div v-else-if="papers.length == 0">
    No studies are included in SR.
</div>

</div>

<div id="config_outcome">
    <div style="position: absolute; top: 0; left: -40px; width: 40px; height: 40px; background-color: white;">
        <div style="font-size: large; width: 40px; height: 40px; line-height: 40px; text-align: center; cursor: pointer;"
            onclick="$('#config_outcome').css('right', 5000);pan_ocpapers.hide_working_paper();">
            <i class="fa fa-close"></i>
        </div>
    </div>
    
</div>

<ul id="pan_ocpapers_ctx_menu" style="display: none;">
    
</ul>

<div id="win_collector">
    <div style="position: absolute; top: 0; left: -40px; width: 40px; height: 40px; background-color: white;">
        <div style="font-size: large; width: 40px; height: 40px; line-height: 40px; text-align: center; cursor: pointer;"
            onclick="pan_collector.hide(); pan_ocpapers.hide_working_paper();">
            <i class="fa fa-close"></i>
        </div>
    </div>
    {% include 'extractor/_pan_collector.html' %}
</div>

    
</div>
<!-- /#main -->


{% endblock %}

{% block script %}
<!-- mark.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>

<script>

{% include 'js/srv_shared.js' %}

{% include "js/srv_pdfworker.js" %}

///////////////////////////////////////////////////////////
// bind the project information to srv_extractor.js
///////////////////////////////////////////////////////////

{% include "js/srv_extractor.js" %}
srv_extractor.project = [[ project_json_str|safe ]];

///////////////////////////////////////////////////////////
// pan_collector for viewing basic information and PDF
///////////////////////////////////////////////////////////

{% include "js/pan_collector.js" %}

var pan_ocpapers = {
    vpp_id: "#pan_ocpapers",
    vpp: null,
    vpp_data: {
        // flags
        show_settings: true,
        only_show_selected: false,
        show_working_paper_pan: false,
        show_working_paper_collector: false,

        // for for type
        show_oc: {},

        // data
        papers: null,
        extracts: null,
        extract_dict: null,
        extract_tree: null,
        extract_tree_sorted: null,

        // working paper
        working_paper: null,
        working_paper_oc_selections: null,

        // working arm
        // null means main arm
        // numbers mean other arm
        working_paper_arm: null,

        // working oc
        working_oc: null,

        // the attrs for extraction
        all_attrs: [],

        // search
        keywords: ''
    },

    vpp_methods: {
        // label converting function from srv_shared
        _lbl: function(v) {
            return srv_shared._lbl(v);
        },

        ///////////////////////////////////////////////////
        // for search
        ///////////////////////////////////////////////////
        reset_keywords: function() {
            this.keywords = '';
        },

        is_search_match: function(paper) {
            if (this.keywords == '') {
                return true;
            }

            if (paper.pid.indexOf(this.keywords)>=0 ||
                paper.seq_num == parseInt(this.keywords) ||
                paper.short_name.toLocaleUpperCase().indexOf(this.keywords.toLocaleUpperCase())>=0
            ) {
                return true;
            }

            return false;
        },


        toggle_only_show_selected: function() {
            this.only_show_selected = !this.only_show_selected;
        },

        get_input_size: function(str) {
            // convert null to empty
            if (str == null) {
                str = '';
            }
            // convert number to string
            str = '' + str;
            var s = str.length;
            if (s<5) {
                return 5;
            } else if (s > 14) {
                return 14;
            } else {
                return s;
            }
        },

        // get year
        get_year: function(s) {
            return jarvis.get_year(s);
        },

        get_first_author: function(s) {
            var aus = s.split(';');
            if (aus.length == 1) {
                aus = s.split(',');
            }
            return aus[0];
        },

        n_selected_ocs: function() {
            var n = 0;
            for (const abbr in this.working_paper_oc_selections) {
                if (this.working_paper_oc_selections[abbr]) {
                    n += 1;
                }
            }
            return n;
        },

        on_click_paper: function(paper) {
            // set the working pmid ?
            this.working_paper = paper;                    

            // highlight this line
            $('.paper-table-row').removeClass('paper-table-row-clicked');
            $('#paper-table-row-' + paper.pid).addClass('paper-table-row-clicked');

            // notifiy the ocpaper to show the working paper
            pan_ocpapers.show_working_paper(paper);

            // close the extraction
            this.show_working_paper_collector = false;

            // call collector to do something
            pan_collector.show_paper(
                paper.pid
            );

            // make it draggable
            // $( "#pan_ocpapers_working_paper" ).draggable({ 
            //     handle: "div.working_title",
            //     containment: "#pan_ocpapers", 
            //     scroll: false
            // });
        },

        on_click_oc: function(oc) {
            // show the panel
            this.show_working_paper_collector = true;

            // set the working oc
            this.working_oc = oc;

            // add this working paper to the oc
            if (oc.data.hasOwnProperty(this.working_paper.pid)) {

            } else {
                oc.data[this.working_paper.pid] = srv_extractor.mk_oc_data(oc)
            }
            console.log('* extract', this.working_paper, 'for', oc);

            // switch working arm to default
            if (this.hasOwnProperty('switch_working_arm')) {
                this.switch_working_arm(null);
            } else {
                // ?
            }

            // highlight the oc in list
            $('.chk-oc').removeClass('chk-oc-extracting');
            $('#chk_oc_line_' + oc.abbr).addClass('chk-oc-extracting');
        },

        on_click_toggle: function(it) {
            it._is_shown = !it._is_shown;
        },

        on_change_selection: function(oc_abbr) {
            console.log(
                '*', oc_abbr, 'to',
                this.working_paper_oc_selections[oc_abbr]
            );

            var project_id = Cookies.get('project_id');
            srv_extractor.update_paper_one_selection(
                project_id,
                this.working_paper.pid,
                oc_abbr,
                this.working_paper_oc_selections[oc_abbr],
                function(data) {
                    console.log('* update_paper_one_selection', data);
                    jarvis.toast(data.msg);

                    // just update this paper in the extraction?
                    pan_ocpapers.update_vpp_papers(data.paper);
                }
            );
        },

        save_working_paper_selections: function() {
            var pid = this.working_paper.pid;

            pan_ocpapers.save_working_paper_selections(
                pid, this.working_paper_oc_selections
            );
        },

    },

    init: function() {
        this.vpp = new Vue({
            el: this.vpp_id,
            data: this.vpp_data,
            methods: this.vpp_methods,
            updated: function() {
                pan_ocpapers.resize();

                // update the autocomplete
                pan_ocpapers.update_autocomplete();
            }
        });
    },

    load: function() {
        var project_id = Cookies.get('project_id');
        srv_extractor.get_included_papers_and_selections(
            project_id,
            function(data) {
                console.log(data)
                pan_ocpapers.on_load(data);
            }
        )
    },

    on_load: function(data) {
        // the data is a combo of extract and papers
        this.vpp.extracts = data.extracts;
        this.vpp.papers = data.papers;

        // update the extract dict for display
        this.vpp.$data.extract_dict = this.update_extract_dict(data);
        this.vpp.$data.extract_tree = this.update_extract_tree(data);
        this.vpp.$data.extract_tree_sorted = srv_shared.create_extract_tree_sorted(
            this.vpp.$data.extract_tree
        );

        // update
        this.vpp.$forceUpdate();

        pan_ocpapers.resize();
    },

    update_extract_dict: function(data) {
        return srv_shared.create_extract_dict(data.extracts);
    },

    update_extract_tree: function(data) {
        return srv_shared.create_extract_tree(data.extracts);
    },

    save_working_paper_selections: function(pid, oc_selections) {
        // first, find those selections
        var ocs_selected = [];

        for (const abbr in oc_selections) {
            if (oc_selections[abbr]) {
                ocs_selected.push(abbr)
            }
        }

        // second, send those to backend for update
        var project_id = Cookies.get('project_id');
        srv_extractor.update_paper_selections(
            project_id, pid, ocs_selected, 
            function(data) {
                // the data contain a paer
                console.log(data);

                jarvis.toast('Updated #' + data.paper.seq_num + ' selection of ' + data.paper.meta.outcome_selections.length + ' outcomes.');

                // update everything!
                // pan_ocpapers.load();

                // just update this paper in the extraction?
                pan_ocpapers.update_vpp_papers(data.paper);
            }
        )
    },

    save_working_paper_extraction: function(pid, oc) {
        var project_id = Cookies.get('project_id');
        var oc_type = oc.oc_type;
        var abbr = oc.abbr;

        // prepare the incremental data for update
        var data = {};
        data[pid] = oc.data[pid];

        // and since we add this extraction
        // this paper is also selected?
        // no, the selected is for public site

        srv_extractor.update_extract_incr_data(
            project_id,
            oc_type,
            abbr,
            data,
            function(data) {
                // the data contain a paer
                console.log(data);

                jarvis.toast('Updated [' + data.extract.meta.full_name + '] with current extraction');

                // reload the page
                // pan_ocpapers.re_load(data.extract);
                
                // just update this extract?
                pan_ocpapers.update_vpp_extracts(data.extract);
            }
        );
    },

    show_working_paper: function() {
        this.vpp.show_working_paper_pan = true;

        // create a selection binding
        // which is a dictionary based on oc abbr
        var oc_selections = {};
        for (const abbr in this.vpp.extract_dict) {
            oc_selections[abbr] = false;
        }

        // set the bindings
        for (let i = 0; i < this.vpp.working_paper.meta.outcome_selections.length; i++) {
            const abbr = this.vpp.working_paper.meta.outcome_selections[i];
            // update the binding
            oc_selections[abbr] = true;
        }

        // bind the oc_selection
        this.vpp.working_paper_oc_selections = oc_selections;

        this.vpp.$forceUpdate();
    },

    update_vpp_papers: function(paper) {
        for (let i = 0; i < this.vpp.papers.length; i++) {
            const p = this.vpp.papers[i];
            if (p.pid == paper.pid) {
                this.vpp.papers[i] = paper;
                this.vpp.$forceUpdate();
                break;
            }

        }
    },

    update_vpp_extracts: function(extract) {
        // update the given extract
        for (let i = 0; i < this.vpp.$data.extracts.length; i++) {
            if (extract.abbr == this.vpp.$data.extracts[i].abbr) {
                this.vpp.$data.extracts[i] = extract;

                // then update the dict and tree
                this.vpp.$data.extract_dict = this.update_extract_dict(
                    this.vpp.$data
                );

                // then update the tree
                this.vpp.$data.extract_tree = this.update_extract_tree(
                    this.vpp.$data
                );

                // then update the sorted tree
                this.vpp.$data.extract_tree_sorted = srv_shared.create_extract_tree_sorted(
                    this.vpp.$data.extract_tree
                );

                this.vpp.$forceUpdate();
                break;
            }
        }
    },

    hide_working_paper: function() {
        this.vpp.show_working_paper_pan = false;
    },

    show: function() {
        $(this.vpp_id).show();
    },

    hide: function() {
        $(this.vpp_id).hide();
    },

    resize: function() {
        var h = $(window).height() - 60;
        $('#pan_ocpapers_paperlist').css('height', h - 30);
        $('#pan_ocpapers_working_paper_oc_tree').css('max-height', h - 120);
        $('#pan_ocpapers_working_paper_collector_attr_list').css('max-height', h - 145);
    }
};

{% include "js/pan_ocpapers_ext_wpc.js" %}

var jarvis = {
    goto_screener: function(project_id, title) {
        Cookies.set('project_id', project_id);
        Cookies.set('project_title', title);

        location.href = '[[ url_for("screener.overview") ]]';
    },

    init: function() {

        // init the shared service
        srv_shared.update_labels_by_project_settings(
            srv_extractor.project.settings
        );

        pan_ocpapers.init();
        pan_collector.init();

        // the load the init outcomes
        pan_ocpapers.load();

        // bind resize event
        this.bind_resize_event();
    },

    prompt: function(text, value) {
        return window.prompt(text, value);
    },

    confirm: function(text) {
        return window.confirm(text);
    },

    toast: function(s, s_type) {
        if (typeof(s_type) == 'undefined') {
            s_type = 'info';
        }
        toast(s, s_type);
    },

    get_year: function(s) {
        const regex = /\d{4}/gm;
        let m;
        if ((m = regex.exec(s)) !== null) {
            return m[0];
        }
        return '';
    },

    get_first_author: function(s) {
        var aus = s.split(';');
        if (aus.length == 1) {
            aus = s.split(',');
        }
        return aus[0];
    },

    download_file: function(fn) {
        // fixed image download bug
        // Thanks to https://stackoverflow.com/questions/17311645/download-image-with-javascript
        var a = $('<a>').attr('href', '/f/' + fn)
            .attr('download', fn)
            .appendTo("body");
        a[0].click()
        a.remove();
    },

    bind_resize_event: function() {
        $(window).on('resize', function(){
            pan_ocpapers.resize();
            pan_collector.resize();
        });
    }
};

$(document).ready(function() {
    jarvis.init();
});
</script>
{% endblock %}