{% extends '_layout_adminlte.html' %}

{% block title %}
Manage Selections
{% endblock %}

{% block page_name %}
<i class="fa fa-tasks"></i>
Manage Selections
{% endblock %}

{% block active_nav_link %}extractor-manage-selections{% endblock %}

{% block style %}
<style>
html {
    overflow-x: hidden;
    overflow-y: hidden;
}
/* badge */
.badge-ckl {
    color: #fff;
    background-color: #b88d17;
}

#main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 0 0 0 10px;
    overflow: hidden;
}
#pan_outcomes {
    height: 100%;
    overflow-y: auto;
}
.cate-line {
    cursor: pointer;
}
.cate-extract-line {
    border-left: 1px solid black;
    padding: 0 0 0 10px;
    margin: 0 0 0 10px;
}
.cate-extract-line:hover {
    background-color: aquamarine;
}
.cate-extract-line-clicked {
    background-color: aquamarine;
}
.cate-extract-name {
    width: 250px;
    min-width: 250px;
    max-width: 250px;
}
.cate-extract-name:hover {
    cursor: pointer;
}
.cate-extract-col {
    min-width: 60px;
    width: 100px;
    max-width: 200px;
    font-size: .9em;
    padding: 0 .5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-xs {
    padding: .15rem .5rem;
    font-size: .8rem;
    line-height: 1.2;
    border-radius: .2rem;
}

#config_outcome {
    min-width: 1100px;
    width: 70%;
    height: 100%;
    position: absolute;
    right: 5000px;
    background-color: #ffffff;
    padding: 5px;
}

.paper-table-body-td-author {
    width: 190px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.paper-table-body-cell {
    display: block;
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.paper-table-header-th {
    background-color: whitesmoke;
    border-left: 1px solid rgb(211, 211, 211);
    border-right: 1px solid rgb(211, 211, 211);    
}

.n-arms-hr {
    margin: 1px 0 !important;
}
#pan_ocpapers_paperlist {
    overflow-x: hidden;
    overflow-y: auto;
    height: 300px;
    font-size: 0.9em;
    max-width: calc(100% - 15px);
}
#pan_ocpapers_paperlist thead th{
    position: sticky;
    top: 0;
    background-color: #acacac;
}

#pan_ocpapers_paperlist tbody td{
    padding: 3px 3px;
}
#pan_ocpapers_paperlist tr:nth-child(even) {background: rgb(232, 232, 232)}
#pan_ocpapers_paperlist tr:nth-child(odd) {background: whitesmoke}

.paper-table-row:hover {
    background: #cccccc;
}
.paper-table-row-clicked {
    background-color: rgb(189, 228, 238) !important;
}
.paper-table-row-clicked .paper-name {
    font-weight: bold;
}

.paper-meta-selected-oc {
    padding: 0 4px;
    margin: 0 3px;
    background-color: #cfcece;
}

#pan_ocpapers_working_paper {
    /* width: 240px; */
    padding: 5px;
    height: auto;
    position: absolute;
    z-index: 95;
    top: 50px;
    right: 65%;
    background: white;
    font-size: .9em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.working_title {
    height: 38px;
    line-height: 18px;
    overflow: hidden;
    text-align: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    background-color: #dedede;

    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
#pan_ocpapers_working_paper_oc_tree {
    overflow-y: auto;
}
#pan_ocpapers_working_paper_collector {
    max-width: 190px;
}
#pan_ocpapers_working_paper_collector_attr_list {
    overflow-y: auto;
}
.chk-oc {
    border-bottom: 1px dotted #cfcfcf;
}
.chk-oc:hover {
    background-color: #bedce0;
}
.chk-oc-input {
    margin: 3px;
}
.chk-oc-label {
    width: 100%;
    font-weight: normal !important;
}
.chk-oc-h1 {
    background-color: #777777;
}
.chk-oc-h2 {
    background-color: #acacac;
}
.chk-oc-h3 {
    background-color: #c9c5c5;
}
.chk-oc-extracting {
    background-color: rgb(204, 224, 228) !important;
}
#win_selector {
    min-width: 1100px;
    width: 65%;
    height: 100%;
    position: absolute;
    right: 5000px;
    background-color: #ffffff;
    padding: 5px 10px;
}

#ifr_pdfviewer {
    width: 100%;
    height: 400px;
    min-height: 400px;
}

.txt-red {
    color: rgb(250, 89, 89);
    background: rgb(255, 205, 205);
    padding: 0;
    margin: 0;
}

.txt-yellow {
    background: rgb(238, 219, 171);
    color: darkgoldenrod;
    padding: 0;
    margin: 0;
}

.txt-orange {
    background: rgb(247, 226, 188);
    color: orange;
    padding: 0;
    margin: 0;
}

.txt-green {
    color: rgb(1, 56, 1);
    background: rgb(223, 245, 223);
    padding: 0;
    margin: 0;
}

.txt-blue {
    background: rgb(214, 214, 255);
    color: darkblue;
    padding: 0;
    margin: 0;
}

.txt-purple {
    background: rgb(250, 183, 250);
    color: purple;
    padding: 0;
    margin: 0;
}
div.w-attr-item:nth-child(even) {background: white; }
div.w-attr-item:nth-child(odd) {background: whitesmoke; }

.w-cate-item {
    padding: 3px 0;
}
.w-cate-item-name {
    font-size: .9em;
    font-weight: bold;
    background-color: rgb(209, 209, 209);
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.w-attr-item {
    border-bottom: 1px dotted #dedede;
    padding: 3px 0;
}
.w-attr-item-name {
    font-size: .9em;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.w-attr-subs {
    padding: 0 0 0 5px;
    border-left: 2px dashed rgb(155, 155, 155);
}
.w-sub-item-name {
    font-style: italic;
}
.w-remove-content {
    padding: 5px 5px;
    color: grey;
    font-size: 9px;
    cursor: pointer;
}
.w-remove-content:hover {
    background-color: lightcoral;
    color: white;
}

.paper-extract-input-auto {
    font-family: 'Courier New', Courier, monospace;
    font-size: .9em;
    padding: 0 3px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #cccccc;
}
</style>
{% endblock %}

{% block content %}

<div id="main">


<div id="pan_ocpapers">
<div v-if="papers != null && papers.length != 0 && extract_dict != null">
    <div class="panel-info">
        <div class="oc-attr d-flex flex-row">
            <span style="font-size: 1.2em;" class="mr-2">
                {{ papers.length }} studies included in SR
            </span>

            <!-- <div class="btn-group mr-2">
                <button v-on:click="update_extract();"
                    type="button" class="btn btn-default btn-sm">
                    <i class="fa fa-save"></i>
                    Save all
                </button>
            </div> -->
        </div>
    </div>

    <div id="pan_ocpapers_paperlist" class="mt-1">
        <table style="max-width: 100%;">
            <thead id="pan_ocpapers_paperlist_thead">
                <tr>
                    <th>#</th>
                    <th>&nbsp;</th>
                    <th>Outcomes</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>

            <tbody id="pan_ocpapers_paperlist_tbody">
                <tr v-for="paper in papers"
                    v-bind:id="'paper-table-row-' + paper.pid"
                    class="paper-table-row">
                    <td>{{ paper.seq_num }}</td>
                    <td class="paper-table-body-td-author"
                        v-on:click="on_click_paper(paper)">
                        <div class="paper-table-body-td-author">
                            {{ get_first_author(paper.authors) }} {{ get_year(paper.pub_date) }}
                        </div>
                    </td>
                    <td>
                        {{ paper.meta.outcome_selections.length }}
                    </td>
                    <td>
                        <span v-for="abbr in paper.meta.outcome_selections"
                            class="paper-meta-selected-oc">
                            {{ extract_dict[abbr].meta.full_name }}
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    
    </div>

    <div id="pan_ocpapers_working_paper"
        class="d-flex flex-row"
        v-if="show_working_paper_pan">
        <div id="pan_ocpapers_working_paper_selector" 
            class="mr-1"
            v-if="working_paper != null">
            <div class="working_title">
                {{ get_first_author(working_paper.authors) }} {{ get_year(working_paper.pub_date) }}<br>
                is selected in <b>{{ n_selected_ocs() }}</b> outcomes
            </div>

            <div class="mt-1 mb-1">
                <button class="btn btn-sm btn-default mr-1"
                    v-on:click="save_working_paper_selections">
                    <i class="fa fa-save"></i>
                    Save Selections
                </button>
                <button class="btn btn-sm btn-default"
                    title="Toggle display selected only"
                    v-on:click="toggle_only_show_selected">
                    <i class="fa" v-bind:class="{'fa-toggle-on': only_show_selected, 'fa-toggle-off': !only_show_selected}"></i>
                    Toggle
                </button>
            </div>

            <div id="pan_ocpapers_working_paper_oc_tree">

                <div class="d-flex flex-row chk-oc">
                    <div>
                        <input type="checkbox" 
                            id="chk_oc_itable" class="chk-oc-input"
                            v-model="working_paper_oc_selections['itable']">
                    </div>
                    <div class="d-flex flex-row justify-content-between flex-fill">
                        <div>
                            <label class="chk-oc-label" for="chk-oc-itable">Interactive Table</label>
                        </div>
                        <div>
                            <button 
                                v-on:click="extract(extract_dict['itable'])"
                                class="btn btn-default btn-xs">
                                <i class="fa fa-edit"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="d-flex flex-column">
                    <div class="chk-oc-h1">
                        Pairwise Meta-Analysis
                    </div>
                    <div v-for="(group, group_name) in extract_tree.pwma">

                        <div class="chk-oc-h2">
                            {{ group_name }}
                        </div>
                        <div v-for="(cate, cate_name) in group">

                            <div class="chk-oc-h3">
                                - {{ cate_name }}
                            </div>
                            <div v-for="oc in cate"
                                v-if="!only_show_selected || working_paper_oc_selections[oc.abbr]"
                                v-bind:id="'chk_oc_line_' + oc.abbr"
                                class="chk-oc d-flex flex-row">
                                <div>
                                    <input type="checkbox" 
                                        class="chk-oc-input"
                                        v-model="working_paper_oc_selections[oc.abbr]"
                                        v-bind:id="'chk_oc_input_' + oc.abbr">
                                </div>
                                <div class="d-flex flex-row justify-content-between flex-fill">
                                    <div>
                                        <label class="chk-oc-label" 
                                            v-bind:for="'chk-oc-' + oc.abbr">
                                            {{ oc.meta.full_name }}
                                        </label>
                                    </div>
                                    <div>
                                        <button 
                                            v-on:click="extract(oc)"
                                            class="btn btn-default btn-xs">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div id="pan_ocpapers_working_paper_collector"
            v-if="show_working_paper_collector">
            <div v-if="working_paper != null && working_oc != null">
                <div class="working_title">
                    {{ working_oc.meta.group }}<br>
                    {{ working_oc.meta.full_name }}
                </div>

                <div class="mt-1 mb-1">
                    <button class="btn btn-sm btn-default mr-1"
                        v-on:click="save_working_paper_extraction">
                        <i class="fa fa-save"></i>
                        Save Extraction
                    </button>
                </div>

                <div id="pan_ocpapers_working_paper_collector_attr_list">
                    <div v-for="cate in working_oc.meta.cate_attrs"
                        class="w-cate-item mt-1 mb-1">
                        <div class="w-cate-item-name">
                            {{ cate.name }}
                        </div>

                        <div class="w-cate-attrs">
                            <div v-for="attr in cate.attrs"
                                class="w-attr-item">
                                <div class="w-attr-item-name"
                                    v-bind:title="attr.name">
                                    {{ attr.name }}
                                </div>

                                <div class="w-attr-item-value"
                                    v-if="attr.subs == null">
                                    <input class="paper-extract-input-auto input-auto-complete" type="text" 
                                        v-bind:abbr="attr.abbr"
                                        v-bind:size="get_input_size(working_oc.data[working_paper.pid].attrs.main[attr.abbr])"
                                        v-model="working_oc.data[working_paper.pid].attrs.main[attr.abbr]"> 
                                    <span class="w-remove-content"
                                        v-on:click="working_oc.data[working_paper.pid].attrs.main[attr.abbr] = ''">
                                        <i class="fa fa-close"></i>
                                    </span>
                                </div>
                                
                                <div class="w-attr-subs"
                                    v-else>
                                    <div class="w-sub-item-value"
                                        v-for="sub, sub_idx in attr.subs">

                                        <div class="w-sub-item-name">
                                            - {{ sub.name }}
                                        </div>

                                        <div class="w-sub-item-value">
                                            <input class="paper-extract-input-auto input-auto-complete"     
                                                type="text" 
                                                v-bind:abbr="sub.abbr"
                                                v-bind:size="get_input_size(working_oc.data[working_paper.pid].attrs.main[sub.abbr])"
                                                v-model="working_oc.data[working_paper.pid].attrs.main[sub.abbr]"> 
                                            <span class="w-remove-content"
                                                v-on:click="working_oc.data[working_paper.pid].attrs.main[sub.abbr] = ''">
                                                <i class="fa fa-close"></i>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                                
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </div>

</div>
<div v-else-if="papers == null">
    Loading ...
</div>
<div v-else-if="papers.length == 0">
    No studies are included in SR.
</div>

</div>

<div id="config_outcome">
    <div style="position: absolute; top: 0; left: -40px; width: 40px; height: 40px; background-color: white;">
        <div style="font-size: large; width: 40px; height: 40px; line-height: 40px; text-align: center; cursor: pointer;"
            onclick="$('#config_outcome').css('right', 5000);pan_ocpapers.hide_working_paper();">
            <i class="fa fa-close"></i>
        </div>
    </div>
    
</div>


<div id="win_selector">
    <div style="position: absolute; top: 0; left: -40px; width: 40px; height: 40px; background-color: white;">
        <div style="font-size: large; width: 40px; height: 40px; line-height: 40px; text-align: center; cursor: pointer;"
            onclick="pan_selector.hide(); pan_ocpapers.hide_working_paper();">
            <i class="fa fa-close"></i>
        </div>
    </div>
    
    <div id="pan_selector" class="panel-m panel-container">
        <div v-if="paper == null">
            Click the paper name to show details
        </div>
    
        <!-- details of paper -->
        <div v-else
            class="d-flex flex-row">
    
            <div style="flex: 1;">
    
                <div class="panel-info">
                
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" 
                                v-bind:class="{active: show_tab == 'basic_info'}"
                                href="javascript:void(0);"
                                v-on:click="switch_tab('basic_info');">
                                <i class="fa fa-info-circle"></i>
                                Abstract
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0);"
                                v-bind:class="{active: show_tab == 'pdf'}"
                                v-on:click="switch_tab('pdf');">
                                <i class="far fa-file-pdf"></i>
                                PDFs
                            </a>
                        </li>
                    </ul>
                
                </div>
                <!-- /.panel-info -->
    
                <!-- the Abstract page -->
                <div id="pan_selector_basic_info"  
                    class="border-top-0 pan-normal"
                    v-show="show_tab == 'basic_info'">
    
                    <div class="panel-info">
                        <p style="font-size: 0.9em; color: #777777; ">{{ paper.pub_date }} - {{ paper.journal }}</p>
                        <p style="font-size: 1.5em; font-weight: bold; line-height: 1.2em;">{{ paper.title }}</p>
                        <p styel="font-size: 1em;">{{ paper.authors }}</p>
                        <p>
                            PMID: 
                            <a target="_blank" title="Show in " :href="'https://pubmed.ncbi.nlm.nih.gov/' + paper.pid ">{{ paper.pid }}</a> ({{ paper.pid_type }})
                        </p>
                        <p style="font-size: 1.2em; font-weight: bold;">Abstract</p>
                        <div style="font-size: 1em;" v-html="paper.abstract"></div>
                    </div>
                    
                </div>
    
                <!-- the PDF page -->
                <div id="pan_selector_pdf" v-show="show_tab == 'pdf'">
                    <div class="d-flex flex-row mt-2 mb-2 mr-2">
                        
                        <!-- display the buttons for each pdf file -->
                        <div class="btn-group mr-2"
                            v-for="pdf in paper.meta.pdfs">
                            <button type="button" class="btn btn-default btn-sm"
                            v-on:click="view_pdf(paper.paper_id, pdf.file_id, pdf.folder);">
                                <i class="far fa-file-pdf"></i>
                                {{ pdf.display_name }}
                            </button>
    
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="javascript:void(0);" 
                                        v-on:click="download_pdf(paper.paper_id, pdf.file_id, pdf.folder, pdf.display_name)">
                                        <i class="fa fa-download"></i>
                                        Download this PDF
                                    </a>
                                    <a class="dropdown-item" href="javascript:void(0);" 
                                        v-on:click="remove_pdf(paper.paper_id, pdf.file_id, pdf.folder, pdf.display_name)">
                                        <i class="far fa-trash-alt"></i>
                                        Delete this PDF
                                    </a>
                                </div>
                            </div>
                        </div>
                                        
                        <form id="form_pdf_files" method="post" 
                            class="ml-1"
                            enctype="multipart/form-data">
                            <input type="hidden" name="paper_id" v-bind:value="paper.paper_id">
                            <input type="file" name="files[]" multiple="" accept=".pdf"
                                    style="width: 210px;" id="input_pdf_files">
                        </form>
    
                        <button class="btn btn-default btn-sm mr-2"
                            v-on:click="upload_pdfs();">
                            <i class="fa fa-upload"></i>
                            Upload
                        </button>
    
                    </div>
    
    
                    <iframe v-if="paper.meta.hasOwnProperty('pdfs') && paper.meta.pdfs.length > 0"
                        id="ifr_pdfviewer" src="/pdfworker/view_pdf" 
                        width="100%" scrolling="yes"
                        frameborder="0">
                    </iframe>
                </div>
                
    
            </div>
            
        </div>
        
    </div>
    <!-- /#pan_selector -->

</div>

    
</div>
<!-- /#main -->


{% endblock %}

{% block script %}
<script>

{% include "js/srv_extractor.js" %}
{% include "js/srv_pdfworker.js" %}


var pan_ocpapers = {
    vpp_id: "#pan_ocpapers",
    vpp: null,

    init: function() {
        this.vpp = new Vue({
            el: this.vpp_id,
            data: {
                // flags
                show_settings: true,
                only_show_selected: false,
                show_working_paper_pan: false,
                show_working_paper_collector: false,

                // data
                papers: null,
                extracts: null,
                extract_dict: null,
                extract_tree: null,

                // working paper
                working_paper: null,
                working_paper_oc_selections: null,

                // working oc
                working_oc: null,

                // the attrs for extraction
                all_attrs: []
            },
            methods: {

                // save all!
                update_extract: function() {
                    pan_ocpapers.update_extract();
                },

                toggle_only_show_selected: function() {
                    this.only_show_selected = !this.only_show_selected;
                },

                get_input_size: function(str) {
                    // convert null to empty
                    if (str == null) {
                        str = '';
                    }
                    // convert number to string
                    str = '' + str;
                    var s = str.length;
                    if (s<5) {
                        return 5;
                    } else if (s > 14) {
                        return 14;
                    } else {
                        return s;
                    }
                },

                // get year
                get_year: function(s) {
                    return jarvis.get_year(s);
                },

                get_first_author: function(s) {
                    var aus = s.split(';');
                    if (aus.length == 1) {
                        aus = s.split(',');
                    }
                    return aus[0];
                },

                on_click_paper: function(paper) {
                    // set the working pmid ?
                    this.working_paper = paper;                    

                    // highlight this line
                    $('.paper-table-row').removeClass('paper-table-row-clicked');
                    $('#paper-table-row-' + paper.pid).addClass('paper-table-row-clicked');

                    // notifiy the ocpaper to show the working paper
                    pan_ocpapers.show_working_paper(paper);

                    // call collector to do something
                    pan_selector.show_paper(
                        paper.pid
                    );

                    // make it draggable
                    // $( "#pan_ocpapers_working_paper" ).draggable({ 
                    //     handle: "div.working_title",
                    //     containment: "#pan_ocpapers", 
                    //     scroll: false
                    // });
                },

                n_selected_ocs: function() {
                    var n = 0;
                    for (const abbr in this.working_paper_oc_selections) {
                        if (this.working_paper_oc_selections[abbr]) {
                            n += 1;
                        }
                    }
                    return n;
                },

                save_working_paper_selections: function() {
                    var pid = this.working_paper.pid;

                    pan_ocpapers.save_working_paper_selections(
                        pid, this.working_paper_oc_selections
                    );
                },

                save_working_paper_extraction: function() {
                    var pid = this.working_paper.pid;
                    var oc = this.working_oc;

                    pan_ocpapers.save_working_paper_extraction(
                        pid, oc
                    );
                },

                extract: function(oc) {
                    // add this working paper to the oc
                    if (oc.data.hasOwnProperty(this.working_paper.pid)) {

                    } else {
                        oc.data[this.working_paper.pid] = srv_extractor.mk_oc_data(oc)
                    }

                    console.log('* extract', this.working_paper, 'for', oc);

                    // show the panel
                    this.show_working_paper_collector = true;

                    // set the working oc
                    this.working_oc = oc;

                    // highlight the oc in list
                    $('.chk-oc').removeClass('chk-oc-extracting');
                    $('#chk_oc_line_' + oc.abbr).addClass('chk-oc-extracting');
                }
            },
            updated: function() {
                pan_ocpapers.resize();
            }
        });
    },

    load: function() {
        var project_id = Cookies.get('project_id');
        srv_extractor.get_included_papers_and_selections(
            project_id,
            function(data) {
                console.log(data)
                pan_ocpapers.on_load(data);
            }
        )
    },

    on_load: function(data) {
        // the data is a combo of extract and papers
        this.vpp.extracts = data.extracts;
        this.vpp.papers = data.papers;

        // update the extract dict for display
        this.vpp.$data.extract_dict = this.update_extract_dict(data);
        this.vpp.$data.extract_tree = this.update_extract_tree(data);

        // update
        this.vpp.$forceUpdate();

        pan_ocpapers.resize();
    },

    re_load: function(extract) {
        // update the given extract
        for (let i = 0; i < this.vpp.extracts.length; i++) {
            if (extract.abbr == this.vpp.extracts[i].abbr) {
                this.vpp.extracts[i] = extract;
            }
        }

        // update dict and tree
        this.vpp.$data.extract_dict = this.update_extract_dict(data);
        this.vpp.$data.extract_tree = this.update_extract_tree(data);

        // update
        this.vpp.$forceUpdate();

        pan_ocpapers.resize();
    },

    update_extract_dict: function(data) {
        /**
        The extract dict is just a dictionary structure for searching
        */
        var extract_dict = {};
        for (let i = 0; i < data.extracts.length; i++) {
            var extract = data.extracts[i];
            
            var abbr = extract.abbr;
            var cate = extract.meta;
            extract_dict[abbr] = extract;
        }
    
        // update the vpp data
        return extract_dict;
    },

    update_extract_tree: function(data) {
        /**
        the extract tree is a tree-shape data structure
        {
            itable:
            pwma: {
                group1: {
                    cate1: [oc1, oc2, ...],
                    cate2: [oc1, oc2, ...]
                },
                group2: {

                }
            }
            subg:
            nma:
        }

        The first level is the oc_type.
        The second level is the group.
        The third level is the cate.
        In each cate, there are outcomes as list.
        */
        var extract_tree = {
            itable: null,
            pwma: {},
            subg: {},
            nma: {}
        };
        
        for (let i = 0; i < data.extracts.length; i++) {
            const ext = data.extracts[i];
            
            var oc_type = ext.oc_type;
            var group = ext.meta.group;
            var cate = ext.meta.category;

            if (ext.oc_type == 'itable') {
                extract_tree.itable = ext;
            } else {
                // check the group
                if (!extract_tree[oc_type].hasOwnProperty(group)) {
                    extract_tree[oc_type][group] = {}
                }
                // check the cate
                if (!extract_tree[oc_type][group].hasOwnProperty(cate)) {
                    extract_tree[oc_type][group][cate] = []
                }
                // put this outcome to the cate
                extract_tree[oc_type][group][cate].push(ext);
            }
        }

        return extract_tree;
    },

    save_working_paper_selections: function(pid, oc_selections) {
        // first, find those selections
        var ocs_selected = [];

        for (const abbr in oc_selections) {
            if (oc_selections[abbr]) {
                ocs_selected.push(abbr)
            }
        }

        // second, send those to backend for update
        var project_id = Cookies.get('project_id');
        srv_extractor.update_paper_selections(
            project_id, pid, ocs_selected, 
            function(data) {
                // the data contain a paer
                console.log(data);

                jarvis.toast('Update [' + data.paper.seq_num + '] selected in ' + data.paper.meta.outcome_selections.length + ' outcomes.');

                // update everything!
                pan_ocpapers.load();
            }
        )
    },

    save_working_paper_extraction: function(pid, oc) {
        var project_id = Cookies.get('project_id');
        var oc_type = oc.oc_type;
        var abbr = oc.abbr;

        // prepare the incremental data for update
        var data = {};
        data[pid] = oc.data[pid];

        // and since we add this extraction
        // this paper is also selected?
        // no, the selected is for public site

        srv_extractor.update_extract_incr_data(
            project_id,
            oc_type,
            abbr,
            data,
            function(data) {
                // the data contain a paer
                console.log(data);

                jarvis.toast('Update [' + data.extract.meta.full_name + '] with current extraction');

                // reload the page
                // pan_ocpapers.re_load(data.extract);
                pan_ocpapers.load();
            }
        );
    },

    update_extract: function() {
        // there are 
        var project_id = Cookies.get('project_id');
        var oc_type = this.vpp.$data.extract.oc_type;
        var abbr = this.vpp.$data.extract.abbr;
        var meta = this.vpp.$data.extract.meta;
        var data = this.vpp.$data.extract.data;

        // send request!
        $.post(
            srv_extractor.url.update_extract,
            {project_id:project_id, oc_type:oc_type, abbr:abbr,
             meta:JSON.stringify(meta), data:JSON.stringify(data)},
            function(data) {
                // show
                toast('Saved the outcome [' + data.extract.meta.full_name + ']');
                // reload the outcomes
                pan_outcomes.load();
            }
        );
    },

    show_working_paper: function(paper) {
        this.vpp.working_paper = paper;  
        this.vpp.show_working_paper_pan = true;

        // create a selection binding
        // which is a dictionary based on oc abbr
        var oc_selections = {};
        for (const abbr in this.vpp.extract_dict) {
            oc_selections[abbr] = false;
        }

        // set the bindings
        for (let i = 0; i < paper.meta.outcome_selections.length; i++) {
            const abbr = paper.meta.outcome_selections[i];
            // update the binding
            oc_selections[abbr] = true;
        }

        // bind the oc_selection
        this.vpp.working_paper_oc_selections = oc_selections;

        this.vpp.$forceUpdate();
    },

    hide_working_paper: function() {
        this.vpp.show_working_paper_pan = false;
    },

    show: function() {
        $(this.vpp_id).show();
    },

    hide: function() {
        $(this.vpp_id).hide();
    },

    resize: function() {
        var h = $(window).height() - 90;
        $('#pan_ocpapers_paperlist').css('height', h);
        $('#pan_ocpapers_working_paper_oc_tree').css('max-height', h - 90);
        $('#pan_ocpapers_working_paper_collector_attr_list').css('max-height', h - 90);
    }
};


var pan_selector = {
    vpp_id: "#pan_selector",
    vpp: null,
    pdfviewer_id: '#ifr_pdfviewer',

    mark_keywords_as_color: function(keywords, color) {
        $('#pan_selector_basic_info').mark(
            keywords,
            { className: 'txt-' + color, separateWordSearch: false }
        );
    },

    init: function() {
        this.vpp = new Vue({
            el: this.vpp_id,
            data: {
                paper: null,
                show_tab: null
            },
            updated: function() {
            },
            methods: {
                switch_tab: function(tab_name) {
                    this.show_tab = tab_name;
                },

                view_pdf: function(paper_id, file_id, folder) {
                    pan_selector.view_pdf(paper_id, file_id, folder);
                },

                upload_pdfs: function() {
                    pan_selector.upload_pdfs();
                },

                download_pdf: function(paper_id, file_id, folder, display_name) {
                    srv_pdfworker.download_pdf(null, file_id, folder);
                },

                remove_pdf: function(paper_id, file_id, folder, display_name) {
                    srv_pdfworker.remove_pdf(
                        paper_id, file_id, folder, display_name,
                        function(data) {
                            console.log('* removed', data)
                            jarvis.toast('Removed PDF file successfully');
                            // update display
                            pan_selector.update(data.paper);
                        }
                    );
                },

                get_year: function(s) {
                    return jarvis.get_year(s);
                },

                get_first_author: function(s) {
                    return jarvis.get_first_author(s);
                },
            },
            updated: function() {
                // pan_selector.bind_txt_ctx_menu();
            }
        });

        this.resize();

    },

    update: function(paper) {
        // update data
        this.vpp.$data.paper = paper;

        // update the normal UI
        this.vpp.show_tab = 'basic_info';
        this.vpp.$forceUpdate();

        // update the keywords highlight
        // this.vpp.$nextTick(function () {
        //     console.log('* pan_selector UI updated');
        //     pan_selector.mark_keywords_as_color(
        //         srv_extractor.project.settings.highlight_keywords.inclusion,
        //         'green'
        //     );
        // });

        // update the PDF viewer
        // this.load_pdf();
    },

    show_paper: function(pid) {
        // set loc to show
        $('#win_selector').css("right", 0);

        // resize
        pan_selector.resize();

        // get the paper
        srv_extractor.get_paper(pid, function(data) {
            pan_selector.update(data.paper);
        });
    },

    show: function() {
        $(this.vpp_id).show();
        // bind the context menu
        // this.bind_txt_ctx_menu();
    },

    hide: function() {
        $('#win_selector').css('right', 5000); 
    },

    view_pdf: function(paper_id, file_id, folder) {
        // update the pdf viewer size
        this.resize();

        // load the pdf
        this.load_pdf(folder, file_id);
    },

    load_pdf: function(folder, file_id) {
        var pdf_url = "/pdfworker/pdf/" + folder + "/" + file_id + '.pdf';

        // just load the blank page
        if (typeof(folder) == 'undefined') {
            pdf_url = '/pdfworker/view_pdf';
        }

        // get the highlight_keywords
        // var highlight_keywords = pan_selector.get_pdf_highlight_keywords();
        // document.getElementById("ifr_pdfviewer").contentWindow.LNMA.open_pdf(pdf_url, highlight_keywords);

        // show the pdf without keywords
        document.getElementById("ifr_pdfviewer").contentWindow.LNMA.open_pdf(pdf_url, []);
    },

    /**
     * Get the keywords and color for highlighting in PDF
     */
    get_pdf_highlight_keywords: function() {
        var tmp = [];

        // first, the keywords from the project
        tmp.push({
            keywords: srv_extractor.project.settings.highlight_keywords.inclusion,
            color: 'green'
        });

        // second, push the outcome name if current is not working on itable

        // third, push the pdf highlight keywords in project settings
        tmp.push({
            keywords: srv_extractor.project.settings.pdf_keywords.main,
            color: 'yellow'
        });

        return tmp;
    },

    upload_pdfs: function() {
        var paper_id = this.vpp.paper.paper_id;
        // call pdfworker service to upload
        srv_pdfworker.update_form_data(
            '#form_pdf_files',
            function(data) {
                console.log(data);
                if (data.success) {

                    jarvis.toast('Uploaded PDF for paper!');
                    
                    // update display
                    pan_selector.update(data.paper);
                } else {
                    toast('Error when uploading PDF, try later.', 'error')
                }
            }
        );
    },

    resize: function() {
        // set the height for the window
        var h = $(window).height() - 50;
        $('#win_selector').css("height", h);

        // set the height for the pdf viewer
        var h = $(window).height() - 150;
        $(this.pdfviewer_id).css('height', h + 'px');
    },
};


var jarvis = {
    goto_screener: function(project_id, title) {
        Cookies.set('project_id', project_id);
        Cookies.set('project_title', title);

        location.href = '[[ url_for("screener.overview") ]]';
    },

    init: function() {
        pan_ocpapers.init();
        pan_selector.init();

        // the load the init outcomes
        pan_ocpapers.load();

        // bind resize event
        this.bind_resize_event();
    },

    prompt: function(text, value) {
        return window.prompt(text, value);
    },

    confirm: function(text) {
        return window.confirm(text);
    },

    toast: function(s) {
        toast(s);
    },


    get_year: function(s) {
        const regex = /\d{4}/gm;
        let m;
        if ((m = regex.exec(s)) !== null) {
            return m[0];
        }
        return '';
    },

    download_file: function(fn) {
        // fixed image download bug
        // Thanks to https://stackoverflow.com/questions/17311645/download-image-with-javascript
        var a = $('<a>').attr('href', '/f/' + fn)
            .attr('download', fn)
            .appendTo("body");
        a[0].click()
        a.remove();
    },

    bind_resize_event: function() {
        $(window).on('resize', function(){
            pan_ocpapers.resize();
            pan_selector.resize();
        });
    }
};

$(document).ready(function() {
    jarvis.init();
});
</script>
{% endblock %}