{% extends '_layout_adminlte.html' %}

{% block title %}
Data Extractor v1
{% endblock %}

{% block style %}
<style>
html {
    overflow: hidden;
}
#navi_header {
    margin: 5px 5px 0 0;
    padding: 0 5px 0 10px;
}
#main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100% - 100px);
    overflow: hidden;
}
.panel-s {
    width: 24%;
    margin: 5px 5px 0 0;
    padding: 0 5px 0 10px;
    border-right: 1px dotted #999999;
}
.panel-m {
    width: 49%;
    margin: 5px 5px 0 0;
    padding: 0 5px 0 10px;
    border-right: 1px dotted #999999;
}
.panel-l {
    width: 74%;
    margin: 5px 5px 0 0;
    padding: 0 5px 0 10px;
    border-right: 1px dotted #999999;
}
.panel-f {
    width: 98%;
    margin: 5px 5px 0 0;
    padding: 0 5px 0 10px;
}
.panel-box {
    margin: 5px 0 15px 0;
    border-bottom: 1px dotted #cccccc;
    padding: 10px 0;
}
.panel-container {
    max-width: 100%;
    overflow-y: auto;
}
#pan_outcomes {
    height: 100%;
}
#pan_ocpapers {

}
#pan_collector {

}
#pan_analyzer {

}
.oc-attr {
    display: inline-block;
    margin: 0 10px 3px 0;
}
.oc-attr-name {
    background: #ececec;
    padding: 0 3px;
    border-bottom: 1px solid #ececec;
}
.oc-attr-value {
    width: auto;
    /* margin-left: -3px; */
    padding: 0 3px;
    border: 0;
    border-bottom: 1px solid #ececec;
}
.oc-attr-value-sm {
    width: 120px;
    margin-left: 5px;
}
.paper-extract-input {
    width: 40px;
    min-width: 30px;
    max-width: 80px;
    height: 20px;
    padding: 1px 1px;
}
.hide {
    display: none;
}
{% include 'css/box.css' %}
</style>
{% endblock %}

{% block page_name %}
<i class="far fa-edit"></i>
Data Extractor
{% endblock %}

{% block content %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<div id="navi_header">
    <button onclick="jarvis.switch_layout('build_itable');">
        <i class="fa fa-table"></i>
        Interactive Table
    </button>

    <button onclick="jarvis.switch_layout('manage_outcomes');">
        <i class="fa fa-list"></i>
        Manage Outcomes
    </button>

    <button onclick="jarvis.switch_layout('extract_information');">
        <i class="fa fa-edit"></i>
        Extract Information
    </button>

    <button onclick="jarvis.switch_layout('analyze_outcome');">
        <i class="fa fa-chart-bar"></i>
        Analyze Outcome
    </button>
</div>
<!-- /#navi_header -->

<div id="main">

    <div id="pan_outcomes" class="panel-m panel-container">

        <h5>
            PWMA Outcomes
            <button class="btn-sm"
                v-on:click="create_extract('pwma', 'default')">
                <i class="fa fa-plus"></i>
                Add Outcome
            </button>
            <button class="btn-sm"
                v-on:click="create_extract('subg', 'default')">
                <i class="fa fa-plus"></i>
                Add Subgroup Analysis
            </button>
        </h5>
        <div class="panel-box">
            <div class="oper-bar">
                
            </div>
            <table class="table">
                <tr>
                    <th>Group</th>
                    <th>Full Name</th>
                    <th>Measure</th>
                    <th>Treatment</th>
                    <th>Control</th>
                    <th>&nbsp;</th>
                </tr>
                <tr v-for="oc in data.pwma.outcomes">
                    <td>{{ oc.group }}</td>
                    <td :oc_abbr="oc.abbr">
                        <a href="javascript:void(0);"
                            v-on:click="show_extract_data(oc.oc_type, oc.abbr)">
                            {{ oc.full_name }}
                        </a>
                    </td>
                    <td>{{ oc.measure_of_effect }}</td>
                    <td>{{ oc.treatment.abbr }}</td>
                    <td>{{ oc.control.abbr }}</td>
                    <td>
                        <a href="javascript:void(0);" class="text-danger"
                            v-on:click="delete_extract(oc.oc_type, oc.abbr, oc.full_name)">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            </table>

            <table class="table" v-if="Object.keys(data.subg.outcomes).length != 0">
                <tr>
                    <th>Group</th>
                    <th>Full Name</th>
                    <th>Measure</th>
                    <th>Treatment</th>
                    <th>Control</th>
                    <th>Subgroups</th>
                    <th>&nbsp;</th>
                </tr>

                <tr v-for="oc in data.subg.outcomes">
                    <td>{{ oc.group }}</td>
                    <td :oc_abbr="oc.abbr">
                        <a href="javascript:void(0);"
                            v-on:click="show_extract_data(oc.oc_type, oc.abbr)">
                            {{ oc.full_name }}
                        </a>
                    </td>
                    <td>{{ oc.measure_of_effect }}</td>
                    <td>{{ oc.treatment.abbr }}</td>
                    <td>{{ oc.control.abbr }}</td>
                    <td>{{ oc.subgroups }}</td>
                    <td>
                        <a href="javascript:void(0);" class="text-danger"
                            v-on:click="delete_extract(oc.oc_type, oc.abbr, oc.full_name)">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            </table>

        </div>

        <h5>
            NMA Outcomes
            <button class="btn-sm"
                v-on:click="create_extract('nma', 'default')">
                <i class="far fa-plus-square"></i>
                Add Outcome
            </button>
        </h5>
        <div class="panel-box">
            <div class="oper-bar">

            </div>
            <table class="table">
                <tr>
                    <th>Group</th>
                    <th>Full Name</th>
                    <th>Measure</th>
                    <th>Treatments</th>
                    <th>&nbsp;</th>
                </tr>
                <tr v-for="oc in data.nma.outcomes">
                    <td>{{ oc.group }}</td>
                    <td>
                        <a href="javascript:void(0);"
                            v-on:click="show_extract_data(oc.oc_type, oc.abbr)">
                            {{ oc.full_name }}
                        </a>
                    </td>
                    <td>{{ oc.measure }}</td>
                    <td> - </td>
                    <td>
                        <a href="javascript:void(0);" class="text-danger"
                            v-on:click="delete_extract(oc.oc_type, oc.abbr, oc.full_name)">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- /#pan_outcomes -->


    {% include 'extractor/_v1_pan_itbuilder.html' %}

    {% include 'extractor/_v1_pan_ocpapers.html' %}


    <div id="pan_collector" class="panel-m panel-container">
        <div class="panel-info">
            <div class="oc-attr">
                <span class="oc-attr-name">Abstract</span>
            </div>
            <div class="oc-attr">
                <span class="oc-attr-name">Filename.pdf</span>
            </div>
        </div>
        <!-- /.panel-info -->

        
    </div>
    <!-- /#pan_collector -->

    <div id="pan_analyzer" class="panel-m panel-container">
        <div class="panel-info">
            <div class="oc-attr">
                <span style="font-size: 1.2em;">
                    <i class="fa fa-balance-scale"></i>
                    Analyzer
                </span>
            </div>
            <div class="oc-attr">
                <button onclick="pan_analyzer.analyze();">
                    <i class="fa fa-calculator"></i>
                    Run analyzer
                </button>
            </div>
        </div>
        <!-- /.panel-info -->

        {% include 'analyzer/_fg_pwma_imglist.html' %}
    </div>
    <!-- /#pan_analyzer -->
</div>
<!-- /#main -->


{% endblock %}

{% block active_nav_link %}extractor{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>

{% include 'js/lisr_analyzer.js' %}
{% include 'js/fg_pwma_imglist.js' %}

var pan_outcomes = {
    vpp_id: '#pan_outcomes',
    vpp: null,

    data_empty: {
        pwma: { outcomes: {} },
        subg: { outcomes: {} },
        nma: { outcomes: {} },
        itable: { outcomes: {} },
    },

    load: function() {
        var project_id = Cookies.get('project_id');

        $.get(
            jarvis.url.get_extracts,
            {project_id:project_id},
            function(data) {
                console.log(data);
                pan_outcomes.show_extracts(data.extracts);
            }, 'json'
        );
    },

    init: function() {
        this.vpp = new Vue({
            el: this.vpp_id,
            data: {
                data: JSON.parse(JSON.stringify(this.data_empty))
            },
            methods: {
                create_extract: function(oc_type, tpl) {
                    pan_outcomes.create_extract(oc_type, tpl);
                },

                create_itable_column: function() {
                    pan_outcomes.create_itable_column();
                },

                show_extract_data: function(oc_type, abbr) {
                    pan_outcomes.show_extract_data(oc_type, abbr);
                },

                delete_extract: function(oc_type, abbr, full_name) {
                    pan_outcomes.delete_extract(oc_type, abbr, full_name);
                }
            }
        });
    },

    delete_extract: function(oc_type, abbr, full_name) {
        var ret = jarvis.confirm('The deleted outcome and related extractions can NOT be restored. Are you sure to delete [' + full_name + ']?');
    
        if (ret) {
            var project_id = Cookies.get('project_id');
            $.post(
                jarvis.url.delete_extract,
                {project_id:project_id, oc_type:oc_type, abbr:abbr},
                function(data) {
                    jarvis.toast('Deleted!');
                    pan_outcomes.load();
                }, 'json'
            );
        }
    },

    show_extract_data: function(oc_type, abbr) {
        console.log('* show extract [' + oc_type + '] [' + abbr + ']');
        pan_ocpapers.show_extract_and_papers(oc_type, abbr);
    },

    create_itable_column: function() {
        var text = jarvis.prompt('The column name:');
        if (text == null) { return; }
        text = text.trim();
        if (text == '') { return; }

        // detect if exists

        // send to backend

    },
    
    create_extract: function(oc_type, tpl) {
        // get the full name
        var text = jarvis.prompt('The outcome full name:');
        if (text == null) { return; }
        text = text.trim();
        if (text == '') { return; }

        // create an abbr
        var abbr = jarvis.mk_oc_abbr();

        // create an meta
        var meta = JSON.parse(JSON.stringify(jarvis.tpl.oc_type[oc_type][tpl]));
        meta.full_name = text;
        meta.abbr = abbr;

        var data = {};
        var project_id = Cookies.get('project_id');

        $.post(
            jarvis.url.create_extract,
            {
                project_id: project_id,
                oc_type: oc_type,
                abbr: abbr,
                meta: JSON.stringify(meta),
                data: JSON.stringify(data)
            }, 
            function(data) {
                console.log(data);
                // update UI
                pan_outcomes.add_extracts([data.extract]);
            }, 'json'
        );
    },

    show_extracts: function(extracts) {
        // clear existing
        this.vpp.$data.data = JSON.parse(JSON.stringify(this.data_empty));
        this.add_extracts(extracts);
        // update the vpp
        this.vpp.$forceUpdate();
    },

    add_extracts: function(extracts) {
        for (let i = 0; i < extracts.length; i++) {
            var extract = extracts[i];
            var oc_type = extract.oc_type;
            var abbr = extract.abbr;
            // add to the related type
            this.vpp.data[oc_type].outcomes[abbr] = extract.meta;
        }

        // update the vpp
        this.vpp.$forceUpdate();
    },

    show: function() {
        $(this.vpp_id).show();
    },

    hide: function() {
        $(this.vpp_id).hide();
    },

    set_size: function(size) {
        $(this.vpp_id).removeClass('panel-s panel-m panel-l')
            .addClass('panel-' + size);
    }
};


var pan_ocpapers = {
    vpp_id: "#pan_ocpapers",
    vpp: null,

    init: function() {
        this.vpp = new Vue({
            el: this.vpp_id,
            data: {
                show_settings: true,
                extract: null,
                papers: []
            },
            methods: {
                toggle_show_settings: function() {
                    this.show_settings = !this.show_settings;
                },

                // save all!
                update_extract: function() {
                    pan_ocpapers.update_extract();
                },
                
                // copy 
                copy_extract: function() {
                    pan_ocpapers.copy_extract();
                },

                // get year
                get_year: function(s) {
                    return jarvis.get_year(s);
                }
            }
        });
    },

    update: function(data) {
        // the data is a combo of extract and papers
        this.vpp.extract = data.extract;
        this.vpp.papers = data.papers;

        // update
        this.vpp.$forceUpdate();
    },

    get_current_extract_and_papers: function() {
        if (this.vpp.$data.extract == null) {
            return null;
        }
        
        // build a object
        var ret = {
            extract: this.vpp.$data.extract,
            papers: this.vpp.$data.papers
        };

        return ret;
    },

    show_extract_and_papers: function(oc_type, abbr) {
        var project_id = Cookies.get('project_id');
        $.get(
            jarvis.url.get_extract_and_papers,
            {project_id:project_id, abbr:abbr, rnd:Math.random()},
            function(data) {
                pan_ocpapers.update(data);

            }, 'json'
        );
    },

    copy_extract: function() {
        var project_id = Cookies.get('project_id');
        var oc_type = this.vpp.$data.extract.oc_type;
        var full_name = this.vpp.$data.extract.meta.full_name;
        var abbr = this.vpp.$data.extract.abbr;
        var meta = this.vpp.$data.extract.meta;
        var data = this.vpp.$data.extract.data;

        var new_full_name = jarvis.prompt('Copy current outcome [' + full_name + '] and make a new outcome. The new outcome full name is: ', full_name);
        if (new_full_name == null) { return; }
        new_full_name = new_full_name.trim();
        if (new_full_name == '') { return; }

        // save this new 
        var new_abbr = jarvis.mk_oc_abbr();

        // send request!
        $.post(
            jarvis.url.copy_extract,
            {project_id:project_id, oc_type:oc_type, abbr:abbr,
             new_abbr:new_abbr, new_full_name: new_full_name,
             meta:JSON.stringify(meta), data:JSON.stringify(data)},
            function(data) {
                // show
                toast('Copied the new outcome [' + data.extract.meta.full_name + ']');
                // reload the outcomes
                pan_outcomes.load();
            }
        );
    },

    update_extract: function() {
        // there are 
        var project_id = Cookies.get('project_id');
        var oc_type = this.vpp.$data.extract.oc_type;
        var abbr = this.vpp.$data.extract.abbr;
        var meta = this.vpp.$data.extract.meta;
        var data = this.vpp.$data.extract.data;

        // send request!
        $.post(
            jarvis.url.update_extract,
            {project_id:project_id, oc_type:oc_type, abbr:abbr,
             meta:JSON.stringify(meta), data:JSON.stringify(data)},
            function(data) {
                // show
                toast('Saved the outcome [' + data.extract.meta.full_name + ']');
                // reload the outcomes
                pan_outcomes.load();
            }
        );
    },

    show: function() {
        $(this.vpp_id).show();
    },

    hide: function() {
        $(this.vpp_id).hide();
    },

    set_size: function(size) {
        $(this.vpp_id).removeClass('panel-s panel-m panel-l')
            .addClass('panel-' + size);
    }
};


var pan_collector = {
    vpp_id: "#pan_collector",
    vpp: null,

    init: function() {
        this.vpp = new Vue({
            el: this.vpp_id,
            data: {
                data: {},
                type: null
            },
            methods: {

            }
        });
    },

    update: function(data) {
        this.vpp.data = data;
        // this.$forceUpdate();
    },

    show: function() {
        $(this.vpp_id).show();
    },

    hide: function() {
        $(this.vpp_id).hide();
    },

    set_size: function(size) {
        $(this.vpp_id).removeClass('panel-s panel-m panel-l')
            .addClass('panel-' + size);
    }
};


var pan_analyzer = {
    vpp_id: "#pan_analyzer",
    // vpp: null,

    init: function() {
        // this.vpp = new Vue({
        //     el: this.vpp_id,
        //     data: {
        //         data: {},
        //         type: null,

        //         // show the analyzer settings
        //         show_settings: false,
        //     },
        //     methods: {
        //         toggle_show_settings: function() {
        //             this.show_settings = !this.show_settings;
        //         },

        //         // the main entry for the analyze
        //         analyze: function() {
        //             // call the pan_analyzer
        //             pan_analyzer.analyze();
        //         }
        //     }
        // });
    },


    show: function() {
        $(this.vpp_id).show();
    },

    hide: function() {
        $(this.vpp_id).hide();
    },

    set_size: function(size) {
        $(this.vpp_id).removeClass('panel-s panel-m panel-l')
            .addClass('panel-' + size);
    },

    /**
     * The main entry for analyze, it will detect the settings and send to the
     * lisr_analyzer.js for details
     */
    analyze: function() {
        // first, get the extract and papers from pan_ocpapers
        // a pack is { extract: {}, papers: [] } object
        var pack = pan_ocpapers.get_current_extract_and_papers();
        if (pack == null) {
            alert('Open an outcome first');
            return -1;
        }

        // then, parse the pack to create the cfg and rs for lisr_analyzer.js
        var oc_type = pack.extract.oc_type;

        if (oc_type == 'pwma') {
            var ret = this.__gen_pwma_cfg_and_rs(pack);
            console.log(ret);
            lisr_analyzer.analyze(ret.cfg, ret.rs, function(data) {
                console.log(data);

                fg_pwma_imglist.draw(data);
            });
        } else {
            alert('Not implemented [' + oc_type + '] analyzing function');
            return -2;
        }

        // submit to lisr_ana
    },

    __gen_pwma_cfg_and_rs: function(pack) {
        var extract = pack.extract;
        var papers = pack.papers;

        var cfg = lisr_analyzer.get_blank_cfg();
        var rs = [];
        
        // first, set the general cfg
        cfg._analyze_type = 'pwma';
        cfg.input_format = extract.meta.input_format;
        cfg.measure_of_effect = extract.meta.measure_of_effect;
        cfg.fixed_or_random = extract.meta.fixed_or_random;
        cfg.which_is_better = extract.meta.which_is_better;

        // then, set those for pwma PRIMARY
        cfg.pairwise_analysis = 'PRIM';
        cfg.pooling_method = 'Inverse';
        cfg.tau_estimation_method = 'DL';
        cfg.hakn_adjustment = 'no';
        cfg.smd_estimation_method = 'Hedges';
        cfg.prediction_interval = 'no';
        cfg.sensitivity_analysis = 'no';
        cfg.cumulative_meta_analysis = 'no';
        cfg.cumulative_meta_analysis_sortby = 'year';
        cfg.treatment = extract.meta.treatment.abbr;
        cfg.control = extract.meta.control.abbr;

        // last, build the rs
        var rs = [];
        for (let i = 0; i < papers.length; i++) {
            const paper = papers[i];
            var pid = paper.pid;
            
            // get the data of this paper
            if (!extract.data.hasOwnProperty(pid)) {
                // what??? not exists in extract data???
                continue;
            }

            var ext_paper = extract.data[pid];
            if (!ext_paper.selected) {
                // unfortunely, this paper is not selected for ananlysis
                continue;
            }

            // build a row from this paper

            // first, the basic info from the paper
            let col_year = jarvis.get_year(paper.pub_date);
            let col_study = paper.seq_num + ' - ' + paper.authors.split(',')[0] + ' ' + col_year;
            let col_treatment = extract.meta.treatment.abbr;
            let col_control = extract.meta.control.abbr;

            var r = {
                study: col_study,
                year: col_year,
                treatment: col_treatment,
                control: col_control
            };

            // second, the extracted info 
            for (let j = 0; j < extract.meta.attrs.length; j++) {
                const attr = extract.meta.attrs[j];
                // get the attribute value from the ext_paper
                r[attr] = ext_paper.attrs[attr];
            }

            // done! put into rs
            rs.push(r);
        }

        return {
            cfg: cfg,
            rs: rs
        };
    }

};


var pan_itbuilder = {
    vpp_id: '#pan_itbuilder',
    vpp: null,

    load: function() {
        this.get_itable();
    },

    init: function() {
        this.vpp = new Vue({
            el: this.vpp_id,
            data: {
                itable: null
            },
            methods: {
                save_itable: function() {
                    pan_itbuilder.save_itable();
                },

                create_category: function() {
                    pan_itbuilder.create_category();
                },

                create_attribute: function(cate_abbr) {
                    pan_itbuilder.create_attribute(cate_abbr);
                },

                create_sub: function(cate_abbr, attr_abbr) {
                    pan_itbuilder.create_sub(cate_abbr, attr_abbr);
                },

                remove_category: function(cate_abbr) {
                    pan_itbuilder.remove_category(cate_abbr);
                },

                remove_attribute: function(cate_abbr, attr_abbr) {
                    pan_itbuilder.remove_attribute(cate_abbr, attr_abbr);
                },

                remove_sub: function(cate_abbr, attr_abbr, sub_abbr) {
                    pan_itbuilder.remove_sub(cate_abbr, attr_abbr, sub_abbr);
                }
            }
        });
    },

    /**
     * The itable is an extract object in fact.
     */
    update: function(itable) {
        console.log(itable);
        this.vpp.$data.itable = itable;
        
        // update the vpp
        this.vpp.$forceUpdate();
    },

    /**
     * The itable is a special extract, so get_itable equals to get extract
     */
    get_itable: function() {
        var project_id = Cookies.get('project_id');
        var abbr = 'itable';
        $.get(
            jarvis.url.get_extract,
            {project_id:project_id, abbr:abbr, rnd:Math.random()},
            function(data) {
                if (data.success) {
                    pan_itbuilder.update(data.extract);
                } else {
                    // at present, there is not itable extract for this project
                    // create an itable extract
                    pan_itbuilder.init_itable('itable');
                }
            }, 'json'
        );
    },

    /**
     * Create an itable
     * the abbr should be 'itable'
     * but this could be expanded in the future
     */
    init_itable: function(abbr) {
        var project_id = Cookies.get('project_id');
        var oc_type = 'itable';
        var tpl = 'default';
        var meta = JSON.parse(JSON.stringify(jarvis.tpl.oc_type[oc_type][tpl]));
        var data = {}

        $.post(
            jarvis.url.create_extract,
            {
                project_id: project_id,
                oc_type: oc_type,
                abbr: abbr,
                meta: JSON.stringify(meta),
                data: JSON.stringify(data)
            }, 
            function(data) {
                // show what we get!
                console.log(data);
                // update UI
                pan_itbuilder.update(data.extract);
            }, 'json'
        );
    },

    save_itable: function() {
        var project_id = Cookies.get('project_id');
        var oc_type = 'itable';
        var abbr = 'itable';
        var meta = this.vpp.$data.itable.meta;

        // // send back to server
        $.post(
            jarvis.url.update_extract_meta,
            {project_id:project_id, oc_type:oc_type, abbr:abbr,
             meta:JSON.stringify(meta)},
            function(data) {
                // show
                toast('Saved the interactive table');
                // reload the outcomes
                pan_itbuilder.load();
            }
        );
    },

    create_category: function() {
        // get the full name
        var text = jarvis.prompt('The category full name:');
        if (text == null) { return; }
        text = text.trim();
        if (text == '') { return; }

        // create an abbr
        var abbr = jarvis.mk_it_abbr();

        // create a new cate
        var cate = {
            abbr: abbr,
            name: text,
            attrs: []
        };
        
        // add to the itable
        this.vpp.$data.itable.meta.cate_attrs.push(cate);
    },

    create_attribute: function(cate_abbr) {
        // get the full name
        var text = jarvis.prompt('The attribute full name:');
        if (text == null) { return; }
        text = text.trim();
        if (text == '') { return; }

        // create an abbr
        var abbr = jarvis.mk_it_abbr();

        // create a new cate
        var attr = {
            abbr: abbr,
            name: text,
            sub: null
        };
        
        for (let i = 0; i < this.vpp.$data.itable.meta.cate_attrs.length; i++) {
            var cate = this.vpp.$data.itable.meta.cate_attrs[i];
            if (cate.abbr == cate_abbr) {
                cate.attrs.push(attr);
                break;
            }
        }
    },


    create_sub: function(cate_abbr, attr_abbr) {
        // get the full name
        var text = jarvis.prompt('The sub-attribute name (e.g., Rx, Treatment, Control):');
        if (text == null) { return; }
        text = text.trim();
        if (text == '') { return; }

        // create an abbr
        var abbr = jarvis.mk_it_abbr();

        // create a new cate
        var sub = {
            abbr: abbr,
            name: text
        };
        
        for (let i = 0; i < this.vpp.$data.itable.meta.cate_attrs.length; i++) {
            var cate = this.vpp.$data.itable.meta.cate_attrs[i];
            if (cate.abbr == cate_abbr) {
                // check each attribute
                for (let j = 0; j < cate.attrs.length; j++) {
                    var attr = cate.attrs[j];
                    if (attr.abbr == attr_abbr) {
                        if (attr.subs == null) {
                            // which means no sub yet
                            attr.subs = [sub];
                        } else {
                            attr.subs.push(sub);
                        }
                        break;
                    }
                }
                break;
            }
        }
    },

    remove_category: function(cate_abbr) {
    },

    remove_attribute: function(cate_abbr, attr_abbr) {
        var ret = jarvis.confirm('Remove [], are you sure?');
        if (ret == false) { return }

        for (let i = 0; i < this.vpp.$data.itable.meta.cate_attrs.length; i++) {
            var cate = this.vpp.$data.itable.meta.cate_attrs[i];
            if (cate.abbr == cate_abbr) {
                // check each attribute
                for (let j = 0; j < cate.attrs.length; j++) {
                    var attr = cate.attrs[j];
                    if (attr.abbr == attr_abbr) {
                        // ok, found out this attr
                        this.vpp.$data.itable.meta.cate_attrs[i].attrs.splice(j, 1);
                        break;
                    }
                }
                break;
            }
        }
        console.log('* removed ' + attr_abbr + ' from ' + cate_abbr);
    },

    remove_sub: function(cate_abbr, attr_abbr, sub_abbr) {
    },

    show: function() {
        $(this.vpp_id).show();
    },

    hide: function() {
        $(this.vpp_id).hide();
    },

    set_size: function(size) {
        $(this.vpp_id).removeClass('panel-s panel-m panel-l')
            .addClass('panel-' + size);
    }
};


var jarvis = {
    url: {
        create_extract: "[[ url_for('extractor.create_extract') ]]",
        update_extract: "[[ url_for('extractor.update_extract') ]]",
        update_extract_meta: "[[ url_for('extractor.update_extract_meta') ]]",
        copy_extract: "[[ url_for('extractor.copy_extract') ]]",
        delete_extract: "[[ url_for('extractor.delete_extract') ]]",
        get_extract: "[[ url_for('extractor.get_extract') ]]",
        get_extracts: "[[ url_for('extractor.get_extracts') ]]",
        get_extract_and_papers: "[[ url_for('extractor.get_extract_and_papers') ]]",
    },

    // the templates for the extraction
    tpl: {
        oc_type: {
            pwma: {
                default: {
                    abbr: '',
                    oc_type: 'pwma',
                    category: 'default',
                    group: 'Primary',
                    full_name: 'pwma Outcome full name',
                    included_in_plots: 'yes',
                    included_in_sof: 'yes',
                    input_format: 'PRIM_CAT_RAW',
                    measure_of_effect: 'RR',
                    fixed_or_random: 'fixed',
                    which_is_better: 'lower',
                    attrs: [ "Et", "Nt", "Ec", "Nc" ],
                    treatment: {
                        abbr: "Treat",
                        full_name: "Treatment arm full name"
                    },
                    control: {
                        abbr: "Ctrl",
                        full_name: "Control arm full name"
                    }
                },
            },
            subg: {
                default: {
                    abbr: '',
                    subgroups: ['A', 'B'],
                    oc_type: 'subg',
                    category: 'default',
                    group: 'Subgroup',
                    full_name: 'pwma Outcome full name',
                    included_in_plots: 'yes',
                    included_in_sof: 'yes',
                    input_format: 'SUBG_CAT_RAW',
                    measure_of_effect: 'RR',
                    fixed_or_random: 'fixed',
                    which_is_better: 'lower',
                    attrs: [ "Et", "Nt", "Ec", "Nc" ],
                    treatment: {
                        abbr: "Treat",
                        full_name: "Treatment arm full name"
                    },
                    control: {
                        abbr: "Ctrl",
                        full_name: "Control arm full name"
                    }
                }
            },
            nma: {
                default: {
                    abbr: '',
                    oc_type: 'nma',
                    category: 'default',
                    group: 'Primary',
                    full_name: 'NMA Outcome full name',
                    included_in_plots: 'yes',
                    included_in_sof: 'yes',
                    included_in_em: 'yes',
                    input_format: 'raw',
                    measure_of_effect: 'HR',
                    method: 'freq',
                    fixed_or_random: 'fixed',
                    which_is_better: 'lower',
                    attrs: ['t1', 't2', 
                        'event_t1', 'total_t1', 
                        'event_t2', 'total_t2'],
                    treatment: {
                        treat_abbr: {
                            abbr: 'treatAbbr',
                            full_name: "Treatment full name"
                        }
                    }
                }
            },
            itable: {
                default: {
                    abbr: 'itable',
                    oc_type: 'itable',
                    category: 'default',
                    group: 'itable',
                    full_name: 'Interactive Table',
                    input_format: 'custom',
                    /**
                     * To make sure the order of the cate and attr list
                     * the attrs are saved as a hierarchical list structure.
                     * As a result, need to implement serval functions
                     */
                    cate_attrs: [
                    {
                        abbr: 'ITABLECAT000',
                        name: "TRIAL CHARACTERISTICS",
                        attrs: [{
                            abbr: 'ITABLEATT000',
                            name: 'Phase',
                            subs: null
                        }]
                    },
                    {
                        abbr: 'ITABLECAT002',
                        name: "POPULATION CHARACTERISTICS",
                        attrs: [{
                            abbr: 'ITABLEATT001',
                            name: 'Number of Participants',
                            subs: [{
                                abbr: 'ITABLESUB001',
                                name: 'Treatment Arm'
                            }, {
                                abbr: 'ITABLESUB002',
                                name: 'Control Arm'
                            }]
                        }]
                    }
                    ]
                }
            }
        },
        data_type: {
            pwma: {
                PRIM_CATIRR_RAW: ['Et', 'Tt', 'Ec', 'Tc'],
                PRIM_CAT_RAW: ['Et', 'Nt', 'Ec', 'Nc'],
                PRIM_CAT_PRE: ['TE', 'lowerci', 'upperci'],
                PRIM_CONTD_RAW: ['Nt', 'Mt', 'SDt', 'Nc', 'Mc', 'SDc'],
                PRIM_CONTD_PRE: ['TE', 'SE'],
                PRIM_CAT_RAW_G5: ['GA_Et', 'GA_Nt', 'GA_Ec', 'GA_Nc', 
                    'G34_Et', 'G34_Ec', 'G3H_Et', 'G3H_Ec', 'G5N_Et', 'G5N_Ec', 
                    'drug_used', 'malignancy']
            },
            subg: {
                SUBG_CATIRR_RAW: ['Et', 'Tt', 'Ec', 'Tc'],
                SUBG_CAT_RAW: ['Et', 'Nt', 'Ec', 'Nc'],
                SUBG_CAT_PRE: ['TE', 'lowerci', 'upperci'],
                SUBG_CONTD_RAW: ['Nt', 'Nt', 'SDt', 'Nc', 'Mc', 'SDc'],
                SUBG_CONTD_PRE: ['TE', 'SE'],
            },
            nma: {
                raw: ['t1', 't2', 'event_t1', 'total_t1', 'event_t2', 'total_t2'],
                pre: ['t1', 't2', 'sm', 'lowerci', 'upperci', 
                      'survival_t1', 'survival_t2',
                      'Ec_t1', 'Et_t1', 'Ec_t2', 'Et_t2']
            }
        }
    },

    layout: {
        manage_outcomes: 'manage_outcomes',
        extract_information: 'extract_information',
        analyze_outcome: 'analyze_outcome'
    },

    /**
     * Make the oc abbr for an outcome / ae
     */
    mk_oc_abbr: function() {
        var result = '';
        var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
        var len = characters.length;
        for (var i = 0; i < 8; i++) {
            result += characters.charAt(Math.floor(Math.random() * len));
        }
        return result;
    },

    /**
     * Make the column abbr / id for itable
     */
    mk_it_abbr: function() {
        var result = '';
        var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
        var len = characters.length;
        for (var i = 0; i < 12; i++) {
            result += characters.charAt(Math.floor(Math.random() * len));
        }
        return result;
    },

    init: function() {
        // $('#pan_outcomes').accordion();

        pan_outcomes.init();

        pan_ocpapers.init();

        pan_collector.init();

        pan_analyzer.init();

        pan_itbuilder.init();

        // the sub module of analyzers
        fg_pwma_imglist.init();

        // switch to default layout
        this.switch_layout('manage_outcomes')

        // the load the init outcomes
        pan_outcomes.load();

        // when resize
        this.adjust_panel_height();
        $(window).resize(function() {
            jarvis.adjust_panel_height();
        });
    },

    switch_layout: function(layout) {
        if (layout == 'manage_outcomes') {
            pan_itbuilder.hide();
            pan_outcomes.show();
            pan_ocpapers.show();
            pan_collector.hide();
            pan_analyzer.hide();

            // set the default size
            pan_outcomes.set_size('m');
            pan_ocpapers.set_size('m');

        } else if (layout == 'extract_information') {
            pan_itbuilder.hide();
            pan_outcomes.hide();
            pan_ocpapers.show();
            pan_collector.show();
            pan_analyzer.hide();

            // set the default size
            pan_ocpapers.set_size('m');
            pan_collector.set_size('m');

        } else if (layout == 'analyze_outcome') {
            pan_itbuilder.hide();
            pan_outcomes.hide();
            pan_ocpapers.show();
            pan_collector.hide();
            pan_analyzer.show();

            // set the default size
            pan_ocpapers.set_size('m');
            pan_analyzer.set_size('m');

        } else if (layout == 'build_itable') {
            pan_itbuilder.show();
            pan_outcomes.hide();
            pan_ocpapers.hide();
            pan_collector.hide();
            pan_analyzer.hide();

            // set the default size
            pan_itbuilder.set_size('f');

            // and load the itable
            pan_itbuilder.get_itable();

        } else {

        }
    },

    prompt: function(text, value) {
        return window.prompt(text, value);
    },

    confirm: function(text) {
        return window.confirm(text);
    },

    toast: function(s) {
        toast(s);
    },

    adjust_panel_height: function() {
        var height = $( window ).height();
        $('.panel-container').css(
            'max-height', (height - 90) + 'px'
        );
    },

    get_year: function(s) {
        const regex = /\d{4}/gm;
        let m;
        if ((m = regex.exec(s)) !== null) {
            return m[0];
        }
        return '';
    },

    download_file: function(fn) {
        // fixed image download bug
        // Thanks to https://stackoverflow.com/questions/17311645/download-image-with-javascript
        var a = $('<a>').attr('href', '/f/' + fn)
            .attr('download', fn)
            .appendTo("body");
        a[0].click()
        a.remove();
    },

}

$(document).ready(function() {
    jarvis.init();
})
</script>
{% endblock %}