{% extends '_layout_adminlte.html' %}

{% block title %}
Study Importer | By Endnote XML
{% endblock %}

{% block style %}
<style>
.result-item {
    padding: 1px 0;
}
</style>
{% endblock %}

{% block page_name %}
<i class="nav-icon fas fa-file-upload"></i> 
Study Importer | By Endnote XML
{% endblock %}

{% block active_nav_link %}importer-endnote-xml{% endblock %}

{% block content %}

<div class="content">
    <div class="container-fluid">

        <div id="vw_uploader_endnote_xml" class="row">
            <div class="col-md-5">
                <h5>Import Studies by EndNote XML File</h5>
                <p class="card-text">Select the XML file exported from EndNote.</p>
                <form id="upload_file" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="file" class="form-control-file" name="input_file" id="input_file">
                    </div>
                </form>
                <div>                    
                    <button class="btn btn-primary"
                        v-bind:disabled="btn_import.disabled"
                        v-on:click="import_studies">
                        <i class="fa fa-upload"></i>
                        Import this XML file
                    </button>
                </div>

                <div>

                </div>
            </div>

        </div>

    </div>
</div>


{% endblock %}

{% block script %}
<script>


var vw_uploader_endnote_xml = {
    vpp: null,
    vpp_id: '#vw_uploader_endnote_xml',
    api_url: "[[ url_for('importer.upload_endnote_xml') ]]",

    init: function() {
        this.vpp = new Vue({
            el: this.vpp_id,
            data: {
                results: {},
                btn_import: {
                    disabled: false
                }
            },
            methods: {
                import_studies: function() {
                    vw_uploader_endnote_xml.import_studies();
                }
            }
        });
    },

    import_studies: function() {
        var project_id = Cookies.get('project_id');
        if (project_id == undefined) {
            alert('Set working project first.');
            return;
        }
        // update UI
        this.vpp.btn_import.disabled = true;

        // create form for upload
        if ($('#input_file').val() == '') {
            return;
        }
        var form_data = new FormData($('#upload_file')[0]);
        form_data.append('project_id', project_id);

        // send request
        $.ajax({
            type: 'POST',
            url: this.api_url,
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            success: function(data) {
                console.log(data);
                vw_uploader_endnote_xml.vpp.results = data;
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.error(textStatus, errorThrown);
            }
        });
    }
};

var jarvis = {
    init: function() {
        vw_uploader_endnote_xml.init();
    }
};
$(document).ready(function() {
    jarvis.init();
})
</script>
{% endblock %}