{% extends '_layout_adminlte.html' %}

{% block title %}
Study Importer
{% endblock %}

{% block style %}
<style>
.result-item {
    padding: 1px 0;
    margin: 0 2px 2px 0;;
    width: 100px;
    border: 1px solid #999999;
    font-size: 0.9em;
}
</style>
{% endblock %}

{% block page_name %}
<i class="nav-icon fas fa-file-upload"></i> 
Study Importer
{% endblock %}

{% block active_nav_link %}importer-pmid-list{% endblock %}

{% block content %}

<div class="content">
    <div class="container-fluid">

        <div id="vw_uploader_pmidlist" class="row">
            <div class="col-md-4">
                <h5>Import Studies by PMID List</h5>
                <p class="card-text">Input the PMID in the following area, one PMID per line.</p>
                <div>
                    <div class="form-group">
                        <textarea class="form-control" id="input_pmids" 
                            name="pmids" rows="10"
                            v-model="pmids"></textarea>
                    </div>
                    <button class="btn btn-primary"
                        v-bind:disabled="btn_import.disabled"
                        v-on:click="import_pmids">
                        <i class="fa fa-upload"></i>
                        Import these PMIDs
                    </button>
                    
                </div>

                <hr>
                <h5>Upload a XLS/CSV file</h5>
                <p class="card-text">This file contains two columns: 'NCT ID' and 'PMID'</p>
                <form id="upload_file" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="file" class="form-control-file" name="input_file" id="input_file">
                    </div>
                </form>
                <div>                    
                    <button class="btn btn-primary"
                        v-bind:disabled="btn_upload.disabled"
                        v-on:click="upload_data_file">
                        <i class="fa fa-upload"></i>
                        Load this data file
                    </button>
                </div>

            </div>

            <div class="col-md-8" v-if="rs.length != 0">
                <h5>Results ({{ rs.length }} records)</h5>
                <div class="d-flex flex-row flex-wrap">
                    <div class="result-item"
                        v-for="r, i in rs">
                        <div style="text-align: center;">
                            {{ r.pmid }}
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


{% endblock %}

{% block script %}
<script>


var vw_uploader_pmidlist = {
    vpp: null,
    vpp_id: '#vw_uploader_pmidlist',
    
    url: {
        import_pmids: "[[ url_for('importer.import_pmids') ]]",
        upload_pmid_data_file: "[[ url_for('importer.upload_pmid_data_file') ]]"
    },

    init: function() {
        this.vpp = new Vue({
            el: this.vpp_id,
            data: {
                pmids: '',
                rs: [],
                btn_import: {
                    disabled: false
                },
                btn_upload: {
                    disabled: false
                }
            },
            methods: {
                import_pmids: function() {
                    vw_uploader_pmidlist.import_pmids(this.pmids);
                },

                upload_data_file: function() {
                    vw_uploader_pmidlist.upload_data_file();
                }
            }
        });
    },

    import_pmids: function(pmids) {
        var project_id = Cookies.get('project_id');
        if (project_id == undefined) {
            alert('Set working project first.');
            return;
        }
        this.vpp.btn_import.disabled = true;
        $.post(
            this.url,
            {project_id:project_id, pmids:pmids},
            function(data) {
                console.log(data);
                vw_uploader_pmidlist.vpp.btn_import.disabled = false;
                vw_uploader_pmidlist.vpp.results = data.rs;
            }, 'json'
        )
    },

    upload_data_file: function() {
        var project_id = Cookies.get('project_id');
        if (project_id == undefined) {
            alert('Set working project first.');
            return;
        }
        // update UI
        this.vpp.btn_import.disabled = true;

        // create form for upload
        if ($('#input_csvfile').val() == '') {
            return;
        }
        var form_data = new FormData($('#upload_file')[0]);
        form_data.append('project_id', project_id);

        // send request
        $.ajax({
            type: 'POST',
            url: this.url.upload_pmid_data_file,
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            success: function(data) {
                console.log(data);
                vw_uploader_pmidlist.vpp.rs = data.rs;
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.error(textStatus, errorThrown);
            }
        });
    }
}

var vw_uploader_pubmedcsv = {
    vpp: null,
    vpp_id: '#vw_uploader_pubmedcsv',
    api_url: "[[ url_for('importer.upload_pubmedcsv') ]]",

    init: function() {
        this.vpp = new Vue({
            el: this.vpp_id,
            data: {
                results: [],
                btn_import: {
                    disabled: false
                }
            },
            methods: {
                import_studies: function() {
                    vw_uploader_pubmedcsv.import_studies();
                }
            }
        });
    },

    import_studies: function() {
        var project_id = Cookies.get('project_id');
        if (project_id == undefined) {
            alert('Set working project first.');
            return;
        }
        // update UI
        this.vpp.btn_import.disabled = true;

        // create form for upload
        if ($('#input_csvfile').val() == '') {
            return;
        }
        var form_data = new FormData($('#upload_csvfile')[0]);
        form_data.append('project_id', project_id);

        // send request
        $.ajax({
            type: 'POST',
            url: this.api_url,
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            success: function(data) {
                console.log(data);
                vw_uploader_pubmedcsv.vpp.results = data.rs;
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.error(textStatus, errorThrown);
            }
        });
    }
};

var jarvis = {
    init: function() {
        vw_uploader_pmidlist.init();
        // vw_uploader_pubmedcsv.init();
    }
};
$(document).ready(function() {
    jarvis.init();
})
</script>
{% endblock %}