<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->

<title>Adjuvant Renal Cell Carcinoma | Living Interactive Systematic Reviews</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />

<link rel="icon" href="/static/img/favicon.ico">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
{% include 'pub/pub._pubstyle.html' %}
</head>
<body>
<br id="sec-concept">
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="height: 70px;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="#">
        <img src="/static/img/logo-lisr.png" alt="" width="180px">
    </a>

    <div class="navbar" style="padding:0;">
        <ul class="navbar-nav">
            <li class="nav-item" style="color: white;">                
                Adjuvant RCC<br>
                <i class="far fa-calendar-alt"></i> Update: 2/15/2021
            </li>
        </ul>
    </div>
    
    <div class="collapse navbar-collapse" id="navbarsExampleDefault" style="justify-content: flex-end;">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="./">HOME <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#sec-intro">INTRODUCTION</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#sec-studysel">PRISMA</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">TABLES</a>
                <div class="dropdown-menu" aria-labelledby="dropdown02">
                <a class="dropdown-item" href="#sec-intertable">INTERACTIVE TABLE</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PAIRWISE MA</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    {% for tp in pwma %}
                    <a class="dropdown-item" href="#sec-pwma-[[ tp[:4] ]]">[[ tp ]]</a>
                    {% endfor %}
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">SOF TABLE</a>
                <div class="dropdown-menu" aria-labelledby="dropdown02">
                    <a class="dropdown-item" href="#sec-sof-pma">Summary of Findings: Pairwise MA</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#sec-pubs">PUBLICATIONS</a>
            </li>
        </ul>
    </div>
</nav>


<div id="sec-intro" style="position: absolute; top: 0;"></div>
<div class="container" style="margin-top: 1rem;">
        <h3 style="margin-bottom: 2rem;font-size: 2rem;color: black;text-decoration: none;">
            Adjuvant Tyrosine Kinase Inhibitors in Renal Cell Carcinoma: A Living Systematic Review and Meta-Analysis
        </h3>

        <div class="row">

            <div class="col">
                <img width="100%" src="[[ url_for('pub.graphdata', prj='ADJRCC', fn='CONCEPT_IMAGE.svg') ]]" />
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p class="mt-3">The treatment landscape of adjuvant renal cell carcinoma (aRCC) is evolving which prompted us to create a living review to assess tyrosine kinase inhibitors (TKIs) in aRCC in 2018. The initial report included data from three trials (ASSURE, S-TRAC, and PROTECT). We have maintained the evidence current by adding new data from ATLAS and SORCE trials, and updated data from S-TRAC and PROTECT. The final update of this living review shows consistently high-certainty lack of benefit with TKIs in aRCC. Therefore, the living review has now been closed and the process is terminated with this final update owing to conclusive results which are unlikely to be changed significantly in the future.</p>
            </div>
        </div>
    </div>


<br id="sec-studysel">
<div class="container" style="margin-top: 3rem; margin-bottom:2rem;">
    <h3 style="margin-bottom: 2rem;">
        INTERACTIVE, MODIFIED PRISMA
    </h3>
    <div class="row">
        <div class="col">
            <p>The search strategy has been developed in consultation with an information specialist. The strategy is used to generate “auto” searches every month (from Medline, Embase and Cochrane Central Register of Controlled Trials [CENTRAL]). The numbers in the flowsheet are dynamically updated as new studies are considered for inclusion. The red limb on the right-hand side of the flowsheet represents real-time living updates. Users can click the colored boxes for additional details.</p>

            <p>How to use this flowsheet? <a href="javascript:void(0);" data-toggle="modal" data-target="#exampleModalCenter">Video demonstration</a></p>
        </div>
    </div>
    <div class="row">
        <iframe src="[[ url_for('pub.prisma_v3', prj='ADJRCC') ]]" frameborder="0" style="width: 100%; min-height: 850px;"></iframe>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 995px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">How to use this flowsheet?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe width="960" height="550" frameborder="0" allowtransparency="true" allowfullscreen="allowfullscreen" style="border: none;" src="https://share.getcloudapp.com/lluDolxp?embed=true"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<br id="sec-intertable">
<div class="container" style="margin-top: 3rem; margin-bottom: 3rem;">

    <h3 style="margin-bottom: 2rem;">
        INTERACTIVE TABLE
    </h3>
    <p>The interactive table summarizes study characteristics, population characteristics and results from the clinical trials included in this systematic review and meta-analysis. This table is dynamically updated as new studies are included in the living review. Users can select filter options to view only studies with certain characteristics or interactively construct the results table from the available menu.</p>

    <p>How to use this table? <a href="javascript:void(0);" data-toggle="modal" data-target="#exampleModalCenter2">Video demonstration</a></p>

    <div class="row">
        <iframe src="[[ url_for('pub.itable', prj='ADJRCC') ]]" frameborder="0" style="width: 100%; min-height: 700px;"></iframe>
    </div>
</div>


<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter2Title"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 995px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">How to use this table?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- https://share.getcloudapp.com/p9u7Zmy7 -->
                <iframe width="960" height="550" frameborder="0" allowtransparency="true" allowfullscreen="allowfullscreen" style="border: none;" src="https://share.getcloudapp.com/p9u7Zmy7?embed=true"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<br id="sec-pwma-oucome">
<!-- to reduce the spacing between this section and next, adding -3.5rem bottom -->
<div class="container" style="margin-bottom: -3.5rem;">
    <h3>
        PAIRWISE META-ANALYSIS
    </h3>
    <p>
        Results are summarized as forest plots for primary analysis, sensitivity analysis and subgroup pairwise meta-analysis. Users can choose to view results for their outcome of interest using the dropdown menu (“Select outcome”).
    </p>
</div>

{% for tp in pwma %}
<br id="sec-pwma-[[ tp[:4] ]]">
<div class="container">
    <div class="row">
        <div class="col">
            <h4 style="margin-bottom: 2rem;">[[ tp ]]</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="dropdown">
                <button class="btn btn-primary bg-dark bd-dark dropdown-toggle" type="button" id="dropdownMenuButton-pwma-[[ tp[:4] ]]" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Select outcome
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-pwma-[[ tp[:4] ]]">
                    {% for option_text in pwma[tp] %}
                    {% if not option_text.startswith('_') %}
                    <a class="dropdown-item" href="javascript:switch_pwma_data('[[ tp[:4] ]]', '[[ "|".join(pwma[tp][option_text]['slides']) ]]', '[[ option_text ]]');">[[ option_text ]]</a>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-8 d-flex justify-content-end">
            <div class="outcome-name" style="padding: .5rem; margin-right: 1rem;">
                <span id="optext-pwma-[[ tp[:4] ]]" style="font-weight: bold;"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <iframe id="iframe-pwma-[[ tp[:4] ]]" class="auto-height" 
                src="" scrolling="no" frameborder="0"
                style="width: 100%; min-height: 400px;"></iframe>
        </div>
    </div>
</div>
{% endfor %}



<br id="sec-sof-pma">
<div class="container">

    <h3>
        SUMMARY OF FINDINGS: PAIRWISE META-ANALYSIS
    </h3>
    <p>
        The Summary of Findings (SoF) table is designed to summarize the key results of pairwise meta-analysis and to evaluate confidence in the estimates of effect. This table summarizes results for patient-important outcomes for all treatment options investigated in included trials as compared to control, in adjuvant RCC. Users can select their outcome of interest from the left-hand panel by clicking on it and enter any baseline risk for that outcome, to visualize the absolute risk differences due to treatment. 
    </p>
    <p>
        <b>Choose measure of effect and denominator for absolute effect.</b>
    </p>
    <div class="row">
        <div class="col">
            <iframe id="ifm-ocplots" src="[[ url_for('pub.softable_pma_v2', prj='ADJRCC', msrs='OR,RR,HR') ]]" frameborder="0" style="width: 100%; min-height: 350px;"></iframe>
        </div>
    </div>

</div>


<br id="sec-pubs">
<div class="container" style="margin-top: 3rem; margin-bottom:2rem;">
    <h3 style="margin-bottom: 2rem;">
        PUBLICATIONS
    </h3>
    <div class="row">
        <div class="col">
            <p>
                Riaz IB, Malik S, Husnain M, Sipra QUAR, Faridi W, Gondal FR, et al. <i>A meta-analysis of randomized controlled trials for efficacy and safety of vascular endothelial growth factor tyrosine kinase inhibitors (VEGF-TKIs) adjuvant therapy in high-risk renal cell cancer (RCC)</i>. Journal of Clinical Oncology. 2018;36(15_suppl):4567-. doi: <a target="_blank" href="https://ascopubs.org/doi/10.1200/JCO.2018.36.15_suppl.4567">10.1200/JCO.2018.36.15_suppl.4567</a>
            </p>

            <p>
                Riaz IB, Faridi W, Husnain M, Malik SU, Sipra Q, Gondal FR, et al. <i>Adjuvant Therapy in High-Risk Renal Cell Cancer: A Systematic Review and Meta-analysis</i>. Mayo Clin Proc. 2019;94(8):1524-34. Epub 2019/07/16. doi: <a target="_blank" href="https://linkinghub.elsevier.com/retrieve/pii/S0025619619302174">10.1016/j.mayocp.2019.01.045</a>. PubMed PMID: <a target="_blank" href="https://pubmed.ncbi.nlm.nih.gov/31303430/">31303430</a>.
            </p>    
            
            <p>
                Siddiqi R, Riaz IB, Islam M, Sipra QUAR, Ryu AJ, Raina A, et al. <i>Adjuvant therapy in high-risk renal cell cancer: A systematic review and cumulative meta-analysis</i>. Journal of Clinical Oncology. 2020;38(6_suppl):708-. doi: <a target="_blank" href="https://ascopubs.org/doi/10.1200/JCO.2020.38.6_suppl.708">10.1200/JCO.2020.38.6_suppl.708</a>
            </p>

            <p>
                Riaz IB, Siddiqi R, Islam M, He H, Riaz A, Asghar N, Naqvi SAA, Warner JL, Murad MH, Kohli M. <i>Adjuvant Tyrosine Kinase Inhibitors in Renal Cell Carcinoma: A Concluded Living Systematic Review and Meta-Analysis</i>. JCO Clin Cancer Inform. 2021 May;5:588-599. doi: <a target="_blank" href="https://doi.org/10.1200/cci.21.00035">10.1200/CCI.21.00035</a>. PMID: <a target="_blank" href="https://pubmed.ncbi.nlm.nih.gov/34043431/">34043431</a>.
            </p>

        </div>
    </div>
</div>


</div>

<hr class="featurette-divider">

<!-- FOOTER -->
<footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; 2020 &middot; <a href="#">Terms</a></p>
</footer>

<!-- Estimated HR(OR) reflect outcomes for treatment in columns compared to treatment in rows 
The HR for 1,2 , The OR for the last one!
-->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script>
var prj = 'ADJRCC';
var default_treat = 'Suni';

function resizeIFrameToFitContent( id ) {
    var iFrame = document.getElementById(id);
    iFrame.height = iFrame.contentWindow.document.body.scrollHeight;
    // console.log('* ' + id + ': ' + iFrame.height);
}

function switch_pwma_data(tag, slides, display_name) {
    if (typeof(display_name) == 'undefined') {
        display_name = '';
    }
    var url = '[[ url_for("pub.slide") ]]';
    url += '?prj=' + prj;
    url += '&slides=' + slides;

    if (tag == 'Subg') {
        // special rule for Subg plots
        url += '&pt=25'
    }
    $('#iframe-pwma-' + tag).attr('src', url);
    $('#optext-pwma-' + tag).html(display_name);
}


$(document).ready(function() {
    // show the PWMA
    {% for tp in pwma %}
    switch_pwma_data(
        '[[ tp[:4] ]]', 
        '[[ "|".join(pwma[tp][pwma[tp]["_default_option"]]["slides"]) ]]', 
        '[[ pwma[tp]["_default_option"] ]]'
    );
    // resize the iframe to fit content
    $('#iframe-pwma-[[ tp[:4] ]]').on('load', function() {
        // console.log('* loaded iframe#' + 'iframe-pwma-[[ tp[:4] ]]');
        resizeIFrameToFitContent('iframe-pwma-[[ tp[:4] ]]');
        setTimeout("resizeIFrameToFitContent('iframe-pwma-[[ tp[:4] ]]');", 300);
        setTimeout("resizeIFrameToFitContent('iframe-pwma-[[ tp[:4] ]]');", 900);
    });
    {% endfor %}
});
</script>
</body>
</html>