<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>System Manager</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://kit.fontawesome.com/cb45cc91b0.js" crossorigin="anonymous"></script>
  
  <style>
  .ui-menu { width: 180px; }
  .ui-menu a {
    text-decoration: none;
  }
  </style>
</head>
<body>
 
<ul id="menu">
  <li class="ui-state-disabled"><div>System Manager</div></li>
  <li><div>Tools</div></li>
  <li><div>Clothing</div></li>
  <li><div>Electronics</div>
    <ul>
      <li class="ui-state-disabled"><div>Home Entertainment</div></li>
      <li><div>Car Hifi</div></li>
      <li><div>Utilities</div></li>
    </ul>
  </li>
  <li><div>Movies</div></li>
  <li><div>Data Tools</div>
    <ul>
      <li><div>PMID</div>
        <ul>
          <li><div><a href="[[ url_for('sysmgr.make_study_dict') ]]">
            <i class="fa fa-book"></i>
            Mk Stu. Dict.
          </a></div></li>
          <li><div>Classic</div></li>
        </ul>
      </li>
      <li><div>Jazz</div>
        <ul>
          <li><div>Freejazz</div></li>
          <li><div>Big Band</div></li>
          <li><div>Modern</div></li>
        </ul>
      </li>
      <li><div>Pop</div></li>
    </ul>
  </li>
  <li class="ui-state-disabled"><div>Specials (n/a)</div></li>
</ul>
 
 
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(function () {
        $("#menu").menu();
    });
</script>

</body>
</html>