<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />

<title>Pairwise Meta-Analysis Plots</title>

<link rel="icon" href="/static/img/favicon.png" type="image/png">
<!-- <script src="https://kit.fontawesome.com/cb45cc91b0.js" crossorigin="anonymous"></script> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />


<style>
{% include 'css/box.css' %}
html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
body {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    color: #333333;
    text-decoration: none;
}
#wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
#start-screen {
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#ss-msg {
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

/* for this page */
#app {
    width: 100%;
    height: calc(100% - 42px);
}
#vw_oclist {
    width: 300px;
    padding: 0 5px;
    height: 100%;
    /* background-color: whitesmoke; */
}
#vw_oclist_aespanel {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
#vw_ocplots_mainpanel {
    width: calc(100% - 300px);
    padding: 0 5px;
    height: 100%;
}
#vw_ocplots_plotpanel {
    height: 100%;
    overflow-y: hidden;
}
.oc-name {
    width:     180px;
    min-width: 180px;
    cursor: pointer;
    padding: 2px 0;
}
.oc-type {
    width: 30px;
    min-width: 30px;
    text-align: center;
    cursor: pointer;
    padding: 2px 0;
}
.oc-type:hover {
    background-color: #cccccc;
    font-weight: bold;
}
.oc-type-selected {
    background-color: #555555;
    color: #ffffff;
    font-weight: bold;
}
.oc-cate {
    flex-direction: column;
}
.oc-cate-info {
    width: 100%;
    border-bottom: 1px solid transparent;
}
.oc-cate-info:hover {
    border-bottom: 1px solid #555555;
}
.oc-cate-info .oc-name {
    font-weight: bold;
}
.oc-cate-info .oc-type {
    font-weight: bold;
}
.oc-items {
    width: 100%;
    padding-left: 20px;
}
.oc-items-hide {
    display: none;
}
.oc-item {
    width: 100%;
    border-left: 1px solid #aaaaaa;
}
.oc-item-info {
    width: calc(100% - 20px);
    border-bottom: 1px solid transparent;
}
.oc-item-info:hover {
    background-color: #efefef;
    border-bottom: 1px solid #cccccc;
}
.oc-item-info .oc-name {
    width:       150px;
    min-width:   150px;
    padding-left: 10px;
}
.oc-plot-img {
    width: 100%;
}
.oc-plot-tab {
    padding: 4px 15px;
    border: 0;
    color: #999999;
    border-bottom: 1px solid #999999;
    cursor: pointer;
}
.oc-plot-tab:hover {
    color: #555555;
    border-bottom: 1px solid #555555;
}
.oc-plot-tab-selected {
    color: #000000;
    font-weight: bold;
    border-bottom: 1px solid #000000;
}
.oc-plot-tab-page {
    display: none;
    padding: 10px 10px 0 15px;
    overflow-y: auto;
}
.oc-plot-tab-page-selected {
    display: block;
    overflow-y: auto;
}

.sfilter {
    margin-right: 15px;
}
.sfilter-name {
    font-size: 1.1em;
    padding: 2px 0;
}
.sfilter-select {
    width: 100%;
}
#vw_studyfilter {
    padding: 5px 0 0 5px;
}
#fig_scatter {
    width: 500px; 
    height: 500px;
}
.fig-tooltip-header {
    border-bottom: 1px solid rgba(255,255,255,.3); 
    font-size: 1.2em;
    padding-bottom: 7px;
    margin-bottom: 7px;
}
</style>
</head>
<body>
<div id="start-screen">
    <h1>
        <i class="fa fa-chart-bar"></i>
        Pairwise Meta-Analysis Plots
    </h1>
    <div id="ss-msg">Loading data and initializing ...</div>
</div>

<div id="wrapper">

<div id="vw_studyfilter" class="d-flex fx-row">
    <div v-for="dropdown, dpd_idx in dropdowns"
        class="sfilter d-flex fx-col mr-3">
        <div class="sfilter-name">
            {{ dropdown.display_name }}
        </div>
        <div>
            <select class="sfilter-select"
                v-bind:value="dropdown.value"
                v-bind:disabled="is_filter_disabled(dpd_idx)"
                v-on:change="on_filter_value_change($event, dpd_idx)">
                <option v-for="opt in dropdown.options" 
                    v-bind:value="opt.value">
                    {{ opt.name }}
                </option>
            </select>
        </div>
    </div>

    <div class="d-flex fx-col mr-3">
        <div class="sfilter-name">
            Number of studies
        </div>
        <div style="height: 20px; line-height: 20px;">
            {{ n_papers }}
        </div>
    </div>
</div>

<div id="app" class="d-flex fx-row">

    <div id="vw_oclist">
        <div class="box" style="height: 100%;">
            <div class="box-header">
                <h4>
                    <i class="fa fa-search"></i>
                    Outcome List | 
                </h4>
                <!-- <div>
                    <input type="text" class="box-input" style="background-color: transparent;">
                </div> -->
                <div>
                    <button v-on:click="toggle_all_cates(false)">
                        <i class="fa fa-expand-alt"></i>
                        Expand / All
                    </button>
                    <button v-on:click="toggle_all_cates(true)">
                        <i class="fa fa-compress-alt"></i>
                        Collapse All
                    </button>
                </div>
            </div>
            <div class="box-body" style="height: calc(100% - 70px);">
                
                <div class="d-flex fx-col">
                    <div class="d-flex fx-row ">
                        <div class="oc-name" style="font-weight: bold;">
                            <select v-model="group"
                                v-on:change="update_oclist()">
                                <option value="treatment">Treatment Related AEs</option>
                                <option value="immune">Immune Related AEs</option>
                            </select>
                        </div>
                        <div style="font-weight: bold; width: 90px; text-align: center; border-bottom: 1px solid #555555;">
                            Grade
                        </div>
                    </div>
                </div>
    
                <div class="oc-cate d-flex fx-col">
                    <div class="oc-cate-info d-flex fx-row">
                        <div class="oc-name" style="font-weight: bold;">
                            {{ rs_stat.cnt_aes }} Outcomes
                        </div>
                        <div class="oc-type" title="All Grades">
                            ALL
                        </div>
                        <div class="oc-type" title="Grade 3 or Higher">
                            3+
                        </div>
                        <div class="oc-type" title="Grade 5 Only">
                            5
                        </div>
                    </div>
                </div>
    
                <div id="vw_oclist_aespanel">
                    <div class="oc-cate d-flex fx-col"
                        v-for="r in rs">
                        <div class="oc-cate-info d-flex fx-row"
                            v-on:click="toggle_cate(r.oc_cate)">
                            <div class="oc-name">
                                <i class="far fa-folder" v-if="r.is_close"></i>
                                <i class="far fa-folder-open" v-else></i>
                                {{ r.oc_cate }}
                            </div>
                        </div>
                        <div class="oc-items d-flex fx-col"
                            v-bind:class="{'oc-items-hide': r.is_close}">
                            <div class="oc-item"
                                v-for="ae in r.aes">
                                <div class="oc-item-info d-flex fx-row"
                                    v-show="ae.cnt_ga>=1 || ae.cnt_g3h >=1 || ae.cnt_g5n>=1">
                                    <div class="oc-name">
                                        <i class="far fa-clipboard"></i>
                                        {{ ae.oc_name }}
                                    </div>

                                    <div class="oc-type"
                                        v-if="ae.cnt_ga<1"
                                        title="Not enough records">
                                        -
                                    </div>
                                    <div class="oc-type"
                                        v-else
                                        v-bind:title="ae.cnt_ga + ' records'"
                                        v-bind:oc_cate="r.oc_cate"
                                        v-bind:oc_name="ae.oc_name"
                                        v-bind:ae_grade="'GA'"
                                        v-on:click="toggle_oc">
                                        {{ ae.cnt_ga }}
                                    </div>

                                    <div class="oc-type"
                                        v-if="ae.cnt_g3h<1"
                                        title="Not enough records">
                                        -
                                    </div>
                                    <div class="oc-type"
                                        v-else
                                        v-bind:title="ae.cnt_g3h + ' records'"
                                        v-bind:oc_cate="r.oc_cate"
                                        v-bind:oc_name="ae.oc_name"
                                        v-bind:ae_grade="'G3H'"
                                        v-on:click="toggle_oc">
                                        {{ ae.cnt_g3h }}
                                    </div>

                                    <div class="oc-type"
                                        v-if="ae.cnt_g5n<1"
                                        title="Not enough records">
                                        -
                                    </div>
                                    <div class="oc-type"
                                        v-else
                                        v-bind:title="ae.cnt_g5n + ' records'"
                                        v-bind:oc_cate="r.oc_cate"
                                        v-bind:oc_name="ae.oc_name"
                                        v-bind:ae_grade="'G5N'"
                                        v-on:click="toggle_oc">
                                        {{ ae.cnt_g5n }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                </div>
                
            </div>
    
            <div class="box-footer">
    
            </div>
        </div>
    </div>

    <div id="vw_ocplot">
        <div class="box" style="height: 100%;">
            <div class="box-header">
                <h4>
                    <i class="fa fa-chart-bar"></i>
                    Plots 
                </h4>
                <div class="d-flex fx-row">
                    <!-- <div class="box-radio-group d-flex fx-row">
                        <div>
                            <i class="fa fa-cog"></i>
                            Measure of effect: 
                        </div>
                        <div class="box-radio-item">
                            <input type="radio" checked name="vw_ocplots_input_sm"
                                value="OR" id="vw_ocplots_input_sm_or"
                                v-on:change="update_plot"
                                v-model="params.sm">
                            <label for="vw_ocplots_input_sm_or">OR</label>
                        </div>
                        <div class="box-radio-item">
                            <input type="radio" name="vw_ocplots_input_sm"
                                value="RR" id="vw_ocplots_input_sm_rr"
                                v-on:change="update_plot"
                                v-model="params.sm">
                            <label for="vw_ocplots_input_sm_rr">RR</label>
                        </div>
                        <div class="box-radio-item">
                            <input type="radio" name="vw_ocplots_input_sm"
                                value="PLOGIT" id="vw_ocplots_input_sm_plogit"
                                v-on:change="update_plot"
                                v-model="params.sm">
                            <label for="vw_ocplots_input_sm_plogit">Incidence</label>
                        </div>
                    </div> -->
                    <!-- <div class="box-radio-group d-flex fx-row">
                        <div>
                            <i class="fa fa-cog"></i>
                            Hartung-Knapp: 
                        </div>
                        <div class="box-radio-item">
                            <input type="radio" checked name="vw_ocplots_input_hk" 
                                value="TRUE" id="vw_ocplots_input_hk_t"
                                v-on:change="update_plot"
                                v-model="params.hk">
                            <label for="vw_ocplots_input_hk_t">True</label>
                        </div>
                        <div class="box-radio-item">
                            <input type="radio" name="vw_ocplots_input_hk"
                                value="FALSE" id="vw_ocplots_input_hk_f"
                                v-on:change="update_plot"
                                v-model="params.hk">
                            <label for="vw_ocplots_input_hk_f">False</label>
                        </div>
                    </div> -->
                </div>
            </div>

            <div class="box-body" style="height: 100%;">
                <div id="fig_scatter">

                </div>
            </div>

        </div>
    </div>
</div>

</div>

<!-- use third party libs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/alasql/0.5.5/alasql.min.js"></script>

<!-- D3.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.15.1/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.min.js"></script>

<!-- load the scripts for meta analysis -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/10.1.1/math.min.js"></script>
<script src="https://ohnlp.github.io/Meta.js/dist/metajs-0.0.3.js"></script>

<!-- for data exploration -->
<script src="https://cdn.jsdelivr.net/npm/danfojs@1.1.0/lib/bundle.js"></script>

<!-- for visualization -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.3.2/echarts.min.js"></script>

<script>
var isIE = /*@cc_on!@*/false || !!document.documentMode;
if (isIE) {
    document.getElementById('ss-msg').innerHTML = 'The functions used in this website require advanced web technologies, which are <b>NOT</b> supported by Internet Explorer<br>Try using Google Chrome, Apple Safari, Mozilla Firefox or other modern browsers.';
}
</script>

<script>

{% include 'js/srv_pubmed.js' %}
{% include 'js/srv_rpltapi.js' %}

///////////////////////////////////////////////////////////
// The plots for PWMA
///////////////////////////////////////////////////////////
{% include 'js/fgmk_incd_forest.js' %}
{% include 'js/fgmk_prim_forest.js' %}
{% include 'js/fgmk_cumu_forest.js' %}

// Alias for the pwma plots
var fg_pwma_prim_forest = fgmk_prim_forest.make_fig(
    'fg_pwma_prim_forest'
);
// alias for the incidence plots
var fg_incd_incd_forest = fgmk_incd_forest.make_fig(
    'fg_incd_incd_forest'
);
// alias for the cumulative plots
var fg_cumu_forest = fgmk_cumu_forest.make_fig(
    'fg_cumu_forest'
);

{% include 'js/vw_studyfilter.js' %}


var vw_oclist = {
    vpp: null,
    vpp_id: '#vw_oclist',
    select_mode: 'checkbox', // radio, checkbox
    pids: [],

    init: function(data) {
        // bind local data
        this.data = data;

        // update the ocd
        var ocds = this.update_oc_dicts(data);
        this.oc_dict = ocds.oc_dict;
        this.oc_dict3 = ocds.oc_dict3;
        
        this.vpp = new Vue({
            el: this.vpp_id,
            data: {
                group: 'treatment',
                select_mode: this.select_mode,
                rs: {},
                rs_stat: {
                    cnt_cates: 0,
                    cnt_aes: 0,
                },
                ma_dict: {}
            },
            methods: {
                toggle_oc: function(event) {
                    var group = this.group;
                    var oc_cate = event.target.getAttribute('oc_cate');
                    var oc_name = event.target.getAttribute('oc_name');
                    var ae_grade = event.target.getAttribute('ae_grade');

                    // add effect
                    if (this.select_mode == 'checkbox') {
                        $(event.target).toggleClass('oc-type-selected');
                    } else {
                        $('.oc-type').removeClass('oc-type-selected');
                        $(event.target).addClass('oc-type-selected');
                    }

                    // call the worker to update everything related
                    // jarvis will do this task accordingly
                    jarvis.toggle_oc(group, oc_cate, oc_name, ae_grade, vw_oclist.pids);
                },

                get_grade_label: function(g) {
                    return jarvis.texts[g];
                },

                toggle_cate: function(cate) {
                    this.rs[cate].is_close = !this.rs[cate].is_close;
                },

                toggle_all_cates: function(flag) {
                    for (var key in this.rs) {
                        this.rs[key].is_close = flag;
                    }
                },

                clear: function() {
                    $('.oc-type').removeClass('oc-type-selected');
                    jarvis.clear_all_ae();
                },

                update_oclist: function() {
                    vw_oclist.update();

                    // when update the oclist, should hide the current img
                    // vw_ocplot.hide_plot();

                    this.clear();
                }
            }
        });

        this.update([]);
    },

    get_pid_condition: function(pids, group) {
        var conditions = '';
        // so first condition is the pid
        if (pids.length == 0) {
            conditions += 'pid is not null ';
        } else {
            var cond = pids.map(function(v) { return '"' + v + '"'}).join(',');
            conditions += 'pid in (' + cond + ') ';
        }

        // second condition is the group
        // var group = this.vpp.$data.group;
        conditions += '\n';
        conditions += 'and oc_group = "'+group+'" ';

        return conditions;
    },
    
    update: function(pids) {
        if (typeof(pids) == 'undefined') {

        } else {
            // update the pid
            this.pids = pids;
        }

        // get updated rs for oc list
        var oc_list = this.update_ocs(
            pids,
            this.vpp.$data.group
        );
        
        // bind results 
        // this.raw_rs = raw_rs;
        this.oc_list = oc_list.rs;
        this.rs_stat = oc_list.rs_stat;


        // update vpp data
        this.vpp.rs = oc_list.rs;
        this.vpp.rs_stat = oc_list.rs_stat;

        // get updated MAs
        var ma_dict = this.update_ma_dict(
            pids,
            this.vpp.$data.group
        );

        // update the MA results
        this.update_ma_rsts(
            ma_dict
        );
        this.ma_dict = ma_dict;
        this.vpp.ma_dict = ma_dict;

        // convert to dataframe for display
        var ma_df = this.update_ma_df(
            ma_dict,
            this.oc_dict
        );
        this.ma_df = ma_df;

        // update the vis
        var vis_data = this.update_vis_data(
            ma_df,
            this.oc_dict
        );
        vis_ocmas.draw(
            vis_data
        );

        // update tips
        $(document).tooltip({
            position: {
                my: "left top",
                at: "right+5 top-5",
                collision: "none"
            }
        });
    },

    update_oc_dicts: function() {
        var sql = 'select oc_group, oc_cate, oc_abbr, first(oc_name) as oc_name, ' + '\n' +
            '  count(case when has_GA = true then pid else null end) as cnt_ga, ' + '\n' +
            '  count(case when has_G3H = true then pid else null end) as cnt_g3h, ' + '\n' +
            '  count(case when has_G5N = true then pid else null end) as cnt_g5n ' + '\n' +
            'from aes ' + '\n' +
            'group by oc_group, oc_cate, oc_abbr ' + '\n' +
            'order by oc_group asc, oc_cate asc, oc_name asc';

        var raw_rs = alasql(sql);

        // oc_dict3 is a three level dict
        // {
        //      group: { cate: { abbr: {}}}
        // }
        // oc_dict2 is a one level dict
        // {
        //      abbr: {}
        // }
        
        var oc_dict = {};
        var oc_dict3 = {};

        for (var i = 0; i < raw_rs.length; i++) {
            var r = raw_rs[i];

            if (typeof(r.oc_cate) == 'undefined' ||
                r.oc_cate == null) {
                continue;
            }

            if (!oc_dict.hasOwnProperty(r.oc_abbr)) {
                oc_dict[r.oc_abbr] = {
                    oc_group: r.oc_group,
                    oc_cate: r.oc_cate,
                    oc_abbr: r.oc_abbr,
                    oc_name: r.oc_name,
                    cnt_ga: r.cnt_ga,
                    cnt_g3h: r.cnt_g3h,
                    cnt_g5n: r.cnt_g5n
                }
            }

            if (!oc_dict3.hasOwnProperty(r.oc_group)) {
                oc_dict3[r.oc_group] = {}
            }

            if (!oc_dict3[r.oc_group].hasOwnProperty(r.oc_cate)) {
                oc_dict3[r.oc_group][r.oc_cate] = {}
            }

            if (!oc_dict3[r.oc_group][r.oc_cate].hasOwnProperty(r.oc_abbr)) {
                oc_dict3[r.oc_group][r.oc_cate][r.oc_abbr] = {
                    oc_group: r.oc_group,
                    oc_cate: r.oc_cate,
                    oc_abbr: r.oc_abbr,
                    oc_name: r.oc_name,
                    cnt_ga: r.cnt_ga,
                    cnt_g3h: r.cnt_g3h,
                    cnt_g5n: r.cnt_g5n
                }
            }
        }

        return {
            oc_dict: oc_dict,
            oc_dict3: oc_dict3
        };
    },

    update_ocs: function(pids, group) {
        var sql = 'select oc_cate, oc_name, ' + '\n' +
            '  count(case when has_GA = true then pid else null end) as cnt_ga, ' + '\n' +
            '  count(case when has_G3H = true then pid else null end) as cnt_g3h, ' + '\n' +
            '  count(case when has_G5N = true then pid else null end) as cnt_g5n ' + '\n' +
            'from aes ' + '\n' +
            'where ' + '\n' +
            this.get_pid_condition(pids, group) + ' ' + '\n' +
            'group by oc_cate, oc_name ' + '\n' +
            'order by oc_cate asc, oc_name asc';

        // console.log(sql);
        // init the result
        var raw_rs = alasql(sql);
        // console.log("* raw_rs", raw_rs);

        var rs = {};
        var rs_stat = {
            cnt_cates: 0,
            cnt_aes: 0,
        };
        for (var i = 0; i < raw_rs.length; i++) {
            var r = raw_rs[i];

            if (typeof(r.oc_cate) == 'undefined' ||
                r.oc_cate == null) {
                continue;
            }
            
            if (rs.hasOwnProperty(r.oc_cate)) {
                //
            } else {
                rs[r.oc_cate] = {
                    oc_cate: r.oc_cate,
                    is_close: false,
                    aes: []
                }
                rs_stat.cnt_cates += 1;
            }
            // put this ae into cate
            rs[r.oc_cate]['aes'].push({
                oc_name: r.oc_name,
                cnt_ga: r.cnt_ga,
                cnt_g3h: r.cnt_g3h,
                cnt_g5n: r.cnt_g5n
            });
            rs_stat.cnt_aes += 1;
        }

        return {
            rs: rs,
            rs_stat: rs_stat
        };
    },

    update_ma_dict: function(pids, group) {
        var sql = 'select * ' + '\n' +
            'from aes ' + '\n' +
            'where ' + '\n' +
            this.get_pid_condition(pids, group);

        var rs = alasql(sql);
        console.log('* rs for mas:', rs);

        // the dict for final records and MA results
        var ma_dict = {};

        for (let i = 0; i < rs.length; i++) {
            const r = rs[i];
            
            if (!ma_dict.hasOwnProperty(r.oc_abbr)) {
                // Oh, no such record yet, save it
                ma_dict[r.oc_abbr] = {
                    GA: { PRIM: { stus: [], rsts: {} }, INCD: { stus: [], rsts: {} } },
                    G3H: { PRIM: { stus: [], rsts: {} }, INCD: { stus: [], rsts: {} } },
                    G5N: { PRIM: { stus: [], rsts: {} }, INCD: { stus: [], rsts: {} } },
                }
            }

            // now check each grade
            for (let j = 0; j < 3; j++) {
                var grade = {0: 'GA', 1: 'G3H', 2: 'G5N'}[j];
                
                if (r['has_'+grade+'_prim']) {
                    // ok, this has grade prim data
                    ma_dict[r.oc_abbr][grade].PRIM.stus.push([
                        r[grade+'_Et'],
                        r['GA_Nt'],
                        r[grade+'_Ec'],
                        r['GA_Nc'],
                        r['pid'],
                        'T',
                        'C'
                    ]);
                }
                
                // add incidence analysis
                if (r['has_'+grade+'_incd']) {
                    // ok, this has grade prim data
                    ma_dict[r.oc_abbr][grade].INCD.stus.push([
                        r[grade+'_Et'],
                        r['GA_Nt'],
                        r[grade+'_Ec'],
                        r['GA_Nc'],
                        r['pid'],
                        'T',
                        'C'
                    ]);
                }
            }
        }

        return ma_dict;
    },

    update_ma_rsts: function(ma_dict) {
        // mark start time
        const t0 = performance.now();
        var cnt_mas = 0;

        // let's check 
        for (const abbr in ma_dict) {
            for (const grade in ma_dict[abbr]) {
                // get prim data
                var ma_prim = ma_dict[abbr][grade].PRIM;
                var ma_incd = ma_dict[abbr][grade].INCD;

                if (ma_prim.stus.length != 0) {
                    // OK, let's do INCD ANA
                    var rst_OR = metajs.metabin(
                        ma_prim.stus, {
                            sm: 'OR'
                        }
                    );

                    var rst_RR = metajs.metabin(
                        ma_prim.stus, {
                            sm: 'RR'
                        }
                    );

                    // update the data
                    ma_dict[abbr][grade].PRIM.rsts = {
                        OR: rst_OR,
                        RR: rst_RR
                    };

                    // update count
                    cnt_mas += 2;
                }

                if (ma_incd.stus.length != 0) {
                    // OK, let's do INCD ANA
                    var rst_INCD = metajs.metaprop(
                        ma_incd.stus, {}
                    );

                    // update the data
                    ma_dict[abbr][grade].INCD.rsts = {
                        INCD: rst_INCD
                    };

                    // update the total count
                    cnt_mas += 1;
                }
            }
        }

        // get the total time
        const t1 = performance.now();
        const dur = (t1 - t0) / 1000;

        console.log('* finished calculation of ' + cnt_mas + ' MAs in ' + dur.toFixed(4) + ' seconds');

        return ma_dict;
    },

    update_ma_df: function(ma_dict, oc_dict) {
        const t0 = performance.now();
        // I guess we need 
        var rs = [];
        for (const abbr in ma_dict) {
            for (const grade in ma_dict[abbr]) {
                // get prim data
                var ma_prim = ma_dict[abbr][grade].PRIM;
                var ma_incd = ma_dict[abbr][grade].INCD;

                // put primary
                var r = {
                    abbr: abbr,
                    name: oc_dict[abbr].oc_name,
                    grade: grade
                };
                if (ma_prim.stus.length == 0) {
                    Object.assign(r, {
                        // values
                        OR_n_stus: 0,
                        OR_sm: NaN,
                        OR_lower: NaN,
                        OR_upper: NaN,
                    });
                } else {
                    Object.assign(r, {
                        // values
                        OR_n_stus: ma_prim.stus.length,
                        OR_sm: ma_prim.rsts.OR.random.SM,
                        OR_lower: ma_prim.rsts.OR.random.SM_lower,
                        OR_upper: ma_prim.rsts.OR.random.SM_upper,
                    });
                }

                // put incidence
                if (ma_incd.stus.length == 0) {
                    Object.assign(r, {
                        // values
                        INCD_n_stus: 0,
                        INCD_sm: NaN,
                        INCD_lower: NaN,
                        INCD_upper: NaN,
                    });
                } else {
                    Object.assign(r, {
                        // values
                        INCD_n_stus: ma_incd.stus.length,
                        INCD_sm: ma_incd.rsts.INCD.random.SM,
                        INCD_lower: ma_incd.rsts.INCD.random.SM_lower,
                        INCD_upper: ma_incd.rsts.INCD.random.SM_upper,
                    });
                }

                rs.push(r);
            }
        }

        var df = new dfd.DataFrame(rs);

        // get the total time
        const t1 = performance.now();
        const dur = (t1 - t0) / 1000;

        console.log('* finished converting ' + rs.length + ' MAs to in ' + dur.toFixed(4) + ' seconds');

        return df;
    },

    update_vis_data: function(df) {
        var cols = [
            'INCD_sm',
            'OR_sm', 
            'name',
            'grade',
            'OR_n_stus',
            'OR_lower',
            'OR_upper',
            'INCD_lower',
            'INCD_upper',
        ];
        var data_ga = df.loc({
            rows: df['OR_n_stus'].gt(0).and(
                df['grade'].eq('GA')
            ),
            columns: cols
        }).values;

        var data_g3h = df.loc({
            rows: df['OR_n_stus'].gt(0).and(
                df['grade'].eq('G3H')
            ),
            columns: cols
        }).values;

        var data_g5n = df.loc({
            rows: df['OR_n_stus'].gt(0).and(
                df['grade'].eq('G5N')
            ),
            columns: cols
        }).values;

        return {
            data_ga: data_ga,
            data_g3h: data_g3h,
            data_g5n: data_g5n
        };
    }
};


var vis_ocmas = {
    fig_scatter: null,
    fig_scatter_id: 'fig_scatter',
    fig_scatter_options: null,
    fig_scatter_schema: [
        { attr: 'INCD', text: 'Incidence', index: 0 },
        { attr: 'OR', text: 'Odds Ratio', index: 1 },
        { attr: 'name', text: 'Outcome Name', index: 2 },
        { attr: 'grade', text: 'AE Grade', index: 3 },
        { attr: 'OR_n_stus', text: '# of Studies', index: 4 },
        { attr: 'OR_lower', text: 'OR lower', index: 5 },
        { attr: 'OR_upper', text: 'OR upper', index: 6 },
        { attr: 'INCD_lower', text: 'INCD lower', index: 7 },
        { attr: 'INCD_upper', text: 'INCD upper', index: 8 },
    ],

    init: function() {
        this.fig_scatter = echarts.init(
            document.getElementById(this.fig_scatter_id)
        );
        this.fig_scatter_options = {
            tooltip: {
                backgroundColor: 'rgba(255,255,255,0.7)',
                formatter: function (param) {
                    var value = param.value;
                    // prettier-ignore
                    return '<div class="fig-tooltip-header">' +
                        // param.seriesName + ' ' + value[2] + '日：' +
                        value[2] + ': ' +
                        '</div>' +
                        vis_ocmas.fig_scatter_schema[3].text + ': ' + value[3] + '<br>' +
                        vis_ocmas.fig_scatter_schema[4].text + ': ' + value[4] + '<br>' +
                        vis_ocmas.fig_scatter_schema[1].text + ': ' + jarvis.tf2(value[1]) + '<br>' +
                        vis_ocmas.fig_scatter_schema[1].text + ': ' + jarvis.tf2(value[1]) + '<br>';
                }
            },
            legend: {},
            toolbox: {
                show: true,
                feature: {
                    dataZoom: {
                    },
                    dataView: { readOnly: false },
                    saveAsImage: {}
                }
            },
            xAxis: {
                type: 'value',
                name: 'Incidence',
                // max: 0.5
            },
            yAxis: {
                type: 'value',
                name: 'Odds Ratio',
                max: 10
            },
            series: [
                {
                    name: 'PMA GA',
                    type: 'scatter',
                    data: [],
                    symbolSize: vis_ocmas.to_symbol_size
                },

                {
                    name: 'PMA G3H',
                    type: 'scatter',
                    data: [],
                    symbolSize: vis_ocmas.to_symbol_size
                },

                {
                    name: 'PMA G5N',
                    type: 'scatter',
                    data: [],
                    symbolSize: vis_ocmas.to_symbol_size
                }
            ]
        };

        // Display the chart using the configuration items and data just specified.
        this.fig_scatter.setOption(
            this.fig_scatter_options
        );
    },

    draw: function(ds) {
        this.fig_scatter.setOption({
            series: [{
                data: ds.data_ga
            }, {
                data: ds.data_g3h
            }, {
                data: ds.data_g5n
            }]
        });
    },

    to_symbol_size: function(vals) {
        return math.sqrt(vals[4]) * 2 + 1;
    }
};


var jarvis = {

    texts: {
        "GA": "All Grade",
        "G34": "Grade 3/4",
        "G3H": "Grade 3 or higher",
        "G5N": "Grade 5 only"
    },
    
    init: function() {
        var isIE = /*@cc_on!@*/false || !!document.documentMode;

        console.log('* User is using IE:', isIE);
        if (isIE) {
            jarvis.ssmsg('The functions used in this website require advanced web technologies, which are <b>NOT</b> supported by Internet Explorer<br>Try using Google Chrome, Apple Safari, Mozilla Firefox or other modern browsers.')
            return;
        }

        // OK, 
        var prj = jarvis.get_url_paramter('prj');
        if (prj == null) {
            jarvis.ssmsg('Project information error.')
            return;
        }

        prj = 'IO';

        var src = jarvis.get_url_paramter('src');
        if (src == null || src == '') {
            src = 'db';
        }

        // set the vw_oclist to radio button model
        vw_oclist.select_mode = 'radio';

        var cq = jarvis.get_url_paramter('cq');
        if (cq == '') {
            cq = 'default';
        }

        // just init the plots
        vis_ocmas.init();

        $.when(
            $.get(
                '/pub/graphdata/' + prj + '/ITABLE.json',
                // {rnd: Math.random(), src: src, cq: cq},
                {src: src, cq: cq},
            ),
            $.get(
                '/pub/graphdata/'+prj+'/GRAPH_PMA.json',
                // {ver: Math.random(), src: src, cq: cq},
                {src: src, cq: cq},
            )
        ).done(function(r1, r2) {
            var data1 = r1[0];
            var data2 = r2[0];

            jarvis.data1 = data1;
            jarvis.data2 = data2;

            // init the table
            console.log(data1);
            console.log(data2);

            // init the local db for the papers
            alasql('create table papers');
            alasql('select * into papers from ?', [data1.rs]);
            
            // init the local db for the outcome / AE records
            alasql('create table aes');
            alasql('select * into aes from ?', [data2.rs])

            // init a dict for searching


            // init the filter with ITABLE data
            vw_studyfilter.init(data1);

            // init the list and plots with outcome data
            vw_oclist.init(data2);
            // vw_ocplot.init(data2);

            // ok, remove the 
            jarvis.ssmsg('Almost initialized.');
            setTimeout('jarvis.ssclose();', 400);
        });

        
    },

    update_plots_by_pmids: function(pmids) {
        vw_oclist.update(pmids);
    },

    get_url_paramter: function(name) {
        name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
        var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
        var results = regex.exec(location.search);
        return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
    },

    toggle_oc: function(group, oc_cate, oc_name, ae_grade, pids) {
        console.log('* toggle_oc ' + group + ' | ' + oc_cate + ', ' + oc_name + ', ' + ae_grade, pids);
        // vw_ocplot.show_plot(group, oc_cate, oc_name, ae_grade, pids);
    },

    clear_all_ae: function() {

    },

    ssmsg: function(msg) {
        $('#ss-msg').html(msg);
    },

    ssclose: function() {
        $('#start-screen').hide();
    },

    tf2: function(v) {
        if (isNaN(v)) {
            return 'NA';
        } 
        return v.toFixed(2);
    }
};

$(document).ready(function() {
    jarvis.init();
})
</script>
</body>