.option-panel {
    width: 240px;
    padding: 5px;
}
.option-item {
    margin: 5px 0 0 0;
}
.option-item-label {
    font-size: 0.8em;
}
.option-item-value select {
    width: 100%;
}
.option-item-sub-select {
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
    margin: 0 0 0 10px;
    font-size: 15px;
}
#pan_ocpapers {
    width: 260px;
    max-width: 260px;
    overflow-y: auto;
}
#pan_maresults {
    background-color: white;
    width: calc(100% - 270px);
    overflow-y: auto;
}
.result-box {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.fig {
    background-color: white;
}