.box {
    display: flex;
    flex-direction: column;
}
.box-header {
    width: 100%;
    padding: 3px 0;
    display: flex;
    align-items: center;
}
.box-header a {
    font-size: .8em;
}
.box-header h4 {
    padding: 0;
    margin: 0;
    font-size: .95em;
    height: 1.6em;
    line-height: 1.6em;
    margin: 3px 0;
    font-weight: bold;
}
.box-header button, 
.box-body button,
.box-footer button {
    height: 1.7em;
    line-height: 1em;
    font-size: .8em;
    margin: 3px;
    background: white;
    border: 1px solid #333333;
    border-radius: 3px;
}
.box-header select {
    height: 1.6em;
    line-height: 1.2em;
    font-size: .8em;
    margin: 3px;
}
.box-header span {
    font-size: .9em;
}
.box-header a {
    padding: 1px 3px;
    margin: 0 5px;
    height: 1.6em;
    line-height: 1.6em;
}
.box-header a:hover {
    text-decoration: underline;

}
.box-body {
    width: 100%;
}
.box-bodyitem {
    padding: 0 0 3px 0;
}
.box-bodyitem-hl {
    display: flex;
    flex-direction: row;
}
.box-bodyitem-label {
    width: 54%;
    font-size: .9em;
    line-height: 1.8em;
}
.box-bodyitem-value {
    width: 45%;
}
.box-bodyitem select {
    width: 100%;
}
.box img {
    width: 100%;
}
.box-p {
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: .9em;
    line-height: 1.1em;
}
.box-p-fixlen {    
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
}
.box-footer {
    width: 100%;
    min-height: 20px;
    padding: 5px 0 5px 0;
    border-bottom: 1px dotted #CCCCCC;
}
.box-smalltable th,
.box-smalltable td {
    border-bottom: 1px dotted #cccccc;
    padding: 0 3px;
    font-size: .9em;
}
.box-chk-fix {
    display: table-cell; 
    vertical-align: middle;
    padding: 2px 0 0 0;
    line-height: 10px;
}
.box-smalltable td label{
    font-weight: normal;
}